// Typography

.heading(@level) {
    font-family: @tk-font-family;
    font-weight: @font-weight-normal;
    margin: 0;
    line-height: @t~"@{level}"-line-height;
    font-size: @t~"@{level}"-font-size;
}

// Icon Helper

.icon-rules() {
    display: inline-block;
    speak: none;
    font-style: normal;
    font-weight: @font-weight-normal;
    font-variant: normal;
    text-transform: none;
    font-family: "thyssen-krupp-iconfont";
}

/*stylelint-disable*/
// IE ms-interpolation property
.ms-interpolation-mode(@mode) {
    -ms-interpolation-mode: @mode;
}

//CSS appearance property
.appearance(@appearance) {
    -webkit-appearance: @appearance;
    -moz-appearance: @appearance;
    appearance: @appearance;
}

.translateY(@y) {
    -webkit-transform: translateY(@y);
    -ms-transform: translateY(@y);
    -o-transform: translateY(@y);
    transform: translateY(@y);
}

/*stylelint-enable*/
