<%@ tag body-content="empty" trimDirectiveWhitespaces="true"%>
<%@ taglib prefix="ycommerce" uri="http://hybris.com/tld/ycommercetags"%>

<div class="addthis_toolbox addthis_default_style addthis_32x32_style">
    <div>
        <a class="addthis_button_preferred_1"></a>
        <a class="addthis_button_preferred_2"></a>
        <a class="addthis_button_preferred_3"></a>
        <ycommerce:testId code="addthis_button">
            <a class="addthis_button_compact"></a>
        </ycommerce:testId>
        <a class="addthis_counter addthis_bubble_style"></a>
    </div>
</div>
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4f28754e346e1aeb"></script>
