@content-top-spacing: 137px;
@shipping-modal-top-padding: 179px;
@content-horizontal-padding: 80px;
@cbox-title-height: @t4-line-height;
@cart-modal-top-padding: 85px;
@cart-modal-content-top-spacing: 48px;
// Modal
//
// Modal dialog. All derived from Colorbox.
//
// Markup:
// <button id="modal-demo" class="btn btn-default">Open Modal</button>
// <div class="hidden">
// <div id="demo_content">
//     <p>This content comes from a hidden element on this page.</strong></p>
//     <p>The inline option preserves bound JavaScript events and changes, and it puts the content back where it came from when it is closed.</p>
//     <p><strong>If you try to open a new Colorbox while it is already open, it will update itself with the new content.</strong></p>
// </div>
// </div>
//
// Styleguide 21.0

/* stylelint-disable */

// 1. OOTB Colorbox styles

#colorbox, #cboxOverlay, #cboxWrapper {position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxWrapper {max-width:none;}
#cboxOverlay{ width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft {clear:left;}
#cboxLoadedContent {overflow:auto; -webkit-overflow-scrolling: touch;}
#cboxLoadingOverlay, #cboxLoadingGraphic {position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow {cursor:pointer;}
.cboxPhoto {float:left; margin:auto; border:0; display:block; max-width:none; -ms-interpolation-mode:bicubic;}
.cboxIframe {width:100%; height:100%; display:block; border:0; padding:0; margin:0;}
#colorbox, #cboxContent, #cboxLoadedContent {box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}

// 2. tk Colorbox styles

#cboxOverlay {
    background: @black;
}

.filter-response {

    position: fixed; top: 0; left: 0; z-index: 9999; overflow: hidden;

    &#cboxOverlay {
        position: fixed; top: 0; left: 0; z-index: 9999; overflow: hidden;
    }
    
    #cboxContent {
        @media (max-width: @screen-sm-max) {
            padding: 145px 30px 30px 30px;
        }
    }

    #cboxTitle {
        @media (max-width: @screen-sm-max) {
            top: 90px;
            left: 0;
            right: 0;
            text-align: center;
        }
    }

    .m-facet {
        @media (max-width: @screen-sm-max) {
            box-shadow: none;
        }
    }
    
    #cboxWrapper {
        position: fixed;
    }
}

.fixed-pos {
    position: fixed;
}

#colorbox {
    outline: 0;
}

#cboxTitle {
    margin: 0;
    font-size: @t4-font-size;
    line-height: @t4-line-height;
    color: @black;
    position: absolute;
    top: @s1;
    left: @content-horizontal-padding;
    right: @content-horizontal-padding;
}

#cboxContent {
    background: @white;
    padding: @content-top-spacing @content-horizontal-padding @s1 @content-horizontal-padding;
    position: relative;
    color: @black;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-bottom: @s4;
    }
}

.cboxIframe {
    background: @white;
}

#cboxClose{
    background: none;
    border: none;
    outline: none;
    right: @s4;
    top: @s4;
    position: absolute;
    padding: 0;
    margin: 0;
    height: 42px;
    width: 42px;
    color: @blue-brand;
    //font-family: @tk-icon-font;
    font-size: 42px;
    line-height: 42px;
    text-align: right;
    //&:before {
    //    content: "\E606";
    //}
}

#cboxLoadedContent{background:#fff;}
//#cboxLoadingGraphic{background:url(images/loading.gif) no-repeat center center;}
#cboxLoadingOverlay{background:#fff;}
#cboxCurrent{position:absolute; top:-22px; right:205px; text-indent:-9999px;}

/* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
//#cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {border:0; padding:0; margin:0; overflow:visible; text-indent:-9999px; width:20px; height:20px; position:absolute; top:-20px;}

/* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
//#cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {outline:0;}

//#cboxPrevious{background-position:0px 0px; right:44px;}
//#cboxPrevious:hover{background-position:0px -25px;}
//#cboxNext{background-position:-25px 0px; right:22px;}
//#cboxNext:hover{background-position:-25px -25px;}
//.cboxSlideshow_on #cboxPrevious, .cboxSlideshow_off #cboxPrevious{right:66px;}
//.cboxSlideshow_on #cboxSlideshow{background-position:-75px -25px; right:44px;}
//.cboxSlideshow_on #cboxSlideshow:hover{background-position:-100px -25px;}
//.cboxSlideshow_off #cboxSlideshow{background-position:-100px 0px; right:44px;}
//.cboxSlideshow_off #cboxSlideshow:hover{background-position:-75px -25px;}


.m-popup {

    &__content {
        color: @grey-dark;

        &__middle {

            margin-bottom: @s4 + @s9;
        }
    }

    &--dialogue {

        #cboxTitle {
            left: @s2;
            top: @s2;
        }

        #cboxLoadedContent {
            margin-top: 0;
        }

        #cboxContent {
            padding: @s2+@s4+@cbox-title-height @s2 @s2;
            width: 460px;
        }
    }

    &__cart {

        #cboxContent {
            padding: @cart-modal-top-padding @s4 @s4 @s4;
        }

        #cboxTitle {
            top: @cart-modal-content-top-spacing;
            left: @s4;
            right: auto;
        }

        #cboxClose {
            font-size: @t6-font-size;
            top: @s6;
            height: @s5;
            width: @s5;
            line-height: @t6-line-height;
        }
    }

    &__shipping-address {

        #cboxContent {
            padding: @shipping-modal-top-padding @content-horizontal-padding @s1 @content-horizontal-padding;
        }
    }
}
/* stylelint-enable */
