@icon-color: @blue-brand;
@danger-icon-color: @red;
@success-icon-color: @turquoise;
@info-icon-color: @grey-dark;
@warning-icon-color: @orange;

// Icons
//
// TK icons with Bootstrap style context helper.
//
// .u-icon-tk--context-danger - Gives a danger context to the icon.
// .u-icon-tk--context-warning - Gives a warning context to the icon.
// .u-icon-tk--context-info - Gives an info context to the icon.
// .u-icon-tk--context-success - Gives a success context to the icon.
//
// Markup:
// <div class="u-icon-tk u-icon-tk--menu {{modifier_class}}"></div>
// <div class="u-icon-tk u-icon-tk--search {{modifier_class}}"></div>
// <div class="u-icon-tk u-icon-tk--zoom {{modifier_class}}"></div>
// <div class="u-icon-tk u-icon-tk--play {{modifier_class}}"></div>
// <div class="u-icon-tk u-icon-tk--refresh {{modifier_class}}"></div>
// <div class="u-icon-tk u-icon-tk--close {{modifier_class}}"></div>
// <div class="u-icon-tk u-icon-tk--plus {{modifier_class}}"></div>
// <div class="u-icon-tk u-icon-tk--minus {{modifier_class}}"></div>
// <div class="u-icon-tk u-icon-tk--arrow-down {{modifier_class}}"></div>
// <div class="u-icon-tk u-icon-tk--arrow-left {{modifier_class}}"></div>
// <div class="u-icon-tk u-icon-tk--arrow-right {{modifier_class}}"></div>
// <div class="u-icon-tk u-icon-tk--arrow-up {{modifier_class}}"></div>
// <div class="u-icon-tk u-icon-tk--check {{modifier_class}}"></div>
// <div class="u-icon-tk u-icon-tk--ring {{modifier_class}}"></div>
// <div class="u-icon-tk u-icon-tk--ring-dot {{modifier_class}}"></div>
// <div class="u-icon-tk u-icon-tk--dot {{modifier_class}}"></div>
// <div class="u-icon-tk u-icon-tk--link-website {{modifier_class}}"></div>
// <div class="u-icon-tk u-icon-tk--print {{modifier_class}}"></div>
// <div class="u-icon-tk u-icon-tk--mail {{modifier_class}}"></div>
// <div class="u-icon-tk u-icon-tk--newsletter {{modifier_class}}"></div>
// <div class="u-icon-tk u-icon-tk--share {{modifier_class}}"></div>
// <div class="u-icon-tk u-icon-tk--twitter {{modifier_class}}"></div>
// <div class="u-icon-tk u-icon-tk--facebook {{modifier_class}}"></div>
// <div class="u-icon-tk u-icon-tk--youtube {{modifier_class}}"></div>
// <div class="u-icon-tk u-icon-tk--rss-feed {{modifier_class}}"></div>
// <div class="u-icon-tk u-icon-tk--press {{modifier_class}}"></div>
// <div class="u-icon-tk u-icon-tk--calendar {{modifier_class}}"></div>
// <div class="u-icon-tk u-icon-tk--blog {{modifier_class}}"></div>
// <div class="u-icon-tk u-icon-tk--tag {{modifier_class}}"></div>
// <div class="u-icon-tk u-icon-tk--pin {{modifier_class}}"></div>
// <div class="u-icon-tk u-icon-tk--language {{modifier_class}}"></div>
// <div class="u-icon-tk u-icon-tk--info {{modifier_class}}"></div>
// <div class="u-icon-tk u-icon-tk--help {{modifier_class}}"></div>
// <div class="u-icon-tk u-icon-tk--message-info {{modifier_class}}"></div>
// <div class="u-icon-tk u-icon-tk--message-error {{modifier_class}}"></div>
// <div class="u-icon-tk u-icon-tk--message-important {{modifier_class}}"></div>
// <div class="u-icon-tk u-icon-tk--message-correct {{modifier_class}}"></div>
// <div class="u-icon-tk u-icon-tk--download {{modifier_class}}"></div>
// <div class="u-icon-tk u-icon-tk--video {{modifier_class}}"></div>
// <div class="u-icon-tk u-icon-tk--file-image {{modifier_class}}"></div>
// <div class="u-icon-tk u-icon-tk--file-text {{modifier_class}}"></div>
// <div class="u-icon-tk u-icon-tk--document {{modifier_class}}"></div>
// <div class="u-icon-tk u-icon-tk--file-excel {{modifier_class}}"></div>
// <div class="u-icon-tk u-icon-tk--file-word {{modifier_class}}"></div>
// <div class="u-icon-tk u-icon-tk--file-powerpoint {{modifier_class}}"></div>
// <div class="u-icon-tk u-icon-tk--file-pdf {{modifier_class}}"></div>
// <div class="u-icon-tk u-icon-tk--file-jpg {{modifier_class}}"></div>
// <div class="u-icon-tk u-icon-tk--quiz {{modifier_class}}"></div>
// <div class="u-icon-tk u-icon-tk--star {{modifier_class}}"></div>
// <div class="u-icon-tk u-icon-tk--flip-card {{modifier_class}}"></div>
// <div class="u-icon-tk u-icon-tk--lock {{modifier_class}}"></div>
// <div class="u-icon-tk u-icon-tk--wikipedia {{modifier_class}}"></div>
// <div class="u-icon-tk u-icon-tk--files {{modifier_class}}"></div>
// <div class="u-icon-tk u-icon-tk--telefon {{modifier_class}}"></div>
// <div class="u-icon-tk u-icon-tk--status-update {{modifier_class}}"></div>
// <div class="u-icon-tk u-icon-tk--settings {{modifier_class}}"></div>
// <div class="u-icon-tk u-icon-tk--radio {{modifier_class}}"></div>
// <div class="u-icon-tk u-icon-tk--profile {{modifier_class}}"></div>
// <div class="u-icon-tk u-icon-tk--mobile {{modifier_class}}"></div>
// <div class="u-icon-tk u-icon-tk--ideation {{modifier_class}}"></div>
// <div class="u-icon-tk u-icon-tk--id-card {{modifier_class}}"></div>
// <div class="u-icon-tk u-icon-tk--home {{modifier_class}}"></div>
// <div class="u-icon-tk u-icon-tk--forum {{modifier_class}}"></div>
// <div class="u-icon-tk u-icon-tk--down {{modifier_class}}"></div>
// <div class="u-icon-tk u-icon-tk--document2 {{modifier_class}}"></div>
// <div class="u-icon-tk u-icon-tk--compass {{modifier_class}}"></div>
// <div class="u-icon-tk u-icon-tk--community {{modifier_class}}"></div>
// <div class="u-icon-tk u-icon-tk--bookmark {{modifier_class}}"></div>
// <div class="u-icon-tk u-icon-tk--attention {{modifier_class}}"></div>
// <div class="u-icon-tk u-icon-tk--activities {{modifier_class}}"></div>
// <div class="u-icon-tk u-icon-tk--abstractservices {{modifier_class}}"></div>
// <div class="u-icon-tk u-icon-tk--xing {{modifier_class}}"></div>
// <div class="u-icon-tk u-icon-tk--linkedin {{modifier_class}}"></div>
// <div class="u-icon-tk u-icon-tk--rising {{modifier_class}}"></div>
// <div class="u-icon-tk u-icon-tk--falling {{modifier_class}}"></div>
// <div class="u-icon-tk u-icon-tk--stagnating {{modifier_class}}"></div>
// <div class="u-icon-tk u-icon-tk--edit {{modifier_class}}"></div>
// <div class="u-icon-tk u-icon-tk--delete {{modifier_class}}"></div>
// <div class="u-icon-tk u-icon-tk--check-border-circle {{modifier_class}}"></div>
// <div class="u-icon-tk u-icon-tk--search-single {{modifier_class}}"></div>
// <div class="u-icon-tk u-icon-tk--tags-single {{modifier_class}}"></div>
// <div class="u-icon-tk u-icon-tk--arrow-link {{modifier_class}}"></div>
// <div class="u-icon-tk u-icon-tk--admin {{modifier_class}}"></div>
// <div class="u-icon-tk u-icon-tk--plus2 {{modifier_class}}"></div>
// <div class="u-icon-tk u-icon-tk--zu-hiesinger {{modifier_class}}"></div>
// <div class="u-icon-tk u-icon-tk--edit-single {{modifier_class}}"></div>
// <div class="u-icon-tk u-icon-tk--close-single {{modifier_class}}"></div>
// <div class="u-icon-tk u-icon-tk--saw {{modifier_class}}"></div>
//
// Styleguide 16.0

.u-icon-tk {
    .icon-rules();

    color: @icon-color;
    line-height: 1;
    font-size: inherit;

    &--inline-link {

        &:before {
            .icon-rules();

            font-size: 150%;
            padding-right: @s6;
            vertical-align: middle;
        }
    }

    &--context-danger {
        color: @danger-icon-color;
    }

    &--context-warning {
        color: @warning-icon-color;
    }

    &--context-info {
        color: @info-icon-color;
    }

    &--context-success {
        color: @success-icon-color;
    }
}

.u-icon-tk--menu:before {
    content: "\e61f";
}

.u-icon-tk--search:before {
    content: "\e61c";
}

.u-icon-tk--zoom:before {
    content: "\e637";
}

.u-icon-tk--play:before {
    content: "\e624";
}

.u-icon-tk--refresh:before {
    content: "\e64a";
}

.u-icon-tk--close:before {
    content: "\e606";
}

.u-icon-tk--plus:before {
    content: "\e602";
}

.u-icon-tk--minus:before {
    content: "\e603";
}

.u-icon-tk--arrow-down:before {
    content: "\e613";
}

.u-icon-tk--arrow-left:before {
    content: "\e61d";
}

.u-icon-tk--arrow-right:before {
    content: "\e61a";
}

.u-icon-tk--arrow-up:before {
    content: "\e617";
}

.u-icon-tk--check:before {
    content: "\e648";
}

.u-icon-tk--ring-dot:before {
    content: "\e60e";
}

.u-icon-tk--ring:before {
    content: "\e645";
}

.u-icon-tk--dot:before {
    content: "\e60f";
}

.u-icon-tk--arrow:before {
    content: "\e638";
}

.u-icon-tk--link-website:before {
    content: "\e643";
}

.u-icon-tk--print:before {
    content: "\e610";
}

.u-icon-tk--mail:before {
    content: "\e600";
}

.u-icon-tk--newsletter:before {
    content: "\e62f";
}

.u-icon-tk--share:before {
    content: "\e625";
}

.u-icon-tk--twitter:before {
    content: "\e62a";
}

.u-icon-tk--google-plus:before {
    content: "\e62b";
}

.u-icon-tk--facebook:before {
    content: "\e635";
}

.u-icon-tk--youtube:before {
    content: "\e60a";
}

.u-icon-tk--rss-feed:before {
    content: "\e633";
}

.u-icon-tk--press:before {
    content: "\e607";
}

.u-icon-tk--calendar:before {
    content: "\e608";
}

.u-icon-tk--blog:before {
    content: "\e620";
}

.u-icon-tk--tag:before {
    content: "\e604";
}

.u-icon-tk--pin:before {
    content: "\e60c";
}

.u-icon-tk--language:before {
    content: "\e609";
}

.u-icon-tk--info:before {
    content: "\e642";
}

.u-icon-tk--help:before {
    content: "\e60b";
}

.u-icon-tk--message-info:before {
    content: "\e614";
}

.u-icon-tk--message-error:before {
    content: "\e611";
}

.u-icon-tk--message-important:before {
    content: "\e612";
}

.u-icon-tk--message-correct:before {
    content: "\e615";
}

.u-icon-tk--download:before {
    content: "\e605";
}

.u-icon-tk--video:before {
    content: "\e64c";
}

.u-icon-tk--file-image:before {
    content: "\e62d";
}

.u-icon-tk--file-text:before {
    content: "\e628";
}

.u-icon-tk--document:before {
    content: "\e626";
}

.u-icon-tk--file-excel:before {
    content: "\e622";
}

.u-icon-tk--file-word:before {
    content: "\e623";
}

.u-icon-tk--file-powerpoint:before {
    content: "\e644";
}

.u-icon-tk--file-pdf:before {
    content: "\e601";
}

.u-icon-tk--file-jpg:before {
    content: "\e627";
}

.u-icon-tk--quiz:before {
    content: "\e646";
}

.u-icon-tk--star:before {
    content: "\e629";
}

.u-icon-tk--flip-card:before {
    content: "\e647";
}

.u-icon-tk--lock:before {
    content: "\e64b";
}

.u-icon-tk--wikipedia:before {
    content: "\e60d";
}

.u-icon-tk--files:before {
    content: "\e616";
}

.u-icon-tk--telefon:before {
    content: "\e618";
}

.u-icon-tk--status-update:before {
    content: "\e619";
}

.u-icon-tk--settings:before {
    content: "\e61b";
}

.u-icon-tk--radio:before {
    content: "\e61e";
}

.u-icon-tk--profile:before {
    content: "\e621";
}

.u-icon-tk--mobile:before {
    content: "\e62c";
}

.u-icon-tk--ideation:before {
    content: "\e62e";
}

.u-icon-tk--id-card:before {
    content: "\e630";
}

.u-icon-tk--home:before {
    content: "\e631";
}

.u-icon-tk--forum:before {
    content: "\e632";
}

.u-icon-tk--down:before {
    content: "\e634";
}

.u-icon-tk--document2:before {
    content: "\e636";
}

.u-icon-tk--compass:before {
    content: "\e639";
}

.u-icon-tk--community:before {
    content: "\e63a";
}

.u-icon-tk--bookmark:before {
    content: "\e63b";
}

.u-icon-tk--attention:before {
    content: "\e63c";
}

.u-icon-tk--activities:before {
    content: "\e63d";
}

.u-icon-tk--abstractservices:before {
    content: "\e63e";
}

.u-icon-tk--xing:before {
    content: "\e63f";
}

.u-icon-tk--linkedin:before {
    content: "\e640";
}

.u-icon-tk--rising:before {
    content: "\e641";
}

.u-icon-tk--falling:before {
    content: "\e649";
}

.u-icon-tk--stagnating:before {
    content: "\e64d";
}

.u-icon-tk--edit:before {
    content: "\e64e";
}

.u-icon-tk--delete:before {
    content: "\e64f";
}

.u-icon-tk--check-border-circle:before {
    content: "\e650";
}

.u-icon-tk--search-single:before {
    content: "\e651";
}

.u-icon-tk--tags-single:before {
    content: "\e652";
}

.u-icon-tk--arrow-link:before {
    content: "\e653";
}

.u-icon-tk--admin:before {
    content: "\e654";
}

.u-icon-tk--star-single:before {
    content: "\e655";
}

.u-icon-tk--plus2:before {
    content: "\e656";
}

.u-icon-tk--zu-hiesinger:before {
    content: "\e657";
}

.u-icon-tk--edit-single:before {
    content: "\e658";
}

.u-icon-tk--close-single:before {
    content: "\e659";
}

.u-icon-tk--saw:before {
    content: "\e911";
}

.u-icon-tk--mini-cart:before {
    content: "\e90e";
}

.u-icon-tk--search-alt:before {
    content: "\e90c";
}

.u-icon-tk--checkbox:before {
    content: "\e900";
}

.u-icon-tk--checkbox-active:before {
    content: "\e901";
}

.u-icon-tk--checkbox-disabled:before {
    content: "\e903";
}

.u-icon-tk--radiobutton:before {
    content: "\e905";
}

.u-icon-tk--radiobutton-active:before {
    content: "\e906";
}

.u-icon-tk--radiobutton-disabled:before {
    content: "\e908";
}

.u-icon-tk--icon-check:before {
    content: "\e90a";
}

.u-icon-tk--icon-cross:before {
    content: "\e90b";
}

//TODO: Investigate additional icon requirements (see mini-style guide page 6)
