<%@ tag body-content="empty" trimDirectiveWhitespaces="true" %>
<%@ attribute name="store" required="true" type="de.hybris.platform.commercefacades.storelocator.data.PointOfServiceData" %>

<%@ taglib prefix="spring" uri="http://www.springframework.org/tags" %>
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>
<%@ taglib prefix="theme" tagdir="/WEB-INF/tags/shared/theme" %>
<%@ taglib prefix="ycommerce" uri="http://hybris.com/tld/ycommercetags" %>
<%@ taglib prefix="fn" uri="http://java.sun.com/jsp/jstl/functions" %>
<%@ taglib prefix="store" tagdir="/WEB-INF/tags/responsive/storepickup" %>


<c:if test="${not empty store.openingHours}">
    "openings":<store:openingSchedule openingSchedule="${store.openingHours}" />
</c:if>


<%-- <c:if test="${not empty store.openingHours.specialDayOpeningList}">
    "specialOpenings":<store:openingSpecialDays openingSchedule="${store.openingHours}" />
</c:if> --%>


