@navbarCollapseWidth: 969px;

.yamm {

    .nav,
    .dropup,
    .dropdown,
    .collapse {
        position: static;
    }

    .dropdown-menu {
        left: auto;

        > li {
            display: block;
        }
    }

    .dropdown-submenu .dropdown-menu {
        left: 100%;
    }

    .nav.pull-right .dropdown-menu {
        right: 0;
    }

    .yamm-content {
        padding: 10px 30px;
        .clearfix();
    }

    &.navbar .nav > li > .dropdown-menu:after,
    &.navbar .nav > li > .dropdown-menu:before {
        display: none;
    }

    .dropdown.yamm-fullwidth .dropdown-menu {
        width: 100%;
        left: 0;
        right: 0;
    }
}

@media (max-width: @navbarCollapseWidth) {

    .yamm {

        .dropdown.yamm-fullwidth .dropdown-menu {
            width: auto;
        }

        .yamm-content {
            padding-left: 0;
            padding-right: 0;
        }

        .dropdown-menu > li > ul {
            display: block;
        }
    }
}

.clearfix() {
    *zoom: 1;

    &:before,
    &:after {
        display: table;
        content: "";
        line-height: 0;
    }

    &:after {
        clear: both;
    }
}
