/* Misc visuals
---------------------------------- */

.ui-datepicker {
    border: 1px solid @border-color-2;
    background: @white;
    color: @text-color;
}

.ui-datepicker .ui-datepicker-header {
    color: @text-color;
    background-color: transparent;
    border: none;
    font-weight: @font-weight-bold;
}

/* Icons
---------------------------------- */

.ui-icon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: "Glyphicons Halflings";
    font-style: normal;
    font-weight: @font-weight-normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
    color: @link-color;
    cursor: pointer;
    font-family: "Glyphicons Halflings";
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: @font-weight-normal;
    height: 15px;
    line-height: 1;
    margin-top: 5px;
    width: 30px;
}

.ui-datepicker .ui-datepicker-prev {
    left: 5px;
    float: left;
    text-align: left;
    .glyphicon-chevron-left();
}

.ui-datepicker .ui-datepicker-next {
    right: 5px;
    float: right;
    text-align: right;
    .glyphicon-chevron-right();
}

.ui-datepicker .ui-icon {
    display: none;
}

.ui-widget-header .ui-datepicker-prev-hover.ui-state-hover,
.ui-widget-header .ui-datepicker-next-hover.ui-state-hover {
    border: 0 none;
    background: transparent;
    color: @link-hover-color;
    top: 2px;
}

.ui-datepicker th {
    font-weight: @font-weight-normal;
}

/* Interaction states
---------------------------------- */

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
    background-color: @table-2n-line-bg;
    text-align: center;
    color: @text-color;
}

.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
    color: #454545;
    text-decoration: none;
}

.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited,
.ui-state-focus a,
.ui-state-focus a:hover,
.ui-state-focus a:link,
.ui-state-focus a:visited {
    color: @blue-dark;
    text-decoration: none;
}

.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
    color: @white;
    text-decoration: none;
}

/* Interaction Cues
---------------------------------- */

.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
    background: @datepicker-highlight-bg;
    color: @datepicker-highlight-color;
    border-color: @datepicker-highlight-border;
}

.ui-state-highlight a,
.ui-widget-content .ui-state-highlight a,
.ui-widget-header .ui-state-highlight a {
    color: #777620;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
    background: @grey-lighter;
    color: @black;
}

.ui-state-error,
.ui-widget-content .ui-state-error,
.ui-widget-header .ui-state-error {
    border: 1px solid @state-danger-border;
    background: @state-danger-bg;
    color: @state-danger-text;
}

.ui-state-error a,
.ui-widget-content .ui-state-error a,
.ui-widget-header .ui-state-error a {
    color: @state-danger-text;
}

.ui-state-error-text,
.ui-widget-content .ui-state-error-text,
.ui-widget-header .ui-state-error-text {
    color: @state-danger-text;
}

.ui-priority-primary,
.ui-widget-content .ui-priority-primary,
.ui-widget-header .ui-priority-primary {
    font-weight: @font-weight-bold;
}

.ui-priority-secondary,
.ui-widget-content .ui-priority-secondary,
.ui-widget-header .ui-priority-secondary {
    opacity: 0.7;
    filter: alpha(Opacity=70); /* support: IE8 */
    font-weight: @font-weight-normal;
}

.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
    opacity: 0.35;
    filter: alpha(Opacity=35); /* support: IE8 */
    background-image: none;
}

.ui-state-disabled .ui-icon {
    filter: alpha(Opacity=35); /* support: IE8 - See #6059 */
}

.ui-menu {

    &.ui-autocomplete {
        width: @nss554;
        background: @white;
        border-top: 1px solid @white;
        box-shadow: 0 2px 8px 0 rgba(75, 85, 100, 0.33);
        padding-bottom: @s7;

        @media (max-width: @screen-xs-max) {
            width: 80%;
            width: ~"calc(100% - 32px)";
            width: ~"-moz-calc(100% - 32px)";
            width: ~"-webkit-calc(100% - 32px)";
        }

        .ui-state-focus,
        .ui-state-active {
            margin: 0;
        }

        .ui-menu-item {
            list-style: none;
            padding: 0;

            a {
                color: @black;
                display: block;
                padding: (@nss44 - @product-img-30wx30h)/2 @s5;
                position: relative;
                .clearfix;

                &:hover,
                &:link,
                &:visited, {
                    color: @black;
                }

                .thumb {
                    display: inline-block;
                    height: @product-img-30wx30h;
                    margin-right: @s5;
                    width: @product-img-30wx30h;
                    float: left;

                    @media (max-width: @screen-xs-max) {
                        margin-right: @s6;
                    }

                    img {
                        max-width: 100%;
                        max-height: 100%;
                        vertical-align: unset;
                    }
                }

                .name,
                .side-note {
                    width: auto;
                    display: inline-block;
                }

                .name {
                    float: left;
                    margin: (@product-img-30wx30h - @base-line-height)/2 0;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    max-width: 90%;

                    .highlight {
                        color: @blue-brand;
                        font-weight: @font-weight-bold;
                    }

                    @media (max-width: @screen-xs-max) {
                        max-width: 75%;
                    }
                }

                .side-note {
                    color: @grey-dark;
                    display: inline-block;
                    float: right;
                    font-size: @t7-font-size;
                    line-height: @t7-line-height;
                    margin: (@product-img-30wx30h - @t7-line-height)/2 0;
                    margin-right: -1px;
                }
            }
        }
    }
}
