
.yw-systemBarContainer {
    background: #D7005F;
}

.z-treerow:hover > .z-treecell {
    background: #e71e77;
}

.yw-perspective-breadcrumb.yw-perspective-breadcrumb-expanded {
    background: #D7005F;
}

.yw-perspective-popup .z-treechildren {
    background: #D7005F;
}

.yw-perspective-popup .z-treerow:hover {
    background: #e71e77;
}

.yw-systemBarContainer .yw-statusToolbar .z-toolbarbutton:hover,
.yw-systemBarContainer .yw-statusToolbar .z-toolbarbutton:focus,
.yw-systemBarContainer .yw-statusToolbar .z-toolbarbutton:active {
    background: #e71e77;
}

.z-treerow:hover > .z-treecell > .z-treecell-content {
    color: #fff;
}

.yw-systemBarContainer .yw-statusToolbar span[style="display: none;"] + .z-toolbarbutton {
    background: #e71e77;
}

.yw-systemBarMenu-popup .z-listitem.z-listitem-selected .z-listcell {
    background: #e71e77;
}

.z-vfiletree .z-treerow {
  border-color: transparent;
}

.yw-textsearch-searchbox .z-bandbox-button {
    display: none;
}

.yw-explorerTree-widget, .cng-adminmode .yw-explorerTree-widget.yw-widget-mold-dark {
    background: #1e2830;
}

.yw-explorerTree .z-treerow.yw-navigationNode-level2:hover {
    background: #151c22;
}

.yw-explorerTree .z-treerow.yw-navigationNode-level3:hover {
    background: #0f1419;
}

.yw-textsearch-searchbox {
    width:300px;
}

.yw-selector-listitem:first-child .z-listcell-content {
    padding-left: 50px;
}

.yw-roleselector-container {
    background: #D7005F;
}
