@import url("login.css");

body {
    background: #D7005F;
}

.login_grid input[type="text"], .login_grid input[type="password"] {
    background: #D7005F;
}

.login_grid select {
    background: #D7005F;
}

.login_grid input:focus, .login_grid input:-webkit-autofill, .login_grid select:focus {
    background: #D7005F;
}
