<div>
    <table width="100%" cellspacing="0" style="margin:0;padding:0;table-layout:fixed;border:1px solid #1E4EBF;">
        <tbody>
            <tr>
                <td colspan="4" class="structureViewSection">
                    <cockpit code="TopHeaderSlot" />
                </td>
            </tr>
            <tr>
                <td colspan="4" class="structureViewSection">
                    <cockpit code="NavigationSlot" />
                </td>
            </tr>
            <tr>
                <td colspan="4" class="structureViewSection">
                    <cockpit code="BottomHeaderSlot" />
                </td>
            </tr>
            <tr>
                <td colspan="4" style="vertical-align:top;" class="structureViewSection">
                    <cockpit code="TopContent" />
                </td>
            </tr>
            <tr>
                <td colspan="4" height="223px" width="85%" class="structureViewSection">
                    <div>Order confirmation Data</div>
                </td>
            </tr>
            <tr>
                <td colspan="4" class="structureViewSection">
                    <cockpit code="BottomContent" />
                </td>
            </tr>
            <tr>
                <td height="170px" colspan="4" class="structureViewSection">
                    <cockpit code="Footer" />
                </td>
            </tr>
            <tr>
                <td colspan="4" class="structureViewSection">
                    <cockpit code="NavContent" />
                </td>
            </tr>
        </tbody>
    </table>
    <div style="width:100%; border-top: 2px solid #bbb" class="cmsContentEditor">
        <cockpit code="editor" />
    </div>
</div>
