@brand-main:        #00A9F2;
@brand-secondary:   #929292;

@text-color-secondary:    @brand-secondary;
@headline-color:    @text-color;
@text-color-2:    #000;

@border-color:    #D9D9D9;
@border-color-2:    #E5E5E5;
@border-color-3:    #CCC;

@input-border-color:    @border-color-3;
@placeholder-color:    @brand-secondary;

@input-error:    #FD7B7B;
@input-error-bg:    #FEC3C3;
@input-error-text:    #ED1C24;

@input-success:    @border-color-3;
@input-success-bg:    transparent;
@input-success-text:    #00A651;

@header-background-color:    @brand-main;
@nav-border-color:    @border-color;
@nav-bottom:    @brand-main;

//Background color for My Account and My Company dropdowns
@meta-nav-color:    @brand-primary;
@meta-nav-color-open:    #FFF;
@meta-nav-hover-color:    @brand-secondary;
@meta-nav-border-color:    #265272;
@meta-nav-background:    #003459;
@meta-nav-hover-background:    #004678;

@searchbar-icon-color:    @text-color;
@check-box-bg:    #FFF;

@nav-cat-background:    @brand-main;
@nav-cat-border:    @nav-cat-background;
@nav-cat-border-2:    #265272;
@nav-cat-hover-background:    #1E3D55;
@nav-cat-link-color:    #FFF;
@nav-search-bg:    @nav-cat-link-color;
@nav-autocomplete-bg:    @nav-cat-link-color;
@nav-autocomplete-hover:    #F4F4F4;
@nav-quick-order:    #00A9F2;
@nav-subcat-color:    @text-color;
@nav-subcat-title-color:    rgba(0, 0, 0, 0.7);
@nav-subcat-background:    #F4F4F4;
@nav-subcat-border-color:    @border-color-2;
@nav-subcat-hover-background:    @border-color-2;

@offcanvas-nav-header-color:    @brand-primary;
@offcanvas-nav-header-background:    #FFF;
@offcanvas-nav-disabled:    @brand-secondary;
@offcanvas-meta-nav-color:    #FFF;
@offcanvas-meta-nav-border-color:    @meta-nav-border-color;
@offcanvas-meta-nav-background:    #03426F;
@offcanvas-meta-nav-background-open:    @meta-nav-background;
@offcanvas-meta-nav-hover-background:    @meta-nav-hover-background;
@offcanvas-nav-cat-color:    @brand-primary;
@offcanvas-nav-cat-title-color:    rgba(0, 0, 0, 0.7);
@offcanvas-nav-cat-background:    #FFF;
@offcanvas-nav-cat-border-color:    @border-color-2;
@offcanvas-nav-cat-hover-background:    @border-color-2;

@well-secondary-bg:    lighten(@brand-primary, 60%);//#e6f0fa;
@well-quaternary-bg:    #F2F2F2;
@well-tertiary-bg:    @brand-main;
@well-tertiary-itmlb:    #000;
@well-quinary-bg:    @brand-main;

@item-promo-color:    #00A651;
@item-sale-color:    #ED1C24;
@item-sale-price-color:    @brand-secondary;

@table-2n-line-bg:    #F4F4F4;
@table-head-bg:    @nav-cat-background;
@table-head-color:    #FFF;
@table-head-border-color:    #334B5C;
@table-expand-bg:    #E4E4E4;
@cart-product-table-head-color:    @table-expand-bg;

@list-active-bg:    #E6F0FB;

@accordion-bg:    #000;

@modal-close-btn-color:    @brand-secondary;

@account-subheadline-bg:    @header-background-color;

@checkout-bg:    #F4F4F4;
@steps-color:    @text-color;
@steps-background:    @header-background-color;
@steps-color-active:    @steps-color;
@steps-background-active:    #E4E4E4;
@steps-border-active:    @border-color-3;
@checkout-icon:    @border-color-3;
@checkout-list-head-bg:    @table-head-bg;
@checkout-list-head-color:    #FFF;
@checkout-list-head-border:    @table-head-bg;

@coupon-list-item-border:    @border-color-3;
@coupon-list-item-bg:    @table-2n-line-bg;
@coupon-list-item-remove-icon:    #CDCDCD;
@grayblue:    #F2F4F7;

@product-list-bg:    #F4F4F4;
@wishlist-bg:    #FFF;
@account-bg:    #F4F4F4;

//product image dimensions
@product-img-30wx30h: 28px;
@product-img-65wx65h: 50px;
@product-img-96wx96h: 80px;
@product-img-300wx300h: 263px;
