//== Pagination
//
//##
@pagination-bar-framed:                false;

//== Forms
//** Large `.form-control` height
@input-padding-vertical-small:  9px;

//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.
@left-offcanvas-width: 380px;
@left-offcanvas-rightside-width: 70px;

//Width Variables
@full-width: 100%;

//************************************************************
//************************************************************
//************************************************************
//************************************************************
//************************************************************
//                    NO THEME COLORS PALLET
//************************************************************
//************************************************************
//************************************************************
//************************************************************
//************************************************************
@grayblue:                 #000;

//*********Typography Colors*********
@text-color-secondary:    #000;
@headline-color:        #000;

//== Borders
@border-color:             #000;
@border-color-2:            #000;
@border-color-3:            #000;

//*********form colors*********
@input-background: #FFF;
@input-border-color: #000;
@placeholder-color: #000;

//*********Header Background*********
@header-background-color: #FFF;
@nav-border-color: #000;

//*********Secondary Navigation colors*********
//Background color for My Account and My Company dropdowns
@meta-nav-color: @link-color;
@meta-nav-color-open: @link-color;
@meta-nav-hover-color: #FFF;
@meta-nav-border-color: #FFF;
@meta-nav-background: #FFF;
@meta-nav-hover-background: #FFF;

//*********Search*********
@searchbar-icon-color: #000;
@autocomplete-background: #FFF;

//********* icon navigation colors*********
@nav-icon-color: @blue-dark;
@nav-icon-color-secondary: @btn-primary-bg;
@nav-icon-hover-background: #FFF;
@nav-icon-dropdown-background: #FFF;
@navigation--middle-height: 60px;

//*********Header Navigation-Categories Background*********
@nav-cat-background: #FFF;
@nav-cat-border: #000;
@nav-cat-hover-background: #FFF;
@nav-cat-link-color: #000;
@nav-cat-font-size: 12px;
@nav-subcat-color: #FFF;
@nav-subcat-title-color: #000;
@nav-subcat-background: #FFF;
@nav-subcat-border-color: #000;
@nav-subcat-hover-background: #FFF;

//*********Offcanvas navigation colors*********
@offcanvas-nav-header-color: #000;
@offcanvas-nav-header-background: #FFF;
@offcanvas-nav-disabled: #FFF;
@offcanvas-meta-nav-color: #FFF;
@offcanvas-meta-nav-border-color: #000;
@offcanvas-meta-nav-background: #FFF;
@offcanvas-meta-nav-background-open: @meta-nav-background;
@offcanvas-meta-nav-hover-background: @meta-nav-hover-background;
@offcanvas-nav-cat-color: @brand-primary;
@offcanvas-nav-cat-title-color: #000;
@offcanvas-nav-cat-background: #FFF;
@offcanvas-nav-cat-border-color: #FFF;
@offcanvas-nav-cat-hover-background: #FFF;

//*********Footer colors*********
@footer-background: #000;
@footer-text-color: #FFF;
@footer-border-color: #FFF;
@copyright-background: #FFF;

//*********Well colors*********
@well-secondary-bg: @brand-secondary;
@well-quaternary-bg: #FFF;

//Item colors
@item-promo-color: #000;
@item-sale-color: #000;
@item-sale-price-color: #000;

//== Tables
@table-2n-line-bg:                #FFF;
@table-head-bg:                    #000;
@table-head-color:                #FFF;
@table-head-border-color:        #000;
@table-expand-bg:                #000;
@cart-product-table-head-color:                @table-expand-bg;

//== List
@list-active-bg:                #FFF;

//== List
@list-active-bg:                #FFF;

//*********Button Colors*********
//## For each of Bootstrap's buttons, define text, background and border color.
@btn-box-shadow:                false;
@btn-border-width:      3px;
@btn-font-size:                    16px;
@font-size-large-1:     ceil((@font-size-base * 1.14)); // ~16px
@font-size-large-2:     ceil((@font-size-base * 1.2857)); // ~18px
@font-size-large-3:     ceil((@font-size-base * 1.57)); // ~22px
@font-size-large-4:     ceil((@font-size-base * 1.71)); // ~24px
@btn-line-height:                1.375;
@btn-icon-font-size:        25px;
@base-icon-touch-area:    50px;

//Primary Button State
@btn-primary-hover-color:    @btn-primary-color;
@btn-primary-hover-border:    @blue-medium;
@btn-primary-hover-background:    @blue-medium;
@btn-primary-disabled-bg:    @btn-primary-bg;

//Secondary Button State
@btn-default-hover-color: #000;
@btn-default-hover-border: #000;
@btn-default-hover-background: #FFF;
@btn-default-disabled-bg: #000;

//*********Accordion Colors*********
@accordion-bg: #000;

//*********Carousel Style*********
@carousel-font-style: uppercase;

//*********Modal Colors*********
@modal-close-btn-color: #000;

//********* THEME VARIABLES *********
@import "../../../../../shared/less/generatedVariables.less";
@import "../../../../../shared/less/variableMapping.less";

//** ADDONS

//*********Account Colors*********
@account-subheadline-bg: @header-background-color;
@account-well-primary: #FFF;
@account-well-secondary: #FFF;

//*********checkout*********
@steps-color: #000;
@steps-background: #FFF;
@steps-color-active: #000;
@steps-background-active: #FFF;
@steps-border-active: #000;
@steps-divider: @border-color-3;
@checkout-icon: #000;
@checkout-list-head-bg: @table-head-bg;
@checkout-list-head-color: #FFF;
@checkout-list-head-padding: 15px 20px;
@checkout-list-head-padding-first: 15px;

//*********Coupon Colors*********
@coupon-list-item-border: @border-color-3;
@coupon-list-item-bg: @table-2n-line-bg;
@coupon-list-item-remove-icon: #FFF;

//*********Datepicker Colors*********
@datepicker-highlight-bg:      @brand-secondary;
@datepicker-highlight-color:    #FFF;
@datepicker-highlight-border:    @brand-secondary;

@datepicker-active-bg:      @brand-primary;
@datepicker-active-color:    #FFF;
@datepicker-active-border:    @brand-primary;

//*********Entry Group Colors*********
@entry-group-text: #000;
@entry-group-header: #E4E4E4;
@entry-group-item: #F4F4F4;
