@bw: 1px;
@expanded_title_padding_top_bottom: (@s6 - @bw);
@expanded_title_padding_left_right: (@s5 - @bw);

.m-accordion {
    margin-bottom: @s4;

    &__header {
        .clearfix;

        border-left: @bw solid @grey-light;
        border-right: @bw solid @grey-light;
        border-top: @bw solid @grey-light;
        cursor: pointer;
        display: block;
        min-height: @s2;
        padding: @expanded_title_padding_top_bottom @expanded_title_padding_left_right @s5;
        // NOTE: Used 1px less padding from std spec to the sides that have border
        // to correct the spacing according to standard spec.
        // 10px (padding) + 1px (border) = 11px (standard spec)

        &:hover,
        &:focus {
            text-decoration: none;
        }

        &__title {
            border-bottom: solid @bw @grey-light;
            display: block;
            position: relative;
            padding-bottom: @s7;

            &.h5 {
                margin-top: 1px;
            }

            &:after {
                content: "\e603";
                font-family: @tk-icon-font;
                position: absolute;
                right: 0;
            }
        }

        &.collapsed {
            background-color: @grey-lighter;
            border: none;
            padding: @s6 @s5;

            > .m-accordion__header__title {
                border: none;
                padding: 0;

                &:after {
                    content: "\e602";
                }
            }
        }
    }

    &__content {
        border-left: @bw solid @grey-light;
        border-bottom: @bw solid @grey-light;
        border-right: @bw solid @grey-light;
        padding: 0 @s5 0;
        color: @grey-dark;

        hr {
            margin-top: 0;
        }
    }
}
