.m-address {
    margin: 0;

    span {
        display: inline-block;
    }

    &__department {
        margin-bottom: @s7;
    }

    &--inline {
        word-break: break-word;
        font-size: 0;

        span {
            display: inline;
            font-size: @s5;
        }

        .m-address {

            &__department {
                margin-bottom: 0;
                font-weight: @font-weight-normal;
            }

            &__company {
                font-weight: @font-weight-normal;
            }
        }
    }

    &--has-comma-character {

        span {

            &:after {
                content: ", ";
            }

            &:last-child:after {
                content: "";
            }
        }
    }

    &--has-break {

        span {
            display: inline;
            word-wrap: break-word;

            &:before {
                content: "\a ";
                white-space: pre;
            }

            &:first-child:before {
                content: "";
            }
        }
    }
}
