@title-bottom-spacing: 42px;
@banner-container-min-height: 196px;
@bottom-button-height: 34px;

.m-banner {
    background-color: #FFF;
    border: none;
    outline: none;
    text-decoration: none;
    display: block;
    margin-bottom: @s4;
    position: relative;
    min-height: @banner-container-min-height;

    &__img {
        width: 100%;
    }

    &__content {
        position: absolute;
        bottom: @s1;

        @media (max-width: @screen-sm-max) {
            bottom: 0;
        }

        &__title,
        &__sub-title {
            background: @blue-brand;
            color: @white;
            padding: 0 @s15;
            display: block;
            float: left;
            clear: left;
        }

        &__title {
            margin-bottom: @s6;
        }
    }

    &--title {
        margin-bottom: 0;

        .m-banner {

            &__content {
                bottom: @title-bottom-spacing;

                &__title {
                    margin: 0;
                    padding: @s7 @s15;
                }
            }
        }
    }

    &.blue-bg {
        background: @blue-brand;
    }

    &.grey-bg {
        background-color: @grey-lighter;
    }

    &--hero-banner-max,
    &--hero-banner-content-max {

        .container {
            width: 100%;
            margin: 0;
            padding: 0;

            .m-banner__content {
                left: 15%;
                bottom: @s1;
                max-width: 60%;
            }
        }
    }

    &--hero-banner-content-normal,
    &--hero-banner-content-max {

        .container {

            .m-banner__content {
                background: #FFF;
                padding: @s5;
                position: absolute;
                left: @s3;
                bottom: @s3;
                width: 30%;

                .m-banner__content__title,
                .m-banner__content__sub-title {
                    background: none;
                    color: @gray-base;
                    float: none;
                    padding: 0;

                    @media (max-width: @screen-sm-max) {
                        font-size: @t5-font-size;
                        line-height: @t5-line-height;
                    }
                }

                .m-banner__content__title {
                    font-size: @t3-font-size;
                    line-height: @t3-line-height;
                }

                .m-banner__content__sub-title {
                    margin-bottom: @s6;
                }

                .btn {
                    display: inline-block;
                    width: auto;
                }
            }
        }
    }

    &--hero-banner-max {

        .container {

            .m-banner__content {
                left: 0;

                .m-banner__content__title,
                .m-banner__content__sub-title {
                    padding-left: @s0 + @s0;

                    @media (max-width: @screen-xl-max) {
                        padding-left: @s15;
                    }
                }

                @media (max-width: @screen-sm-max) {
                    left: 0;
                    bottom: @s2;
                }

                @media (max-width: @screen-xs-max) {
                    left: 0;
                    bottom: 0;
                    top: 0;
                    width: 100%;
                    max-width: 100%;
                    position: relative;
                    background: @blue-brand;
                }

                @media (max-width: @screen-xs) {
                    bottom: 0;
                }
            }
        }
    }

    &--hero-banner-normal {

        .m-banner__content {
            width: 55%;
            bottom: @s3;

            @media (max-width: @screen-sm-max) {
                bottom: @s2;
            }

            @media (max-width: @screen-xs-max) {
                bottom: 0;
                left: 0;
                top: 0;
                width: 100%;
                position: relative;
                background: @blue-brand;
            }

            @media (max-width: @screen-xs) {
                bottom: 0;
            }
        }
    }

    &--hero-banner-content-max {

        .container {

            .m-banner__content {
                left: 15%;

                @media (max-width: @screen-md-max) {
                    left: 0;
                    bottom: 0;
                    width: 40%;
                }

                @media (max-width: @screen-sm-max) {
                    left: 0;
                    bottom: 0;
                    top: 0;
                    width: 40%;
                }

                @media (max-width: @screen-xs-max) {
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    max-width: 100%;
                    position: relative;
                }
            }
        }
    }

    &--hero-banner-content-normal {

        .container {
            position: relative;

            .m-banner__content {
                @media (max-width: @screen-md-max) {
                    left: 0;
                    bottom: 0;
                    width: 40%;
                }

                @media (max-width: @screen-sm-max) {
                    padding: @s5;
                    left: 0;
                    bottom: 0;
                    top: 0;
                }

                @media (max-width: @screen-xs-max) {
                    width: 100%;
                    max-width: 100%;
                    padding: @s5 0;
                    left: 0;
                    bottom: 0;
                    position: relative;
                }
            }
        }
    }

    &--hero-banner-normal,
    &--hero-banner-max,
    &--hero-banner-content-normal,
    &--hero-banner-content-max, {
        height: 440px;
        overflow: hidden;

        @media (max-width: @screen-sm-max) {
            height: 320px;
        }

        @media (max-width: @screen-xs-max) {
            height: 100%;
        }

        .container,
        .container-column {
            position: relative;
            max-height: 440px;

            @media (max-width: @screen-sm-max) {
                max-height: 320px;
            }

            @media (max-width: @screen-xs-max) {
                max-height: 100%;
            }
        }

        .m-banner__img {
            width: 100%;
            min-height: 440px;

            @media (max-width: @screen-sm-max) {
                min-height: 320px;
            }

            @media (max-width: @screen-xs-max) {
                min-height: 220px;
            }
        }
    }
}

.m-encourage-blocks {
    padding: 0;
    min-height: @banner-container-min-height;
    position: relative;

    &__content {

        &__title,
        &__img {
            margin-bottom: 6px;
        }

        &__img,
        &__img img {
            width: 100%;
            display: block;
        }
    }

    &--has-bottom-link {
        padding-bottom: 0;

        .m-encourage-blocks__bottom {
            width: 100%;
            padding: 0;
            line-height: 1;

            &-link {
                text-decoration: underline;
                font-size: 13px;
                line-height: @btn-normal-font-size;
            }

            .u-icon-tk--arrow-right {
                vertical-align: middle;
                font-size: 14px;
            }
        }
    }
}

.m-teaser {
    background-color: #FFF;
    border: none;
    outline: none;
    text-decoration: none;
    display: block;
    margin-bottom: @s4;
    position: relative;
    min-height: @banner-container-min-height;
    padding: @s6 0 @s5 0;

    .container {
        position: relative;
    }

    &__img {
        width: 100%;
        padding: @s7 0;
    }

    &__content {

        &__title {
            color: @blue-brand;
            font-size: @font-size-h4;
            line-height: @t5-line-height;
            padding: @s7 0;
            margin: 0;
        }

        &__sub-title {
            font-size: @btn-normal-font-size;
            line-height: @t6-line-height;
            color: @gray-base;
            padding: @s7 0;
            margin: 0;
            max-width: 850px;
        }

        &__para {
            font-size: @t6-font-size;
            line-height: @t6-line-height;
            color: @grey-dark;
            padding: @s7 0;
            margin: 0;
            max-width: 850px;
        }

        .btn {
            display: inline-block;
            width: auto;
            color: @blue-brand;
            background: #FFF;
            border: 1px solid @blue-brand;
            margin: @s7 0;
        }
    }

    .teaser-component {
        display: flex;

        .m-teaser-component {
            width: 25%;
        }
    }

    &--module-teaser-right,
    &--module-teaser-left,
    &--module-teaser-top {

        .m-teaser__img {
            width: 50%;
            float: right;

            @media (max-width: @screen-sm-max) {
                float: none;
                width: 100%;
            }

            &.rounded {
                border-radius: 50%;
            }
        }

        .m-teaser__content {
            position: relative;
            bottom: 0;
            width: 50%;
            float: left;
            padding-right: @s4;

            @media (max-width: @screen-sm-max) {
                float: none;
                width: 100%;
                padding-right: 0;
            }
        }
    }

    &--module-teaser-left {

        .m-teaser__img {
            float: left;

            @media (max-width: @screen-sm-max) {
                float: none;
                width: 100%;
            }
        }

        .m-teaser__content {
            float: right;
            padding-left: @s4;

            @media (max-width: @screen-sm-max) {
                float: none;
                width: 100%;
                padding-left: 0;
            }
        }
    }

    &--module-teaser-top {

        .m-teaser__img {
            float: none;
            width: 100%;
        }

        .m-teaser__content {
            position: relative;
            bottom: 0;
            width: 100%;
            float: none;
            padding-right: 0;
        }
    }

    &.blue-bg {
        background: @blue-brand;

        .m-teaser__content {

            &__title,
            &__sub-title,
            &__para {
                color: #FFF;
            }

            a.bottom-link {
                text-decoration: underline;
            }

            a,
            a:visited {
                color: #FFF;
            }
        }
    }

    &.grey-bg {
        background-color: @grey-lighter;
    }
}

