@t9-font-size: 14px;
@t9-line-height: 20px;

.m-callout {
    display: block;
    position: relative;
    font-size: @t9-font-size;
    line-height: @t9-line-height;
    color: @grey-dark;

    &--right {
        padding: 16px 18px 16px 15px;
        box-shadow: 0 2px 10px 0 rgba(75, 85, 100, 0.33);

        &:before,
        &:after {
            content: "";
            position: absolute;
            z-index: 10;
            width: 12px;
            bottom: 0;
            top: 0;
            left: -12px;
            background-size: 100% 50%;
            background-position: top right, bottom right;
            background-repeat: no-repeat;
        }

        &:before {
            background-image: linear-gradient(to top left, rgba(75, 85, 100, 0.1) 50%, transparent 51%), linear-gradient(to bottom left, rgba(75, 85, 100, 0.1) 50%, transparent 51%);
            left: -14px;
        }

        &:after {
            background-image: linear-gradient(to top left, #FFF 50%, transparent 51%), linear-gradient(to bottom left, #FFF 50%, transparent 51%);
        }
    }

    &--popover {
        display: block;
    }
}
