@cart-list-item-min-height: 75px;
@cart-list-wrapper-min-height: 447px;
@cart-panel-padding-leftright: 16px;

.m-cart {

    &__items {

        .item__list__cart {

            .item__list--item {
                @media (max-width: @screen-sm-max) {
                    padding: 0 16px;
                    border: none;
                }

                .cart-attr {

                    .row {
                        @media (max-width: @screen-sm-max) {
                            margin: 0;
                        }

                        div {
                            @media (max-width: @screen-sm-max) {
                                padding: 0;
                            }
                        }

                        div:first-child {
                            @media (max-width: @screen-sm-max) {
                                padding-right: 20px;
                            }
                        }
                    }
                }

                .item__heading {
                    @media (max-width: @screen-sm-max) {
                        margin-bottom: 15px;
                        margin-top: 20px;
                    }

                    a {
                        @media (max-width: @screen-sm-max) {
                            font-weight: 500;
                        }
                    }
                }

                .item__image {
                    @media (max-width: @screen-sm-max) {
                        display: table-cell;
                        padding: 0 16px 0 0;
                        vertical-align: top;
                    }

                    @media (max-width: @screen-xs-max) {
                        width: 29%;

                        img {
                            width: 68px;
                        }
                    }

                    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
                        padding: 0 16px 16px 0;
                    }
                }

                .item__info {
                    @media (max-width: @screen-sm-max) {
                        display: table-cell;
                        padding: 0 0 20px;
                        vertical-align: top;
                    }

                    @media (max-width: @screen-xs-max) {
                        width: 71%;
                    }

                    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
                        width: 100%;
                    }
                }

                .item__price {
                    @media (max-width: @screen-sm-max) {
                        display: inline-block;
                        width: 100%;
                        border-top: 1px solid @grey-light;
                        padding-top: 20px;
                    }

                    &__sales-prop {
                        @media (max-width: @screen-sm-max) {
                            float: left;
                            width: 50%;
                            font-weight: 500;
                        }
                    }

                    &__sales-value {
                        @media (max-width: @screen-sm-max) {
                            text-align: right;
                            width: 50%;
                            float: left;
                        }
                    }
                }

                .item__weight {

                    &-prop {
                        @media (max-width: @screen-sm-max) {
                            font-weight: 500;
                        }
                    }
                }

                .item__total {
                    @media (max-width: @screen-sm-max) {
                        margin: 20px 0;
                        border-top: 1px solid @grey-light;
                        padding: 20px 0;
                        border-bottom: 1px solid @grey-light;
                        font-weight: 500;
                        font-size: 16px;
                    }
                }

                .item__quantity--small {

                    form {
                        @media (max-width: @screen-sm-max) {
                            float: left;
                            width: 65%;
                        }

                        .input-group {
                            @media (max-width: @screen-sm-max) {
                                margin-bottom: 20px;
                                width: 100%;
                            }
                        }
                    }

                    .item__quantity__remove {
                        @media (max-width: @screen-sm-max) {
                            text-align: right;
                            width: 35%;
                            height: 42px;
                            display: inline;
                            align-items: center;
                            line-height: 42px;
                        }
                    }

                    .m-cart__items__status {
                        @media (max-width: @screen-sm-max) {
                            position: static;
                            white-space: normal;
                            clear: both;
                            width: 100%;
                        }
                    }
                }
            }

            .item__list--header {

                .item {

                    &__image {
                        width: 495px;
                    }
                }
            }

            .item__options__row {
                padding: 5px 15px 0;

                @media (max-width: @screen-sm-max) {
                    padding-top: 20px;
                }

                &.first-options {
                    @media (max-width: @screen-sm-max) {
                        padding: 15px 15px 0;
                    }
                }
            }
        }

        &__qty {
            position: relative;
        }

        &__status {
            position: absolute;
            white-space: nowrap;
            bottom: @s7;
        }

        .item__list .item__list--item .item__quantity {
            padding-bottom: @s3;

            @media (max-width: @screen-sm-max) {
                padding-bottom: 20px;
                width: 100%;
            }
        }
    }

    &__help-block,
    &__actions {

        &--top {
            margin-bottom: @s5;

            a {
                display: inline-block;
            }
        }

        &--bottom {
            margin-bottom: @s1;
        }

        .cart-checkout-button-wrapper {
            padding: 0 @s5;
        }
    }

    &__actions {

        &--bottom {
            @media (max-width: @screen-sm-max) {
                margin: 0 0 20px;
            }
        }
    }

    &__footer {
        margin-bottom: 20px;
    }

    &__voucher {

        > p {
            margin-bottom: @s7;
        }

        &--has-margin {
            margin-bottom: @s4;

            @media (max-width: @screen-sm-max) {
                margin: 0 15px 20px;
                border-bottom: 1px solid @grey-light;
                padding: 0 0 10px;
            }

            p {
                margin-bottom: 0;
            }
        }
    }
}

.delivery-info {
    @media (max-width: @screen-sm-max) {
        padding: 0 15px;
        margin: 0 0 50px;
    }

    p {
        @media (max-width: @screen-sm-max) {
            margin-bottom: 20px;
        }
    }
}

.m-mini-cart {

    &__dropdown {
        padding-bottom: 0;
        border: none;
    }

    &__content {
        color: @black;

        &__title,
        &__body,
        &__list,
        &__actions,
        &__totals {
            padding: 0 @cart-panel-padding-leftright;
        }

        &__title {

            &__content {
                font-size: @t5-font-size;
                line-height: @t5-line-height;
                display: block;
            }

            &__info {
                color: @grey-dark;
                font-size: @t7-font-size;
                line-height: @t5-line-height;
                text-align: right;
            }
        }

        &__body {
            margin: @s4 0;

            &--empty {
                font-size: @t7-font-size;
                line-height: @t7-line-height;
            }
        }

        &__list {
            max-height: @cart-list-wrapper-min-height;
            overflow-y: auto;

            &__item {
                border-bottom: 1px solid @grey-middle;
                list-style: none;
                padding: @s6 0 0;
                min-height: @cart-list-item-min-height;
                font-size: @t7-font-size;
                line-height: @t7-line-height;

                &:first-child {
                    border-top: 1px solid @grey-middle;
                }

                &__thumb {
                    float: left;
                    margin-right: @s6;
                    width: @product-img-65wx65h;

                    img {
                        max-width: 100%;
                        max-height: 100%;
                    }
                }

                &__details {
                    margin-left: @product-img-65wx65h + @s6;
                    padding-bottom: @s6;
                    word-wrap: break-word;

                    &__notify,
                    &__name,
                    &__attributes,
                    &__info,
                    &__certificate-label {
                        display: block;
                    }

                    &__notify {
                        font-weight: @font-weight-medium;
                        color: @blue-brand;
                        margin-bottom: @s7;
                    }

                    &__name {
                        font-weight: @font-weight-medium;
                        color: @black;
                    }

                    &__qty,
                    &__price {
                        font-weight: @font-weight-medium;
                        width: 35%;
                        display: inline-block;
                        color: @black;
                    }

                    &__price {
                        text-align: right;
                        float: right;
                    }
                }
            }
        }

        &__totals {
            margin-bottom: 16px;

            &__value {
                display: table;
                width: 100%;
                margin-bottom: @s7;

                .key,
                .value {
                    font-weight: @font-weight-medium;
                    font-size: @t6-font-size;
                    line-height: @t6-line-height;
                    display: table-cell;
                    text-align: left;
                }

                .value {
                    width: 70%;
                    text-align: right;
                }
            }

            &__info {
                color: @grey-dark;
                text-align: right;
                font-size: 12px;
                line-height: 16px;
            }
        }

        &__actions {
            margin-bottom: @s4;

            &__view-cart,
            &__close {
                font-size: 16px;
            }

            &--left {
                padding: 0 8px 0 @s5;
            }

            &--right {
                padding: 0 @s5 0 8px;
            }
        }

        &__footer {
            padding: @s7 0 @s5 0;
            box-shadow: 0 2px 8px 0 rgba(75, 85, 100, 0.66);

            .m-mini-cart__content__actions {
                margin-bottom: 0;
            }
        }
    }
}

@media (max-width: 1023px) {

    .cart-shipping-text {
        padding-left: 30px;
    }
}

.cart-shipping-text {
    padding-left: 150px;
}

@media (max-width: 1023px) {

    .cart-shipping-text {
        padding-left: 30px;
    }
}

@media (max-width: 639px) {

    .content__empty {

        .cart__actions {
            padding-top: 20px;
        }

        .content {
            width: 100%;
            margin: 0 auto;
            padding: 0 30px;
        }
    }
}

@media (min-width: 640px) {

    .content__empty {

        .cart__actions {
            padding-top: 80px;
        }

        .content {
            width: 100%;
            margin-left: 120px;
        }
    }
}

.delivery-tooltip-icon {
    margin-left: 36px;
    font-size: initial;
}

.export__cart--link {
    width: auto;
}
