@carousel-thumbnail-image-width: 75px;
@carousel-thumbnail-image-xs-width: 48px;
@carousel-thumbnail-xs-width: 158px;
@carousel-img-xs-width: 196px;

.m-carousel-product {
    margin-bottom: @s4;

    @media (max-width: @screen-xs-max) {
        margin: auto;
        margin-bottom: @s3;
        max-width: @carousel-img-xs-width;
    }

    &--multi {
        margin-bottom: 0;
        padding-left: 30px;
        padding-right: 30px;
        display: none;
        max-width: 100%;

        .owl-item {
            width: auto;

            @media (max-width: @screen-xs-max) {
                width: @carousel-thumbnail-image-xs-width;
                padding-left: 0;
            }

            .multi--item {
                margin: 3px 7px 0;
                padding: 0 8px;

                &:hover {
                    box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.15);
                }

                .m-encourage-blocks {
                    height: 100%;
                    padding: 0 0 10px;

                    &__content__img {
                        margin-bottom: 6px;
                        padding: @s5;

                        @media (max-width: @screen-md) {
                            padding: 10px;
                        }
                    }

                    .item-name {
                        margin-bottom: 6px;
                        padding-bottom: 6px;
                        border-bottom: 1px solid @grey-light;
                    }
                }
            }
        }

        .owl-controls {
            display: block;

            .owl-buttons {

                .owl-next,
                .owl-prev {
                    height: 30px;
                    // Disabling Stylelint for next rule to have !important value change.
                    /*stylelint-disable*/
                    top: 18% !important;
                    /*stylelint-enable*/
                }

                .owl-prev {
                    left: -6px;

                    &.disabled {

                        .u-icon-tk--arrow-left {
                            color: @grey-middle;
                        }
                    }
                }

                .owl-next {
                    right: -6px;

                    &.disabled {

                        .u-icon-tk--arrow-right {
                            color: @grey-middle;
                        }
                    }
                }
            }
        }
    }

    .zoomImg {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        max-height: none;
        max-width: none;
        z-index: 9999;
        border: 0;
        opacity: 0;
    }

    &__image {
        margin-bottom: @s5;

        &__item {
            max-width: @product-img-300wx300h;

            img {
                max-width: 100%;
                max-height: 100%;
            }

            .zoomImg {
                display: none;
            }
        }
    }

    &__thumbnails {

        &__item {
            width: @carousel-thumbnail-image-width;

            @media (max-width: @screen-xs-max) {
                width: @carousel-thumbnail-image-xs-width;
            }

            &__img {
                max-width: 100%;
                max-height: 100%;
                width: 100%;
            }
        }

        .owl-wrapper {

            .owl-item + .owl-item {
                padding-left: @s6;

                @media (max-width: @screen-xs-max) {
                    padding-left: 0;
                }
            }
        }

        .owl-controls {
            display: block;

            .owl-buttons {

                .owl-next,
                .owl-prev {
                    font-family: initial;

                    .u-icon-tk {
                        position: absolute;
                        left: 0;
                        top: 0;
                        bottom: 0;
                        right: 0;
                        width: auto;
                        height: auto;
                        font-size: 25px;
                        line-height: 100px;
                        color: @link-color;
                        .transition(~"0.3s ease-in");
                    }

                    &:hover {
                        color: rgba(255, 255, 255, 1);

                        .u-icon-tk {
                            color: @link-hover-color;
                        }
                    }
                }

                .owl-prev {
                    left: -16px;

                    .u-icon-tk--arrow-left {
                        display: table;

                        &:before {
                            display: table-cell;
                            vertical-align: middle;
                        }
                    }
                }

                .owl-next {
                    right: -16px;

                    .u-icon-tk--arrow-right {
                        display: table;

                        &:before {
                            display: table-cell;
                            vertical-align: middle;
                        }
                    }
                }
            }
        }

        @media (max-width: @screen-xs-max) {
            width: @carousel-thumbnail-xs-width;
            margin: auto;
        }
    }

    .m-carousel-product__thumbnails {

        .owl-controls {

            .owl-buttons {

                .owl-prev,
                .owl-next {

                    .u-icon-tk {
                        width: 100%;
                        height: 100%;

                        @media (max-width: @screen-xs-max) {
                            left: -16px;
                        }
                    }
                }
            }
        }
    }
}

@supports not (-webkit-line-clamp: 2) {

    .m-carousel-product--multi .item-name > a {
        display: block;
        height: @t6-line-height * 2;
        overflow: hidden;
        position: relative;

        &:after {
            content: "...";
            text-align: right;
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }
}

@supports (-webkit-line-clamp: 2) {

    .m-carousel-product--multi {

        .owl-wrapper-outer {
            min-height: 370px;

            .item-name > a {
                overflow: hidden;
                text-overflow: ellipsis;

                /* stylelint-disable property-no-vendor-prefix, value-no-vendor-prefix */
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                line-height: 1.3;

                /* stylelint-enable property-no-vendor-prefix, value-no-vendor-prefix */

                &:after {
                    display: none;
                }
            }
        }
    }
}
