@header-height: 150px;
@header-md-height: 142px;
@header-sm-height: 128px;
@header-top-padding: 20px;
@header-md-top-padding: 10px;
@logo-height: 80px;
@logo-sm-height: 75px;
@logo-width: 113px;
@logo-sm-width: 113px;
@header-mini-height: 110px;
@logo-mini-y-position: 100px;
@logo-mini-x-position: 303px;
@logo-mini-height: 60px;
@dropdown-triangle-size: 5px;
@mini-cart-panel-width: 458px;
@navbar-top-padding: 17px;
@navbar-bottom-padding: 18px;
@negative-logo-offset: -33px;
@search-input-height: 42px;
@header-icon-height: 42px;
@top-links-and-search-input-between-padding: 30px;
@primary-bar-min-height: 58px;
@primary-menu-left-links-font: 26px;
@primary-menu-left-links-line-height: 37px;
@primary-bar-padding: 9px;
@blue-link-hover: #003C7D;
@search-panel-height: 68px;
@search-active-icon-space: 3px;

.m-header {
    margin-bottom: @s6;

    @media (max-width: @screen-xs-max) {
        margin-bottom: @s5;
    }

    .page-homepage &,
    .page-secureLoginPage & {
        margin-bottom: 0;
    }

    &--minimal {

        .m-header {

            &__content {
                height: @header-mini-height;
                padding: @s4 0 @s4;

                &__logo {
                    display: block;
                    background: url("../images/logos/desktop_secondary.png") no-repeat;
                    background-size: @logo-mini-x-position @logo-mini-y-position;
                    background-position: left center;
                    width: auto;
                    height: @logo-mini-height;
                    margin-left: @negative-logo-offset;
                    margin-top: 0;

                    @media (max-width: @screen-sm-max) {
                        background: url("../images/logos/desktop.svg") no-repeat;
                        .size(@logo-sm-width; @logo-sm-height);

                        margin: 0;
                        background-size: 385px, 75px;
                    }
                }

                &__department {
                    margin-top: 0;
                    margin-bottom: 0;
                    font-size: @t6-font-size;
                    line-height: @t6-line-height;
                }

                &__country {
                    font-size: @t4-font-size;
                    line-height: @t4-line-height;
                }
            }
        }
    }

    &__content {
        background-color: @blue-brand;
        color: @white;
        padding: @header-top-padding 0 @s3;
        height: @header-height;

        @media (max-width: @screen-sm-max) {
            height: @header-md-height;
            padding: @header-md-top-padding 0 (@s3 - 2);
        }

        @media (max-width: @screen-xs-max) {
            height: @header-sm-height;
        }

        a,
        a:hover,
        a:visited {
            color: @white;
        }

        &__logo {
            .text-hide();

            background: url("../images/logos/desktop.svg") no-repeat;
            display: block;
            .size(@logo-width; @logo-height);

            background-size: 415px, 80px;
            margin-top: @s5;

            @media (max-width: @screen-sm-max) {
                .size(@logo-sm-width; @logo-sm-height);

                margin-top: @s4 - 3px;
                background-size: 385px, 75px;
            }

            @media (max-width: @screen-xs-max) {
                margin-top: @s5 - 2px;
            }
        }

        &__search {
            margin-top: @s7;

            @media (max-width: @screen-sm-max) {
                width: 85%;
                margin-left: auto;
            }

            .form-control {
                border: none;
                transition: none;
                height: @search-input-height;

                &:focus,
                &:active {
                    border-color: transparent;
                    box-shadow: none;
                }
            }

            .form-control-clear {
                line-height: 42px;
                display: none;
                color: @label-grey-light;
            }

            .btn-link {
                font-family: @tk-icon-font;
                font-variant: normal;
                font-weight: 400;
                font-size: @header-icon-height;
                left: 0;
                line-height: 1;
                padding: 0;

                &:hover {
                    text-decoration: none;

                    &:after {
                        color: @blue-link-hover;
                    }
                }

                &:after {
                    content: "\e90c";
                    color: @white;
                }
            }

            .input-group-btn {

                > .btn-link {
                    margin-left: @s6;
                }
            }

            input::-ms-clear {
                display: none;
            }
        }

        &__top {
            margin-bottom: @top-links-and-search-input-between-padding;
            float: right;
            line-height: @t6-font-size;

            &__menu {
                margin: 0;
                padding: 0;
                text-align: right;

                > .li,
                div {
                    display: inline-block;
                    float: left;

                    a {
                        margin: 0 @s5;
                    }

                    &:after {
                        content: "|";
                        color: @white;
                    }

                    &:last-child {
                        margin-right: 0;

                        a {
                            margin-right: 0;
                        }
                    }

                    &:first-child,
                    &:last-child {

                        &:after {
                            content: "";
                        }
                    }
                }
            }
        }

        &__department {
            text-align: right;
            font-size: @t6-font-size;
            margin-top: @s7;
            margin-bottom: @s8;
            line-height: 1;

            @media (max-width: @screen-sm-max) {
                font-size: @t7-font-size;
                line-height: @t7-line-height;
                margin-bottom: 0;
            }

            @media (max-width: @screen-xs-max) {
                margin-top: @s5 - 1px;
            }
        }

        &__country {
            text-align: right;
            font-size: @t5-font-size;
            line-height: 1;

            @media (max-width: @screen-sm-max) {
                font-size: @t6-font-size;
                line-height: @t6-line-height;
            }
        }
    }

    &__primary-nav {
        min-height: @primary-bar-min-height;

        @media (max-width: @screen-sm-max) {
            border-bottom: 1px solid @gray-light;
        }

        &.yamm {

            .navbar__divider {
                display: block;
                width: 100%;
                margin: 0;
            }

            .yamm-content {
                padding-top: @primary-bar-padding;
                padding-bottom: @primary-bar-padding;

                &.is-show-more-panel {
                    padding-top: 10px;
                }

                .show-more-wrapper {
                    position: absolute;
                    top: 0;
                    left: 0;
                    background: @white;
                    width: 100%;
                    display: none;

                    &.open {
                        display: block;
                    }
                }
            }

            .navbar-right {
                position: relative;

                .dropdown-menu {
                    margin-right: 14px;

                    .yamm-content {
                        padding: 0;
                        width: @mini-cart-panel-width;
                    }
                }
            }
        }

        .navbar-primary {
            margin-bottom: 0;
            border: none;

            @media (max-width: @screen-sm-max) {
                position: static;
            }
        }

        &__menu-left,
        &__menu-right {

            > li {

                > a {
                    display: inline-block;
                    font-size: @t6-font-size;
                    line-height: @primary-bar-min-height;
                }

                .m-mega-menu,
                .m-mini-cart {

                    &__link {

                        &--has-icon-right {

                            &:after {
                                font-family: @tk-icon-font;
                                font-variant: normal;
                                font-weight: 400;
                                font-size: @header-icon-height;
                                right: @grid-gutter-width/2;
                                line-height: 1;
                                position: absolute;
                                top: 8px;

                                @media (max-width: @screen-xs-max) {
                                    right: 0;
                                }
                            }
                        }
                    }
                }
            }

            > li,
            > .open {

                > a {
                    background: inherit;

                    &:hover,
                    &:focus,
                    &:active,
                    &:visited {
                        text-decoration: none;
                        background: inherit;
                    }
                }
            }
        }

        &__menu-toggle,
        &__search-toggle {
            display: inline-block;

            &--active {
                position: relative;
                background: @grey-lighter;
                padding: 20px 19px;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                height: @primary-bar-min-height - @search-active-icon-space;
                margin-top: @search-active-icon-space;
                box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);

                .u-icon-tk {
                    font-size: @t6-font-size;
                    color: @grey-dark;
                }

                &:after {
                    content: "";
                    display: block;
                    bottom: -1px;
                    width: 100%;
                    height: 2px;
                    background: @grey-lighter;
                    position: absolute;
                    left: 0;
                    z-index: 12;
                }
            }

            .u-icon-tk {
                font-size: @header-icon-height;
                margin-top: 8px;
            }
        }

        &__menu-toggle {
            float: left;

            @media (max-width: @screen-xs-max) {
                margin-right: @s5;
            }
        }

        &__menu-left {

            li {

                .m-header__main-nav__link {
                    font-size: @primary-menu-left-links-font;
                    margin-right: @s3;
                    line-height: @primary-bar-min-height;
                    display: inline-block;
                    padding-right: 0;

                    a {

                        &:hover {
                            color: @blue-link-hover;
                            text-decoration: none;
                        }
                    }
                }
            }

            .dropdown.open {

                .m-header__main-nav__link {
                    background: @white;

                    a {
                        color: @blue-dark;
                        text-decoration: none;
                    }
                }

                .dropdown-toggle {

                    &:after {
                        position: absolute;
                        left: 50%;
                        margin-left: -20px;
                        bottom: -11px;
                        z-index: 99999;
                        width: 20px;
                        height: 20px;
                        content: "";
                        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
                        .rotate(135deg);

                        border-left: 1px solid rgba(0, 0, 0, 0.2);
                        background-color: @white;
                    }
                }

                .dropdown-menu {
                    padding: @s4 0;
                    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.3);
                    margin-top: -1px;
                    border-bottom: 2px solid @blue-brand;

                    .m-nav-node__container__list__item__link {
                        line-height: @t6-line-height;

                        a {

                            &:last-child {
                                padding: 0;
                            }

                            &:hover {
                                color: @blue-dark;
                            }
                        }

                        &:last-child {
                            padding: 0;
                        }
                    }
                }
            }

            .m-mega-menu {

                &__close {
                    position: absolute;
                    right: (@grid-gutter-width / 2);
                    bottom: 0;
                    width: 260px;
                    cursor: pointer;

                    &__text {
                        font-size: @t7-font-size;
                        line-height: @t7-line-height;
                        height: @t7-line-height;
                        color: @blue-brand;
                        text-align: right;
                        padding-right: @nsfs18 + @s6;
                        margin-bottom: 0;

                        &:after {
                            position: absolute;
                            font-family: @tk-icon-font;
                            font-variant: normal;
                            font-weight: 400;
                            font-size: @nsfs18;
                            right: 0;
                            line-height: 1;
                            padding-left: @s6;
                            content: "\e659";
                        }
                    }

                    hr {
                        margin: @s4 0;
                    }
                }

                &__child-menus {

                    &--category-label {
                        color: @blue-brand;
                        margin-bottom: @s4;
                        font-weight: @font-weight-medium;
                    }
                }

                &__banner-component {

                    &__btn {
                        width: 100%;

                        a {
                            width: 100%;
                        }
                    }

                    &__desc {
                        margin-bottom: @s4;
                    }

                    &__title {
                        margin-bottom: @s4;
                        color: @black;
                        word-wrap: break-word;
                    }

                    .m-banner__img {
                        width: 100%;
                        border: 1px solid @grey-light;
                    }
                }
            }
        }

        &__menu-right {
            @media (max-width: @screen-xs-max) {
                float: right;
                margin: 0;
            }

            > li {

                .m-mini-cart {

                    &__link {
                        padding: 0 71px 0 0;
                        text-align: right;

                        &:after {
                            font-family: @tk-icon-font;
                            font-variant: normal;
                            font-weight: 400;
                            font-size: @header-icon-height;
                            left: 0;
                            line-height: 1;
                            padding: 0;
                            content: "\e90e";
                            color: @blue-brand;
                        }

                        &:hover {

                            &:after {
                                color: @blue-link-hover;
                            }
                        }

                        @media (max-width: @screen-xs-max) {
                            padding: 0 56px 0 0;
                        }
                    }

                    &__count {
                        margin-right: @s7;

                        &:before {
                            content: "(";
                        }

                        &:after {
                            content: ")";
                        }
                    }
                }
            }
        }
    }

    &__search-panel {
        @media (max-width: @screen-xs-max) {
            background: @grey-lighter;
            width: 100%;
            height: @search-panel-height;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
            margin-top: -1px;
            position: relative;
            z-index: 10;

            .m-header__content__search {
                margin: 0;
                padding: 13px @s5;
                width: 100%;

                &__input {
                    border: 1px solid @grey-light;
                }

                .btn-link {

                    &:after {
                        color: @blue-brand;
                    }

                    &.active {

                        &:after {
                            color: @blue-dark;
                        }
                    }
                }
            }
        }

        @media (min-width: @screen-sm-min) {
            display: none;
        }
    }
}
