.m-list {

    &--inline {
        margin-bottom: 0;
        .clearfix;
        .list-unstyled;

        > li {
            display: inline-block;
            float: left;
            margin-right: @s4;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}
