@footer-link-bottom-margin: 36px;
@login-button-width: 174px;

.login-form {

    &__btn {
        float: right;
        min-width: @login-button-width;
    }

    &__link-forgot-password {
        display: block;
        margin-bottom: @footer-link-bottom-margin;
    }
}

.m-login-popup {

    &__description {
        margin-bottom: @s4;
        color: @grey-dark;
    }

    &__form {

        .login-form__link-forgot-password {
            width: auto;
            display: inline-block;
            margin-bottom: 0;
            margin-top: @s7 + @s6;
        }
    }

    &__form-separator,
    &__link {
        float: left;
        width: 100%;
    }

    &__form-separator {
        margin: @s4 0;
    }

    &__link {
        text-align: center;

        a {
            display: block;
        }
    }
}
