/* Configurations mark-up
 *************************
<div class="item__configurations">
    <div class="item__configuration--entry" style="${style}">
        <div class="row">
            <div class="item__configuration--name col-sm-4">
            </div>
            <div class="item__configuration--value col-sm-8">
            </div>
        </div>
    </div>
    <div class="item__configurations--edit">
    </div>
</div>
*/

@max-item-image-width: @product-img-96wx96h;
@bw: 1px;
@cell-padding: @s5;

.item__list {
    margin-bottom: 0;

    .list-unstyled;

    &--header {

        .list-unstyled;

        display: table;
        table-layout: fixed;
        width: 100%;

        li {
            display: table-cell;
            color: @black;
            font-weight: @font-weight-medium;
            padding: 0 @cell-padding 0 0;

            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                padding-right: 0;
            }
        }
    }

    &--options {

        .item__options {
            padding: 0 @s5;

            @media (max-width: @screen-xs-max) {
                padding: 0 @s7;
            }
        }
    }

    &--item {
        border-top: @bw solid @grey-light;
        padding: @s6 @s5 0;

        &:nth-child(4n+4) {

            + li .add-to-cart-order-form-wrap {

                &,
                &:after {
                    background-color: @table-2n-line-bg;
                }

                .order-form-scroll.down {
                    bottom: 0;
                    z-index: 9999;
                }
            }
        }

        .btn-group.open {

            .dropdown-menu {
                padding: 0;

                li {
                    margin: 0;

                    &:first-child {
                        border-bottom: 1px solid @border-color-2;
                    }
                }
            }

            a {
                padding: 18px 35px 18px 25px;
            }
        }

        .item__configurations--display {

            .btn {
                padding-left: 0;

                &:hover {
                    color: @link-hover-color;
                }
            }
        }
    }

    .item {

        &__attributes {
            width: 100%;
            padding-bottom: @s8;

            .m-item-group--horizontal {
                margin-bottom: 0;
            }
        }

        &__toggle {
            font-size: @font-size-base + 1;
            width: (@font-size-base + 1 + @grid-gutter-width/2);

            /*stylelint-disable*/
            > * {
                cursor: pointer;
            }
            /*stylelint-enable*/

            .open {

                .glyphicon {

                    .glyphicon-chevron-up();
                }
            }
        }

        &__position {
            width: (70px + (@s6 * 2));
        }

        &__image {
            width: (@max-item-image-width + @cell-padding);

            img {
                max-width: @max-item-image-width;
            }
        }

        &__info {
            width: 35%;
        }

        &__product {
            width: 263px - @cell-padding;

            + .item__quantity {
                width: 144px - @cell-padding;
            }
        }

        &__name {
            color: @black;
            font-weight: @font-weight-medium;
            display: inline-block;
        }

        &__quantity {
            width: 180px + @cell-padding;

            .input-group {
                width: 130px;
                margin-bottom: @s7;
            }

            &__remove {
                font-size: @t7-font-size;
                line-height: @t7-line-height;
                display: block;
                float: left;
            }
        }

        &__price {

            &__base-value {
                margin: 0;
            }
        }

        &__weight {

            &__total {
                margin: 0;
            }
        }

        &__delivery {

            .item__delivery--label {
                text-transform: uppercase;
                color: @text-color-secondary;
                font-weight: 700;
            }
        }

        &__menu {
            width: (@btn-icon-font-size + @s6);
            text-align: right;

            .btn {
                font-size: @btn-icon-font-size;
                background-color: transparent;
                padding: 0;
                border: 0;
                color: @btn-primary-bg;

                .glyphicon {
                    top: 4px;
                }
            }
        }

        &__code,
        &__stock {
            margin: 0;
        }

        &__options,
        &__subtotal {
            margin-left: (@max-item-image-width + @cell-padding);
        }

        &__options {
            @media (max-width: @screen-sm-max) {
                margin-left: 0;
                margin-bottom: 20px;
            }

            > hr {
                margin-top: 0;
                margin-bottom: @s8;
            }

            &__total {
                margin: 0;
            }
        }

        &__calculations {
            margin-bottom: @s5;

            > hr {
                margin-top: 0;
                margin-bottom: @s6;
            }
        }
    }

    .out-of-stock {
        color: @item-sale-color;
    }

    .read-only-grid {

        .grid-row {

            > td {
                border-bottom: 1px solid @border-color;
            }
        }

        .grid-prod-img {
            width: 100px;
            padding: 25px 40px 20px 45px;
            vertical-align: top;

            + td {
                padding-bottom: 5px;
            }
        }

        .grid-variant,
        .grid-size {
            font-weight: 700;

            + .grid-variant:before {
                content: "|";
                font-size: 15px;
                margin: 0 10px;
                width: 1px;
                color: @border-color-3;
            }
        }

        .grid-prod-info {
            display: inline-block;
            padding-top: 0;
            padding-right: @grid-gutter-width*2;
        }

        .grid-qty .grid-qty-label {
            font-size: 12px;
            text-transform: uppercase;
        }

        .grid-price {

            &:before {
                content: "|";
                font-size: 15px;
                margin: 0 10px;
                width: 1px;
                color: @border-color-3;
            }
        }
    }
}

//////////////////////////////////
//       > mobile / tablet      //
//////////////////////////////////
@media (min-width: @screen-md-min) {

    .item__list {

        > li {

            .add-to-cart-order-form-wrap {
                border-bottom: 1px solid @border-color-2;
            }
        }

        .item__list--item {
            display: table;
            table-layout: fixed;
            width: 100%;

            .item__sku__input,
            .item__toggle,
            .item__position,
            .item__image,
            .item__product,
            .item__quantity,
            .item__price,
            .item__weight,
            .item__info,
            .item__delivery,
            .item__menu,
            .item__total,
            .item__quantity__total {
                display: table-cell;
                padding: 0 @cell-padding 0 0;
                vertical-align: top;
            }

            .item__total {
                padding-right: 0;
            }

            .item__product {

                &:last-child {
                    padding-right: 0;
                }
            }
        }
    }
}

.item__list__cart {

    table td {
        padding: 0;
    }

    // entry-group starts here now

    & > table {

        tbody > .entry-group-header {

            & > th {
                background-color: @entry-group-header;
                font-size: 16px;
                font-weight: 700;
                color: @entry-group-text;
                padding-right: 35px;
            }

            a {
                color: @link-color;
            }
        }

        // entry-group sub-group starts here in 2nd table

        table {

            td {
                background-color: @entry-group-item;
            }

            tbody > .entry-group-header > th {
                color: @entry-group-text;
                font-size: 14px;
                font-weight: 400;
                padding: 10px 35px;
            }
        }
    }
    // entry-group ends here

    .item__list--comment {
        display: table;
        table-layout: fixed;
        width: 100%;

        .item__comment {

            .full-width-padding();

            textarea {
                min-height: inherit;
                resize: none;
                margin-bottom: 20px;
            }
        }

        .item__comment--role {
            margin-top: (@grid-gutter-width + 18);
        }

        .item__comment--author {
            font-weight: 700;
        }
    }

    .notification.has-error {
        padding: 0 30px;
        text-align: center;
        margin-top: 10px;
    }

    .item__configurations {
        margin: 10px 0;
    }

    .item__configuration--entry {
        @media (max-width: @screen-xs) {
            margin-bottom: 5px;
        }
    }

    .item__configurations--edit {

        .btn {
            padding-left: 0;

            &:hover {
                color: @link-hover-color;
            }
        }
    }
}
