@th-padding-for-sort-icon: 20px;
@cell-padding-right: @s6;
@sort-icon-x-pos: 7px;
@sort-double-icon-top-x-pos: 2px;
@sort-double-icon-bot-x-pos: 12px;
@btn-horizondal-padding: 15px;
@btn-sm-vertical-padding: 7px;

.m-order-history {
    margin-bottom: @s3;

    &--bottom-s6 {
        margin-bottom: @s6;
    }

    &__th {
        background-color: transparent;
        color: @black;
        font-size: @base-font-size;
        position: relative;
        text-transform: none;

        &--sort,
        &--sort-asc,
        &--sort-desc {

            &:before,
            &:after {
                color: @blue-brand;
                font-size: 12px;
                left: 0;
                line-height: 1;
                position: absolute;

                .icon-rules()
            }
        }

        &--sort {

            &:before {
                content: "\e617";
                top: @sort-double-icon-top-x-pos;
            }

            &:after {
                content: "\e613";
                top: @sort-double-icon-bot-x-pos;
            }
        }

        &--sort-asc {

            &:before {
                content: "\e617";
                top: @sort-icon-x-pos;
            }
        }

        &--sort-desc {

            &:before {
                content: "\e613";
                top: @sort-icon-x-pos;
            }
        }

        &__total {
            text-align: right;
        }
    }

    &__td {

        &__total {
            color: @black;
            text-align: right;
        }

        &--has-gray-dark-text {
            color: @grey-dark;
        }
    }

    &__th,
    &__td {
        padding-right: @cell-padding-right;
    }

    &.table {

        > thead,
        > tbody,
        > tfoot {

            .m-order-history__tr {

                &--has-details {

                    .m-order-history__td {
                        padding: @s6 @s6 @s7 0;
                    }

                    .m-order-history__td:last-child {
                        padding-right: 0;
                    }
                }
            }

            > tr {

                > th {
                    border-color: @grey-middle;
                    font-weight: @font-weight-medium;
                    padding: 0 @s7 0 0;
                    vertical-align: top;

                    &:last-child {
                        padding-right: 0;
                    }
                }

                .m-order-history__th--sort,
                .m-order-history__th--sort-asc,
                .m-order-history__th--sort-desc {
                    padding-left: @th-padding-for-sort-icon;
                    cursor: pointer;
                }

                > td {
                    padding: @s7 @s7 @s8 0;
                    border-top: none;
                    border-bottom: 1px solid @grey-light;
                    word-break: break-word;

                    &:last-child {
                        padding-right: 0;
                    }
                }
            }

            .m-order-history__tr--confirmed-orders {

                > td {
                    border-bottom: 1px solid @grey-middle;
                    padding: @s6 @cell-padding-right @s7 0;
                }

                &.m-order-history__tr--confirmed-orders--has-details {

                    td {
                        padding-bottom: @s7;
                        border-bottom-color: @white;

                        &:nth-child(3),
                        &:nth-child(4) {
                            border-bottom-color: @grey-light;
                        }
                    }
                }

                &.m-order-history__tr--confirmed-order-details {

                    td {
                        padding-top: @s7;
                        padding-bottom: @s6;
                    }

                    .m-order-history__tr__inner-table {

                        tr {

                            > th,
                            > td {
                                font-size: @t7-font-size;
                                line-height: @t7-line-height;
                                padding: 0 0 @s7 0;
                                color: @grey-dark;
                            }

                            > th {
                                font-weight: @font-weight-medium;
                                text-transform: none;
                                background: @white;

                                &:last-child {
                                    text-align: left;
                                }
                            }
                        }
                    }
                }
            }

            .m-order-history__tr--details-line-item {

                > td {
                    border-bottom: 0;
                    padding: 0;
                    line-height: @t7-line-height;

                    .m-order-history__inner-table {
                        padding-top: @s8;

                        .m-order-history__th {
                            padding: 0;
                            line-height: @t7-line-height;
                            font-size: @t7-font-size;

                            &:last-child {
                                text-align: left;
                            }
                        }

                        .m-order-history__td {
                            padding: 0;

                            .u-icon-tk {
                                line-height: @t7-line-height;
                                font-size: @t7-line-height;
                                display: block;
                            }

                            .m-download {

                                &--link.disabled .u-icon-tk {
                                    color: @grey-dark;
                                }
                            }
                        }
                    }
                }

                &--last {
                    border-bottom: 1px solid @grey-middle;

                    td {
                        padding-bottom: @s7;
                    }
                }
            }
        }

        .m-address {
            @media (max-width: @screen-sm-max) {
                width: 200px;
                white-space: normal;
            }
        }
    }

    &__icon {
        width: 22px;
    }
}

.m-order-address {

    &__title {
        color: @black;
        margin-bottom: @s7;
    }

    &__block {
        margin-bottom: @s5;
    }
}

.m-order-detail {

    &__item {

        &__total-label,
        &__total-value {
            padding: @s8 0 0;
            font-weight: @font-weight-medium;
        }
    }

    &__item-list--item {
        @media (max-width: @screen-xs-max) {
            padding: @s6 0;
        }
    }

    &__subtotal {
        padding: 0 @s5;

        &--bg {
            background: @grey-lighter;
            margin-bottom: @s7;

            @media (max-width: @screen-sm-max) {
                margin: 0 -15px;
                padding: 10px 31px;
            }
        }

        &--no-padding-left {
            padding-left: 0;
        }

        &--no-padding-y {
            padding: 0;
        }

        &--checkout {
            margin-bottom: 0;
        }

        &__amount-label,
        &__amount-value,
        &__total-amount-label,
        &__total-amount-value {
            font-weight: @font-weight-medium;
            margin-bottom: 20px;

            &__ico {
                top: 2px;
                left: @s7;
                position: relative;
            }

            &--no-margin-bottom {
                margin-bottom: 0;
            }
        }

        &__total-amount-value {
            @media (max-width: @screen-sm-max) {
                color: @blue-brand;
            }
        }

        p {
            margin-bottom: 0;
            word-wrap: break-word;
        }

        &__separator {
            margin-top: @s7;
            margin-bottom: @s6;
            border-top-color: @grey-light;

            &--short {
                margin-bottom: @s7;
                margin-top: 0;
            }

            &--thick {
                border-top-width: 2px;

                @media (max-width: @screen-sm-max) {
                    border-top-width: 1px;
                    border-top-color: @black;
                    margin: 20px 0;
                }
            }

            &--last {
                margin-bottom: @s6;
                margin-top: 0;

                @media (max-width: @screen-xs-max) {
                    border-top-color: @black;
                    margin: 0 -15px 20px;
                }
            }

            &--checkout {
                margin-bottom: @s6;
                margin-top: @s7;
            }
        }
    }

    &--items-section {

        .m-order-detail__item-list {
            margin: 0;
        }
    }

    &--totals-section {
        margin-bottom: @s4;
        padding: 0 @s5;
    }
}

.m-order-confirmation {
    margin-bottom: @s3;

    &__message {
        margin-bottom: @s4;
    }
}

.m-order-form {
    margin-bottom: @s6;

    &__title {
        margin-bottom: @s6;
    }

    &__input {

        &.form-control {
            font-size: @t6-font-size;
            line-height: @t6-line-height;
        }
    }

    .input-group-sm {

        > .input-group-btn {

            > .btn {
                margin-left: @s5;
                font-size: @t6-font-size;
                height: auto;
                line-height: @btn-sm-line-height;
                padding: @btn-sm-vertical-padding @btn-horizondal-padding;
            }
        }
    }

    &__description {
        color: @grey-dark;
    }
}

.m-order-ack {
    border-bottom: 1px solid @grey-light;
    margin-bottom: @s4;

    &__separator {
        margin-top: @s7;
        margin-bottom: @s5;

        &--thick {
            border-bottom: 1px solid @grey-middle;
        }
    }

    &__popup-form {

        &__content {
            margin-bottom: @s2;

            p {
                margin-bottom: 0;
            }
        }

        &__action {
            display: table;
            width: 100%;

            a,
            button {
                display: table-cell;
            }

            a {
                vertical-align: bottom;
            }
        }
    }
}
