@property-list-width: 400px;

// Property List
//
// Property list styles.
//
// Markup:
// <dl class="m-property-list">
//     <dt>Main Material:</dt>
//     <dd>Steel</dd>
//     <dt>Shape:</dt>
//     <dd>U Profile</dd>
//     <dt>Alloy:</dt>
//     <dd>V2A Steel</dd>
// </dl>
//
// Styleguide 3.4.4

.m-property-list {
    width: 400px;
    border-top: 1px solid @grey-light;

    dt,
    dd {
        float: left;
        border-bottom: 1px solid @grey-light;
        padding: @s6 0 @s7;
        width: @property-list-width / 2;
    }

    dt {
        clear: left;
        color: @grey-dark;
        font-weight: @font-weight-normal;
    }

    dd {
        color: @black;
        padding-left: 30px;
    }
}
