@address-block-min-height: 250px;

.m-page-section {
    margin-bottom: @s4;

    &--no-title {
        border-top: 1px solid @grey-middle;
        padding-top: @s5;
    }

    &--no-bottom-border {
        border-bottom: none;
    }

    &--no-bottom-margin {
        margin-bottom: 0;
    }

    &--no-margin {
        margin: 0;
    }

    &--has-address-blocks {
        margin-bottom: (@s2 - @s3);

        &:last-child {
            margin-bottom: 0;

            .col-md-4:nth-last-child(-n+3) {

                .m-block {
                    margin-bottom: 0;
                }
            }
        }
    }

    &__title {
        background: @grey-lighter;
        border-bottom: 1px solid @grey-light;
        padding: 7px 16px 0;
        margin-bottom: 7px;

        &--no-bottom-border {
            padding-bottom: 0;
            border-bottom: none;
        }

        &--bottom-s6 {
            margin-bottom: @s6;
        }

        &__action {
            float: right;
            font-size: @t7-font-size;
            line-height: @t7-line-height;
            margin-top: @s7;
        }
    }

    &__content {
        padding: 0 @s5;
    }

    &--has-margin-bottom {
        margin-bottom: @s1;
        word-wrap: break-word;
    }
}

.m-block {
    // margin-bottom: @s3;
    // padding: @s5 0;

    &--no-border {
        border: none;
        padding: 0;
    }

    .m-block__content {

        small {
            display: block;
        }
    }

    &&--card {
        border: 1px solid @grey-lighter;
        position: relative;
        min-height: @address-block-min-height;

        .m-block__content {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &--has-bottom-links {
        padding-bottom: @s7 + @t7-line-height + @t7-line-height;
        overflow: hidden;
        position: relative;

        .m-block__bottom-links {
            margin-bottom: @s7;
            width: 100%;
            display: table;

            &__left,
            &__right {
                display: table-cell;
                vertical-align: bottom;
                width: 50%;
            }

            &__right {
                text-align: right;
            }

            div {

                input[type="submit"],
                a {
                    word-wrap: break-word;
                    padding: 0;
                    border: 0;
                    font-size: @t7-font-size;
                    line-height: @t7-line-height;
                    display: block;
                }
            }
        }

        .m-block__content {
            margin-bottom: @s5;
        }
    }
}
