.m-register {

    &__content {
        margin-bottom: @s4;
    }

    &__form {

        &__fields {
            margin-bottom: @s3;

            ul {
                margin-bottom: @s4;
                margin-left: 0;
            }

            .register-options {

                li {
                    padding: 0;
                    margin-right: 30px;
                }

                label {
                    font-weight: @font-weight-normal;
                    margin-bottom: 0;
                }
            }

            .no-margin-bottom {

                .form-group {
                    margin-bottom: 0;
                }
            }
        }

        &__accept-terms {
            margin-bottom: @s3;

            &__input,
            &__text {
                display: inline-block;
                float: none;
            }

            &__text {
                font-weight: @font-weight-normal;
                margin-bottom: 0;
                vertical-align: top;
            }
        }
    }
}

.m-register-block {

    &__title {
        margin-bottom: @s7;
    }

    li {
        padding-left: 15px;
    }
}
