@sidebar-heading-height: 64px;
@sidebar-heading-icon-height: 42px;
@sidebar-listing-row-height: 40px;
@sidebar-width: 298px;
@sidebar-width-xs: 325px;

.m-sidebar {
    height: 100%;
    width: @sidebar-width;
    position: absolute;
    z-index: 99;
    top: 141px;
    padding-bottom: 141px;
    left: -@sidebar-width;
    background-color: @white;
    overflow-x: hidden;
    transition: 0.3s;

    &.in {
        left: 0;
    }

    &.out {
        left: -@sidebar-width;

        @media (max-width: @screen-xs-max) {
            left: -@sidebar-width-xs;
        }
    }

    @media (max-width: @screen-xs-max) {
        top: 128px;
        width: @sidebar-width-xs;
        left: -@sidebar-width-xs;
        background-color: @blue-brand;

        &__heading,
        &__links {
            background: @white;
        }
    }

    &__heading {
        padding: 0 @s5;
        border-bottom: 1px solid @grey-light;
        height: @sidebar-heading-height;

        &__label {
            font-size: @nsfs26;
            color: @blue-brand;
            line-height: @sidebar-heading-height;
            padding-left: @sidebar-heading-icon-height + @s6;

            &:before {
                font-family: @tk-icon-font;
                font-variant: normal;
                font-weight: 400;
                font-size: @sidebar-heading-icon-height;
                line-height: @sidebar-listing-row-height;
                position: absolute;
                left: @s5;
                top: 10px;
                content: "\E61F";
            }
        }

        &__close {
            font-size: @nsfs18;
            float: right;

            .u-icon-tk {
                color: @label-grey-light;
                line-height: @sidebar-heading-height;
            }
        }
    }

    &__links {

        .collapsing {
            .transition-duration(.1s);
        }

        &__item {

            span {
                padding: 0 @s5;
                display: block;

                a {
                    position: relative;
                    line-height: @sidebar-listing-row-height;
                    border-bottom: 1px solid @grey-light;
                    display: block;
                }
            }

            &:last-child {

                > span > a {
                    @media (max-width: @screen-xs-max) {
                        border-bottom: none;
                    }
                }
            }

            &--has-child {

                > span > a {

                    &:after {
                        font-family: @tk-icon-font;
                        font-variant: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: @sidebar-listing-row-height;
                        position: absolute;
                        right: 0;
                        content: "\E613";
                    }
                }

                > .collapsed > a {

                    &:after {
                        content: "\E61A";
                    }
                }
            }

            &--first-level {

                > span {
                    padding: 0 @s5;

                    a {
                        font-size: @nsfs19;
                        color: @blue-dark;
                        border-bottom: none;
                    }
                }

                > .collapsed {

                    > a {
                        color: @blue-brand;
                        border-bottom: 1px solid @grey-light;
                    }
                }
            }

            &--second-level {
                background: @grey-lighter;

                > span {
                    padding-left: (@s5 + @s5);

                    > a {
                        font-size: @t6-font-size;
                        padding: 0;
                        color: @blue-dark;
                        font-weight: @font-weight-bold;

                        &:focus {
                            text-decoration: none;
                        }
                    }

                    + .collapse.in {

                        &:after {
                            content: "";
                            border-bottom: 1px solid @grey-light;
                            display: block;
                            margin-left: (@s5 + @s5);
                            margin-right: @s5;
                        }
                    }
                }

                .collapsed {

                    > a {
                        font-weight: @font-weight-normal;

                        &:focus {
                            text-decoration: underline;
                        }
                    }
                }

                &:last-child {

                    > .collapsed {

                        > a {
                            border-bottom: none;
                        }
                    }

                    > span {

                        + .collapse.in {

                            &:after {
                                border-bottom: none;
                                display: none;
                            }
                        }
                    }
                }
            }

            &--third-level {

                a {
                    padding-left: (@s5 + @s5 + @s5 + @t8-font-size + @s6);
                    border-bottom: none;
                    position: relative;
                    line-height: @sidebar-listing-row-height;
                    display: block;
                    color: @blue-dark;

                    &:before {
                        font-family: @tk-icon-font;
                        font-variant: normal;
                        font-weight: 400;
                        font-size: @t8-font-size;
                        line-height: @sidebar-listing-row-height;
                        position: absolute;
                        left: (@s5 + @s5 + @s5);
                        content: "\E61A";
                    }
                }
            }
        }
    }

    &__bottom {
        margin-top: @s5;
        padding: 0 @s5;

        > .li a,
        > .li span {
            color: @white;
            margin-bottom: @s5;
            display: block;
        }

        > .li span {
            font-weight: @font-weight-bold;
        }
    }
}
