.payment_content {
    margin: 25px;
    line-height: 22px;
}

.payment_subheading {
    margin: 25px;
}

.payment_bill_subheading {
    margin: 15px 25px;
}

.account-section {
    .account-list {
        .account-cards.card-select {
            border: none;
        }

        .account-cards {
            border: none;
            padding: 10px;
        }

        ul {
            li {
                text-overflow: inherit;
                overflow: inherit;
            }
        }
    }

    .account-list.account-addressbook {
        ul {
            margin-bottom: 0;
        }
    }
}

.payment_card {
    padding: 0 25px;
    margin-bottom: 10px;
    float: left;
}

.payment_row {
    margin: 10px;
}

.payment_bill_row {
    margin: 10px;
    background-color: @account-bg;
}

.password-rules {
    position: absolute;
    width: 100%;
    background: @grey-light;
    padding: @s6;
    margin-top: 31px;

    &--wrapper {
        position: relative;
    }

    &__list {
        padding-left: 0;
        margin-bottom: 0;

        &__item {
            position: relative;
            list-style-type: none;
            font-style: italic;
            font-size: @t9-font-size;
            line-height: @t9-line-height;
            padding-left: @t9-line-height;

            &--text {
                margin-top: @t9-line-height;
            }

            &:before {
                position: absolute;
                top: 1px;
                left: 0px;
                display: inline-block;
                font-family: 'Glyphicons Halflings';
                font-style: normal;
                font-weight: normal;
                line-height: 1;
                width: @t9-line-height;
                height: @t9-line-height;
            }

            &--pass {

                &:before {
                    content: "\e013";
                    color: @green;
                }
            }

            &--fail {

                &:before {
                    content: "\e014";
                    color: @red;
                }
            }
        }
    }
}
