.hide-breadcrumb {
  .breadcrumb-section {
    display: none;
  }
}

.show-breadcrumb {
  .navigation__overflow {
    display: none;
  }

  nav.navigation.navigation--bottom.js_navigation--bottom.js-enquire-offcanvas-navigation {
    display: none;
  }
}
