.export__cart--link {
  width: auto;
}

.mini-cart {
  .mini-cart-body {
    .mini-cart-totals {
      border: 1px solid @border-color-2;
      border-width: 1px 0;
      padding: 10px;

      .key {
        float: left;
      }

      .value {
        text-align: right;
      }
    }

    .mini-cart-delivery {
      border: 1px solid @border-color-2;
      border-width: 1px 0;
      padding: 10px;
      margin-top: 10px;
      border-bottom: none;

      .key {
        float: left;
      }

      .value {
        text-align: right;
      }
    }
  }
}
