.item__list {

    .item__list--item {

        &:last-child {
            padding-right: 0;
        }
    }

    .item__list--header {

        li {
            color: @checkout-list-head-color;
        }
    }
}

@media (min-width: 1024px) {

    .item__list {

        .item__list--item {

            .item-variants {
                display: table-cell;
                padding: 0 10px;
                vertical-align: middle;
                word-wrap: break-word;
            }

            .item__description {
                display: table-cell;
                padding: 0 10px;
                vertical-align: middle;
                word-wrap: break-word;
            }

            .item__delivery {
                display: table-cell;
                padding: 0 10px;
                vertical-align: middle;
                word-wrap: break-word;
            }

            .item__total {
                display: table-cell;
                padding: 0 10px;
                vertical-align: middle;
                word-wrap: break-word;
            }

            .item__remove {
                display: table-cell;
                padding: 0 10px;
                vertical-align: middle;
                word-wrap: break-word;
            }

            .item__menu {
                display: table-cell;
                padding: 0 10px;
                vertical-align: middle;
                word-wrap: break-word;
            }

            .item__quantity__total {
                display: table-cell;
                padding: 0 10px;
                vertical-align: middle;
                word-wrap: break-word;
            }

            .item__wishdeliverydate {
                display: table-cell;
                padding: 0 10px;
                vertical-align: middle;
                word-wrap: break-word;

                .form-group {
                    margin-bottom: 0;
                }
            }
        }
    }
}

.item__wishdeliverydate {

    .has-feedback {

        .form-control {
            padding-right: 20px;
            padding-left: 5px;
            background: @checkout-list-head-color;
            color: @text-color;
        }
    }

    .input-sm {

        & + .form-control-feedback {
            width: 30px;
            z-index: 0;
        }
    }
}
