.fa.fa-facebook {
  padding: 20px 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa.fa-twitter {
  padding: 20px 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa.fa-linkedin {
  padding: 20px 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa.fa-youtube {
  padding: 20px 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa.fa-google {
  padding: 20px 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa {
  &:hover {
    opacity: 0.7;
  }
}

.fa-facebook {
  background: @footer-facebook;
  color: @footer-text-color;
}

.fa-twitter {
  background: @footer-twitter;
  color: @footer-text-color;
}

.fa-google {
  background: @footer-google;
  color: @footer-text-color;
}

.fa-linkedin {
  background: @footer-linkedin;
  color: @footer-text-color;
}

.fa-youtube {
  background: @footer-youtube;
  color: @footer-text-color;
}
