.well.well-tertiary .item-label {
  color: @text-color-2;
}

.l-product-comparison {
    padding: 0 30px;

    &__header {
        color: #3C3C3C;
        font-size: 36px;
        line-height: 35px;
        font-weight: 700;
        padding: 20px 0;
        text-transform: capitalize;
        border-bottom: 1px solid #CCC;
    }

    &__attributes {
        padding: 10px 15px;
        margin-top: 15px;
    }

    &__product {
        border-right: 1px solid #F0F0F0;
        padding: 10px 15px;

        &__head {
            min-height: 300px;
        }

        &__attribute,
        &__property {
            padding: 10px 0;
            border-bottom: 1px solid #F0F0F0;
        }

        &__link {
            display:block;

            img {
                margin-bottom: 20px;
                width: 96px;
                height: 96px;
            }
        }
    }

    .owl-item {

        .item {

            a {
                color: @link-color;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        &:last-child {

            .item-inner {
                border-right: none;
            }
        }
    }
}

.banner {

    + .video__component {

        &--has-text {
            margin: @s4 0 @s2;
        }
    }
}
