.navigation--middle {
  .nav__right {
    .site-search {
      z-index: 2;
      width: 35%;
      display: inline-block;

      .ui-front {
        padding: 10px 0;
        position: relative;

        form {
          display: inline-block;
        }
      }

      .glyphicon-search {
        color: @text-color;
        font-size: 17px;
      }

      .input-group {
        background-color: @nav-search-bg;
        min-height: 38px;
        border: 1px solid @border-color-3;

        .form-control {
          border: 0;
          box-shadow: none;
          height: 38px;
        }

        .btn {
          width: 40px;
          padding: 0;

          &:hover {
            background-color: transparent;
          }
        }
      }

      ul.ui-autocomplete {
        display: none;
        position: absolute;
        background: @nav-autocomplete-bg;
        left: 0;
        right: 0;
        -webkit-box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
        z-index: 100;
        width: 400px !important;
        padding-left: 0;
        padding-top: 0;
        list-style: none;
        margin: 0;

        li {
          border-top: 1px solid @border-color-2;
          display: block;
          width: 100%;
          padding: 10px;

          a {
            display: table;
            width: 100%;
            color: inherit;
            text-decoration: none;
          }

          .thumb {
            display: table-cell;
            vertical-align: middle;
            padding: 0 10px 0 0;

            & + .name {
              padding: 0 10px;
            }
          }

          .name {
            display: table-cell;
            padding: 10px;
            vertical-align: middle;
            width: 100%;
          }

          .price {
            display: table-cell;
            vertical-align: middle;
            padding: 0 10px;
          }
        }

        li.ui-state-focus {
          border-left: none;
          border-right: none;
          border-bottom: none;
          margin: 0;
          background: @nav-autocomplete-hover;
          color: @text-color;
        }
      }

      ul.ui-autocomplete.active {
        display: block;
      }
    }

    height: 60px;

    ul.nav__links--shop_info {
      display: inline-block;
    }
  }

  .nav__left {
    .quick-order {
      a {
        color: @nav-quick-order;
        font-size: 20px;
        text-align: center;
      }

      padding-top: 10px;
      text-decoration: underline;
    }

    .label-shop-metal {
      color: @nav-quick-order;
      font-size: 20px;
      text-align: center;
      padding: 12px 10px;
    }
  }
}

.navigation--bottom {
  .nav__links--products {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 640px) and (max-width: 1023px) {
  .navigation--middle {
    .nav__right {
      .site-search {
        margin-left: -10px;
      }
    }
  }
}

@media (max-width: 1024px) {
  .navigation--middle {
    .nav__right {
      .site-search {
        padding-left: 0;
      }
    }
  }
}

@media (max-width: 639px) {
  .navigation--middle {
    .nav__right {
      .site-search {
        display: none !important;
        left: 0;
        position: absolute;
        width: 100%;
        padding: 0 10px;
        border-top: 1px solid @border-color;

        ul.ui-autocomplete {
          width: 100% !important;
        }
      }

      .site-search.active {
        display: block !important;
      }
    }
  }

  .navigation--bottom {
    top: 0;
  }
}

@media (min-width: 1024px) {
  .navigation--middle {
    .nav__right {
      .site-search {
        .input-group {
          max-width: 445px;
          width: 100%;
        }
      }
    }
  }

  .navigation--bottom {
    .nav__links--primary {
      .sub-navigation-section {
        padding: 10px 0;
      }
    }
  }
}

@media (max-width: 640px) {
  .navigation--middle {
    .nav__right {
      height: 0;
    }
  }
}

@media (max-width: 1023px) {
  .navigation--bottom {
    .nav__links--primary-has__sub {
      .nav__link {
        float: left;
      }
    }
  }
}

.navigation--middle {
  .nav__left {
    .site-search {
      display: none;

      .ui-front {
        display: none;
      }

      .glyphicon-search {
        display: none;
      }

      .input-group {
        display: none;

        .form-control {
          display: none;
        }

        .btn {
          display: none;

          &:hover {
            display: none;
          }
        }
      }

      ul.ui-autocomplete {
        display: none;

        li {
          display: none;

          a {
            display: none;
          }

          .thumb {
            display: none;

            & + .name {
              display: none;
            }
          }

          .name {
            display: none;
          }

          .price {
            display: none;
          }
        }

        li.ui-state-focus {
          display: none;
        }
      }

      ul.ui-autocomplete.active {
        display: none;
      }
    }
  }
}

@media (min-width: 640px) and (max-width: 1023px) {
  .navigation--middle {
    .nav__left {
      .site-search {
        display: none;
      }
    }
  }
}

@media (max-width: 1024px) {
  .navigation--middle {
    .nav__left {
      .site-search {
        display: none;
      }
    }
  }
}

@media (max-width: 639px) {
  .navigation--middle {
    .nav__left {
      .site-search {
        display: none;
      }

      .site-search.active {
        display: none;
      }
    }
  }
}

@media (min-width: 1024px) {
  .navigation--middle {
    .nav__left {
      .site-search {
        .input-group {
          display: none;
        }
      }
    }
  }
}

.navigation.navigation--top {
  padding-left: 30px;
  padding-right: 30px;
  height: 170px;
}

.navigation--top {
  .nav__right {
    .nav__links--account {
      li.logged_in {
        padding: 12px;
        font-size: 14px;
        height: 40px;
      }

      li {
        a,
        div {
          color: @nav-cat-link-color;
          font-weight: 500;
          font-size: 14px;
          line-height: 20px;
        }
      }
    }
  }

  .nav-cart {
    border: 1px solid @nav-cat-border-2;
  }
}

@media (min-width: 1024px) {
  .navigation--middle {
    .nav__left {
      padding-right: 0;
    }
  }
}

@media (min-width: 1024px) {
  .navigation--bottom {
    .nav__links--primary {
      .sub-navigation-section {
        .sub-navigation-list {
          padding-left: 0;
          list-style: none;
          margin-top: 0;

          a {
            display: inline-block;
            color: @text-color;
            line-height: 30px;
            padding: 0 0 0 5px;
          }

          li {
            div.title {
              padding: 0 10px;

              &:hover {
                background-color: @border-color-2;
                text-decoration: none;
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }
}

.caret-right {
  border-bottom: 4px solid transparent;
  border-top: 4px solid transparent;
  border-left: 4px solid;
  display: inline-block;
  height: 0;
  opacity: 0.3;
  margin-left: 10px;
  vertical-align: middle;
  width: 0;
}

ul.sub-navigation-list {
  > li.nav__link--secondary {
    > div.sub-navigation-section {
      display: none;
      position: absolute;
      left: 100%;
      top: -10px;
      background: @nav-cat-link-color;
      -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    }
  }
}

span.js_nav__link_secondary--drill__down {
  z-index: 9;
}

.dropdown-submenu {
  position: relative;

  > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px;
  }

  &:hover {
    > .dropdown-menu {
      display: block;
    }

    > a {
      &::after {
        border-left-color: @nav-cat-link-color;
      }
    }
  }

  > a {
    &::after {
      display: block;
      content: " ";
      float: right;
      width: 0;
      height: 0;
      border-color: transparent;
      border-style: solid;
      border-width: 5px 0 5px 5px;
      border-left-color: @border-color-3;
      margin-top: 5px;
      margin-right: -10px;
    }
  }
}

.dropdown-submenu.pull-left {
  float: none;

  > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
  }
}

@media (max-width: 1023px) {
  .navigation--bottom {
    .nav__links--primary {
      .sub-navigation-section {
        .sub-navigation-list {
          li {
            position: static;
          }

          li.active {
            > span.js_nav__link_secondary--drill__down {
              z-index: 0;
            }
          }
        }
      }
    }

    .navigation__overflow {
      overflow-y: hidden;
    }
  }

  ul.sub-navigation-list {
    > li.nav__link--secondary.active {
      > div.sub-navigation-section {
        display: block;
        top: 0;
        width: 100%;
        height: 600px;
        left: 0;
        overflow-y: hidden;
      }
    }
  }
}

@media (min-width: 1024px) {
  ul.sub-navigation-list {
    > li.nav__link--secondary {
      &:hover {
        > div.sub-navigation-section {
          display: block;
        }
      }
    }
  }
}
