.product__listing {
  padding-left: 0;
  list-style: none;

  .product__listing--description {
    margin: 0 210px 0 106px;
  }
}

.category__listing {
  padding-left: 0;
  list-style: none;

  .category__listing--description {
    margin: 0 210px 0 106px;
  }
}

.product__listing.product__list {
  .product__list--item {
    padding: 20px 30px;
    border-top: 1px solid @border-color;

    &:nth-of-type(2n) {
      background-color: @product-list-bg;
    }
  }

  .product__list--thumb {
    float: left;
    margin-right: 10px;
    display: block;
  }
}

.category__listing.category__list {
  .category__list--item {
    padding: 20px 30px;
    border-top: 1px solid @border-color;
    height: 130px;

    &:nth-of-type(2n) {
      background-color: @product-list-bg;
    }
  }

  .category__list--thumb {
    float: left;
    margin-right: 10px;
    display: block;

    img {
      max-width: 120px;
    }
  }
}

.category__listing.category__grid {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  .category-item {
    float: left;
    width: 50%;
    position: relative;
    min-height: 1px;
    padding: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 0;
    border-right: 0;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .thumb {
    display: block;
    margin-bottom: 10px;
    text-align: center;
    height: 180px;
    overflow: hidden;

    img {
      width: 100%;
      height: auto;
      max-width: 140px;
    }
  }

  .details {
    text-align: center;
    margin: 0 auto;
    -webkit-flex: 1 0 auto;
    -moz-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;

    .name {
      margin: 0;
      font-weight: 600;
      font-size: 16px;
      padding-bottom: 10px;
      height: 70px;
      overflow: hidden;
      color: @text-color;
    }
  }
}

.product__listing.product__grid {
  .product-item {
    float: left;
    width: 50%;
    position: relative;
    min-height: 1px;
    padding: 20px;
    padding-left: 10px;
    padding-right: 10px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .thumb {
    display: block;
    margin-bottom: 10px;
    text-align: center;
    height: 180px;
    overflow: hidden;

    img {
      width: 100%;
      height: auto;
      max-width: 140px;
    }
  }

  .details {
    text-align: center;
    margin: 0 auto;
    -webkit-flex: 1 0 auto;
    -moz-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;

    .name {
      margin: 0;
      font-weight: 600;
      font-size: 16px;
      padding-bottom: 10px;
      height: 70px;
      overflow: hidden;
      color: @text-color;
    }

    .price {
      font-size: 18px;
    }
  }
}

@media (max-width: 639px) {
  .product__listing {
    .product__listing--description {
      display: none !important;
    }
  }

  .category__listing {
    .category__listing--description {
      display: none !important;
    }
  }

  .product__listing.product__grid {
    .product-item {
      &:nth-child(2n&+1) {
        clear: both;
      }
    }
  }

  .category__listing.category__grid {
    .category-item {
      &:nth-child(2n&+1) {
        clear: both;
      }
    }
  }
}

@media (max-width: 1024px) {
  .product__listing.product__list {
    .product__list--item {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  .category__listing.category__list {
    .category__list--item {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}

@media (min-width: 640px) {
  .product__listing.product__grid {
    .product-item {
      float: left;
      width: 25%;

      &:nth-child(4n&+1) {
        clear: both;
      }
    }
  }

  .category__listing.category__grid {
    .category-item {
      float: left;
      width: 25%;

      &:nth-child(4n&+1) {
        clear: both;
      }
    }
  }
}

@media (min-width: 1024px) {
  .product__listing.product__grid {
    .product-item {
      float: left;
      width: 25%;
    }
  }

  .category__listing.category__grid {
    .category-item {
      float: left;
      width: 25%;
    }
  }
}

@media (min-width: 1400px) {
  .product__listing.product__grid {
    .product-item {
      float: left;
      width: 25%;
    }
  }

  .category__listing.category__grid {
    .category-item {
      float: left;
      width: 25%;
    }
  }
}

@media (min-width: 1024px) {
  .item__list {
    .item__description {
      width: 25%;
      padding: 0 10px;
    }

    .item__price {
      width: 10%;
      padding: 0 10px;
    }

    .item-variants {
      width: 13%;
    }
  }
}

@media (max-width: 1024px) {
  .item__list {
    .item__list--item {
      display: table;
      table-layout: fixed;
      width: 100%;
    }
  }
}

.item__list {
  .item__list--item {
    .item__total {
      padding-right: 30px;
    }
  }
}

#AddToCartOrderForm {
  .item__list {
    .item__quantity {
      text-align: left;
    }
  }
}

.item__list--item {
  .item-variants {
    .form-control-label {
      word-wrap: break-word;
    }
  }
}

@media (max-width: 1023px) and (min-width: 640px) {
  .item__list {
    .item__total {
      .visible-sm {
        display: block !important;
        float: left;
        padding-top: 10px;
        padding-right: 10px;
      }

      .item__total-value {
        float: left;
        padding-top: 10px;
      }
    }

    .item__quantity {
      .visible-sm {
        display: block !important;
        float: left;
        padding-top: 10px;
        padding-right: 10px;
      }
    }
  }
}

@media (max-width: 639px) {
  .item__list {
    .item__total {
      .visible-sm {
        float: left;
        padding-top: 11px;
        padding-left: 3px;
      }

      .item__total-value {
        float: left;
        padding-top: 10px;
        padding-left: 10px;
      }
    }

    .item__quantity {
      .visible-sm {
        display: block !important;
        float: left;
        padding-top: 10px;
        padding-right: 10px;
      }
    }
  }
}


.image-gallery {

    .image-gallery__image,
    .gallery-carousel {

        &.owl-carousel {

            .owl-controls {

                .owl-buttons {

                    .owl-prev {

                        @media (min-width: 640px) {
                            left: 40px;
                        }

                         &:before {
                            content: "";
                        }
                    }

                    .owl-next {

                        @media (min-width: 640px) {
                            right: 40px;
                        }

                        &:before {
                            content: "";
                        }
                    }
                }
            }
        }
    }
}

.product_add_to_compare_widget {
    padding-left: 20px;
}

.product-documents-downloads {

    .media-download {

        .item {
            padding: 10px 0;
            border-bottom: 1px solid #E5E5E5;

            .thumbnail {
                width: 40px;
                margin-right: 10px;
                margin-bottom: 0;
                display: inline-block;
            }
        }
    }
}