.wishlist-section {
  padding: 10px 30px;

  #wishListDescription {
    min-height: auto;
  }
}

.account-section {
  .account-section-content {
    .wishlist-section {
      form {
        padding: 0;
      }

      .table {
        td {
          &:last-child {
            text-align: left;
          }
        }

        th {
          &:last-child {
            text-align: left;
          }
        }
      }

      .responsive-table {
        td {
          &:first-child {
            text-align: center;
          }
        }

        th {
          &:first-child {
            text-align: center;
          }
        }
      }
    }
  }
}

.wishlist-form-section {
  .text-heading {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
  }
}

.category__grid {
  .category-item {
    float: left;
    width: 25%;
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
    padding-top: 10px;
  }
}

.category__listing.category__grid {
  .thumb {
    height: 150px;
  }
}

.addtocart-component {
  .AddToCart-ShareOnSocialNetworkAction {
    width: 50%;
    float: right;
    margin-top: 8px;
    text-align: center;

    div.a2a_kit {
      a.a2a_dd.share {
        background: none;
        padding-left: 0;
        float: none;
      }
    }
  }
}

.product-main-info {
  .yCmsContentSlot {
    &:nth-child(3) {
      width: 50%;
      float: right;
      text-align: center;
    }
  }
}

.btn-text {
  border: none;
  color: @btn-primary-bg;
  background: @btn-primary-color;

  &.disabled,
  &:disabled{
    color: @border-color-3;
    background: @meta-nav-color-open;
  }

  p {
    display: inline-block;
    vertical-align: middle;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
  }
}

.btn.btn-text.glyphicon {
  padding: 5px;

  &::before {
    display: inline-block;
    margin-right: 10px;
  }
}

table.wish_list_entry {
  th {
    &:last-child {
      text-align: left;
    }
  }
}

table.wishlist-table {
  tr {
    td {
      &:nth-child(2) {
        width: 30%;
      }

      word-wrap: break-word;
      word-break: break-all;
      white-space: normal;

      &:first-child {
        word-wrap: normal;
        word-break: normal;
        white-space: normal;
      }
    }
  }
}

.wishlist_description {
  padding-top: 13px;
  margin-top: 10px;
  line-height: 22px;
  padding-left: 30px;
  padding-right: 30px;
}

.wish_list_entry {
  margin-top: 10px;

  .item__remove {
    text-align: left;
  }

  .item__info {
    padding: 10px;
  }

  .item__image {
    padding: 10px;

    a {
      padding-left: 20px;
    }
  }
}

.wishlist__actions {
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 10px;
}

@media (min-width: 1024px) {
  .item__list {
    .item__quantity {
      width: 10%;
    }

    .item-variants {
      width: 13%;
    }

    .item__total {
      width: 10%;
    }

    .item__toggle {
      width: 1%;
    }

    .item__image {
      width: 136px;
    }
  }
}

@media (max-width: 1023px) {
  .product-main-info {
    .yCmsContentSlot {
      &:nth-child(3) {
        width: 100%;
        float: none;
        text-align: center;
      }
    }
  }

  .addtocart-component {
    .AddToCart-ShareOnSocialNetworkAction {
      width: 100%;
      float: none;
      text-align: center;
    }
  }
}
