<%@ tag body-content="empty" trimDirectiveWhitespaces="true"%>
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core"%>
<%@ taglib prefix="spring" uri="http://www.springframework.org/tags"%>
<%@ taglib prefix="fn" uri="http://java.sun.com/jsp/jstl/functions"%>
<%@ taglib prefix="fmt" uri="http://java.sun.com/jsp/jstl/fmt"%>
<%@ attribute name="showLinks" required="false" type="java.lang.Boolean" %>
<%@ attribute name="starsClass" required="false" type="java.lang.String" %>

<spring:htmlEscape defaultHtmlEscape="true"/>

<%@ attribute name="product" required="true"
    type="de.hybris.platform.commercefacades.product.data.ProductData"%>

<div class="rating" data-qa-id="pdp-review-section">
    <div class="rating-stars pull-left js-ratingCalc ${starsClass}" data-rating='{"rating":"${product.averageRating}","total":5}' >
        <div class="greyStars">
            <c:forEach  begin="1" end="5">
                <span class="glyphicon glyphicon-star"></span>
            </c:forEach>
        </div>
        <div class="greenStars js-greenStars" data-qa-id="pdp-item-rating">
            <c:forEach  begin="1" end="5">
                <span class="glyphicon glyphicon-star active"></span>
            </c:forEach>
        </div>
    </div>

    <c:if test="${not empty product.reviews}">
        <spring:theme code="review.based.on"
            arguments="${fn:length(product.reviews)}" />
    </c:if>

    <c:choose>
        <c:when test="${showLinks}" >
            <c:if test="${not empty product.reviews}">
                <a href="#tabreview" data-qa-id="pdp-show-review" class="js-openTab"><spring:theme code="review.see.reviews" /></a>
            </c:if>
            <a href="#tabreview" class="js-writeReviewTab" data-qa-id="pdp-write-review"><spring:theme code="review.write.title" /></a>
        </c:when>
        <c:otherwise>
            <spring:theme code="review.reviews" />
        </c:otherwise>
    </c:choose>

</div>
