@screenXs:320px;
@screenSm:646px;
@screenMd:971px;
@screenLg:1170px;

@screenXsMin:320px;
@screenSmMin:646px;
@screenMdMin:971px;
@screenLgMin:1170px;

@screenXsMax:645px;
@screenSmMax:970px;
@screenMdMax:1169px;

