// Alerts
//
// Alerts. All derived from Bootstrap 3.3.7.
//
// .alert-default - A default alert.
// .alert-success - Alert with a success state applied.
// .alert-info - Alert with an info state applied.
// .alert-warning - Alert with a warning state applied.
// .alert-danger - Alert with a danger state applied.
//
// Markup:
// <div class="alert {{modifier_class}}"><button class="close" aria-hidden="true" data-dismiss="alert" type="button"><span class="u-icon-tk u-icon-tk--close-single"></span></button><strong>Alert!</strong> This is an alert message.</div>
//
// Styleguide 17

.alert {

    &.alert-default,
    &.alert-success,
    &.alert-danger {
        color: @white;
    }

    &.alert-default {
        background-color: @blue-brand;
    }

    &.alert-info {
        color: @blue-brand;
    }

    &.alert-warning {
        color: @grey-dark;
    }

    .close {
        color: inherit;
        font-size: @close-button-icon-size;
        opacity: 1;
        margin-top: (@base-line-height - @close-button-icon-size)/2;

        .u-icon-tk {
            color: inherit;
        }
    }
}
