.cursor-disabled() {
    cursor: not-allowed;
}

.bs-select-hidden,
.selectpicker {
    display: none;
}

.bootstrap-select {
    width: 220px \0; /* IE9 and below */

    .dropdown-menu {
        max-width: 0;
        padding: (@s5/2) @s5;

        .text {
            display: block;
        }
    }

    .btn {

        .filter-option {
            padding-right: 15px;
            text-overflow: ellipsis;
        }
    }

    .btn-default {
        background-color: @white;
        color: @blue-brand;
        border: 1px solid @grey-light;

        &.dropdown-toggle {

            &.active,
            &:focus,
            &:active,
            &:hover {
                color: @blue-brand;
                background-color: @grey-lighter;
                border-color: @grey-light;
            }
        }
    }

    &.open {

        .btn-default {

            &.dropdown-toggle {
                background-color: @grey-lighter;
                color: @blue-brand;
                border: 1px solid @grey-light;
            }
        }
    }

    > .dropdown-toggle {
        border-color: @grey-light;
        color: @blue-brand;
        width: 100%;
        padding-right: 25px;
        z-index: 1;
        font-size: @t6-font-size;

        &.active,
        &:hover,
        &:focus,
        &:active {
            background-color: @grey-lighter;
        }
    }

    > select {
        border: none;
        bottom: 0;
        left: 50%;
        /*stylelint-disable*/
        position: absolute !important;
        display: block !important;
        width: 0.5px !important;
        height: 100% !important;
        padding: 0 !important;
        opacity: 0 !important;

        &.mobile-device {
            display: block !important;
            width: 100% !important;
            /*stylelint-enable*/
            top: 0;
            left: 0;
            z-index: 2;
        }
    }

    .has-error & .dropdown-toggle,
    .error & .dropdown-toggle {
        border-color: @red;
    }

    &.fit-width {
        /*stylelint-disable*/
        width: auto !important;
        /*stylelint-enable*/
    }

    &:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
        width: 220px;
    }

    .dropdown-toggle:focus {
        /*stylelint-disable*/
        outline: none !important;
        /*stylelint-enable*/
    }
}

.bootstrap-select.form-control {
    margin-bottom: 0;
    padding: 0;
    border: none;

    &:not([class*="col-"]) {
        width: 100%;
    }

    &.input-group-btn {
        z-index: auto;

        &:not(:first-child):not(:last-child) {

            > .btn {
                border-radius: 0;
            }
        }
    }
}

.bootstrap-select.btn-group {

    &:not(.input-group-btn),
    &[class*="col-"] {
        float: none;
        display: inline-block;
        margin-left: 0;
    }

    &,
    &[class*="col-"],
    .row &[class*="col-"] {

        &.dropdown-menu-right {
            float: right;
        }
    }

    .form-inline &,
    .form-horizontal &,
    .form-group & {
        margin-bottom: 0;
    }

    .form-group-lg &.form-control,
    .form-group-sm &.form-control {
        padding: 0;

        .dropdown-toggle {
            height: 100%;
            font-size: inherit;
            line-height: inherit;
            border-radius: inherit;
        }
    }

    .form-inline & .form-control {
        width: 100%;
    }

    &.disabled,
    > .disabled {
        .cursor-disabled();

        &:focus {
            /*stylelint-disable*/
            outline: none !important;
            /*stylelint-enable*/
        }
    }

    &.bs-container {
        position: absolute;
        /*stylelint-disable*/
        height: 0 !important;
        padding: 0 !important;
        /*stylelint-enable*/

        .dropdown-menu {
            z-index: 1060;
        }
    }

    .dropdown-toggle {

        .filter-option {
            display: inline-block;
            overflow: hidden;
            width: 100%;
            text-align: left;
        }

        &:focus {
            /*stylelint-disable*/
            outline:none !important;
            /*stylelint-enable*/
        }

        .caret {
            position: absolute;
            top: 50%;
            right: 12px;
            margin-top: -2px;
            vertical-align: middle;
        }
    }

    &[class*="col-"] .dropdown-toggle {
        width: 100%;
    }

    .dropdown-menu {
        min-width: 100%;
        box-sizing: border-box;

        &.inner {
            position: static;
            float: none;
            border: 0;
            padding: 0;
            margin: 0;
            border-radius: 0;
            box-shadow: none;
        }

        li {
            position: relative;

            &.active {
                /*stylelint-disable*/
                small {
                    color: #FFF;
                }
                /*stylelint-enable*/
            }

            &.disabled {
                /*stylelint-disable*/
                a {
                    .cursor-disabled();

                    &:hover {
                        background: none;
                        color: @grey-light;
                        text-decoration: none;
                    }
                }
                /*stylelint-enable*/
            }

            a {
                cursor: pointer;
                padding: (@s5/2) 0;
                user-select: none;
                /*stylelint-disable*/
                outline: none !important;
                /*stylelint-enable*/

                &:hover {
                    background: none;
                    color: @blue-brand;
                    text-decoration: underline;
                }

                .check-mark {
                    display: none;
                }
            }

            .opt {
                position: relative;
                padding-left: 2.25em;
            }

            small {
                padding-left: 0.5em;
            }
        }

        .notify {
            position: absolute;
            bottom: 5px;
            width: 96%;
            margin: 0 2%;
            min-height: 26px;
            padding: 3px 5px;
            background: rgb(245, 245, 245);
            border: 1px solid rgb(227, 227, 227);
            box-shadow: inset 0 1px 1px fade(rgb(0, 0, 0), 5%);
            pointer-events: none;
            opacity: 0.9;
            box-sizing: border-box;
        }
    }

    .no-results {
        padding: 3px;
        background: #F5F5F5;
        margin: 0 5px;
        white-space: nowrap;
    }

    &.fit-width .dropdown-toggle {

        .filter-option {
            position: static;
        }

        .caret {
            position: static;
            top: auto;
            margin-top: -1px;
        }
    }

    &.show-tick {

        .dropdown-menu {

            > .selected {

                a {

                    .check-mark {
                        position: absolute;
                        display: inline-block;
                        right: 15px;
                        margin-top: 5px;
                    }
                }
            }

            a {

                .text {
                    margin-right: 34px;
                }
            }
        }
    }
}

.bootstrap-select.show-menu-arrow {

    &.open > .dropdown-toggle {
        z-index: (1060 + 1);

        &:before,
        &:after {
            display: block;
        }
    }

    .dropdown-toggle {

        &:before {
            content: "";
            border-left: 7px solid transparent;
            border-right: 7px solid transparent;
            border-bottom: 7px solid rgba(204, 204, 204, 0.2);
            position: absolute;
            bottom: -4px;
            left: 9px;
            display: none;
        }

        &:after {
            content: "";
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-bottom: 6px solid #FFF;
            position: absolute;
            bottom: -4px;
            left: 10px;
            display: none;
        }
    }

    &.dropup .dropdown-toggle {

        &:before {
            bottom: auto;
            top: -3px;
            border-top: 7px solid rgba(204, 204, 204, 0.2);
            border-bottom: 0;
        }

        &:after {
            bottom: auto;
            top: -3px;
            border-top: 6px solid #FFF;
            border-bottom: 0;
        }
    }

    &.pull-right .dropdown-toggle {

        &:before {
            right: 12px;
            left: auto;
        }

        &:after {
            right: 13px;
            left: auto;
        }
    }
}

.bs-searchbox,
.bs-actionsbox,
.bs-donebutton {
    padding: 4px 8px;
}

.bs-actionsbox {
    width: 100%;
    box-sizing: border-box;

    & .btn-group button {
        width: 50%;
    }
}

.bs-donebutton {
    float: left;
    width: 100%;
    box-sizing: border-box;

    & .btn-group button {
        width: 100%;
    }
}

.bs-searchbox {

    & + .bs-actionsbox {
        padding: 0 8px 4px;
    }

    & .form-control {
        margin-bottom: 0;
        width: 100%;
        float: none;
    }
}
