@btn-vertical-pading: 8px;
@btn-horizondal-padding: 15px;
@btn-sm-vertical-padding: 7px;
@btn-normal-top-padding: 10px;
@btn-normal-bottom-padding: 9px;

// Buttons
//
// Button styles based on Bootstrap 3.3.7.
//
// .btn-primary  - Indicates button is the primary action.
// .btn-default  - Indicates button is the secondary action.
// .btn-success  - Indicates button is a success action.
// .btn-info     - Indicates button is an info action.
// .btn-warning  - Indicates button is an warning action.
// .btn-danger   - Indicates button is an danger action.
// .btn-link     - Indicates button should be displayed like a link.
//
// Markup:
// <button type="submit" class="btn {{modifier_class}}">Button</button>
// <button type="submit" class="btn {{modifier_class}} active">Active Button</button>
// <button type="submit" class="btn {{modifier_class}}" disabled="disabled">Disabled Button</button>
// <a href="#" class="btn {{modifier_class}}">A Tag Button</a>
// <a href="#" class="btn {{modifier_class}} active">A Tag Active Button</a>
// <a href="#" class="btn {{modifier_class}}" disabled="disabled">A Tag Disabled Button</a>
// <button type="submit" class="btn {{modifier_class}} btn-sm">Small Button</button>
//
// Styleguide 6.0

/* TODO: Needed above + customisations below?
 .btn-lg       - Indicates the button should be larger than normal.
 .btn-xs       - Indicates the button should be much smaller than normal.
 .btn-block    - Indicates the button should display as a block element.
*/

.btn {
    .button-size(@btn-normal-top-padding; @btn-horizondal-padding; @btn-normal-font-size; @btn-normal-line-height; @btn-border-radius-base);

    padding-bottom: @btn-normal-bottom-padding;

    &.active,
    &:active {
        box-shadow: none;

        &:focus,
        .focus {
            outline: none;
        }
    }

    &:disabled,
    .disabled {
        opacity: 0.5;
    }

    &:focus,
    .focus {
        outline: none;
    }

    &.btn-primary {
        background: @button-blue-bg;

        &:hover,
        &:active,
        &.active {
            color: @white;
            background-color: @blue-dark;
        }
    }

    &.btn-default {
        border: 1px solid @button-blue-bg;
        background: @white;
        color: @button-blue-bg;

        &:hover,
        &:active,
        &.active {
            color: @white;
            background-color: @blue-medium;
            border: 1px solid @blue-medium;
        }
    }

    &.btn-default,
    &.btn-primary {

        &:disabled {
            background: @button-disabled-bg;
            color: @white;
            border: 1px solid transparent;

            &:hover {
                background: @button-disabled-bg;
            }
        }
    }

    &.btn-default[disabled],
    &.btn-primary[disabled] {
        background: @button-disabled-bg;
        color: @white;
        border: 1px solid transparent;
    }

    &.btn-success {

        &:hover,
        &:active,
        &.active {
            color: @white;
            background-color: @turquoise-dark;
        }
    }

    &.btn-info {

        &:hover,
        &:active,
        &.active {
            background-color: @grey-lighter;
        }
    }

    &.btn-warning {

        &:hover,
        &:active,
        &.active {
            background-color: @yellow-dark;
        }
    }

    &.btn-danger {

        &:hover,
        &:active,
        &.active {
            background-color: @red-dark;
        }
    }

    &.btn-link {

        &:active,
        &.active {
            color: @blue-dark;
        }
    }
}

.btn-sm {
    .button-size(@btn-sm-vertical-padding; @btn-horizondal-padding; @t6-font-size; @btn-sm-line-height; @btn-border-radius-small);
}
