// Input Groups
//
// Input groups. All derived from Bootstrap 3.3.7.
//
// Markup:
//<div class="input-group">
//    <span class="input-group-addon" id="basic-addon1">+34</span>
//    <input type="text" class="form-control" placeholder="Phone number" aria-describedby="basic-addon1">
//</div>
//<br>
//<div class="input-group">
//    <input type="text" class="form-control" placeholder="email" aria-describedby="basic-addon2">
//    <span class="input-group-addon" id="basic-addon2">@thyssenkrupp.com</span>
//</div>
//<br>
//<div class="input-group">
//    <span class="input-group-addon">€</span>
//    <input type="text" class="form-control" aria-label="Amount">
//    <span class="input-group-addon">,00</span>
//</div>
//
// Styleguide 10.0

.input-group-addon {
    padding: 0 @s6;
    line-height: @base-line-height;
}
