// List Group
//
// List groups are a flexible and powerful component for displaying not only simple lists of elements, but complex ones with custom content. All derived from Bootstrap 3.3.7.
//
// Markup:
// <div class="list-group">
//     <a href="#" class="list-group-item active">
//         Cras justo odio
//     </a>
//     <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
//     <a href="#" class="list-group-item">Morbi leo risus</a>
//     <a href="#" class="list-group-item">Porta ac consectetur ac</a>
//     <a href="#" class="list-group-item">Vestibulum at eros</a>
// </div>
//
// Styleguide 23.0

.list-group {
    background-color: @white;
    border: none;
    padding: 0 @s5;
    box-shadow: 0 2px 8px 0 rgba(75, 85, 100, 0.33);
}

.list-group-item {
    background-color: transparent;
    border-left: none;
    border-top: none;
    border-right: none;
    margin: 0;
    padding: @s6 0;

    &.active {
        color: @blue-dark;
        font-weight: @font-weight-medium;

        > a {
            color: @blue-dark;
        }
    }

    &:last-child {
        border-bottom: none;
    }

    &:visited {
        color: @blue-brand;
    }
}
