// Navs
//
// Navigation elements. All derived from Bootstrap 3.3.7.
//
// Styleguide 20.0

// Tabs
//
// Tabbed navigation. All derived from Bootstrap 3.3.7.
//
// Markup:
// <ul class="nav nav-tabs nav-justified" role="tablist">
//     <li role="presentation" aria-controls="home" role="tab" data-toggle="tab" class="active"><a href="#home">Home</a></li>
//     <li role="presentation" aria-controls="profiles" role="tab" data-toggle="tab"><a href="#profile">Profile</a></li>
//     <li role="presentation" aria-controls="messages" role="tab" data-toggle="tab"><a href="#messages">Messages</a></li>
// </ul>
// <div class="tab-content">
//     <div role="tabpanel" class="tab-pane fade in active" id="home">Home content</div>
//     <div role="tabpanel" class="tab-pane fade" id="profile">Profile content</div>
//     <div role="tabpanel" class="tab-pane fade" id="messages">Message content</div>
// </div>
//
// Styleguide 20.1

.nav-tabs {

    &.nav-justified {
        border-collapse: separate;
        border-spacing: 0;
        margin-bottom: -1px;

        > li {

            > a {
                background-color: @grey-lighter;
                text-align: left;
                border-bottom: 1px solid @grey-light;
            }

            /* stylelint-disable */
            &.active {
                > a,
                > a:active,
                > a:focus,
                > a:hover{
                    border-bottom: none;
                    background-color: @white;
                }

                .nav-link {
                    margin: 0 @s9;
                }
            }

            &:first-child {

                &.active {

                    a {
                        margin-left: 0;
                    }
                }
            }

            &:last-child {

                &.active {

                    a {
                        margin-right: 0;
                    }
                }
            }
            /* stylelint-enable */
        }
    }
}

.tab-content {
    border-right: 1px solid @grey-lighter;
    border-bottom: 1px solid @grey-lighter;
    border-left: 1px solid @grey-lighter;
    padding: @s4 @s5;
}
