@panel-title-line-height: 18px;

// Panels
//
// Panels. All derived from Bootstrap 3.3.7.
//
// .panel-default  - Panel with default styling.
// .panel-primary  - Panel with primary styling.
// .panel-success  - Panel with success styling.
// .panel-info     - Panel with info styling.
// .panel-warning  - Panel with warning styling.
// .panel-danger   - Panel with danger styling.
//
// Markup:
// <div class="panel {{modifier_class}}">
//     <div class="panel-body">
//         Basic panel example
//     </div>
// </div>
// <div class="panel {{modifier_class}}">
//     <div class="panel-heading">Panel heading without title</div>
//     <div class="panel-body">Panel content</div>
// </div>
// <div class="panel {{modifier_class}}">
//     <div class="panel-heading">
//         <h3 class="panel-title">Panel title</h3>
//     </div>
//     <div class="panel-body">Panel content</div>
// </div>
// <div class="panel {{modifier_class}}">
//     <div class="panel-body">Panel content</div>
//     <div class="panel-footer">Panel footer</div>
// </div>
//
// Styleguide 14.0

.panel-title {
    line-height: @panel-title-line-height;
    font-weight: @font-weight-medium;
    font-size: @base-font-size;
}

.panel-info {

    > .panel-heading {
        border-color: @blue-brand;
        color: @blue-brand;
    }
}

.panel-warning {

    > .panel-heading {
        color: @grey-dark;
    }
}
