@popover-font-size: 14px;
@popover-line-height: 22px;

// Popovers
//
// Popovers. All derived from Bootstrap 3.3.7.
//
// Markup:
// <div class="popover-static">
// <div class="popover top">
//     <div class="arrow"></div>
//     <div class="popover-content">Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</div>
// </div>
// <div class="popover right">
//     <div class="arrow"></div>
//     <div class="popover-content">Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</div>
// </div>
// <div class="popover bottom">
//     <div class="arrow"></div>
//     <div class="popover-content">Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</div>
// </div>
// <div class="popover left">
//     <div class="arrow"></div>
//     <div class="popover-content">Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</div>
// </div>
// </div>
//
// Styleguide 19.0

.popover {
    box-shadow: 0 2px 8px 0 rgba(75, 85, 100, 0.33);
    padding: @s6 @s5;

    > .popover-title {
        padding: 0;
        border-bottom: none;
    }

    > .popover-content {
        padding: 0;
        color: @grey-dark;
        font-size: @popover-font-size;
        line-height: @popover-line-height;
        margin: 0;
    }
}
