// Tooltips
//
// Tooltips. All derived from Bootstrap 3.3.7.
//
// Markup:
// <!-- Note: Only the button examples below are pertinent examples. -->
// <div class="tooltip-static">
// <div class="tooltip left" role="tooltip">
//     <div class="tooltip-arrow"></div>
//     <div class="tooltip-inner"> Tooltip on the left </div>
// </div>
// <div class="tooltip top" role="tooltip">
//     <div class="tooltip-arrow"></div>
//     <div class="tooltip-inner"> Tooltip on the top </div>
// </div>
// <div class="tooltip bottom" role="tooltip">
//     <div class="tooltip-arrow"></div>
//     <div class="tooltip-inner"> Tooltip on the bottom </div>
// </div>
// <div class="tooltip right" role="tooltip">
//     <div class="tooltip-arrow"></div>
//     <div class="tooltip-inner"> Tooltip on the right </div>
// </div>
// </div>
// <div class="btn-group" role="group" aria-label="tooltip demo button group">
//     <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="left" title="Tooltip on left">Tooltip on left</button>
//     <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Tooltip on top">Tooltip on top</button>
//     <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom">Tooltip on bottom</button>
//     <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="right" title="Tooltip on right">Tooltip on right</button>
// </div>
//
// Styleguide 18.0

.tooltip {
    font-size: @t7-font-size;
    line-height: @t7-line-height;
    font-weight: @font-weight-medium;
    text-align: center;

    > .tooltip-inner {
        padding: @s7 @s6;
    }
}
