@h1-font-size: @t1-font-size;
@h1-line-height: @t1-line-height;
@h2-font-size: @t2-font-size;
@h2-line-height: @t2-line-height;
@h3-font-size: @t3-font-size;
@h3-line-height: @t3-line-height;
@h4-font-size: @t4-font-size;
@h4-line-height: @t4-line-height;
@h5-font-size: @t5-font-size;
@h5-line-height: @t5-line-height;
@h6-font-size: @t6-font-size;
@h6-line-height: @t6-line-height;
@p-font-size: @t6-font-size;
@p-line-height: @t6-line-height;
@small-font-size: @t7-font-size;
@small-line-height: @t7-line-height;
@mini-font-size: @t8-font-size;
@mini-line-height: @t8-line-height;
@promotion-color: @red;
@discount-color: @red;
@availability-color: @turquoise;
@status-delivered-color: @turquoise;
@status-pending-color: @red;
@status-in-transit-color: @orange;

// Typography
//
// Styleguide 3.0

// Headings
//
// Headings. All derived from Bootstrap 3.3.7.
//
// .h1 - Gives the element the T1 style
// .h2 - Gives the element the T2 style
// .h3 - Gives the element the T3 style
// .h4 - Gives the element the T4 style
// .h5 - Gives the element the T5 style
// .h6 - Gives the element the T6 style
//
// Markup:
// <h1 class="{{modifier_class}}">Heading 1</h1>
// <h2 class="{{modifier_class}}">Heading 2</h2>
// <h3 class="{{modifier_class}}">Heading 3</h3>
// <h4 class="{{modifier_class}}">Heading 4</h4>
// <h5 class="{{modifier_class}}">Heading 5</h5>
// <h6 class="{{modifier_class}}">Heading 6</h6>
//
// Styleguide 3.1

.generate-headings(6);

.define-heading-property(@level) {
    @heading-font-size: "h@{level}-font-size";
    @heading-line-height: "h@{level}-line-height";
}

.generate-headings(@n, @i: 1) when (@i =< @n) {
    @heading-level: ~"h@{i}";
    @utility-class: ~".h@{i}";

    @{heading-level},
    @{utility-class} {
        margin: 0;

        .define-heading-property(@i);

        line-height: @@heading-line-height;
    }
    .generate-headings(@n, (@i + 1));
}

// Paragraphs
//
// Paragraph text.
//
// Markup:
// <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
// <p><small class="medium">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</small></p>
// <p><small>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</small></p>
// <p><small class="mini">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</small></p>
//
// Styleguide 3.2

p {
    color: @grey-dark;
    font-family: @tk-font-family;
    font-size: @p-font-size;
    line-height: @p-line-height;

    /* stylelint-disable */
    &.medium {
        font-weight: @font-weight-medium;
    }

    &.small {
        font-size: @small-font-size;
        line-height: @small-line-height;
        margin-bottom: 0;
    }

    &.mini {
        font-size: @mini-font-size;
        line-height: @mini-line-height;
    }
    /* stylelint-enable */

    &:first-child {
        margin-top: 0;
    }
}

small {
    font-size: @small-font-size;
    line-height: @small-line-height;
}

mark,
::selection {
    background: @blue-brand;
    color: @white;
    text-shadow: none;
}

span {

    /* stylelint-disable selector-no-qualifying-type */

    &.disabled,
    &[disabled] {
        cursor: not-allowed;
        opacity: 0.5;
    }

    /* stylelint-enable selector-no-qualifying-type */
}

// Links
//
// Link styles.
//
// .disabled - Disabled state
//
// Markup:
// <p><a href="#" class="{{modifier_class}}">Default Link</a></p>
// <p><a href="#" class="{{modifier_class}} u-icon-tk--inline-link u-icon-tk--print">Link with icon</a></p>
//
// Styleguide 3.3

a {

    &:active {
        color: @blue-dark;
    }

    /* stylelint-disable */
    &.disabled {
        cursor: not-allowed;
        opacity: 0.5;

        &:hover {
            color: @blue-brand;
            text-decoration: none;
        }
    }
    /* stylelint-enable */
}

// Lists
//
// List styles.
//
//
//
// Styleguide 3.4

// Unordered List
//
// Unordered list styles.
//
// .list-unstyled - Unstyled list
// .list-inline - Inline list
//
// Markup:
// <ul class="{{modifier_class}}">
//     <li>Lorem ipsum dolor sit amet</li>
//     <li>Consectetur adipiscing elit</li>
//     <li>Integer molestie lorem at massa</li>
//     <li>Facilisis in pretium nisl aliquet</li>
//     <li>Nulla volutpat aliquam velit</li>
//     <li>Faucibus porta lacus fringilla vel</li>
//     <li>Aenean sit amet erat nunc</li>
//     <li>Eget porttitor lorem</li>
// </ul>
//
// Styleguide 3.4.1

// Ordered List
//
// Ordered list styles.
//
// Markup:
// <ol>
//     <li>Lorem ipsum dolor sit amet</li>
//     <li>Consectetur adipiscing elit</li>
//     <li>Integer molestie lorem at massa</li>
//     <li>Facilisis in pretium nisl aliquet</li>
//     <li>Nulla volutpat aliquam velit
//         <ul>
//             <li>Phasellus iaculis neque</li>
//             <li>Purus sodales ultricies</li>
//             <li>Vestibulum laoreet porttitor sem</li>
//             <li>Ac tristique libero volutpat at</li>
//         </ul>
//     </li>
//     <li>Faucibus porta lacus fringilla vel</li>
//     <li>Aenean sit amet erat nunc</li>
//     <li>Eget porttitor lorem</li>
// </ol>
//
// Styleguide 3.4.2

// Addresses
//
// Address styles.
//
// Markup:
// <address>
//     <section>
//         <strong>thyssenkrupp AG</strong> <br />
//         DTO Headquarter
//     </section>
//     <section>
//         Mr. Thorsten Boll <br />
//         thyssenkrupp Allee 1 <br />
//         Q6 Building <br />
//         45143 Essen <br />
//         Germany
//    </section>
// </address>
//
// Styleguide 3.5

address {
    font-size: @t6-font-size;
    line-height: @t6-line-height;
    color: @grey-dark;

    strong {
        color: @black;
    }
}

i,
cite,
em,
var,
address,
dfn {
    font-style: normal;
}
