@well-sm-font-size: 14px;
@well-sm-line-height: 20px;

// Wells
//
// Wells. All derived from Bootstrap 3.3.7.
//
// .well-sm - A small well.
//
// Markup:
// <div class="well {{modifier_class}}">I'm in a well</div>
//
// Styleguide 15.0

.well {
    color: @grey-dark;
    box-shadow: fade(@black, 50%) 0 2px 4px;
    border: none;
    padding: @s5 @s4;
    font-style: normal;
}

.well-sm {
    padding: @s6 @s5;
    font-size: @well-sm-font-size;
    line-height: @well-sm-line-height;
}
