@title-line-height: @t3-line-height;
@page-content-bottom-margin: @s1;
@pwd-requirement-note-margin-top: 17px;
@pwd-requirement-note-line-height: 22px;
@form-submit-button-padding-top: 12px;
@t9-font-size: 14px;
@close-button-icon-size: 18px;
@contact-subtmi-button-width: 165px;

.l-page {

    &__content {
        margin-bottom: @page-content-bottom-margin;

        &__body {

            &-right {

                .table-responsive {
                    @media (max-width: @screen-xs-max) {
                        border: none;
                        margin-bottom: @s6;
                    }
                }
            }
        }
    }

    &__title {
        margin-bottom: @s4;
        line-height: @title-line-height;

        @media (max-width: @screen-xs-max) {
            font-size: @t5-font-size;
            line-height: @t5-line-height;
        }

        &--no-description {
            margin-bottom: @s5;

            &.cart--description {
                @media (max-width: @screen-sm-max) {
                    margin: 0 -15px;
                    padding: 0 15px 15px;
                    border-bottom: 1px solid @black;
                }
            }
        }
    }

    &__sub-title {
        margin-bottom: @s5;

        &--has-grey-text {
            color: @grey-dark;
        }
    }

    &__description {
        margin-bottom: @s2;

        .u-icon-tk {
            font-size: @t4-font-size;
            line-height: @t9-line-height;
            vertical-align: text-bottom;
        }
    }

    &__update-password {

        &__form {

            &__btn-container {
                text-align: right;
                padding-top: @form-submit-button-padding-top;
            }
        }

        &__password-requirement-note {
            margin-top: @pwd-requirement-note-margin-top;
        }
    }

    &__complete-registration {

        &__form {

            &__btn-container {
                text-align: right;
            }

            &__checkbox-container {
                margin-bottom: @s3;

                label {
                    padding-left: 0;
                }
            }
        }

        &__password-requirement-note {
            margin-top: @pwd-requirement-note-margin-top;
            line-height: @pwd-requirement-note-line-height;
        }
    }

    &__token-expired {

        &__msg-container {
            position: relative;

            &__message {
                background-color: @grey-lighter;
                border: solid 1px @grey-light;
                box-shadow: 0 2px 8px 0 rgba(75, 85, 100, 0.33);
                color: @grey-dark;
                font-size: @t9-font-size;
                line-height: @t9-line-height;
                padding: @s6 @s5;
                margin-top: @s4;
            }
        }
    }

    &__lead {
        padding-bottom: 60px;
        margin-bottom: 0;
    }

    &__cart,
    &__my-account {

        .m-global-alerts {

            .alert-info {
                background-color: @grey-lighter;
                box-shadow: 0 2px 8px 0 rgba(75, 85, 100, 0.33);
                border-color: @grey-light;
                color: @grey-dark;
            }
        }
    }

    &__cart {

        .m-page-section {

            &--no-bottom-border {
                margin-bottom: @s2;
            }
        }
    }

    &__secure-login,
    &__contact {

        .l-page {

            &__content {

                &__right {

                    h4:first-child {
                        margin-bottom: @s4;
                    }

                    h6 {
                        font-weight: @font-weight-bold;
                    }

                    address {
                        margin-bottom: @s4;
                    }
                }
            }
        }
    }

    &__secure-login {

        .l-page {

            &__content {

                &__left,
                &__right {
                    margin-bottom: @s0;
                }
            }
        }
    }

    &__contact {

        .l-page {

            &__content {

                &__left,
                &__right {
                    margin-bottom: @s1;
                }
            }
        }

        &__form {

            &__submit {
                min-width: @contact-subtmi-button-width;
            }

            .control-label {
                color: @grey-dark;
            }
        }
    }
}
