.l-faq {

    &__topics {

        &__content {
            display: none;

            &.active {
                display: block;
            }

            &__title {
                margin-bottom: @s4;
            }
        }
    }
}
