<%@ tag body-content="empty" trimDirectiveWhitespaces="true"%>
<%@ attribute name="breadcrumbs" required="true" type="java.util.List"%>
<%@ taglib prefix="fn" uri="http://java.sun.com/jsp/jstl/functions" %>
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core"%>
<%@ taglib prefix="spring" uri="http://www.springframework.org/tags"%>

<c:url value="/" var="homeUrl" />

<ol class="breadcrumb" data-qa-id="breadcrumb-section">
    <li>
        <a href="${homeUrl}"><spring:theme code="breadcrumb.home" /></a>
    </li>

    <c:forEach items="${breadcrumbs}" var="breadcrumb" varStatus="status">
        <c:url value="${breadcrumb.url}" var="breadcrumbUrl" />
        <c:choose>
            <c:when test="${status.last}">
                            <c:if test="${pageType != 'PRODUCT'}">
                                <li class="active">${fn:escapeXml(breadcrumb.name)}</li>
                            </c:if>
                            <c:if test="${pageType == 'PRODUCT'}">
                                <li class="active"><a href="${breadcrumbUrl}">${fn:escapeXml(breadcrumb.name)}</a></li>
                            </c:if>
                        </c:when>
            <c:when test="${breadcrumb.url eq '#'}">
                <li>
                    <a href="#">${fn:escapeXml(breadcrumb.name)}</a>
                </li>
            </c:when>
            <c:otherwise>
                <li>
                    <a href="${breadcrumbUrl}">${fn:escapeXml(breadcrumb.name)}</a>
                </li>
            </c:otherwise>
        </c:choose>
    </c:forEach>
</ol>
