/* stylelint-disable */
//
// Variables
// --------------------------------------------------


//== Colors
//
//## Gray and brand colors for use across Bootstrap.

@gray-base:              @black;
@gray-darker:            @black;
@gray-dark:              @grey-dark;
@gray:                   @grey-middle;
@gray-light:             @grey-light;
@gray-lighter:           @grey-lighter;

@brand-primary:         @orange;
@brand-success:         @turquoise;
@brand-info:            @white;
@brand-warning:         @yellow;
@brand-danger:          @red;


//== Scaffolding
//
//## Settings for some of the most global styles.

//** Background color for `<body>`.
@body-bg:               @white;
//** Global text color on `<body>`.
@text-color:            @black;

//** Global textual link color.
@link-color:            @blue-brand;
//** Link hover color set via `darken()` function.
@link-hover-color:      @blue-brand;
//** Link hover decoration.
@link-hover-decoration: underline;


//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

@font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-serif:       Georgia, "Times New Roman", Times, serif;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
@font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;
@font-family-base:        @tk-font-family;

@font-size-base:          @base-font-size;
@font-size-large:         ceil((@font-size-base * 1.25));
@font-size-small:         ceil((@font-size-base * 0.85));

@font-size-h1:            @t1-font-size;
@font-size-h2:            @t2-font-size;
@font-size-h3:            @t3-font-size;
@font-size-h4:            @t4-font-size;
@font-size-h5:            @t5-font-size;
@font-size-h6:            @t6-font-size;

//** Unit-less `line-height` for use in components like buttons.
@line-height-base:        1.625;
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
@line-height-computed:    floor((@font-size-base * @line-height-base));

//** By default, this inherits from the `<body>`.
@headings-font-family:    inherit;
@headings-font-weight:    @font-weight-normal;
@headings-line-height:    1.1;
@headings-color:          inherit;


//== Iconography
//
//## Specify custom location and filename of the included Glyphicons icon font. Useful for those including Bootstrap via Bower.

//** Load fonts from this directory.
@icon-font-path:          "../fonts/";

 // TODO: Task to update HTML, replacing Glyphicons with Custom TK Icons defined above.
//** File name for all font files.
@icon-font-name:          "glyphicons-halflings-regular";
//** Element ID within SVG icon file.
@icon-font-svg-id:        "glyphicons_halflingsregular";

//== Components
//
//## Define common padding and border radius sizes and more. Values based on 14px text and 1.428 line-height (~20px to start).

@padding-base-vertical:     @s7;
@padding-base-horizontal:   @s6;

@padding-large-vertical:    @s6;
@padding-large-horizontal:  @s5;

@padding-small-vertical:    @s8;
@padding-small-horizontal:  @s6;

@padding-xs-vertical:       @s9;
@padding-xs-horizontal:     @s8;

@line-height-large:         1.3333333; // extra decimals for Win 8.1 Chrome
@line-height-small:         1.5;

@border-radius-base:        0;
@border-radius-large:       0;
@border-radius-small:       0;

//** Global color for active items (e.g., navs or dropdowns).
@component-active-color:    @white;
//** Global background color for active items (e.g., navs or dropdowns).
@component-active-bg:       @blue-brand;

//** Width of the `border` for generating carets that indicate dropdowns.
@caret-width-base:          @s8;
//** Carets increase slightly in size for larger components.
@caret-width-large:         @s7;


//== Tables
//
//## Customizes the `.table` component with basic values, each used across all table variations.

//** Padding for `<th>`s and `<td>`s.
@table-cell-padding:            @s7;
//** Padding for cells in `.table-condensed`.
@table-condensed-cell-padding:  @s8;

//** Default background color used for all tables.
@table-bg:                      transparent;
//** Background color used for `.table-striped`.
@table-bg-accent:               @gray-lighter;
//** Background color used for `.table-hover`.
@table-bg-hover:                @gray-light;
@table-bg-active:               @table-bg-hover;

//** Border color for table and cell borders.
@table-border-color:            @gray-light;


//== Buttons
//
//## For each of Bootstrap's buttons, define text, background and border color.

@btn-font-weight:                normal;

@btn-default-color:              @white;
@btn-default-bg:                 @blue-brand;
@btn-default-border:             transparent;

@btn-primary-color:              @white;
@btn-primary-bg:                 @brand-primary;
@btn-primary-border:             transparent;

@btn-success-color:              @white;
@btn-success-bg:                 @brand-success;
@btn-success-border:             transparent;

@btn-info-color:                 @blue-brand;
@btn-info-bg:                    @brand-info;
@btn-info-border:                @gray-light;

@btn-warning-color:              @black;
@btn-warning-bg:                 @brand-warning;
@btn-warning-border:             transparent;

@btn-danger-color:               @white;
@btn-danger-bg:                  @brand-danger;
@btn-danger-border:              transparent;

@btn-link-disabled-color:        @gray-light;

// Allows for customizing button radius independently from global border radius
@btn-border-radius-base:         @border-radius-base;
@btn-border-radius-large:        @border-radius-large;
@btn-border-radius-small:        @border-radius-small;


//== Forms
//
//##

//** `<input>` background color
@input-bg:                       @white;
//** `<input disabled>` background color
@input-bg-disabled:              @white;

//** Text color for `<input>`s
@input-color:                    @black;
//** `<input>` border color
@input-border:                   @gray-light;

// TODO: Rename `@input-border-radius` to `@input-border-radius-base` in v4
//** Default `.form-control` border radius
// This has no effect on `<select>`s in some browsers, due to the limited stylability of `<select>`s in CSS.
@input-border-radius:            @border-radius-base;
//** Large `.form-control` border radius
@input-border-radius-large:      @border-radius-large;
//** Small `.form-control` border radius
@input-border-radius-small:      @border-radius-small;

//** Border color for inputs on focus
@input-border-focus:             @blue-brand;

//** Placeholder text color
@input-color-placeholder:        @gray;

//** Default `.form-control` height
@input-height-base:              (@line-height-computed + (@padding-base-vertical * 2) + 2);
//** Large `.form-control` height
@input-height-large:             (ceil(@font-size-large * @line-height-large) + (@padding-large-vertical * 2) + 2);
//** Small `.form-control` height
@input-height-small:             (floor(@font-size-small * @line-height-small) + (@padding-small-vertical * 2) + 2);

//** `.form-group` margin
@form-group-margin-bottom:       @s4;

@legend-color:                   @gray-dark;
@legend-border-color:            @gray;

//** Background color for textual input addons
@input-group-addon-bg:           @gray-lighter;
//** Border color for textual input addons
@input-group-addon-border-color: @input-border;

//** Disabled cursor for form controls and buttons.
@cursor-disabled:                not-allowed;


//== Dropdowns
//
//## Dropdown menu container and contents.

//** Background for the dropdown menu.
@dropdown-bg:                    @white;
//** Dropdown menu `border-color`.
@dropdown-border:                @grey-light;
//** Dropdown menu `border-color` **for IE8**.
@dropdown-fallback-border:       @gray-light;
//** Divider color for between dropdown items.
@dropdown-divider-bg:            @gray-light;

//** Dropdown link text color.
@dropdown-link-color:            @blue-brand;
//** Hover color for dropdown links.
@dropdown-link-hover-color:      darken(saturate(spin(@dropdown-link-color, 11.2000), 0.0000), 22.5490);
//** Hover background for dropdown links.
@dropdown-link-hover-bg:         transparent;

//** Active dropdown menu item text color.
@dropdown-link-active-color:     @component-active-color;
//** Active dropdown menu item background color.
@dropdown-link-active-bg:        @component-active-bg;

//** Disabled dropdown menu item background color.
@dropdown-link-disabled-color:   @gray-light;

//** Text color for headers within dropdown menus.
@dropdown-header-color:          @gray;

//** Deprecated `@dropdown-caret-color` as of v3.1.0
@dropdown-caret-color:           @blue-brand;


//-- Z-index master list
//
// Warning: Avoid customizing these values. They're used for a bird's eye view
// of components dependent on the z-axis and are designed to all work together.
//
// Note: These variables are not generated into the Customizer.

@zindex-navbar:            1000;
@zindex-dropdown:          1000;
@zindex-popover:           1060;
@zindex-tooltip:           1070;
@zindex-navbar-fixed:      1030;
@zindex-modal-background:  1040;
@zindex-modal:             1050;


//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
//** Deprecated `@screen-xs` as of v3.0.1
@screen-xs:                  320px;
//** Deprecated `@screen-xs-min` as of v3.2.0
@screen-xs-min:              @screen-xs;
//** Deprecated `@screen-phone` as of v3.0.1
@screen-phone:               @screen-xs-min;

// Small screen / tablet
//** Deprecated `@screen-sm` as of v3.0.1
@screen-sm:                  646px;
@screen-sm-min:              @screen-sm;
//** Deprecated `@screen-tablet` as of v3.0.1
@screen-tablet:              @screen-sm-min;

// Medium screen / desktop
//** Deprecated `@screen-md` as of v3.0.1
@screen-md:                  971px;
@screen-md-min:              @screen-md;
//** Deprecated `@screen-desktop` as of v3.0.1
@screen-desktop:             @screen-md-min;

// Large screen / wide desktop
//** Deprecated `@screen-lg` as of v3.0.1
@screen-lg:                  1170px;
@screen-lg-min:              @screen-lg;
//** Deprecated `@screen-lg-desktop` as of v3.0.1
@screen-lg-desktop:          @screen-lg-min;

// So media queries don't overlap when required, provide a maximum
@screen-xs-max:              (@screen-sm-min - 1);
@screen-sm-max:              (@screen-md-min - 1);
@screen-md-max:              (@screen-lg-min - 1);


//== Grid systemm-
//
//## Define your custom responsive grid.

//** Number of columns in the grid.
@grid-columns:              12;
//** Padding between columns. Gets divided in half for the left and right.
@grid-gutter-width:         30px;
// Navbar collapse
//** Point at which the navbar becomes uncollapsed.
@grid-float-breakpoint:     @screen-sm-min;
//** Point at which the navbar begins collapsing.
@grid-float-breakpoint-max: (@grid-float-breakpoint - 1);


//== Container sizes
//
//## Define the maximum width of `.container` for different screen sizes.

// Small screen / tablet
@container-tablet:             (616px + @grid-gutter-width);
//** For `@screen-sm-min` and up.
@container-sm:                 @container-tablet;

// Medium screen / desktop
@container-desktop:            (910px + @grid-gutter-width);
//** For `@screen-md-min` and up.
@container-md:                 @container-desktop;

// Large screen / wide desktop
@container-large-desktop:      (1110px + @grid-gutter-width);
//** For `@screen-lg-min` and up.
@container-lg:                 @container-large-desktop;


//== Navbar
//
//##

// Basics of a navbar
@navbar-height:                    50px;
@navbar-margin-bottom:             @line-height-computed;
@navbar-border-radius:             @border-radius-base;
@navbar-padding-horizontal:        floor((@grid-gutter-width / 2));
@navbar-padding-vertical:          ((@navbar-height - @line-height-computed) / 2);
@navbar-collapse-max-height:       340px;

@navbar-default-color:             #777;
@navbar-default-bg:                #f8f8f8;
@navbar-default-border:            darken(@navbar-default-bg, 6.5%);

// Navbar links
@navbar-default-link-color:                #777;
@navbar-default-link-hover-color:          #333;
@navbar-default-link-hover-bg:             transparent;
@navbar-default-link-active-color:         #555;
@navbar-default-link-active-bg:            darken(@navbar-default-bg, 6.5%);
@navbar-default-link-disabled-color:       #ccc;
@navbar-default-link-disabled-bg:          transparent;

// Navbar brand label
@navbar-default-brand-color:               @navbar-default-link-color;
@navbar-default-brand-hover-color:         darken(@navbar-default-brand-color, 10%);
@navbar-default-brand-hover-bg:            transparent;

// Navbar toggle
@navbar-default-toggle-hover-bg:           #ddd;
@navbar-default-toggle-icon-bar-bg:        #888;
@navbar-default-toggle-border-color:       #ddd;


//=== Inverted navbar
// Reset inverted navbar basics
@navbar-inverse-color:                      lighten(@gray-light, 15%);
@navbar-inverse-bg:                         #222;
@navbar-inverse-border:                     darken(@navbar-inverse-bg, 10%);

// Inverted navbar links
@navbar-inverse-link-color:                 lighten(@gray-light, 15%);
@navbar-inverse-link-hover-color:           @white;
@navbar-inverse-link-hover-bg:              transparent;
@navbar-inverse-link-active-color:          @navbar-inverse-link-hover-color;
@navbar-inverse-link-active-bg:             darken(@navbar-inverse-bg, 10%);
@navbar-inverse-link-disabled-color:        #444;
@navbar-inverse-link-disabled-bg:           transparent;

// Inverted navbar brand label
@navbar-inverse-brand-color:                @navbar-inverse-link-color;
@navbar-inverse-brand-hover-color:          @white;
@navbar-inverse-brand-hover-bg:             transparent;

// Inverted navbar toggle
@navbar-inverse-toggle-hover-bg:            #333;
@navbar-inverse-toggle-icon-bar-bg:         @white;
@navbar-inverse-toggle-border-color:        #333;


//== Navs
//
//##

//=== Shared nav styles
@nav-link-padding:                          18px @s5;
@nav-link-hover-bg:                         @gray-lighter;

@nav-disabled-link-color:                   @blue-brand;
@nav-disabled-link-hover-color:             @blue-brand;

//== Tabs
@nav-tabs-border-color:                     @gray-light;

@nav-tabs-link-hover-border-color:          @gray-light;

@nav-tabs-active-link-hover-bg:             @body-bg;
@nav-tabs-active-link-hover-color:          @blue-brand;
@nav-tabs-active-link-hover-border-color:   @gray-light;

@nav-tabs-justified-link-border-color:            @gray-light;
@nav-tabs-justified-active-link-border-color:     @gray-light;

//== Pills
@nav-pills-border-radius:                   @border-radius-base;
@nav-pills-active-link-hover-bg:            @gray-lighter;
@nav-pills-active-link-hover-color:         @gray-lighter;


//== Pagination
//
//##

@pagination-color:                     @link-color;
@pagination-bg:                        @white;
@pagination-border:                    @link-color;

@pagination-hover-color:               @link-hover-color;
@pagination-hover-bg:                  transparent;
@pagination-hover-border:              transparent;

@pagination-active-color:              @white;
@pagination-active-bg:                 @blue-brand;
@pagination-active-border:             @blue-brand;

@pagination-disabled-color:            @gray-light;
@pagination-disabled-bg:               @white;
@pagination-disabled-border:           @gray-light;


//== Pager
//
//##

@pager-bg:                             @pagination-bg;
@pager-border:                         @pagination-border;
@pager-border-radius:                  32px;

@pager-hover-bg:                       @pagination-hover-bg;

@pager-active-bg:                      @pagination-active-bg;
@pager-active-color:                   @pagination-active-color;

@pager-disabled-color:                 @pagination-disabled-color;


//== Jumbotron
//
//##

@jumbotron-padding:              @s3;
@jumbotron-color:                inherit;
@jumbotron-bg:                   @gray-lighter;
@jumbotron-heading-color:        inherit;
@jumbotron-font-size:            ceil((@font-size-base * 1.5));
@jumbotron-heading-font-size:    ceil((@font-size-base * 4.5));


//== Form states and alerts
//
//## Define colors for form feedback states and, by default, alerts.

@state-success-text:             @turquoise;
@state-success-bg:               @turquoise;
@state-success-border:           @turquoise;

@state-info-text:                @black;
@state-info-bg:                  @white;
@state-info-border:              @gray-light;

@state-warning-text:             @yellow-dark;
@state-warning-bg:               @yellow;
@state-warning-border:           @yellow;

@state-danger-text:              @red;
@state-danger-bg:                @red;
@state-danger-border:            @red;


//== Tooltips
//
//##

//** Tooltip max width
@tooltip-max-width:           200px;
//** Tooltip text color
@tooltip-color:               @white;
//** Tooltip background color
@tooltip-bg:                  @blue-medium;
@tooltip-opacity:             1;

//** Tooltip arrow width
@tooltip-arrow-width:         5px;
//** Tooltip arrow color
@tooltip-arrow-color:         @tooltip-bg;


//== Popovers
//
//##

//** Popover body background color
@popover-bg:                          @gray-lighter;
//** Popover maximum width
@popover-max-width:                   350px;
//** Popover border color
@popover-border-color:                @gray-light;
//** Popover fallback border color
@popover-fallback-border-color:       @gray-light;

//** Popover title background color
@popover-title-bg:                    @popover-bg;

//** Popover arrow width
@popover-arrow-width:                 @s6;
//** Popover arrow color
@popover-arrow-color:                 @popover-bg;

//** Popover outer arrow width
@popover-arrow-outer-width:           (@popover-arrow-width + 1);
//** Popover outer arrow color
@popover-arrow-outer-color:           @gray-light;
//** Popover outer arrow fallback color
@popover-arrow-outer-fallback-color:  @gray-light;


//== Labels
//
//##

//** Default label background color
@label-default-bg:            @blue-brand;
//** Primary label background color
@label-primary-bg:            @brand-primary;
//** Success label background color
@label-success-bg:            @state-success-bg;
//** Info label background color
@label-info-bg:               @state-info-bg;
//** Warning label background color
@label-warning-bg:            @state-warning-bg;
//** Danger label background color
@label-danger-bg:             @state-danger-bg;

//** Default label text color
@label-color:                 @white;
//** Default text color of a linked label
@label-link-hover-color:      @white;


//== Modals
//
//##

//** Padding applied to the modal body
@modal-inner-padding:         @s5;

//** Padding applied to the modal title
@modal-title-padding:         @s5;
//** Modal title line-height
@modal-title-line-height:     @line-height-base;

//** Background color of modal content area
@modal-content-bg:                             @white;
//** Modal content border color
@modal-content-border-color:                   rgba(0,0,0,.2);
//** Modal content border color **for IE8**
@modal-content-fallback-border-color:          @gray;

//** Modal backdrop background color
@modal-backdrop-bg:           @black;
//** Modal backdrop opacity
@modal-backdrop-opacity:      .5;
//** Modal header border color
@modal-header-border-color:   @gray;
//** Modal footer border color
@modal-footer-border-color:   @modal-header-border-color;

@modal-lg:                    900px;
@modal-md:                    600px;
@modal-sm:                    300px;


//== Alerts
//
//## Define alert colors, border radius, and padding.

@alert-padding:               @s5;
@alert-border-radius:         @border-radius-base;
@alert-link-font-weight:      bold;

@alert-success-bg:            @state-success-bg;
@alert-success-text:          @state-success-text;
@alert-success-border:        @state-success-border;

@alert-info-bg:               @state-info-bg;
@alert-info-text:             @state-info-text;
@alert-info-border:           @state-info-border;

@alert-warning-bg:            @state-warning-bg;
@alert-warning-text:          @state-warning-text;
@alert-warning-border:        @state-warning-border;

@alert-danger-bg:             @state-danger-bg;
@alert-danger-text:           @state-danger-text;
@alert-danger-border:         @state-danger-border;


//== Progress bars
//
//##

//** Background color of the whole progress component
@progress-bg:                 @gray-light;
//** Progress bar text color
@progress-bar-color:          @white;
//** Variable for setting rounded corners on progress bar.
@progress-border-radius:      @border-radius-base;

//** Default progress bar color
@progress-bar-bg:             @blue-brand;
//** Success progress bar color
@progress-bar-success-bg:     @brand-success;
//** Warning progress bar color
@progress-bar-warning-bg:     @brand-warning;
//** Danger progress bar color
@progress-bar-danger-bg:      @brand-danger;
//** Info progress bar color
@progress-bar-info-bg:        @brand-info;


//== List group
//
//##

//** Background color on `.list-group-item`
@list-group-bg:                 @white;
//** `.list-group-item` border color
@list-group-border:             @gray-light;
//** List group border radius
@list-group-border-radius:      @border-radius-base;

//** Background color of single list items on hover
@list-group-hover-bg:           transparent;
//** Text color of active list items
@list-group-active-color:       @blue-dark;
//** Background color of active list items
@list-group-active-bg:          transparent;
//** Border color of active list elements
@list-group-active-border:      @list-group-border;
//** Text color for content within active list items
@list-group-active-text-color:  @blue-dark;

//** Text color of disabled list items
@list-group-disabled-color:      @gray-light;
//** Background color of disabled list items
@list-group-disabled-bg:         transparent;
//** Text color for content within disabled list items
@list-group-disabled-text-color: @list-group-disabled-color;

@list-group-link-color:         @blue-brand;
@list-group-link-hover-color:   @blue-brand;
@list-group-link-heading-color: @black;


//== Panels
//
//##

@panel-bg:                    @white;
@panel-body-padding:          21px @s5;
@panel-heading-padding:       21px @s5;
@panel-footer-padding:        13px @s5;
@panel-border-radius:         @border-radius-base;

//** Border color for elements within panels
@panel-inner-border:          @gray-light;
@panel-footer-bg:             @gray-lighter;

@panel-default-text:          @black;
@panel-default-border:        @gray-light;
@panel-default-heading-bg:    @gray-lighter;

@panel-primary-text:          @white;
@panel-primary-border:        @brand-primary;
@panel-primary-heading-bg:    @brand-primary;

@panel-success-text:          @white;
@panel-success-border:        @state-success-border;
@panel-success-heading-bg:    @state-success-bg;

@panel-info-text:             @white;
@panel-info-border:           @blue-brand;
@panel-info-heading-bg:       @white;

@panel-warning-text:          @white;
@panel-warning-border:        @state-warning-border;
@panel-warning-heading-bg:    @state-warning-bg;

@panel-danger-text:           @white;
@panel-danger-border:         @state-danger-border;
@panel-danger-heading-bg:     @state-danger-bg;


//== Thumbnails
//
//##

//** Padding around the thumbnail image
@thumbnail-padding:           @s8;
//** Thumbnail background color
@thumbnail-bg:                @body-bg;
//** Thumbnail border color
@thumbnail-border:            @gray-light;
//** Thumbnail border radius
@thumbnail-border-radius:     @border-radius-base;

//** Custom text color for thumbnail captions
@thumbnail-caption-color:     @text-color;
//** Padding around the thumbnail caption
@thumbnail-caption-padding:   @s6;


//== Wells
//
//##

@well-bg:                     @gray-lighter;
@well-border:                 transparent;


//== Badges
//
//##

@badge-color:                 @white;
//** Linked badge text color on hover
@badge-link-hover-color:      @white;
@badge-bg:                    @gray-light;

//** Badge text color in active nav link
@badge-active-color:          @link-color;
//** Badge background color in active nav link
@badge-active-bg:             @white;

@badge-font-weight:           bold;
@badge-line-height:           1;
@badge-border-radius:         0;


//== Breadcrumbs
//
//##

@breadcrumb-padding-vertical:   0;
@breadcrumb-padding-horizontal: 0;
//** Breadcrumb background color
@breadcrumb-bg:                 transparent;
//** Breadcrumb text color
@breadcrumb-color:              @gray-light;
//** Text color of current page in the breadcrumb
@breadcrumb-active-color:       @black;
//** Textual separator for between breadcrumb elements
@breadcrumb-separator:          "/";


//== Carousel
//
//##

@carousel-text-shadow:                        0 1px 2px rgba(0,0,0,.6);

@carousel-control-color:                      @white;
@carousel-control-width:                      15%;
@carousel-control-opacity:                    .5;
@carousel-control-font-size:                  @t4-font-size;

@carousel-indicator-active-bg:                @white;
@carousel-indicator-border-color:             @white;

@carousel-caption-color:                      @white;


//== Close
//
//##

@close-font-weight:           bold;
@close-color:                 @black;
@close-text-shadow:           0 1px 0 @white;


//== Code
//
//##

@code-color:                  @red;
@code-bg:                     @gray-lighter;

@kbd-color:                   @white;
@kbd-bg:                      @gray-light;

@pre-bg:                      @gray-light;
@pre-color:                   @gray-dark;
@pre-border-color:            @gray;
@pre-scrollable-max-height:   340px;


//== Type
//
//##

//** Horizontal offset for forms and lists.
@component-offset-horizontal: 180px;
//** Text muted color
@text-muted:                  @gray-light;
//** Abbreviations and acronyms border color
@abbr-border-color:           @gray-light;
//** Headings small color
@headings-small-color:        @gray-light;
//** Blockquote small color
@blockquote-small-color:      @gray-light;
//** Blockquote font size
@blockquote-font-size:        (@font-size-base * 1.25);
//** Blockquote border color
@blockquote-border-color:     @gray-lighter;
//** Page header border color
@page-header-border-color:    @gray-lighter;
//** Width of horizontal description list titles
@dl-horizontal-offset:        @component-offset-horizontal;
//** Point at which .dl-horizontal becomes horizontal
@dl-horizontal-breakpoint:    @grid-float-breakpoint;
//** Horizontal line color.
@hr-border:                   @gray-light;
