// Color
//
// Color Swatches.
//
// Markup:
// <div class="color-swatch color-swatch--blue-brand">
//    <pre>@blue-brand</pre>
//    <pre>#00A0F0</pre>
// </div>
// <div class="color-swatch color-swatch--white">
//    <pre>@white</pre>
//    <pre>#FFF</pre>
// </div>
// <div class="color-swatch color-swatch--grey-dark">
//    <pre>@grey-dark</pre>
//    <pre>#4B5564</pre>
// </div>
// <div class="color-swatch color-swatch--grey-middle">
//    <pre>@grey-middle</pre>
//    <pre>#78879B</pre>
// </div>
// <div class="color-swatch color-swatch--grey-light">
//    <pre>@grey-light</pre>
//    <pre>#D9DEE8</pre>
// </div>
// <div class="color-swatch color-swatch--grey-lighter">
//    <pre>@grey-lighter</pre>
//    <pre>#EEF0F2</pre>
// </div>
// <div class="color-swatch color-swatch--black">
//    <pre>@black</pre>
//    <pre>#000</pre>
// </div>
// <div class="color-swatch color-swatch--blue-dark">
//    <pre>@blue-dark</pre>
//    <pre>#003C7D</pre>
// </div>
// <div class="color-swatch color-swatch--blue-medium">
//    <pre>@blue-medium</pre>
//    <pre>#0078DC</pre>
// </div>
// <div class="color-swatch color-swatch--orange">
//    <pre>@orange</pre>
//    <pre>#FFB400</pre>
// </div>
// <div class="color-swatch color-swatch--red">
//    <pre>@red</pre>
//    <pre>#E60050</pre>
// </div>
// <div class="color-swatch color-swatch--yellow">
//    <pre>@yellow</pre>
//    <pre>#FAE100</pre>
// </div>
// <div class="color-swatch color-swatch--turquoise">
//    <pre>@turquoise</pre>
//    <pre>#0F968C</pre>
// </div>
//
// Styleguide 1.0

// Primary Colors

@blue-brand: #00A0F5;
@blue-medium: #0078DC;
@blue-dark: #003C7D;
@button-blue-bg: #00A0F5;
@button-disabled-bg: #7F7F7F;

@white: #FFF;
@grey-lighter: #EEF0F2;
@grey-light: #D9DEE8;
@grey-middle: #78879B;
@grey-dark: #4B5564;
@black: #000;
@label-grey-light: #8E9BAC;

// Secondary Colors

@orange: #FFB400;
@orange-dark: #FA9010;
@purple: #A51482;
@purple-dark: #841068;
@red: #E60050;
@red-dark: #B80040;
@yellow: #FAE100;
@yellow-dark: #F0D90A;
@turquoise: #0F968C;
@turquoise-dark: #0C7870;

//Pali colors
@primary: #00A0F5;

@secondary-dark: #003C7D;

@secondary-medium: #0055BE;

@secondary-bright: #50AFE1;

@secondary-light: #73C3F0;

@secondary-normal: #0078DC;

@orange: #FFB400;

@purple: #A51482;

@red: #E60050;

@yellow: #FAE100;

@green: #9BC832;

@green-dark: #0F968C;

@turquoise: #0F968C;

@warning: #D49704;

@black: #000;

@gray-dark: #4B5564;

@gray-medium: #78879B;

@gray-light: #EEF0F2;

@gray: #D9DEE8;

@white: #FFF;

@alert-warning: #FFEDC3;

@link-color: #353C47;

@link-color-hover: #C2CCDB;

@inactive-gray: #C0C3C9;

