// Fonts

@font-path: "../fonts";
@font-weight-thin: 100;
@font-weight-extra-light: 200;
@font-weight-light: 300;
@font-weight-normal: 400;
@font-weight-medium: 500;
@font-weight-semi-bold: 600;
@font-weight-bold: 700;
@font-weight-extra-bold: 800;
@font-weight-heavy: 900;

@font-face {
    font-family: "tktype";
    src: url("@{font-path}/tktypebold.eot");
    /* stylelint-disable */
    src: url("@{font-path}/tktypebold.eot?#iefix") format("eot"),
         url("@{font-path}/tktypebold.woff") format("woff"),
         url("@{font-path}/tktypebold.ttf") format("truetype"),
         url("@{font-path}/tktypebold.svg") format("svg");
    /* stylelint-enable */
    font-weight: @font-weight-bold;
    font-style: normal;
}

@font-face {
    font-family: "tktype";
    src: url("@{font-path}/tktypeitalic.eot");
    /* stylelint-disable */
    src: url("@{font-path}/tktypeitalic.eot?#iefix") format("eot"),
         url("@{font-path}/tktypeitalic.woff") format("woff"),
         url("@{font-path}/tktypeitalic.ttf") format("truetype"),
         url("@{font-path}/tktypeitalic.svg") format("svg");
    /* stylelint-enable */
    font-weight: @font-weight-normal;
    font-style: italic;
}

@font-face {
    font-family: "tktype";
    src: url("@{font-path}/tktypemedium.eot");
    /* stylelint-disable */
    src: url("@{font-path}/tktypemedium.eot?#iefix") format("eot"),
         url("@{font-path}/tktypemedium.woff") format("woff"),
         url("@{font-path}/tktypemedium.ttf") format("truetype"),
         url("@{font-path}/tktypemedium.svg") format("svg");
    /* stylelint-enable */
    font-weight: @font-weight-medium;
    font-style: normal;
}

@font-face {
    font-family: "tktype";
    src: url("@{font-path}/tktyperegular.eot");
    /* stylelint-disable */
    src: url("@{font-path}/tktyperegular.eot?#iefix") format("eot"),
         url("@{font-path}/tktyperegular.woff") format("woff"),
         url("@{font-path}/tktyperegular.ttf") format("truetype"),
         url("@{font-path}/tktyperegular.svg") format("svg");
    /* stylelint-enable */
    font-weight: @font-weight-normal;
    font-style: normal;
}

@tk-font-family: "tktype", "Arial", "Verdana", sans-serif;

// Font Scale

@t1-font-size: 81px;
@t1-line-height: 100px;

@t2-font-size: 54px;
@t2-line-height: 70px;

@t3-font-size: 36px;
@t3-line-height: 49px;

@t4-font-size: 24px;
@t4-line-height: 33px;

@t5-font-size: 21px;
@t5-line-height: 31px;

@t6-font-size: 16px;
@t6-line-height: 26px;

@t7-font-size: 14px;
@t7-line-height: 20px;

@t8-font-size: 12px;
@t8-line-height: 14px;

@btn-normal-font-size: 19px;
@btn-normal-line-height: 21px;

@btn-sm-line-height: 18px;

@base-font-size: @t6-font-size;
@base-line-height: @t6-line-height;

// Icon Fonts

@font-face {
    font-family: "thyssen-krupp-iconfont";
    /* stylelint-disable */
    src: url("@{font-path}/thyssen-krupp-iconfont.woff") format("woff"),
         url("@{font-path}/thyssen-krupp-iconfont.ttf") format("truetype"),
         url("@{font-path}/thyssen-krupp-iconfont.svg") format("svg");
    /* stylelint-enable */
    font-weight: @font-weight-normal;
    font-style: normal;
}

@tk-icon-font: "thyssen-krupp-iconfont";

// Web icons (images)

@tk-web-icon-base-url: "../images/icons";

// Standard Spacing

@s0: 120px;
@s1: 80px;
@s2: 54px;
@s3: 36px;
@s4: 24px;
@s5: 16px;
@s6: 11px;
@s7: 7px;
@s8: 4px;
@s9: 2px;

// Width variables (appears count calculates by raw css)

@width0: 100%; // Appears 11 times
@width2: 12px; // Appears 6 times
@width4: 20px; // Appears 2 times
@width5: 10px; // Appears 2 times
@width6: 60%; // Appears 2 times
@width12: 8px; // Appears 4 times

// Height variables (appears count calculates by raw css)

@height1: 100%; // Appears 7 times
@height3: 20px; // Appears 2 times
@height5: 12px; // Appears 6 times
@height8: 8px; // Appears 2 times
@height9: 6px; // Appears 4 times

@screen-xl-max: 1920px;
@s15: 15px;
@s20: 20px;
@s30: 30px;
