// Core variables and mixins
@import "../../../../lib/bootstrap-3.3.7/less/mixins";

// Reset and dependencies
@import "../../../../lib/bootstrap-3.3.7/less/normalize";
@import "../../../../lib/bootstrap-3.3.7/less/print";
@import "../../../../lib/bootstrap-3.3.7/less/glyphicons"; // TODO: Task to change update Base Shop HTML, replacing Glyphicons with Custom TK Icons

// Core CSS
@import "../../../../lib/bootstrap-3.3.7/less/scaffolding";
@import "../../../../lib/bootstrap-3.3.7/less/type";
//@import "../../../../lib/bootstrap-3.3.7/less/code"; // Unused and not needed.
@import "../../../../lib/bootstrap-3.3.7/less/grid";
@import "../../../../lib/bootstrap-3.3.7/less/tables";
@import "../../../../lib/bootstrap-3.3.7/less/forms";
@import "../../../../lib/bootstrap-3.3.7/less/buttons";

// Components
@import "../../../../lib/bootstrap-3.3.7/less/component-animations";
@import "../../../../lib/bootstrap-3.3.7/less/dropdowns";
@import "../../../../lib/bootstrap-3.3.7/less/button-groups";
@import "../../../../lib/bootstrap-3.3.7/less/input-groups";
@import "../../../../lib/bootstrap-3.3.7/less/navs";
@import "../../../../lib/bootstrap-3.3.7/less/navbar"; // Unused?
@import "../../../../lib/bootstrap-3.3.7/less/breadcrumbs";
@import "../../../../lib/bootstrap-3.3.7/less/pagination";
@import "../../../../lib/bootstrap-3.3.7/less/pager"; // Unused?
@import "../../../../lib/bootstrap-3.3.7/less/labels";
@import "../../../../lib/bootstrap-3.3.7/less/badges"; // Unused?
@import "../../../../lib/bootstrap-3.3.7/less/jumbotron"; // Unused?
@import "../../../../lib/bootstrap-3.3.7/less/thumbnails"; // Unused?
@import "../../../../lib/bootstrap-3.3.7/less/alerts";
@import "../../../../lib/bootstrap-3.3.7/less/progress-bars"; // Unused?
@import "../../../../lib/bootstrap-3.3.7/less/media";
@import "../../../../lib/bootstrap-3.3.7/less/list-group"; // Unused?
@import "../../../../lib/bootstrap-3.3.7/less/panels";
@import "../../../../lib/bootstrap-3.3.7/less/responsive-embed";
@import "../../../../lib/bootstrap-3.3.7/less/wells";
@import "../../../../lib/bootstrap-3.3.7/less/close";

// Components w/ JavaScript
//@import "../../../../lib/bootstrap-3.3.7/less/modals"; // Unused
@import "../../../../lib/bootstrap-3.3.7/less/tooltip";
@import "../../../../lib/bootstrap-3.3.7/less/popovers";
//@import "../../../../lib/bootstrap-3.3.7/less/carousel"; // Unused

// Utility classes
@import "../../../../lib/bootstrap-3.3.7/less/utilities";
@import "../../../../lib/bootstrap-3.3.7/less/responsive-utilities";

// Owl Carousel
// @import "~owl.carousel/dist/assets/owl.carousel.css";

// Plugin Customisations - TODO: Move to theme source file

// Carousel
//
// Carousel component.
//
// Markup:
// <div class="owl-carousel owl-theme owl-loaded">
//     <div class="owl-controls">
//         <div class="owl-nav">
//             <div class="owl-prev disabled"></div>
//             <div class="owl-next"></div>
//         </div>
//         <div class="owl-dots">
//             <div class="owl-dot"><span></span></div>
//             <div class="owl-dot"><span></span></div>
//             <div class="owl-dot"><span></span></div>
//             <div class="owl-dot active"><span></span></div>
//         </div>
//     </div>
// </div>

.owl-controls {
    display: inline-block;
    line-height: 22px;
    vertical-align: middle;
    margin-left: 22px;

    .owl-nav {

        .owl-prev,
        .owl-next {
            color: @blue-brand;
            cursor: pointer;
            font-size: 22px;
            height: 22px;
            margin-top: -11px;
            position: absolute;
            text-decoration: none;
            top: 50%;
            user-select: none;

            &.disabled {
                color: @grey-middle;
                cursor: default;
            }

            &:before {
                display: inline-block;
                font-family: @tk-icon-font;
                speak: none;
                font-style: normal;
                font-weight: @font-weight-normal;
                font-variant: normal;
                text-transform: none;
                text-decoration: none;
                line-height: 1;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }
        }

        .owl-prev {
            left: -25px;

            &:before {
                content: "\e61d";
            }
        }

        .owl-next {
            right: -25px;

            &:before {
                content: "\e61a";
            }
        }
    }

    .owl-dots {
        margin: 0;
        padding: 0;

        .owl-dot {
            border-radius: 15px;
            border: 2px solid @grey-lighter;
            display: block;
            float: left;
            height: 11px;
            margin: 0 5px;
            width: 11px;

            &.active {
                background-color: @blue-brand;
                border-color: @blue-brand;
            }
        }
    }
}
