// @import url(//fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic);
// @import url(//fonts.googleapis.com/css?family=Cabin:400,400italic,500,500italic,600,600italic,700,700italic);
// @import url(//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);

@import "_ybase/vendor";
@import "_ybase/global";
@import "../../../../lib/ybase-0.1.0/less/mixins";
//@import "_ybase/buttons";

//// replace bootstrap defaults
//@import "../../../../lib/ybase-0.1.0/less/image-gallery"; //unused?
//@import "_ybase/addtocart-component";
//@import "../../../../lib/ybase-0.1.0/less/components"; //unused?
//@import "../../../../lib/ybase-0.1.0/less/product-list"; //unused?
//@import "../../../../lib/ybase-0.1.0/less/product-facet"; //unused?
//@import "_ybase/cart"; //unused?
//@import "../../../../lib/ybase-0.1.0/less/pickup"; //unused?
// @import "../../../../lib/ybase-0.1.0/less/addressbook"; //unused?
//@import "../../../../lib/ybase-0.1.0/less/login-section"; //unused?
//@import "../../../../lib/ybase-0.1.0/less/checkout"; //unused?
//@import "../../../../lib/ybase-0.1.0/less/storefinder"; //unused?
@import "_ybase/inlineLayer";
//@import "../../../../lib/ybase-0.1.0/less/price"; //unused?
//@import "../../../../lib/ybase-0.1.0/less/account"; //unused?
//@import "../../../../lib/ybase-0.1.0/less/quick-view-popup"; //unused?
@import "../../../../lib/ybase-0.1.0/less/tables";
//@import "_ybase/coupon"; //unused?
//@import "../../../../lib/ybase-0.1.0/less/faq"; //unused?
//@import "../../../../lib/ybase-0.1.0/less/landingLayout2page"; //unused?

// multi-d
//@import "../../../../lib/ybase-0.1.0/less/order-form"; //unused?
//@import "../../../../lib/ybase-0.1.0/less/quick-order"; //unused?
//@import "../../../../lib/ybase-0.1.0/less/csv-import"; //unused?

// print
@import "../../../../lib/ybase-0.1.0/less/print";

//TODO: Check if below rule is necessary, if required move it to appropriate file.

.skip,
.skiptocontent,
.skiptonavigation {
    .sr-only;
}
