@breadcrumb-margin-bottom: @s2;
@breadcrumb-divider: "/";
@breadcrumb-item-padding: @s6;

// Breadcrumbs
//
// Breadcrumbs styles based on Bootstrap 3.3.7.
//
// Markup:
// <ol class="breadcrumb">
//     <li><a href="#">Home</a></li>
//     <li><a href="#">Library</a></li>
//     <li class="active">Data</li>
// </ol>
//
// Styleguide 11.0

.breadcrumb {
    margin-bottom: @width4;
    .clearfix();

    li {
        float: left;

        + li:before {
            color: @grey-middle;
            display: inline-block;
            content: "@{breadcrumb-divider}";
            padding-left: @breadcrumb-item-padding;
            padding-right: @breadcrumb-item-padding;
        }

        a,
        a:visited,
        a:active {
            color: @grey-middle;
        }

        .active {
            color: @grey-dark;
        }
    }
}
