@button-group-space: 1px;

// Button Groups
//
// Button groups. All derived from Bootstrap 3.3.7.
//
// .btn-default  - Indicates a default button.
// .btn-primary  - Indicates a primary button.
// .btn-success  - Indicates a success button.
// .btn-info     - Indicates a info button.
// .btn-warning  - Indicates a warning button.
// .btn-danger   - Indicates a danger button.
//
// Markup:
// <div class="btn-group" role="group" aria-label="example button group">
//     <button type="button" class="btn {{modifier_class}}">Left</button>
//     <button type="button" class="btn {{modifier_class}}">Middle</button>
//     <button type="button" class="btn {{modifier_class}}">Right</button>
// </div>
//
// Styleguide 8.0

.btn-group .btn + .btn,
.btn-group .btn + .btn-group,
.btn-group .btn-group + .btn,
.btn-group .btn-group + .btn-group {
    margin-left: @button-group-space;
}

.btn-group > .btn + .dropdown-toggle {
    padding-left: @s6;
    padding-right: @s6;
}

.btn-group.open .dropdown-toggle {
    box-shadow: none;
}
