// Dropdowns
//
// Dropdown styles based on Bootstrap 3.3.7.
//
// Markup:
// <!-- Note: This example is for visually referencing a dropdown.  See other usages for example implementation. -->
// <!-- See: https://getbootstrap.com/docs/3.3/javascript/#tooltips for JavaScript requirements. -->
// <div class="dropdown">
//     <button class="btn btn-info dropdown-toggle" type="button" id="example-dropdown-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> Dropdown
//         <span class="caret"></span>
//     </button>
//     <ul class="dropdown-menu" aria-labelledby="example-dropdown-menu">
//         <li class="dropdown-header">Dropdown header</li>
//         <li><a href="#">Action</a></li>
//         <li><a href="#">Another action</a></li>
//         <li><a href="#">Something else here</a></li>
//         <li role="separator" class="divider"></li>
//         <li class="dropdown-header">Dropdown header</li>
//         <li><a href="#">Separated link</a></li>
//         <li class="disabled"><a href="#">Disabled link</a></li>
//     </ul>
// </div>
//
// Styleguide 7.0

.dropdown {

    .dropdown-toggle {
        text-align: left;
        position: relative;
        padding-right: 25px;

        .caret {
            position: absolute;
            top: 50%;
            right: 10px;
        }
    }

    &.open {

        > .dropdown-toggle.btn-info {
            background-color: @white;
            border-color: @grey-light;
        }
    }
}

.dropdown-menu {
    padding: (@s5/2) 0;
    box-shadow: none;

    > .dropdown-header {
        padding: (@s5/2) @s5;
    }

    &.selected,
    &.active {

        > a {
            color: @blue-dark;
        }
    }

    li {

        > a {
            padding: (@s5/2) @s5;

            &:hover {
                color: @blue-brand;
                text-decoration: underline;
            }
        }
    }

    > .divider {
        margin: 0 0 @s5;
    }
}
