@input-error-color: @red;
@group-margin: @s4;
@label-bottom-margin: @s5;
@check-label-padding: 1.25em;
@check-label-line-height: 28px;
@input-background-color: @white;
@input-color: @black;
@input-border-color: @grey-light;
@input-padding: @s5;
@input-height: 42px;
@input-height-sm: 34px;
@input-bottom-margin: @s3;
@select-icon-url: "@{tk-web-icon-base-url}/Web_previous/Web_previous_RGB_blue.png";
@textarea-padding-top: @s6;
@help-block-font-size: @t7-font-size;
@help-block-line-height: @t7-line-height;
@checkbox-size: 22px;

// Forms
//
// Form styles based on Bootstrap 3.3.7.
//
// Markup:
// <form>
//     <div class="form-group">
//         <label class="control-label">Email</label>
//         <input type="text" class="form-control" placeholder="Email">
//     </div>
//     <div class="form-group">
//         <label class="control-label">Password</label>
//         <input type="password" class="form-control" placeholder="Password">
//     </div>
//     <div class="checkbox">
//         <label>
//             <input type="checkbox"> Check me
//         </label>
//     </div>
//     <button type="submit" class="btn btn-default">Submit</button>
// </form>
//
// Styleguide 5.0

// Input Field
//
// Input field styles based on Bootstrap 3.3.7. Includes support for all HTML5 types: text, password, datetime,
// datetime-local, date, month, time, week, number, email, url, search, tel, and color.
//
// .has-success - Field has a success state
// .has-warning - Field has a warning state
// .has-error - Field has an error state
//
// Markup:
// <form>
//     <div class="form-group {{modifier_class}}">
//         <label class="control-label">Text input</label>
//         <input type="text" class="form-control" placeholder="Text input">
//         <span class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>
//     </div>
//     <div class="form-group {{modifier_class}}">
//         <label class="control-label">Text input</label>
//         <input type="text" class="form-control" placeholder="Disabled text input" disabled>
//         <span class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>
//     </div>
//     <div class="form-group {{modifier_class}}">
//         <label class="control-label">Text input</label>
//         <input type="text" class="form-control" placeholder="Read only text input" readonly>
//         <span class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>
//     </div>
// </form>
//
// Styleguide 5.1

// Textarea
//
// Textarea field styles based on Bootstrap 3.3.7.
//
// .has-success - Field has a success state
// .has-warning - Field has a warning state
// .has-error - Field has an error state
//
// Markup:
// <form>
//    <div class="form-group {{modifier_class}}">
//        <textarea class="form-control" rows="3">textarea</textarea>
//    </div>
// </form>
//
// Styleguide 5.2

textarea {
    /* stylelint-disable */
    &.form-control {
        padding-top: @textarea-padding-top;
        min-height: 141px;
    }
    /* stylelint-enable */
}

// Radio
//
// Radio input styles based on Bootstrap 3.3.7.  Support for both stacked and inline.
//
// .has-success - Field has a success state
// .has-warning - Field has a warning state
// .has-error - Field has an error state
//
// Markup:
// <form>
//     <div class="form-group {{modifier_class}}">
//         <div class="radio">
//             <label>
//                 <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
//                 Option 1
//             </label>
//         </div>
//         <div class="radio">
//             <label>
//                 <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
//                 Option 2
//             </label>
//         </div>
//         <div class="radio disabled">
//             <label>
//                 <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" disabled>
//                 Option three is disabled
//             </label>
//         </div>
//     </div>
//     <div class="form-group {{modifier_class}}">
//         <label class="radio-inline">
//             <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
//             Option 1
//         </label>
//         <label class="radio-inline">
//             <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
//             Option 2
//         </label>
//         <label class="radio-inline">
//             <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" disabled>
//             Option 3 is disabled
//         </label>
//     </div>
// </form>
//
// Styleguide 5.3

.radio {

    > input[type="radio"] {
        display: none;

        ~ label {
            padding: 0;

            // &:before {
            //    border: 1px solid @grey-light;
            //    border-radius: 100%;
            //    content: " ";
            //    display: inline-block;
            //    height: @checkbox-size;
            //    margin-right: @s6;
            //    vertical-align: text-bottom;
            //    width: @checkbox-size;
            // }
        }

        &:checked {

            ~ label {

                // &:before {
                //    border: @s7 solid @blue-brand;
                //    color: @blue-brand;
                // }
            }
        }
    }
}

// Checkbox
//
// Checkbox input styles based on Bootstrap 3.3.7.  Support for both stacked and inline.
//
// .has-success - Field has a success state
// .has-warning - Field has a warning state
// .has-error - Field has an error state
//
// Markup:
// <form>
//     <div class="form-group {{modifier_class}}">
//         <div class="checkbox">
//             <label>
//                 <input type="checkbox" value="" checked>
//                 Option 1
//             </label>
//         </div>
//         <div class="checkbox">
//             <label>
//                 <input type="checkbox" value="">
//                 Option 2
//             </label>
//         </div>
//         <div class="checkbox disabled">
//             <label>
//                 <input type="checkbox" value="" disabled>
//                 Option three is disabled
//             </label>
//         </div>
//     </div>
//     <div class="form-group {{modifier_class}}">
//         <label class="checkbox-inline">
//             <input type="checkbox" value="" checked>
//             Option 1
//         </label>
//         <label class="checkbox-inline">
//             <input type="checkbox" value="">
//             Option 2
//         </label>
//         <label class="checkbox-inline">
//             <input type="checkbox" value="" disabled>
//             Option 3 is disabled
//         </label>
//     </div>
// </form>
//
// Styleguide 5.4

.checkbox {

    > input[type="checkbox"] {
        display: none;

        ~ label {
            padding: 0;

            &:before {
                border: solid 1px @grey-light;
                color: @white;
                content: "\E648";
                display: inline-block;
                font-family: "thyssen-krupp-iconfont";
                height: @checkbox-size;
                line-height: @checkbox-size;
                margin-right: @s6;
                text-align: center;
                width: @checkbox-size;
            }
        }

        &:checked {

            ~ label {

                &:before {
                    border: none;
                    background-color: @blue-brand;
                }
            }
        }
    }

    &--accept-terms {
        margin-bottom: @s3;
        margin-top: 0;
    }
}

//.m-form {
//
//    &__form-control {
//
//        &--dropdown {
//            height: ~"calc(2.5em + 4px)";
//            //appearance: none;
//            color: @blue-brand;
//            //background-image: url(@select-icon-url);
//            //background-position: center right @input-padding;
//            //background-repeat: no-repeat;
//            //background-size: 16px;
//        }
//
//        &[multiple],
//        &--textarea {
//            height: auto;
//        }
//
//        &[multiple]:focus option:checked {
//            background: @blue-brand linear-gradient(0deg, @blue-brand 0%, @blue-brand 100%);
//        }
//    }
//}

.form-group {
    margin-bottom: @group-margin;
}

.control-label {
    color: @black;
    font-weight: @font-weight-normal;
}

.form-control {
    padding: 0 @input-padding;
    height: @input-height;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    .box-shadow(none);

    &:focus {
        outline: none;
        border: 1px solid @blue-brand;
        box-shadow: fade(@blue-brand, 20%) 0 2px 4px;
    }

    &[disabled] {
        border-color: @grey-lighter;
        color: @grey-middle;
    }

    //&--dropdown {
    //    height: ~"calc(2.5em + 4px)";
    //    //appearance: none;
    //    color: @blue-brand;
    //    //background-image: url(@select-icon-url);
    //    //background-position: center right @input-padding;
    //    //background-repeat: no-repeat;
    //    //background-size: 16px;
    //}
    //
    //&[multiple],
    //&--textarea {
    //    height: auto;
    //}
    //
    //&[multiple]:focus option:checked {
    //    background: @blue-brand linear-gradient(0deg, @blue-brand 0%, @blue-brand 100%);
    //}
    //
    //&--file {
    //    display: block;
    //}
}

.help-block {
    margin-top: @s5;
    font-size: @help-block-font-size;
    line-height: @help-block-line-height;
    color: @grey-middle;

    &--required-fields {
        margin-top: 0;
    }

    &--counter {
        margin-top: @s7 - @s4;
        margin-bottom: @s4;
    }
}

.has-success {

    .form-control:focus {
        box-shadow: fade(@turquoise, 20%) 0 2px 4px;
    }
}

.has-warning {

    .form-control:focus {
        box-shadow: fade(@purple, 20%) 0 2px 4px;
    }
}

.has-error {

    .form-control:focus {
        box-shadow: fade(@red, 20%) 0 2px 4px;
    }
}

.form-control-clear {
    z-index: 10;
    pointer-events: auto;
    cursor: pointer;
    font-size: @t8-font-size;
}
