// Labels
//
// Labels. All derived from Bootstrap 3.3.7.
//
// .label-default  - A default label style.
// .label-primary  - A primary label style.
// .label-success  - A success label style.
// .label-info     - An info label style.
// .label-warning  - A warning label style.
// .label-danger   - A danger label style.
//
// Markup:
// <h1>Example heading <span class="label {{modifier_class}}">New</span></h1>
// <h2>Example heading <span class="label {{modifier_class}}">New</span></h2>
// <h3>Example heading <span class="label {{modifier_class}}">New</span></h3>
// <h4>Example heading <span class="label {{modifier_class}}">New</span></h4>
// <h5>Example heading <span class="label {{modifier_class}}">New</span></h5>
// <h6>Example heading <span class="label {{modifier_class}}">New</span></h6>
// <span class="label {{modifier_class}}">Default</span>
//
// Styleguide 13.0

.label {
    padding: 0.25em 0.2em 0.1em;

    &.label-warning {
        color: @grey-dark;
    }
}
