@circle-size: @s5 * 2;

// Pagination
//
// Pagination styles based on Bootstrap 3.3.7.
//
// Markup:
// <nav aria-label="Page navigation">
//     <ul class="pagination">
//         <li class="disabled">
//             <a href="#" aria-label="Previous">
//                 <span aria-hidden="true"></span>
//             </a>
//         </li>
//         <li class="active"><a href="#"><span>1</span></a></li>
//         <li><a href="#">2</a></li>
//         <li><a href="#">3</a></li>
//         <li><a href="#">4</a></li>
//         <li><a href="#">5</a></li>
//         <li><span>&hellip;</span></li>
//         <li><a href="#">17</a></li>
//         <li>
//             <a href="#" aria-label="Next">
//                 <span aria-hidden="true"></span>
//             </a>
//         </li>
//     </ul>
// </nav>
// <nav aria-label="Page navigation">
//     <ul class="pagination">
//         <li>
//             <a href="#" aria-label="Previous">
//                 <span aria-hidden="true"></span>
//             </a>
//         </li>
//         <li><a href="#">1</a></li>
//         <li><span>&hellip;</span></li>
//         <li><a href="#">13</a></li>
//         <li><a href="#">14</a></li>
//         <li><a href="#">15</a></li>
//         <li><a href="#">16</a></li>
//         <li class="active"><a href="#">17</a></li>
//         <li class="disabled">
//             <a href="#" aria-label="Next">
//                 <span aria-hidden="true"></span>
//             </a>
//         </li>
//     </ul>
// </nav>
// <nav aria-label="Page navigation">
//     <ul class="pagination">
//         <li>
//             <a href="#" aria-label="Previous">
//                 <span aria-hidden="true"></span>
//             </a>
//         </li>
//         <li><a href="#">1</a></li>
//         <li><span>&hellip;</span></li>
//         <li><a href="#">7</a></li>
//         <li class="active"><a href="#">8</a></li>
//         <li><a href="#">9</a></li>
//         <li><span>&hellip;</span></li>
//         <li><a href="#">17</a></li>
//         <li>
//             <a href="#" aria-label="Next">
//                 <span aria-hidden="true"></span>
//             </a>
//         </li>
//     </ul>
// </nav>
//
// Styleguide 12.0

.pagination {
    font-size: @t5-font-size;
    margin: 0 0 @s1;

    > li {

        > a,
        > span {
            border: none;
            border-radius: @circle-size;
            display: block;
            height: @circle-size;
            line-height: @t5-line-height;
            margin: 0 @s5 0 0;
            min-width: @circle-size;
            padding: 0;
            text-align: center;
        }

        &:first-child,
        &:last-child {

            > a {
                font-family: "thyssen-krupp-iconfont";
            }
        }

        &:last-child {
            margin: 0;
        }

        /* stylelint-disable */
        &.active {
            /* stylelint-enable */

            > a {
                background-color: @blue-brand;
                color: @white;
            }
        }

        /* stylelint-disable */
        &.disabled {
            /* stylelint-enable */

            > a {
                visibility: hidden;
            }
        }
    }
}
