// Tables
//
// Tables. All derived from Bootstrap 3.3.7.
//
// .table-striped - Table with alternating stripes.
// .table-bordered - Table with a border.
// .table-hover - Table with row hover.
// .table-condensed - A condensed size table.
//
// Markup:
//<table class="table {{modifier_class}}">
//    <caption>Optional table caption.</caption>
//    <thead>
//        <tr>
//            <th>#</th>
//            <th>Lorem</th>
//            <th>Ipsum</th>
//            <th>Dolor</th>
//        </tr>
//    </thead>
//    <tbody>
//        <tr>
//            <th scope="row">1</th>
//            <td>sit amet</td>
//            <td>consectetur adipiscing</td>
//            <td>elit sed do</td>
//        </tr>
//        <tr>
//            <th scope="row">2</th>
//            <td>eiusmod tempor</td>
//            <td>incididunt ut</td>
//            <td>labore et dolore</td>
//        </tr>
//        <tr>
//            <th scope="row">3</th>
//            <td>magna aliqua</td>
//            <td>Ut enim ad</td>
//            <td>minim veniam</td>
//        </tr>
//    </tbody>
//</table>
//
// Styleguide 4.0

.table {
    color: @grey-dark;

    > thead,
    > tbody,
    > tfoot {

        > tr {

            > th {
                border-bottom-width: 1px;
                font-weight: @font-weight-normal;
            }
        }
    }
}
