.cart-restoration-bar {
    background: #F2F4F7;
    margin-bottom: @grid-gutter-width;
    padding: (@grid-gutter-width/2);

    .full-width-padding();
}

.cart__content {

    .row();
}

.export__cart--link {
    text-align: left;
    width: 100%;
    margin-top: 15px;
    padding-right: @grid-gutter-width;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
    display: inline-block;
    white-space: nowrap;

    .full-width-padding();

    @media (max-width: @screen-xs-max) {
        padding-top: 5px;
    }
}

.express-checkout {
    background-color: @table-2n-line-bg;
    padding: @grid-gutter-width (@grid-gutter-width*2);
    margin: @grid-gutter-width 0;

    @media (min-width: @screen-sm) {
        margin-right: 20px;
    }

    @media (min-width: @screen-md) {
        margin-right: 30px;
    }

    .headline {
        font-size: @font-size-large-4;
        font-weight: 600;
        margin: 0 0 (@grid-gutter-width/2) 0;
    }

    ul {
        margin-top: 5px;

        li {
            list-style-type: disc;
        }
    }

    @media (max-width: @screen-sm-max) and (min-width: @screen-sm-min) {
        padding: @grid-gutter-width;
        margin-right: 20px;
    }

    @media (max-width: @screen-xs-max) {
        margin: 0 0 20px;
        padding: @grid-gutter-width;
    }
}

@image-offset: 100px;

.cartpotproline,
.cartproline {
    font-size: @font-size-large-2;
    padding-bottom: @grid-gutter-width + 5;
    border-bottom: 1px solid @border-color-2;

    .full-width-padding();

    .info {
        font-size: @font-size-base;
    }
}

.promotion {
    font-size: @font-size-base;
    font-weight: 700;
    color: @item-promo-color;
}

.error-details-section {

    .action {
        text-align: center;
        margin: (@grid-gutter-width/2) 0;
    }
}

.doFlowSelectedChange {
    margin-top: @grid-gutter-width;
}

@media (max-width: @screen-xs-max) {

    .cartpotproline,
    .cartproline {
        padding: @grid-gutter-width/2 @grid-gutter-width (@grid-gutter-width + 5);
    }

    .btn--continue-shopping,
    .btn--continue-checkout,
    .btn-create-quote {
        margin-bottom: (@grid-gutter-width - 5);
    }

    .doFlowSelectedChange {
        margin-top: @grid-gutter-width;
    }
}

.content__empty {

    .content {
        margin: 0 auto;
        width: 50%;
    }
}

///////////////////////////////////////////
//   QUOTES                              //
///////////////////////////////////////////
/*stylelint-disable*/
#quoteForm {
    /*stylelint-enable*/

    .form__actions {
        margin-bottom: @grid-gutter-width + 10;
        .full-width-padding();
    }

    .form__actions--cancel,
    .form__actions--done {
        @media (max-width: @screen-xs-max) {
            margin-bottom: (@grid-gutter-width - 5);
        }
    }
}

.cart__quote__edit {

    .quote__head {
        color: @nav-cat-link-color;
        background-color: @nav-cat-background;
        padding: @grid-gutter-width 0;

        .full-width-padding();

        .quote__head--label {
            color: @table-head-color;
            font-size: 15px;
            margin-bottom: 0;
        }

        .label__value {
            display: inline-block;
        }

        .glyphicon {
            font-size: 30px;
            position: absolute;
            height: 30px;
            line-height: 20px;
        }

        .quote__head--title {
            font-size: 15px;
            text-transform: uppercase;
            margin-left: @grid-gutter-width + 13px;
            display: inline-block;

            @media (max-width: @screen-xs-max) {
                margin-bottom: 10px;
            }
        }
    }
}

/*stylelint-disable*/
#quoteFormDiv {
    /*stylelint-enable*/
    background: @header-background-color;
    padding-top: @grid-gutter-width + 5px;

    label {
        color: @text-color;
        font-size: 14px;
        font-weight: 700;
    }
}

.quote__comments--wrapper {
    padding-top: @grid-gutter-width;
    padding-bottom: @grid-gutter-width + 30px;
}

.quote__form--section {

    .full-width-padding();
}

.quote__estimate .quote__estimate--amount {
    display: block;
}

.quote__comments--textarea {
    min-height: 100px;
    max-width: 100%;
    width: 100%;
}

.quote__comments--toggle,
.quote__form--toggle {
    background: none;
    border: none;

    &.collapsed {

        &:after {
            font-family: "Glyphicons Halflings";
            content: "\e114";
        }
    }

    &:after {
        font-family: "Glyphicons Halflings";
        content: "\e113";
        position: relative;
        top: 2px;
    }

    &:focus {
        border: none;
        outline: @nav-cat-background;
    }
}

.quote__form--toggle {
    color: @nav-cat-link-color;
}

.quote__comments__header {
    border-top: 1px solid @border-color-2;
    border-bottom: 1px solid @border-color-2;
    padding: @grid-gutter-width 0;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: @grid-gutter-width + 10;

    .full-width-padding();
}

.quote__comments {
    margin-top: 0;

    .full-width-padding();

    .quote__comments--header {
        font-weight: 700;
        text-transform: uppercase;
        font-size: 14px;
        margin-bottom: @grid-gutter-width;
    }
}

.quote__comments .quote__comments--time {
    font-weight: 700;

    @media (max-width: @screen-sm) {
        margin-bottom: 5px;
    }
}

.quote__comments .quote__comments--role {
    font-weight: 700;
}

.quote__comments .quote__comments--comment {
    word-break: break-all;
}

.form-element-icon.datepicker.quote__expiration .glyphicon {
    @media (min-width: @screen-md) {
        top: 10px;
    }

    @media (min-width: @screenSm) and (max-width: @screen-sm-max) {
        top: 28px;
    }
}

.quote__expiration {
    @media (min-width: @screen-md) {

        .form-group {
            display: table;
            width: 100%;
            margin-bottom: 0;
            margin-top: @grid-gutter-width / 2;
        }
    }
}

.quote__expiration--label {
    @media (min-width: @screen-md) {
        display: table-cell;
        text-align: right;
        padding-right: @grid-gutter-width / 2;
    }

    @media (min-width: @screenSm) and (max-width: @screen-sm-max) {
        margin-bottom: 0;
    }
}

.quote__expiration--input {
    @media (min-width: @screen-md) {
        display: table-cell;
    }

    @media (min-width: @screenSm) and (max-width: @screen-sm-max) {
        padding: (@grid-gutter-width / 4) (@grid-gutter-width / 2);
        height: 28px;
    }
}
