///////////////////////////////////////
//   coupon list on checkout steps   //
///////////////////////////////////////

.checkout-coupon-list {
    @media (max-width: @screen-xs-max) {
        padding-left: @grid-gutter-width/2;
        padding-right: @grid-gutter-width/2;
    }
}

.checkout-order-summary .checkout-coupon-list {
    padding: 30px 0;
    border-bottom: 1px solid @border-color-3;

    @media (max-width: @screen-xs-max) {
        padding-left: @grid-gutter-width;
        padding-right: @grid-gutter-width;
    }
}

.coupon-list__headline {
    .text-variant-header-order-info();
}

.coupon-list {
    margin-top: @grid-gutter-width/4;
    margin-bottom: 0;
    .list-unstyled();
}

.coupon-code {
    text-transform: uppercase;
}

///////////////////////////////////////
//     voucher list on cart page     //
///////////////////////////////////////

.voucher-list {
    margin-top: -5px;
    .list-unstyled();
}

@voucherListItemPaddingVertical: @grid-gutter-width/2;

.voucher-list__item-box {
    display: inline-block;
    border: 1px solid @coupon-list-item-border;
    background-color: @coupon-list-item-bg;
    font-size: @font-size-small;
    font-weight: 600;
    text-transform: uppercase;
    padding: @voucherListItemPaddingVertical 15px;
    margin-top: @grid-gutter-width/2;
}

.voucher-list__item-remove {
    color: @coupon-list-item-remove-icon;
    padding: @voucherListItemPaddingVertical;
    cursor: pointer;
    margin: -@voucherListItemPaddingVertical -@voucherListItemPaddingVertical -@voucherListItemPaddingVertical 0;
    position: relative;
    top: 2px;
}

@media (max-width: @screen-sm-max) {

    .voucher-list__item {
        display: inline-block;
        padding-right: 5px;
    }
}

///////////////////////////////////////
//  Coupon order confirmation page   //
///////////////////////////////////////

.gift__coupon {
    text-align: center;
    border-top: 1px solid @border-color-3;
    margin: 0 auto 55px;
    padding-top: 20px;
    width: 80%;
    .full-width-padding();

    span {
        display: block;
    }

    @media (max-width: @screen-xs) {
        width: 90%;
    }

    @media (min-width: @screen-md) {
        width: 40%;
    }
}

.gift__coupon .gift__coupon--title {
    margin-bottom: 5px;
}

.gift__coupon .gift__coupon--name {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 5px;
}
