// For input fields with glyphicon

.form-element-icon {
    position: relative;

    .glyphicon {
        position: absolute;
    }

    &.datepicker {

        .glyphicon {
            top: 44px;
            right: 10px;
            color: @brand-primary;
            cursor: pointer;

            @media (max-width: @screen-sm-max) {
                top: 38px;
            }
        }
    }
}

fieldset {

    > div:last-of-type {

        input,
        label {
            margin-bottom: 0;
        }
    }
}

.legend {
    margin-bottom: @grid-gutter-width;
}
