//************************************************************
//************************************************************
//************************************************************
//************************************************************
//************************************************************
//                          BASE STYLES
//************************************************************
//************************************************************
//************************************************************
//************************************************************
//************************************************************

//*********Variables*********
@font-family-sans-serif:  "Open Sans", Helvetica, Arial, sans-serif;

//*********General CSS*********

body {
    overflow-x: hidden;
    position: relative;
}

.offcanvas {
    overflow-y: hidden;
}

.no-margin {
    margin: 0;
}

.container-lg {
    @media (min-width: @screen-lg) {
        float: none;
        margin: 0 auto;
        overflow: hidden;
    }
}

@media (max-width: @screen-sm-max) {

    .form-control {

        .input-lg;

        font-size: @font-size-base;
    }
}

/*
General
*****************************************************************/

output {
    display: block;
    padding-top: 7px;
    font-size: 14px;
    line-height: 1.42857143;
    color: @text-color;
}

.display-none {
    display: none;
}

.page-title {
    margin-bottom: 30px;
}

@item-value-font-size: 18px;

@media (min-width: @screen-sm-min) {

    .item-label,
    .item-value {
        display: block;
    }
}

@media (max-width: @screen-xs-max) {

    .item-label,
    .item-value {
        display: inline-block;
        line-height: @line-height-computed;
        vertical-align: top;
        width: 49%;
    }

    .item-value {
        padding-left: @grid-gutter-width/2;
    }

    .item-action {
        margin-top: @grid-gutter-width;
    }
}

.item-label {
    text-transform: uppercase;
    font-weight: 300;
}

.item-value {
    font-size: @item-value-font-size;
    padding-bottom: @grid-gutter-width/2;
    text-overflow: ellipsis;
    overflow: hidden;
}

.container__full {

    .full-width-padding();
}

//////////////////////////////////////////////
//                     well                 //
//////////////////////////////////////////////

.well {
    box-shadow: none;
    background-color: @grayblue;
    border: none;
    border-bottom: 1px solid @table-head-border-color;
    padding: @grid-gutter-width/2 15px;
    margin: 0;

    .clearfix();

    &.well-single-headline {
        padding-left: 0;
        padding-right: 0;
    }

    &.well-xs {
        padding: 0 15px 5px;

        .well-headline {
            padding-top: 15px;
            margin: 0;
        }

        .well-content {
            padding-top: @grid-gutter-width;
        }
    }

    &.well-sm {
        padding: @grid-gutter-width/2 @grid-gutter-width;
    }

    &.well-md {
        padding-top: @grid-gutter-width - 5;
        padding-bottom: @grid-gutter-width - 5;

        .full-width-padding();
    }

    &.well-lg {
        padding-top: 45px;
        padding-bottom: 35px;

        .full-width-padding();
    }

    &.well-primary {
        background-color: @brand-primary;
        color: #FFF;
    }

    &.well-secondary {
        background-color: @well-secondary-bg;
        color: @text-color;
    }

    &.well-tertiary {
        background-color: @table-head-bg;
        color: #FFF;

        .item-label {
            color: @table-head-color;
        }

        .item-value {
            color: #FFF;

            a {
                color: #FFF;
                text-decoration: underline;
            }
        }
    }

    &.well-quaternary {
        background-color: @well-quaternary-bg;
        color: @text-color;
        border-top: 1px solid @border-color-2;
        border-bottom: 1px solid @border-color-2;
    }

    &.well-quinary {
        background-color: #FFF;
        color: @text-color;
        border-color: @border-color-2;
        padding-left: 0;
        padding-right: 0;

        .well-headline {
            background-color: @table-head-bg;
            color: #FFF;
        }

        .well-content {

            .full-width-padding();
        }
    }

    &-headline {
        margin-left: -15px;
        margin-right: -15px;
        font-size: 16px;
        font-weight: 700;
        border-bottom: 1px solid @table-head-border-color;
        padding: 5px 30px 15px;

        .full-width-padding();

        &-sub {
            font-weight: 400;
            padding-left: 10px;
        }

        @media (max-width: @screen-xs-max) {
            padding-left: 35px;
            padding-right: 35px;
        }
    }

    &-single-headline {
        padding-bottom: 0;
        border-bottom: 0;
    }

    &-content {
        padding-top: @grid-gutter-width*2;
        padding-bottom: @grid-gutter-width;

        .clearfix();
    }

    > .col-no-padding {
        padding-left: 0;
        padding-right: 0;
    }

    .well-headline {
        margin: 0;

        .full-width-padding();
    }
}

@media (max-width: @screen-xs-max) {

    .well {

        &,
        &.well-lg {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}

//************************************************************
//************************************************************
//************************************************************
//************************************************************
//                          TABLET STYLES
//************************************************************
//************************************************************
//************************************************************
//************************************************************
//************************************************************

@media (max-width: @screen-sm-max) {

    .offcanvas {
        max-height: 100vh;
    }

    main {

        .transition(transform 0.3s ease-out);
    }

    .container {
        width: @full-width;
    }

    /*stylelint-disable*/
    textarea.form-control,
    select[multiple].form-control {
        height: auto
    }
    /*stylelint-enable*/
}
