// Pagination (multiple pages)
// --------------------------------------------------

.pagination-wrap {
    float: right;
    text-align: right;
}

@media (max-width: @screen-xs-max) {

    .pagination-with-pager .pagination-wrap {
        float: none;
    }
}

