<%@ tag body-content="scriptless" trimDirectiveWhitespaces="true" %>
<%@ attribute name="CSSClass" required="false" type="java.lang.String" %>

<div class="inputArea ${CSSClass}">
    <jsp:doBody />
</div>
