.facet-values {
    border-bottom: 1px solid @gray;

    .facet-subtitle {
        display: block;
        padding: 7px 4px 7px 8px;
        font-family: "tktypemedium";
        text-decoration: none;
        position: relative;

        &:after {
            content: "\e923";
            color: @primary;
            font-family: "tkIcon";
            position: absolute;
            right: 7px;
            top: 11px;
            font-size: 22px;
        }

        &:hover {
            background-color: @hover-light-blue;
        }

        h3 {
            color: @primary;
            margin: 0;

            &:hover {
                text-decoration: none;
            }
        }

        &.collapsed {

            h3 {
                color: @gray-medium;
            }

            &:after {
                content: "\e926";
            }

            &:hover {

                h3 {
                    color: @primary;
                }
            }
        }
    }

    .collapse {

        &.in {
            margin-bottom: -1px;
            border-bottom: 1px solid @primary;
        }
    }

    .panel-collapse {

        .panel-data {
            padding: 19px 9px;
            font-size: 14px;
        }
    }

    .mCSB_scrollTools {
        margin-right: 9px;
        z-index: 12;
    }

    .facet-list {

        li {
            line-height: initial;
            margin: 0;
            border-radius: 0;
            display: block;
            width: 100%;

            .check-box {
                padding: 0;
                margin-bottom: 4px;

                input[type="checkbox"] {

                    ~ label {
                        display: block;
                        padding: 4px 0 0 30px;
                        line-height: 1.9rem;
                        margin-left: 1px;
                        cursor: pointer;

                        &:before {
                            top: calc(50%);
                        }
                    }

                    &:checked {

                        ~ label {

                            &:after {
                                top: calc(50% - 8px);
                            }
                        }
                    }
                }
            }
        }
    }
}

.scrollTop {
    background-color: @gray-light;
    font-family: "tkIcon";
    color: @primary;
    width: 42px;
    height: 42px;
    border-radius: 100%;
    transition: opacity 0.3s ease-in-out;
    position: fixed;
    top: 30px;
    z-index: 10;
    right: 30px;
    box-shadow: 0 7px 4px #BFBFBF;
    cursor: pointer;

    &.scrollHide {
        opacity: 0;
        transition: opacity 0.5s ease, visibility 0.5s ease;
        visibility: hidden;
    }

    &:hover {
        background-color: @primary;
        color: @white;
        box-shadow: 0 5px 3px #BFBFBF;
    }

    &.icon-tk-arrow-top {

        &:before {
            position: absolute;
            left: 11px;
            top: 6px;
            font-size: 2rem;
            line-height: 2.8rem;
        }
    }
}

.ie-dropdown-scroller {
    height: 306px;
    overflow: auto;
}

.type-in-dd-ie-scroll {
    overflow: auto;
}

.cookie-wrapper {
    background: #262626;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1001;
    padding: 2rem 0;

    .copy.primary {
        color: @white;
        margin-bottom: 0;
    }
}

.v-center {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

@media (min-width: @cbs-sm-min) and (max-width: @cbs-sm-max) {

    .col-ss-1,
    .col-ss-2,
    .col-ss-3,
    .col-ss-4,
    .col-ss-5,
    .col-ss-6,
    .col-ss-7,
    .col-ss-8,
    .col-ss-9,
    .col-ss-10,
    .col-ss-11,
    .col-ss-12,
    .pull-left-ss {
        float: left;
    }

    .pull-right-ss {
        float: right;
    }

    .text-right-ss {
        text-align: right;
    }

/* stylelint-disable */
    .hidden-ss {
        display: none !important;
    }

    .visible-ss {
        display: block !important;
    }
/* stylelint-enable */

    .col-ss-offset-2 {
        margin-left: 16.666666%;
    }

    .col-ss-offset-3 {
        margin-left: 25%;
    }

    .col-ss-1 {
        width: 8.33333333%;
    }

    .col-ss-2 {
        width: 16.66666667%;
    }

    .col-ss-3 {
        width: 25%;
    }

    .col-ss-4 {
        width: 33.33333333%;
    }

    .col-ss-5 {
        width: 41.66666667%;
    }

    .col-ss-6 {
        width: 50%;
    }

    .col-ss-7 {
        width: 58.33333333%;
    }

    .col-ss-8 {
        width: 66.66666667%;
    }

    .col-ss-9 {
        width: 75%;
    }

    .col-ss-10 {
        width: 83.33333333%;
    }

    .col-ss-11 {
        width: 91.66666667%;
    }

    .col-ss-12 {
        width: 100%;
    }

    .ss-m-b-10 {
        margin-bottom: 1rem;
    }

    .ss-p-0 {
        padding: 0;
    }

    .ss-p-t-10 {
        padding-top: 1rem;
    }

    .ss-p-r-20 {
        padding-right: 2rem;
    }
}

.pali-content {

    .icon-tk-black {

        [class^="icon-tk-"] {
            color: @black;
        }
    }

    .icon-tk-chevron-down,
    .icon-tk-chevron-top,
    [class^="icon-tk-status"] {
        font-size: 2.8rem;
    }
}

.alert-danger {

    .icon-info {
        color: @red;
    }
}

.global-loader {
    position: fixed;
    background: @white;
    display: none;
    opacity: 0.9;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;

    svg {
        position: absolute;
        left: ~"calc(50% - 3rem)";
        top: 50%;
    }
}

.form-group {
    margin-bottom: 1.7rem;
}

.medium-font,
[data-attr="size-attr"] {
    font-family: "tktypemedium";
}

/* Switch yes/no generic */

.switch {
    display: inline-block;
    position: relative;
    vertical-align: top;
    text-align: left;

    .switch-control {
        display: inline-block;
        position: relative;
        width: auto;
        min-width: 78px;
        font-size: 2.1rem;
        line-height: 1rem;
        padding: 0;

        &-label {
            display: block;
            overflow: hidden;
            cursor: pointer;
            border: 0 none;
            margin: 0;
            height: 32px;

            .border-radius(@switch-height - 2);
        }

        &-inner {
            display: inline-block;
            width: max-content;
            height: 32px;
            margin-top: -32px;

            .true,
            .false {
                display: block;
                height: @switch-height + 6;
                padding: 6px 10px 0;
                line-height: 1;
                color: @white;
                font-weight: 400;
                min-width: 78px;
                text-align: center;

                .box-sizing(border-box);

                .inner-shadow(0,0,2px,#BFBFBF);

                .border-radius(26px);

                .value {
                    width: auto;
                    display: inline;
                    white-space: nowrap;
                }
            }

            .true {
                background-color: @primary;
                color: @white;
                z-index: 0;
                padding-right: 38px;
            }

            .false {
                padding-left: 32px;
                background-color: @white;
                color: @primary;
                z-index: 1;
            }
        }

        &-switch {
            background: @primary;
            display: inline-block;
            width: @switch-height;
            height: @switch-height;
            margin: 0;
            position: absolute;
            top: 3px;
            bottom: 0;
            left: 3px;
            z-index: 3;

            .transition(right, 0.15s, ease-in-out);

            .border-radius(50%);

            .box-shadow(0,0,2px,#BFBFBF);
        }

        &:before {
            display: none;
        }
    }

    input[type="checkbox"] {
        position: absolute;
        left: 10px;

        &:checked ~ .switch-control .switch-control-label .switch-control-inner {
            margin-left: 0;
            margin-top: 0;

            .true {
                z-index: 0;
            }

            .false {
                z-index: 1;
            }
        }

        &:disabled ~ .switch-control .switch-control-label {
            cursor: not-allowed;
        }

        &:disabled ~ .switch-control .switch-control-label .switch-control-inner {

            .true {
                background: @gray-light;
                color: @inactive-gray;
            }

            .false {
                background: @gray-light;
                color: @inactive-gray;
            }
        }

        &:checked ~ .switch-control .switch-control-label .switch-control-switch {
            right: 3px;
            left: auto;
            background: @white url("../images/icon_toggle_check.svg") no-repeat center center;
            background-size: 20px 20px;
        }

        &[disabled] ~ .switch-control .switch-control-label .switch-control-switch {
            background-color: @inactive-gray;
        }

        &[disabled]:checked ~ .switch-control .switch-control-label .switch-control-switch {
            background-image: url("../images/icon_toggle_check_lightgray.svg");
        }
    }

    input[type="checkbox"] + label:after {
        display: none;
    }

    & + label {
        cursor: pointer;
        font-family: "tktype";
        line-height: @switch-height + 1;
        padding: 5px 0 0 17px;
        margin: 0;
    }

    &.inactive {
        cursor: not-allowed;

        .switch-control-switch {
            background-color: @inactive-gray;
        }

        .switch-control-inner .true {
            background: @gray-light;
            color: @inactive-gray;
        }

        .switch-control-inner .false {
            background: @gray-light;
            color: @inactive-gray;
        }

        & + label {
            cursor: not-allowed;
        }

        .switch-control-label {
            cursor: not-allowed;
        }
    }
}

.selectize-control .option {
    color: @black;
}

ul.paginations {
    margin: 0;
    border: 0;
    list-style: none;

    li {
        margin-bottom: 0;

        &.active {
            display: inline-block;
            color: @gray-dark;
        }
    }

    .pagination-prev,
    .pagination-next {
        display: inline-block;

        a {
            border: 0;
        }
    }

    .v-hidden {
        visibility: hidden;
    }

    .u-icon-tk--arrow-left {
        margin-right: 15px;
    }

    .u-icon-tk--arrow-right {
        margin-left: 15px;
    }

    .u-icon-tk {
        color: @gray-dark;
        padding: 0 8px 3px;
        display: inline-block;
        line-height: 20px;
        height: auto;

        &:before {
            font-size: 1.3rem;
        }

        &:hover {
            background: @hover-light-blue;
            border-radius: 0.3rem;
            text-decoration: none;

            &:before {
                color: @primary;
            }
        }

        &:focus {
            outline: none;
            outline-offset: 0;
            text-decoration: none;
        }
    }
}

.selectize-dropdown-content {

    .show-hide {
        background: @gray-light;
        color: @black;
        display: block;
        font-family: "tktypemedium", @fallback-font;

        a {
            color: @black;
        }
    }

    .option.show-hide.active {

        &:hover {
            background: @gray-light;
            color: @black;
            font-family: "tktypemedium", @fallback-font;
        }
    }
}

.highlight-dropdown {

    .selectize-dropdown-content {

        .show-hide.option {

            &:first-child {

                a {
                    color: @black;
                }

                background: @gray-light;
                color: @black;
                font-family: "tktypemedium", @fallback-font;
            }
        }

        .show-hide.option.active {

            &:first-child {
                background: @gray-light;
                color: @black;
            }
        }
    }
}
