.pali-h1 {
    font-size: 36px;
    line-height: 49px;
    font-family: "tktype", @fallback-font;
    color: @black;

    @media (max-width: @screen-md-max) {
        font-size: 32px;
        line-height: 38px;
    }
}

.pali-h2 {
    font-size: 26px;
    line-height: 33px;
    font-family: "tktype", @fallback-font;
    color: @black;

    @media (max-width: @screen-md-max) {
        font-size: 24px;
        line-height: 31px;
    }
}

.pali-h3 {
    font-size: 21px;
    line-height: 29px;
    font-family: "tktype", @fallback-font;
    color: @black;

    @media (max-width: @screen-md-max) {
        font-size: 19px;
        line-height: 27px;
    }
}

.pali-h-blue-bg {
    padding: 15px;
    background: @primary;
    color: @white;
}

.pali-copy {
    font-size: 16px;
    line-height: 22px;

    &.primary {
        color: @black;
    }

    &.white {
        color: @white;
    }

    &.secondary {
        color: @gray-medium;
    }

    &.references {
        font-size: 13px;
        line-height: 19px;
        color: @gray-medium;
        border-radius: 3px;
        border: 0;
    }

    &.semi-strong {
        font-family: "tktypemedium", @fallback-font;
    }

    &.strong {
        font-family: "tktypebold", @fallback-font;
    }

    &.line-height-14 {
        line-height: 14px;
    }
}

.pali-a {
    font-size: 16px;
    line-height: 22px;
    color: @link-color;

    &:hover {
        color: @link-color-hover;
        text-decoration: underline;
        text-decoration-skip-ink: none;
    }

    &.inactive-white {
        color: @white;
        opacity: 0.5;
        cursor: not-allowed;
        pointer-events: none;
    }

    &.link-primary {
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: @black;

        &:hover {
            color: @primary;
        }
    }

    &.link-blue {
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: @primary;

        &:hover {
            color: @secondary-medium;
        }
    }

    &.link-secondary {
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: @gray-medium;

        &:hover {
            color: @primary;
        }
    }

    &.link-white {
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: @white;

        &:hover {
            color: @secondary-dark;
        }

        .pali-u-icon-tk {
            text-decoration: none;

            &:hover {
                text-decoration: none;
            }
        }
    }

    &.link-references {
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: @gray-medium;
        font-size: 13px;
        line-height: 19px;

        &:hover {
            color: @primary;
        }
    }

    &.link-references-red {
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: @gray-medium;
        font-size: 13px;
        line-height: 19px;

        &:hover {
            color: @red;
        }
    }

    &.inactive {
        color: @inactive-gray;
        cursor: not-allowed;
        pointer-events: none;

        &:hover {
            color: @inactive-gray;
        }
    }
}

.pali-button,
.pali-btn {
    color: @white;
    font-size: 16px;
    line-height: 18px;
    border: 0;
    outline: none;
    border-radius: 03px;
    padding: 12px 30px;
    background: @primary;
    text-transform: none;
    font-family: "tktypemedium", @fallback-font;
    text-align: center;

    @media (max-width: 998px) {
        white-space: normal;
    }

    &:hover,
    &:active,
    &.active,
    &.focus {
        background: @secondary-normal;
        text-decoration: none;
        color: @white;
    }

    &.inactive,
    &[disabled] {
        background: @gray;
        cursor: not-allowed;
        outline: none;
        color: @white;
        pointer-events: none;
    }

    &.second-prio {
        background: @white;
        color: @primary;
        border: 1px solid @primary;
        padding: 11px 30px;
        text-align: center;

        &:hover {
            color: @secondary-medium;
            border-color: @secondary-medium;
        }

        &.inactive,
        &[disabled] {
            background: @white;
            border-color: @gray;
            color: @inactive-gray;
            cursor: not-allowed;
            outline: none;
        }
    }
}

.btn-50 {
    padding: 7px 29px;
}

.second-prio.btn-50 {
    padding: 6px 29px;
}

a.btn.inactive {
    opacity: 1;
}

html .pali-input {

    &[type="email"],
    &[type="text"],
    &[type="password"] {
        font-size: 16px;
        line-height: 18px;
        border: 1px solid @gray-medium;
        padding: 11px 15px;
        border-radius: 3px;
        color: @black;
        box-shadow: @input-box-shadow;

        &:focus {
            outline: 1px solid @secondary-normal;
            border: 1px solid @secondary-normal;
            color: @black;
            box-shadow: @input-box-shadow;
        }
    }

    &[disabled] {
        border-color: @gray-medium;
        cursor: not-allowed;
        color: @input-text-color;
        background: @input-bg;
    }

/*stylelint-disable*/
    &::-webkit-input-placeholder {
        color: @input-text-color;
    }

    &::-moz-placeholder {
        color: @input-text-color;
    }

    &:-ms-input-placeholder {
        color: @input-text-color;
    }

    &:-moz-placeholder {
        color: @input-text-color;
    }

    &::placeholder {
        color: @input-text-color;
    }
/*stylelint-enable*/
}

label {
    font-family: "tktypemedium", @fallback-font;
    font-size: 16px;
    line-height: 18px;
    padding-bottom: @s6;

    &.error {
        color: @red;
    }
}

.pali-disabled {

    label {
        color: @input-text-color;
    }

    input {
        border-color: @gray-medium;
        background: @input-bg;
        color: @input-text-color;
    }
}

p {

    &.error {
        color: @red;
    }
}

.error {
    border-color: @red;
    padding-top: 10px;
    margin: 0;

    label {
        color: @red;
    }

    p {

        &.error {
            color: @red;
        }
    }

    small {
        line-height: 18px;
        font-size: 13px;
        color: @red;
    }

    input[type="text"],
    input[type="password"] {
        border-color: #F7B2CA;
        color: @black;

        &:focus {
            color: @black;
            outline: 1px solid @red;
            border: 1px solid @red;
        }
    }
}

.has-error {

    input[type="text"],
    input[type="password"] {
        color: @red;
        border: 2px solid @red;

        &:focus {
            color: @black;
            outline: 1px solid @red;
            border: 1px solid @red;
        }
    }

    .error-txt {
        color: @red;
    }
}

textarea.pali-input {
    font-size: 16px;
    line-height: 18px;
    border: 1px solid @gray-medium;
    padding: 11px 15px;
    border-radius: 3px;
    color: @black;
    box-shadow: @input-box-shadow;
    height: 88px;
    width: 100%;

    &:focus {
        outline: 1px solid @secondary-normal;
        border: 1px solid @secondary-normal;
        color: @black;
        box-shadow: @input-box-shadow;
    }

    &[disabled] {
        border-color: @gray-medium;
        cursor: not-allowed;
        color: @input-text-color;
        background: @input-bg;
    }
}

select.pali-input {
    font-size: 16px;
    line-height: 18px;
    border: 1px solid @gray-medium;
    padding: 11px 15px;
    border-radius: 3px;
    color: @black;
    box-shadow: @input-box-shadow;
    width: 100%;
    background: @white;

    &:focus {
        outline: 1px solid @secondary-normal;
        border: 1px solid @secondary-normal;
        color: @black;
        box-shadow: @input-box-shadow;
    }

    &[disabled] {
        border-color: @gray-medium;
        cursor: not-allowed;
        color: @input-text-color;
        background: @input-bg;
    }
}

.pali-hr {
    border-top: 1px solid @gray-light;
}

.pali-black-hr1 {
    border-top: 1px solid @black;
}

.pali-blue-brand-hr1 {
    border-top: 1px solid @primary;
}

.pali-gray-hr1 {
    border-top: 1px solid @gray;
}

.pali-white-hr1 {
    border-top: 1px solid @white;
}

.pali-alert-msg {
    font-family: "tktypemedium";
    font-size: 16px;
    line-height: 18px;
    overflow: hidden;
    clear: both;

    .msg-box {
        display: table;

        i {
            padding-right: 10px;
        }

        > span {
            display: table-cell;
            vertical-align: middle;

            .email-sent,
            .number {
                display: inline;
                vertical-align: top;
            }
        }
    }

    &.alert-success {
        background: #EBF4D7;

        p {
            color: @green-dark;
        }
    }

    &.alert-primary {
        background: #CCE4F8;

        p {
            color: @secondary-normal;
        }
    }

    &.alert-danger {
        background: #FBDAE5;
    }

    &.alert-warning {
        background: @alert-warning;
    }

    i {
        vertical-align: middle;
    }

    p {
        padding: 10px 20px 8px 15px;
        line-height: 14px;
    }

    .p-0 {
        padding: 0;
    }

    &.with-icon {

        p {
            margin-bottom: 3px;
        }
    }
}

/* stylelint-disable */
.underline-none {
    text-decoration: none !important;
}
/* stylelint-enable */

.control-label {
    font-family: "tktypemedium", @fallback-font;
    margin-bottom: @s8 + @s9;
}

.pali-overlay {
    background: @white;
    opacity: 0.9;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: none;
}

.pali-wrap-abs {
    position: fixed;
    top: 50%;
    left: 49%;
    z-index: 2;
    display: none;
}

/* stylelint-disable */
#pali-Oval3 {
    animation-name: pointloader;
    animation-duration: 0.9s;
    animation-timing-functio n:ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    fill-opacity: 0;
}

#pali-Oval2 {
    animation-name: pointloader;
    animation-duration: 0.9s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-delay: 0.3s;
    fill-opacity: 0;         
}

#pali-Oval1 {
    animation-name: pointloader;
    animation-duration: 0.9s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-delay: 0.6s;
    fill-opacity: 0;
}

@keyframes pointloader {
    to {
        stroke-dashoffset: 0;
        fill-opacity: 1;
        }
    }

    @-webkit-keyframes pointloader {
        to {
            stroke-dashoffset: 0;
            fill-opacity: 1;
        }
    }

    @-moz-keyframes  pointloader {
        to {
            stroke-dashoffset: 0;
            fill-opacity: 1;
        }
    }   

    @-o-keyframes  pointloader {
        to {
            stroke-dashoffset: 0;
            fill-opacity: 1;
        }
    }

#colorbox {

    &.layer50 {
        width: 468px;
    }

    &.layer100 {
        width: 960px;
    }    
}
/* stylelint-enable */

.pali-checkbox {

    [type="radio"]:checked,
    [type="radio"]:not(:checked) {
        position: absolute;
        left: -9999px;
    }

    [type="radio"]:checked + label,
    [type="radio"]:not(:checked) + label {
        font-family: "tktype";
        position: relative;
        padding-left: 28px;
        cursor: pointer;
        line-height: 26px;
        display: inline-block;
    }

    [type="radio"]:checked + label:before,
    [type="radio"]:not(:checked) + label:before {
        content: "";
        position: absolute;
        left: 0;
        top: 2px;
        width: 2rem;
        height: 2rem;
        border: 1px solid @gray-dark;
        border-radius: 100%;
        background: @white;
    }

    [type="radio"]:checked + label:after,
    [type="radio"]:not(:checked) + label:after {
        content: "";
        width: 1.4rem;
        height: 1.4rem;
        background: @primary;
        position: absolute;
        top: 5px;
        left: 0.3rem;
        border-radius: 100%;
        transition: all 0.2s ease;
    }

    [type="radio"]:not(:checked) + label:after {
        opacity: 0;
        transform: scale(0);
    }

    [type="radio"]:checked + label:after {
        opacity: 1;
        transform: scale(1);
    }

    [type="radio"][disabled] + label {
        color: @gray;
        cursor: not-allowed;
    }

    [type="radio"][disabled]:not(:checked) + label:before {
        border-color: @inactive-gray;
    }

    [type="radio"][disabled]:not(:checked) + label:after {
        background: @gray-light;
        width: 1.7rem;
        height: 1.7rem;
        opacity: 1;
        left: 1px;
        top: 0.3rem;
        transform: scale(1);
    }

    input[type="checkbox"] {
        opacity: 0;
        z-index: 1;
        position: absolute;
    }

    input[type="checkbox"] + label {
        position: relative;
        margin: 0;
        font-family: "tktype";
        padding: 4px 0 2px 30px;
        cursor: pointer;
        z-index: 10;
    }

    input[type="checkbox"] + label:before {
        content: "";
        position: absolute;
        display: block;
        border: 1px solid @gray-medium;
        background-color: @white;
        width: 16px;
        height: 16px;
        left: 0;
        top: calc(50% - 7px);
        transform: translateY(-50%);
    }

    input[type="checkbox"]:checked + label:after {
        content: "\E902";
        font-size: 1.6rem;
        font-family: "tk-iconfont";
        color: @turquoise;
        position: absolute;
        left: 0;
        width: 17px;
        height: 17px;
        top: calc(50% - 12px);
        transform: translateY(-50%);
    }

    [type="checkbox"][disabled]:not(:checked) + label {
        cursor: not-allowed;
        color: @gray;
    }

    input[type="checkbox"][disabled]:not(:checked) + label:before {
        border-color: @inactive-gray;
        background: @gray-light;
    }

    .checkbox-no-label {
        opacity: 1;
        cursor: pointer;
        margin: 2px 0 0;
        width: 16px;
        position: relative;
        top: 0;
    }

    .check-tick {
        position: relative;
    }

    .checkbox-no-label + .check-tick:before {
        content: "";
        position: absolute;
        display: block;
        border: 1px solid @gray-medium;
        background-color: @white;
        width: 16px;
        height: 16px;
        top: calc(50% - 8px);
        transform: translateY(-60%);
    }

    .checkbox-no-label:checked + .check-tick:after {
        content: "\E902";
        font-size: 1.5rem;
        font-family: "tk-iconfont";
        color: @turquoise;
        width: 17px;
        height: 17px;
        top: calc(44%);
        transform: translateY(-70%);
        position: absolute;
    }
}

.s-dropdown {

    button {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        text-align: left;
        border-color: @gray-medium;
        color: @gray-dark;
        border-radius: 3px;

        .dd-icon {
            float: right;
            font-size: 16px;
            height: 15px;
            color: @gray-medium;

            &:before {
                font-size: 1.2rem;
                content: "\e617";
            }
        }

        .bs-caret {

            .caret {
                border: none;
                top: 36%;
                right: 25px;

                &:before {
                    font-size: 14px;
                    font-family: "thyssen-krupp-iconfont";
                    content: "\e613";
                    color: @gray-medium;
                }
            }
        }

        &:hover {
            border-color: @secondary-medium;
            color: @gray-medium;

            .dd-icon {
                color: @secondary-medium;
            }

            .bs-caret {

                .caret {

                    &:before {
                        color: @secondary-medium;
                    }
                }
            }
        }

        &.selected {
            color: @black;
        }
    }

    .dropdown-menu {
        margin: 0;
        padding: 2px 0;
        border-radius: 3px;
        border-color: @gray-light;
        box-shadow: 0 2px 8px 0 rgba(75, 85, 100, 0.33);

        li {
            padding: 0 1.5rem;
            min-height: 36px;

            a {
                padding: 0.75rem 0;
                border-bottom: 1px solid @gray;
                white-space: inherit;
                font-size: 1.6rem;
                display: block;
                color: @black;

                &:hover {
                    text-decoration: none;
                }
            }

            &:last-child {

                a {
                    border-bottom: 0;
                }
            }

            &:hover {
                background: @hover-light-blue;
                cursor: pointer;

                a {
                    color: @primary;
                    background: transparent;
                }
            }

            &.active,
            &.selected {
                background: @gray-light;
                color: @gray-dark;
                font-family: "tktypemedium", @fallback-font;
                display: none;

                a {
                    background: transparent;
                    color: @black;
                }

                &.no-border {
                    border: 0;
                }
            }
        }

        &.show-selected {

            .active {
                display: list-item;
            }
        }
    }
}
