html {
    font-size: 10px;
    font-family: "tktype", @fallback-font;
}

body {
    max-width: 152rem;
    margin: 0 auto;
    font-size: 10px;
    position: relative;
}

.container {
    width: 100%;
    padding: 0;
}

.tk-normal {
    font-family: "tktype", @fallback-font;
}

.tk-medium {
    font-family: "tktypemedium", @fallback-font;
}

.tk-bold {
    font-family: "tktypebold", @fallback-font;
}

@media screen and (min-width: @cbs-xs-min) {

    .container-fluid {
        padding: 0 1.5rem;

        .row {
            margin-right: -1rem;
            margin-left: -1rem;
        }
    }
}

@media (max-width: @cbs-xs-max) {

    [class^="col-"] {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

@media (min-width: @cbs-sm-min) {

    [class^="col-"] {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

@media screen and (min-width: @cbs-sm-min) {

    .container-fluid {
        padding: 0 2rem;

        .row {
            margin-right: -1.5rem;
            margin-left: -1.5rem;
        }
    }
}

@media screen and (min-width: @cbs-md-min) {

    .container-fluid {
        padding: 0 3rem;

        .row {
            margin-right: -1.5rem;
            margin-left: -1.5rem;
        }
    }
}

.js-scroll-prevent {
    width: 100%;
    overflow: hidden;
}

/* Bootstrap 4 classes : start */

.d-flex {
    display: flex;
}

.w-100 {
    width: 100%;
}

.w-50 {
    width: 50%;
}

.h-100 {
    height: 100%;
}

.flex-center {
    align-items: center;
    justify-content: center;
}

.p-0 {
    padding: 0;
}

.m-0 {
    margin: 0;
}

.m-t-0 {
    margin-top: 0;
}

.m-t-5 {
    margin-top: 0.5rem;
}

.m-t-7 {
    margin-top: 0.7rem;
}

.m-t-10 {
    margin-top: 1rem;
}

.m-t-15 {
    margin-top: 1.5rem;
}

.m-t-30 {
    margin-top: 3rem;
}

.m-b-0 {
    margin-bottom: 0;
}

.m-b-5 {
    margin-bottom: 0.5rem;
}

.m-b-7 {
    margin-bottom: 0.7rem;
}

.m-b-10 {
    margin-bottom: 1rem;
}

.m-b-13 {
    margin-bottom: 1.3rem;
}

.m-b-15 {
    margin-bottom: 1.5rem;
}

.m-b-30 {
    margin-bottom: 3rem;
}

.p-r-0 {
    padding-right: 0;
}

.p-l-0 {
    padding-left: 0;
}

.p-t-5 {
    padding-top: 0.5rem;
}

.p-t-10 {
    padding-top: 1rem;
}

.p-t-15 {
    padding-top: 1.5rem;
}

.p-t-20 {
    padding-top: 2rem;
}

.p-t-30 {
    padding-top: 3rem;
}

.p-b-5 {
    padding-bottom: 0.5rem;
}

.m-r-5 {
    margin-right: 0.5rem;
}

.m-t-18 {
    margin-top: 1.8rem;
}

.m-b-8 {
    margin-bottom: 8px;
}

.m-t-8 {
    margin-top: 8px;
}

.m-r-10 {
    margin-right: 1rem;
}

.m-r-20 {
    margin-right: 2rem;
}

.m-b-25 {
    margin-bottom: 2.5rem;
}

.d-block {
    display: block;
}

.d-inline {
    display: inline;
}

.d-inline-block {
    display: inline-block;
}

a {
    font-size: 1.6rem;
    line-height: 2.2rem;
    color: @link-color;

    &:hover {
        color: @link-color-hover;
        text-decoration: underline;
        text-decoration-skip-ink: none;
    }

    &.inactive-white {
        color: @white;
        opacity: 0.5;
        cursor: not-allowed;
        pointer-events: none;
    }

    &.link-primary {
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: @black;

        &:hover {
            color: @primary;
        }
    }

    &.link-blue {
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: @primary;

        &:hover {
            color: @secondary-medium;
        }
    }

    &.link-secondary {
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: @gray-medium;

        &:hover {
            color: @primary;
        }
    }

    &.link-white {
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: @white;

        &:hover {
            color: @secondary-dark;
        }
    }

    &.link-references {
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: @gray-medium;
        font-size: 1.3rem;
        line-height: 1.9rem;

        &:hover {
            color: @primary;
        }
    }

    &.inactive {
        color: @inactive-gray;
        cursor: not-allowed;
        pointer-events: none;

        &:hover {
            color: @inactive-gray;
        }
    }
}

h1 {
    font-size: 3.6rem;
    line-height: 4.9rem;
    font-family: "tktype", @fallback-font;
    color: @black;

    @media (max-width: @cbs-md-max) {
        font-size: 3.2rem;
        line-height: 3.8rem;
    }
}

h2 {
    font-size: 2.6rem;
    line-height: 3.3rem;
    font-family: "tktype", @fallback-font;
    color: @black;

    @media (max-width: @cbs-md-max) {
        font-size: 2.4rem;
        line-height: 3.1rem;
    }
}

h3 {
    font-size: 2.1rem;
    line-height: 2.9rem;
    font-family: "tktype", @fallback-font;
    color: @black;

    @media (max-width: @cbs-md-max) {
        font-size: 1.9rem;
        line-height: 2.7rem;
    }
}

.copy {
    font-size: 1.6rem;
    line-height: 2.2rem;

    &.primary {
        color: @black;
    }

    &.white {
        color: @white;
    }

    &.secondary {
        color: @gray-medium;
    }

    &.references {
        font-size: 1.3rem;
        line-height: 1.9rem;
        color: @gray-medium;
        border-radius: 0.3rem;
        border: 0;
    }

    &.line-height-14 {
        line-height: 1.4rem;
    }
}

button,
.btn {
    color: @white;
    font-size: 1.6rem;
    line-height: 1.8rem;
    border: 0;
    outline: none;
    border-radius: 0.3rem;
    padding: 1.2rem 3rem;
    background: @primary;
    text-transform: none;

    @media (max-width: 998px) {
        white-space: normal;
    }

    &:hover {
        background: @secondary-normal;
    }

    &.inactive {
        background: @gray;
        cursor: not-allowed;
        outline: none;
        color: @white;
        pointer-events: none;
    }

    &.second-prio {
        background: @white;
        color: @primary;
        border: 1px solid @primary;
        padding: 1.1rem 3rem;

        &:hover {
            color: @secondary-medium;
            border-color: @secondary-medium;
        }

        &.inactive {
            background: @white;
            border-color: @gray;
            color: @inactive-gray;
            cursor: not-allowed;
            outline: none;
        }
    }
}

.btn-50 {
    padding: 0.7rem 2.9rem;
}

.second-prio.btn-50 {
    padding: 0.6rem 2.9rem;
}

a.btn.inactive {
    opacity: 1;
}

label,
.ph-number {
    font-family: "tktypemedium", @fallback-font;
    font-size: 1.6rem;
    text-transform: none;
    color: @black;
    margin-bottom: 0.95rem;
    line-height: 1.8rem;
}

html input {

    &[type="email"],
    &[type="text"],
    &[type="password"] {
        font-size: 1.6rem;
        line-height: 1.8rem;
        border: 1px solid @gray-medium;
        padding: 1.1rem 1.5rem;
        border-radius: 0.3rem;
        color: @black;
        box-shadow: @input-box-shadow;

        &:focus {
            outline: 1px solid @secondary-normal;
            border: 1px solid @secondary-normal;
            color: @black;
            box-shadow: @input-box-shadow;
        }
    }

    &[disabled] {
        border-color: @gray-medium;
        cursor: not-allowed;
        color: @input-text-color;
        background: @input-bg;
    }

/*stylelint-disable*/
    &::-webkit-input-placeholder {
        color: @input-text-color;
    }

    &::-moz-placeholder {
        color: @input-text-color;
    }

    &:-ms-input-placeholder {
        color: @input-text-color;
    }

    &:-moz-placeholder {
        color: @input-text-color;
    }

    &::placeholder {
        color: @input-text-color;
    }
/*stylelint-enable*/
}

.disabled {

    label {
        color: @input-text-color;
    }

    input {
        border-color: @gray-medium;
        background: @input-bg;
        color: @input-text-color;
    }
}

p {

    &.error {
        color: @red;
    }
}

label {

    &.error {
        color: @red;
    }
}

.error {
    border-color: @red;
    padding-top: 10px;
    margin: 0;

    label {
        color: @red;
    }

    p {

        &.error {
            color: @red;
        }
    }

    small {
        line-height: 1.8rem;
        font-size: 1.3rem;
        color: @red;
    }

    input[type="text"],
    input[type="password"] {
        border-color: #F7B2CA;
        color: @black;

        &:focus {
            color: @black;
            outline: 1px solid @red;
            border: 1px solid @red;
        }
    }
}

.has-error {

    input[type="text"],
    input[type="password"] {

        &:focus {
            color: @black;
            outline: 1px solid @red;
            border: 1px solid @red;
        }
    }
}

.modal-layer {
    margin: 0 auto;
    .align-self();

    .modal-content {
        padding: 3rem;
        border-radius: 0;

        .close {
            position: absolute;
            right: 0.5rem;
            top: 0.5rem;
            opacity: 1;
        }
    }
}

.primary-txt {
    color: @primary;
}

.white-txt {
    color: @white;
}

.m-tb-20 {
    margin: 2rem 0;
}

.m-t-23 {
    margin-top: 2.3rem;
}

.m-t-25 {
    margin-top: 2.5rem;
}

.m-b-27 {
    margin-bottom: 2.7rem;
}

.m-t-20 {
    margin-top: 2rem;
}

.m-b-23 {
    margin-bottom: 2.3rem;
}

.m-b-20 {
    margin-bottom: 2rem;
}

.m-b-17 {
    margin-bottom: 1.7rem;
}

.p-18 {
    padding: 1.8rem;
}

.p-20 {
    padding: 2rem;
}

.m-b-26 {
    margin-bottom: 2.6rem;
}

.m-t27-b18 {
    margin: 2.7rem 0 1.8rem;
}

.m-t50-b50 {
    margin: 5rem 0;
}

.line-height-1 {
    line-height: 0.1rem;
}

hr {
    border-top: 1px solid @gray-light;
}

.black-hr1 {
    border-top: 1px solid @black;
}

.blue-brand-hr1 {
    border-top: 1px solid @primary;
}

.gray-hr1 {
    border-top: 1px solid @gray;
}

.items-center {
    display: flex;
    align-items: center;
}

.alert-msg {
    font-family: "tktypemedium";
    font-size: 1.6rem;
    line-height: 1.8rem;
    overflow: hidden;
    clear: both;

    .msg-box {
        display: table;

        i {
            padding-right: 10px;
        }

        > span {
            display: table-cell;
            vertical-align: middle;

            .email-sent,
            .number {
                display: inline;
                vertical-align: top;
            }
        }
    }

    .alert-success {
        background: #EBF4D7;
    }

    .alert-primary {
        background: #CCE4F8;

        p {
            color: @secondary-normal;
        }
    }

    .alert-danger {
        background: #FBDAE5;
    }

    .alert-warning {
        background: @alert-warning;
    }

    i {
        vertical-align: middle;
    }

    p {
        padding: 1rem 2rem 0.8rem 1.5rem;
        line-height: 1.4;
    }

    .p-0 {
        padding: 0;
    }

    &.with-icon {

        p {
            margin-bottom: 0.3rem;
        }
    }
}

.seperator {
    background: @gray-light;
    margin-top: 1.5rem;
    margin-bottom: 0;
    width: 100%;
    border: 0;
}

.icons {

    li {
        cursor: pointer;
    }

    .tooltip-inner {
        max-width: 20rem;
        padding: 0.3rem 2rem;
        color: @black;
        text-align: center;
        background-color: @white;
        border-radius: 4px;
        box-shadow: 0 1px 5px #CCC;
    }

    .tooltip.bottom .tooltip-arrow {
        top: 0;
        left: 50%;
        margin-left: -5px;
        border-width: 0 5px 5px;
        border-bottom-color: #CCC;
    }
}

.modal {
    text-align: center;
    padding: 0;

    .modal-dialog {
        text-align: left;
    }

    .vertical-alignment-helper {
        display: table;
        height: 100%;
        width: 100%;
    }

    .modal-content {
        width: inherit;
        margin: 0 auto;
    }

    .vertical-align-center {
        display: table-cell;
        vertical-align: middle;
    }

    &.in {

        .modal-dialog-centered {
            transform: translate(0, -50%);
            margin: 0 auto;
            top: 50%;
        }
    }
}

@media (max-width: 767px) {

    .modal-dialog {
        width: 92%;

        &.layer-100 {

            .row {
                margin: 0 -10px;

                .right-btn {
                    margin-top: 2rem;
                }
            }
        }
    }
}

@media (min-width: @cbs-md-min) {

    .modal-dialog {
        width: 468px;
        margin: 30px auto;

        &.layer-100 {
            width: 72rem;
        }
    }
}

@media (max-width: @cbs-md-max) {

    .modal-dialog {

        &.layer-100 {

            .row {
                margin: 0 -10px;
            }
        }
    }
}

/* generic css styles */

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
    font-family: "tktype";
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 2.6rem;
    display: inline-block;
}

[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 2px;
    width: 2rem;
    height: 2rem;
    border: 1px solid @gray-dark;
    border-radius: 100%;
    background: @white;
}

[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: "";
    width: 1.4rem;
    height: 1.4rem;
    background: @primary;
    position: absolute;
    top: 5px;
    left: 0.3rem;
    border-radius: 100%;
    transition: all 0.2s ease;
}

[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
}

[type="radio"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
}

[type="radio"][disabled] + label {
    color: @gray;
    cursor: not-allowed;
}

[type="radio"][disabled]:not(:checked) + label:before {
    border-color: @inactive-gray;
}

[type="radio"][disabled]:not(:checked) + label:after {
    background: @gray-light;
    width: 1.7rem;
    height: 1.7rem;
    opacity: 1;
    left: 1px;
    top: 0.3rem;
    transform: scale(1);
}

/*Checkbox generic*/

input[type="checkbox"] {
    opacity: 0;
    z-index: 1;
    position: absolute;
}

input[type="checkbox"] + label {
    position: relative;
    margin: 0;
    font-family: "tktype";
    padding: 4px 0 2px 30px;
    cursor: pointer;
    z-index: 10;
}

input[type="checkbox"] + label:before {
    content: "";
    position: absolute;
    display: block;
    border: 1px solid @gray-medium;
    background-color: @white;
    width: 16px;
    height: 16px;
    left: 0;
    top: calc(50% - 7px);
    transform: translateY(-50%);
}

input[type="checkbox"]:checked + label:after {
    content: "\E902";
    font-size: 1.6rem;
    font-family: "tk-iconfont";
    color: @turquoise;
    position: absolute;
    left: 0;
    width: 17px;
    height: 17px;
    top: calc(50% - 12px);
    transform: translateY(-50%);
}

[type="checkbox"][disabled]:not(:checked) + label {
    cursor: not-allowed;
    color: @gray;
}

input[type="checkbox"][disabled]:not(:checked) + label:before {
    border-color: @inactive-gray;
    background: @gray-light;
}

/*checkbox -lable is not clickable*/

.checkbox-no-lable {
    opacity: 1;
    cursor: pointer;
    margin: 2px 0 0;
    width: 16px;
    position: relative;
    top: 0;
}

.check-tick {
    position: relative;
}

.checkbox-no-lable + .check-tick:before {
    content: "";
    position: absolute;
    display: block;
    border: 1px solid #78879B;
    background-color: @white;
    width: 16px;
    height: 16px;
    top: calc(50% - 8px);
    transform: translateY(-60%);
}

.checkbox-no-lable:checked + .check-tick:after {
    content: "\E902";
    font-size: 1.5rem;
    font-family: "tk-iconfont";
    color: @turquoise;
    width: 17px;
    height: 17px;
    top: calc(44%);
    transform: translateY(-70%);
    position: absolute;
}

ul.list,
ol.list {

    li {
        margin-left: 27px;
    }

    li + li {
        padding-top: 8px;
    }
}

ol {

    li {

        span {
            padding-left: 0.3rem;
        }
    }
}

/* CSS Animation */

.oval1,
.oval2,
.oval3 {
    animation-name: pointloader;
    animation-duration: 0.9s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    opacity: 0;
}

.oval2 {
    animation-delay: 0.3s;
}

.oval1 {
    animation-delay: 0.6s;
}

/* Standard syntax: IE 10+, Fx 29+ */

@keyframes pointloader {

    to {
        stroke-dashoffset: 0;
        opacity: 1;
    }
}

.s-dropdown {

    button {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        text-align: left;
        border-color: @gray-medium;
        color: @gray-medium;

        .dd-icon {
            float: right;
            font-size: 16px;
            height: 15px;
            color: @gray-medium;

            &:before {
                font-size: 1.2rem;
            }
        }

        &:hover {
            color: @gray-medium;

            .dd-icon {
                color: @secondary-medium;
            }
        }

        &.selected {
            color: @black;
        }
    }

    .dropdown-menu {
        margin: 0;
        padding: 2px 0;

        li {
            padding: 0 1.5rem;
            min-height: 36px;

            a {
                padding: 0.75rem 0;
                border-bottom: 1px solid @gray;
                white-space: inherit;
                font-size: 1.6rem;
                display: block;
                color: @black;

                &:hover {
                    text-decoration: none;
                }
            }

            &:last-child {

                a {
                    border-bottom: 0;
                }
            }

            &:hover {
                background: @hover-light-blue;
                cursor: pointer;

                a {
                    color: @primary;
                    background: transparent;
                }
            }

            &.active {
                background: @gray-light;
                color: @gray-dark;
                font-family: "tktypemedium", @fallback-font;
                display: none;

                a {
                    background: transparent;
                    color: @black;
                }

                &.no-border {
                    border: 0;
                }
            }
        }

        &.show-selected {

            .active {
                display: list-item;
            }
        }
    }
}

.tk-tooltip {

    span.tooltip-icon {
        cursor: pointer;
    }
}

.tooltip-box {
    min-width: 10rem;
    background: @white;
    max-width: 19.1rem;
    position: absolute;
    padding: 1rem 2rem 1rem 1rem;
    left: -6rem;
    top: 6rem;
    border: 1px solid @gray;
    display: none;
    border-radius: 3px;
    z-index: 9999999999;

    .box-shadow(0,4px,6px,#bfbfbf);

    &:before,
    &:after {
        bottom: 100%;
        left: ~"calc(50% - 15px)";
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    &:before {
        border-color: transparent;
        border-bottom-color: @gray-dark;
        border-width: 1.5rem;
        margin-top: -1.5rem;
    }

    &:after {
        border-color: transparent;
        border-bottom-color: @white;
        border-width: 1.5rem;
        margin-top: -1.5rem;
    }

    .close {
        position: absolute;
        bottom: 0.1rem;
        right: 0.5rem;

        .icon-tk-close {
            color: @gray-medium;
            font-size: 2.4rem;

            &:before {
                font-size: 1.2rem;
            }
        }
    }

    &.top {

        &:before,
        &:after {
            top: 100%;
        }

        &:before {
            border-color: transparent;
            border-top-color: @gray-dark;
            margin-top: 0;
        }

        &:after {
            border-color: transparent;
            border-top-color: @white;
            margin-top: 0;
        }

        .close {
            top: -0.5rem;
            bottom: auto;
        }
    }

    &.left {

        &:before,
        &:after {
            left: -3rem;
            top: ~"calc(50% - 15px)";
        }

        &:before {
            border-color: transparent;
            border-right-color: @gray-dark;
            margin-top: 0;
        }

        &:after {
            border-color: transparent;
            border-right-color: @white;
            margin-top: 0;
        }

        .close {
            top: -0.5rem;
            bottom: auto;
        }
    }

    &.top-left {

        &:before,
        &:after {
            left: 0.7rem;
            top: 100%;
        }

        &:before {
            border-color: transparent;
            border-top-color: @gray-dark;
            margin-top: 0;
        }

        &:after {
            border-color: transparent;
            border-top-color: @white;
            margin-top: 0;
        }

        .close {
            top: auto;
            bottom: 0.1rem;
        }
    }

    &.right {

        &:before,
        &:after {
            top: ~ "calc(50% - 15px)";
            left: calc(100%);
        }

        &:before {
            border-color: transparent;
            border-left-color: @gray-dark;
            margin-top: 0;
        }

        &:after {
            border-color: transparent;
            border-left-color: @white;
            margin-top: 0;
        }

        .close {
            top: auto;
            bottom: 0.1rem;
        }
    }

    &.top-right {

        &:before,
        &:after {
            top: 100%;
            left: ~ "calc(100% - 45px)";
        }

        &:before {
            border-color: transparent;
            border-top-color: @gray-dark;
            margin-top: 0;
        }

        &:after {
            border-color: transparent;
            border-top-color: @white;
            margin-top: 0;
        }

        .close {
            top: auto;
            bottom: 0.1rem;
        }
    }
}

