@primary: #00A0F5;

@secondary-dark: #003C7D;

@secondary-medium: #0055BE;

@secondary-bright: #50AFE1;

@secondary-light: #73C3F0;

@secondary-normal: #0078DC;

@orange: #FFB400;

@purple: #A51482;

@red: #E60050;

@yellow: #FAE100;

@green: #9BC832;

@green-dark: #0F968C;

@turquoise: #0F968C;

@warning: #D49704;

@black: #000;

@gray-dark: #4B5564;

@gray-medium: #78879B;

@gray-light: #EEF0F2;

@gray: #D9DEE8;

@white: #FFF;

@alert-warning: #FFEDC3;

@link-color: #353C47;

@link-color-hover: #C2CCDB;

@inactive-gray: #C0C3C9;

@hover-light-blue: #D5EDFB;

.primary-bg {
    background: @primary;
}

.secondary-dark-bg {
    background: @secondary-dark;
}

.secondary-medium-bg {
    background: @secondary-medium;
}

.secondary-bright-bg {
    background: @secondary-bright;
}

.secondary-light-bg {
    background: @secondary-light;
}

.secondary-normal-bg {
    background: @secondary-normal;
}

.orange-bg {
    background: @orange;
}

.purple-bg {
    background: @purple;
}

.red-bg {
    background: @red;
}

.yellow-bg {
    background: @yellow;
}

.green-bg {
    background: @green;
}

.turquoise-bg {
    background: @turquoise;
}

.black-bg {
    background: @black;
}

.gray-dark-bg {
    background: @gray-dark;
}

.gray-medium-bg {
    background: @gray-medium;
}

.gray-light-bg {
    background: @gray-light;
}

.gray-bg {
    background: @gray;
}

.white-bg {
    background: @white;
}

.inactive-gray-bg {
    background: @inactive-gray;
}

.hover-light-blue-bg {
    background: @hover-light-blue;
}

.turquoise-text {
    color: @turquoise;
}

/* stylelint-disable */
.red-text {
    color: @red !important;
}

.primary-text {
    color: @primary !important;
}

.gray-medium-text {
    color: @gray-medium !important;
}

.grey-dark-text {
    color: @gray-dark !important;
}
/* stylelint-enable */

.black-text {
    color: @black;
}

.warning-text {
    color: @warning;
}

.warning-bg {
    background: @warning;
}

.alert-warning-bg {
    background: @alert-warning;
}
