@input-box-shadow: inset 2px 2px 4px #E5E5E5;
@input-text-color: #B2B2B2;
@input-placeholder-color: #B2B2B2;
@input-bg: #F3F5F8;
@fallback-font: Calibri, Arial, Helvetica, sans-serif;

// Standard Spacing

@s0: 120px;
@s1: 80px;
@s2: 54px;
@s3: 36px;
@s4: 24px;
@s5: 16px;
@s6: 11px;
@s7: 7px;
@s8: 4px;
@s9: 2px;

// Width variables (appears count calculates by raw css)

@width0: 100%; // Appears 11 times
@width2: 12px; // Appears 6 times
@width4: 20px; // Appears 2 times
@width5: 10px; // Appears 2 times
@width6: 60%; // Appears 2 times
@width12: 8px; // Appears 4 times

// Height variables (appears count calculates by raw css)

@height1: 100%; // Appears 7 times
@height3: 20px; // Appears 2 times
@height5: 12px; // Appears 6 times
@height8: 8px; // Appears 2 times
@height9: 6px; // Appears 4 times

@screen-xl-max: 1920px;
@s15: 15px;
@s20: 20px;
@s30: 30px;

// Extra small screen / phone
//** Deprecated `@screen-xs` as of v3.0.1
@screen-xs:                  320px;
//** Deprecated `@screen-xs-min` as of v3.2.0
@screen-xs-min:              @screen-xs;
//** Deprecated `@screen-phone` as of v3.0.1
@screen-phone:               @screen-xs-min;

// Small screen / tablet
//** Deprecated `@screen-sm` as of v3.0.1
@screen-sm:                  646px;
@screen-sm-min:              @screen-sm;
//** Deprecated `@screen-tablet` as of v3.0.1
@screen-tablet:              @screen-sm-min;

// Medium screen / desktop
//** Deprecated `@screen-md` as of v3.0.1
@screen-md:                  971px;
@screen-md-min:              @screen-md;
//** Deprecated `@screen-desktop` as of v3.0.1
@screen-desktop:             @screen-md-min;

// Large screen / wide desktop
//** Deprecated `@screen-lg` as of v3.0.1
@screen-lg:                  1170px;
@screen-lg-min:              @screen-lg;
//** Deprecated `@screen-lg-desktop` as of v3.0.1
@screen-lg-desktop:          @screen-lg-min;

// So media queries don't overlap when required, provide a maximum
@screen-xs-max:              (@screen-sm-min - 1);
@screen-sm-max:              (@screen-md-min - 1);
@screen-md-max:              (@screen-lg-min - 1);

/*-------------- Bootstrap Utilities ------------*/

.p-0 {
    padding: 0;
}

.m-0 {
    margin: 0;
}

.m-tb-15 {
    margin: 15px 0;
}

.p-tb-10 {
    padding: 10px 0;
}

.m-t-0 {
    margin-top: 0;
}

.m-t-5 {
    margin-top: 5px;
}

.m-t-7 {
    margin-top: 7px;
}

.m-t-10 {
    margin-top: 10px;
}

.m-t-15 {
    margin-top: 15px;
}

.m-t-30 {
    margin-top: 30px;
}

.m-b-0 {
    margin-bottom: 0;
}

.m-b-5 {
    margin-bottom: 5px;
}

.m-b-7 {
    margin-bottom: 7px;
}

.m-b-10 {
    margin-bottom: 10px;
}

.m-b-13 {
    margin-bottom: 13px;
}

.m-b-15 {
    margin-bottom: 15px;
}

.m-b-30 {
    margin-bottom: 30px;
}

.p-r-0 {
    padding-right: 0;
}

.p-l-0 {
    padding-left: 0;
}

.p-l-15 {
    padding-left: 15px;
}

.p-t-5 {
    padding-top: 5px;
}

.p-t-10 {
    padding-top: 10px;
}

.p-t-15 {
    padding-top: 15px;
}

.p-t-20 {
    padding-top: 20px;
}

.p-b-20 {
    padding-bottom: 20px;
}

.p-t-30 {
    padding-top: 30px;
}

.p-b-5 {
    padding-bottom: 5px;
}

.p-b-10 {
    padding-bottom: 10px;
}

.m-r-5 {
    margin-right: 5px;
}

.m-t-18 {
    margin-top: 18px;
}

.m-b-8 {
    margin-bottom: 8px;
}

.m-t-8 {
    margin-top: 8px;
}

.m-r-10 {
    margin-right: 10px;
}

.m-r-20 {
    margin-right: 20px;
}

.m-b-25 {
    margin-bottom: 25px;
}

.d-block {
    display: block;
}

.d-inline {
    display: inline;
}

.d-inline-block {
    display: inline-block;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.w-100 {
    width: 100%;
}

.d-none {
    display: none;
}

.d-lg-none {
    @media (max-width: @screen-md-max) {
        display: none;
    }
}

.d-md-none {
    @media (max-width: @screen-sm-max) {
        display: none;
    }
}

.d-sm-none {
    @media (max-width: @screen-xs-max) {
        display: none;
    }
}

.d-lg-block {
    @media (max-width: @screen-md-max) {
        display: block;
    }
}

.d-md-block {
    @media (max-width: @screen-sm-max) {
        display: block;
    }
}

.d-sm-block {
    @media (max-width: @screen-xs-max) {
        display: block;
    }
}
