.content-page {

    h1 {
        color: @black;
        margin: 0 0 20px;
    }

    p {
        color: @black;
        font-size: 1.6rem;
        line-height: 2.2rem;
        margin: 0;
    }

    h3 {
        color: @primary;
    }

    ul,
    ol {
        margin-top: 15px;
        margin-bottom: 0;
        padding-left: 26px;

        li {
            font-size: 1.6rem;
            line-height: 2.2rem;
            margin-bottom: 5px;

            span {
                color: @black;
                margin-left: 5px;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    ol,
    ul.primary-list {

        li {
            color: @primary;
        }
    }

    .cms-right-section {
        @media screen and (min-width: @cbs-xl-min) {
            margin-left: 10px;
        }

        @media screen and (max-width: @cbs-lg-max) {
            margin-top: 10px;
        }
    }
}

.close-btn {
    @media screen and (max-width: @cbs-sm-max) {
        margin-top: 1.5rem;
    }
}

.privacy-policy-wrapper p {
    margin-bottom: 15px;
}
