body {
    font-family: "tktype", @fallback-font;
}

@font-face {
    font-family: "tk-iconfont";
    src: url("../../_ui-src/fonts/tk-iconfont.eot");
    src: url("../../_ui-src/fonts/tk-iconfont.woff") format("woff"), url("../../_ui-src/fonts/tk-iconfont.ttf") format("truetype"), url("../../_ui-src/fonts/tk-iconfont.svg") format("svg");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "tktype";
    src: url("../../_ui-src/fonts/tktyperegular.eot");
    src: url("../../_ui-src/fonts/tktyperegular.woff") format("woff"), url("../../_ui-src/fonts/tktyperegular.ttf") format("truetype"), url("../../_ui-src/fonts/tktyperegular.svg") format("svg");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "tktypebold";
    src: url("../../_ui-src/fonts/tktypebold.eot");
    src: url("../../_ui-src/fonts/tktypebold.woff") format("woff"), url("../../_ui-src/fonts/tktypebold.ttf") format("truetype"), url("../../_ui-src/fonts/tktypebold.svg") format("svg");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "tktypemedium";
    src: url("../../_ui-src/fonts/tktypemedium.eot");
    src: url("../../_ui-src/fonts/tktypemedium.woff") format("woff"), url("../../_ui-src/fonts/tktypemedium.ttf") format("truetype"), url("../../_ui-src/fonts/tktypemedium.svg") format("svg");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "tkIcon";
    src: url("../../_ui-src/fonts/tk-icon.eot") format("embedded-opentype"), url("../../_ui-src/fonts/tk-icon.ttf") format("truetype"), url("../../_ui-src/fonts/tk-icon.woff") format("woff"), url("../../_ui-src/fonts/tk-icon.svg") format("svg");
    font-weight: 500;
    font-style: normal;
    font-display: block;
}

[class^="icon-tk-"] {
    font-family: "tkIcon";
    color: @primary;
    speak: none;
    font-style: normal;
    font-weight: 500;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    cursor: pointer;
}

.pali-icon-tk-plus-circle:before {
    content: "\e900";
}

.pali-icon-tk-previous:before {
    content: "\e901";
}

.pali-icon-tk-print:before {
    content: "\e902";
}

.pali-icon-tk-profile:before {
    content: "\e903";
}

.pali-icon-tk-random-length:before {
    content: "\e904";
}

.pali-icon-tk-random-length-hover:before {
    content: "\e905";
}

.pali-icon-tk-refresh:before {
    content: "\e906";
}

.pali-icon-tk-restore-cart .path1:before {
    content: "\e907";
    color: rgb(29, 29, 27);
}

.pali-icon-tk-restore-cart .path2:before {
    content: "\e908";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}

.pali-icon-tk-save-for-later .path1:before {
    content: "\e909";
    color: rgb(29, 29, 27);
}

.pali-icon-tk-save-for-later .path2:before {
    content: "\e90a";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}

.pali-icon-tk-status-complete:before {
    content: "\e90c";
}

.pali-icon-tk-search:before {
    content: "\e90b";
}

.pali-icon-tk-status-part-complete:before {
    content: "\e90d";
}

.pali-icon-tk-arrow-next:before {
    content: "\e910";
}

.pali-icon-tk-status-shipping:before {
    content: "\e90e";
}

.pali-icon-tk-arrow-top:before {
    content: "\e911";
}

.pali-icon-tk-status-process:before {
    content: "\e90f";
}

.pali-icon-tk-check:before {
    content: "\e912";
}

.pali-icon-tk-chevron-down:before {
    content: "\e913";
}

.pali-icon-tk-chevron-left:before {
    content: "\e914";
}

.pali-icon-tk-chevron-right:before {
    content: "\e915";
}

.pali-icon-tk-chevron-top:before {
    content: "\e916";
}

.pali-icon-tk-close:before {
    content: "\e917";
}

.pali-icon-tk-close-circle {

    &:hover {
        color: @secondary-dark;
        background: transparent;
        outline: none;
    }

    &:before {
        content: "\e918";
    }
}

.pali-icon-tk-content-search:before {
    content: "\e919";
}

.pali-icon-tk-delete:before {
    content: "\e91a";
}

.pali-icon-tk-dollar:before {
    content: "\e91b";
}

.pali-icon-tk-dollar-hover:before {
    content: "\e91c";
}

.pali-icon-tk-download:before {
    content: "\e91d";
}

.pali-icon-tk-email:before {
    content: "\e91e";
}

.pali-icon-tk-info:before {
    content: "\e91f";
}

.pali-icon-tk-info-hover:before {
    content: "\e920";
}

.pali-icon-tk-logo:before {
    content: "\e921";
}

.pali-icon-tk-menu:before {
    content: "\e922";
}

.pali-icon-tk-minus:before {
    content: "\e923";
}

.pali-icon-tk-minus-circle:before {
    content: "\e924";
}

.pali-icon-tk-next:before {
    content: "\e925";
}

.pali-icon-tk-plus:before {
    content: "\e926";
}

.pali-icon-tk-arrow-left:before {
    content: "\e927";
}

.pali-u-icon-tk {
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    font-family: "tk-iconfont";
    line-height: 1;

    &:hover {
        background: transparent;
        outline: none;
    }
}

.pali-u-icon-tk--context-danger {
    color: @red;
}

.pali-u-icon-tk--context-warning {
    color: @yellow;
}

.pali-u-icon-tk--context-info {
    color: @secondary-normal;
}

.pali-u-icon-tk--context-success {
    color: @green;
}

.pali-u-icon-tk--menu:before {
    content: "\e61f";
}

.pali-u-icon-tk--search:before {
    content: "\e61c";
}

.pali-u-icon-tk--zoom:before {
    content: "\e637";
}

.pali-u-icon-tk--play:before {
    content: "\e624";
}

.pali-u-icon-tk--refresh:before {
    content: "\e64a";
}

.pali-u-icon-tk--close:before {
    content: "\e606";
}

.pali-u-icon-tk--plus:before {
    content: "\e602";
}

.pali-u-icon-tk--minus:before {
    content: "\e603";
}

.pali-u-icon-tk--arrow-down:before {
    content: "\e613";
}

.pali-u-icon-tk--arrow-left:before {
    content: "\e61d";
}

.pali-u-icon-tk--arrow-right:before {
    content: "\e61a";
}

.pali-u-icon-tk--arrow-up:before {
    content: "\e617";
}

.pali-u-icon-tk--check:before {
    content: "\e648";
}

.pali-u-icon-tk--ring-dot:before {
    content: "\e60e";
}

.pali-u-icon-tk--ring:before {
    content: "\e645";
}

.pali-u-icon-tk--dot:before {
    content: "\e60f";
}

.pali-u-icon-tk--arrow:before {
    content: "\e638";
}

.pali-u-icon-tk--link-website:before {
    content: "\e643";
}

.pali-u-icon-tk--print:before {
    content: "\e610";
}

.pali-u-icon-tk--mail:before {
    content: "\e600";
}

.pali-u-icon-tk--newsletter:before {
    content: "\e62f";
}

.pali-u-icon-tk--share:before {
    content: "\e625";
}

.pali-u-icon-tk--twitter:before {
    content: "\e62a";
}

.pali-u-icon-tk--google-plus:before {
    content: "\e62b";
}

.pali-u-icon-tk--facebook:before {
    content: "\e635";
}

.pali-u-icon-tk--youtube:before {
    content: "\e60a";
}

.pali-u-icon-tk--rss-feed:before {
    content: "\e633";
}

.pali-u-icon-tk--press:before {
    content: "\e607";
}

.pali-u-icon-tk--calendar:before {
    content: "\e608";
}

.pali-u-icon-tk--blog:before {
    content: "\e620";
}

.pali-u-icon-tk--tag:before {
    content: "\e604";
}

.pali-u-icon-tk--pin:before {
    content: "\e60c";
}

.pali-u-icon-tk--language:before {
    content: "\e609";
}

.pali-u-icon-tk--info:before {
    content: "\e642";
}

.pali-u-icon-tk--help:before {
    content: "\e60b";
}

.pali-u-icon-tk--message-info:before {
    content: "\e614";
}

.pali-u-icon-tk--message-error:before {
    content: "\e611";
}

.pali-u-icon-tk--message-important:before {
    content: "\e612";
}

.pali-u-icon-tk--message-correct:before {
    content: "\e615";
}

.pali-u-icon-tk--download:before {
    content: "\e605";
}

.pali-u-icon-tk--video:before {
    content: "\e64c";
}

.pali-u-icon-tk--file-image:before {
    content: "\e62d";
}

.pali-u-icon-tk--file-text:before {
    content: "\e628";
}

.pali-u-icon-tk--document:before {
    content: "\e626";
}

.pali-u-icon-tk--file-excel:before {
    content: "\e622";
}

.pali-u-icon-tk--file-word:before {
    content: "\e623";
}

.pali-u-icon-tk--file-powerpoint:before {
    content: "\e644";
}

.pali-u-icon-tk--file-pdf:before {
    content: "\e601";
}

.pali-u-icon-tk--file-jpg:before {
    content: "\e627";
}

.pali-u-icon-tk--quiz:before {
    content: "\e646";
}

.pali-u-icon-tk--star:before {
    content: "\e629";
}

.pali-u-icon-tk--flip-card:before {
    content: "\e647";
}

.pali-u-icon-tk--lock:before {
    content: "\e64b";
}

.pali-u-icon-tk--wikipedia:before {
    content: "\e60d";
}

.pali-u-icon-tk--files:before {
    content: "\e616";
}

.pali-u-icon-tk--telefon:before {
    content: "\e618";
}

.pali-u-icon-tk--status-update:before {
    content: "\e619";
}

.pali-u-icon-tk--settings:before {
    content: "\e61b";
}

.u-icon-tk--radio:before {
    content: "\e61e";
}

.pali-u-icon-tk--profile:before {
    content: "\e621";
}

.pali-u-icon-tk--mobile:before {
    content: "\e62c";
}

.pali-u-icon-tk--ideation:before {
    content: "\e62e";
}

.pali-u-icon-tk--id-card:before {
    content: "\e630";
}

.pali-u-icon-tk--home:before {
    content: "\e631";
}

.pali-u-icon-tk--forum:before {
    content: "\e632";
}

.pali-u-icon-tk--down:before {
    content: "\e634";
}

.pali-u-icon-tk--document2:before {
    content: "\e636";
}

.pali-u-icon-tk--compass:before {
    content: "\e639";
}

.pali-u-icon-tk--community:before {
    content: "\e63a";
}

.pali-u-icon-tk--bookmark:before {
    content: "\e63b";
}

.pali-u-icon-tk--attention:before {
    content: "\e63c";
}

.pali-u-icon-tk--activities:before {
    content: "\e63d";
}

.pali-u-icon-tk--abstractservices:before {
    content: "\e63e";
}

.pali-u-icon-tk--xing:before {
    content: "\e63f";
}

.pali-u-icon-tk--linkedin:before {
    content: "\e640";
}

.pali-u-icon-tk--rising:before {
    content: "\e641";
}

.pali-u-icon-tk--falling:before {
    content: "\e649";
}

.pali-u-icon-tk--stagnating:before {
    content: "\e64d";
}

.pali-u-icon-tk--edit:before {
    content: "\e64e";
}

.pali-u-icon-tk--delete:before {
    content: "\e64f";
}

.pali-u-icon-tk--check-border-circle:before {
    content: "\e650";
}

.pali-u-icon-tk--search-single:before {
    content: "\e651";
}

.pali-u-icon-tk--tags-single:before {
    content: "\e652";
}

.pali-u-icon-tk--arrow-link:before {
    content: "\e653";
}

.pali-u-icon-tk--admin:before {
    content: "\e654";
}

.pali-u-icon-tk--star-single:before {
    content: "\e655";
}

.pali-u-icon-tk--plus2:before {
    content: "\e656";
}

.pali-u-icon-tk--zu-hiesinger:before {
    content: "\e657";
}

.pali-u-icon-tk--edit-single:before {
    content: "\e658";
}

.pali-u-icon-tk--close-single:before {
    content: "\e659";
}

.pali-u-icon-tk--saw:before {
    content: "\e911";
}

.pali-u-icon-tk--mini-cart:before {
    content: "\e90e";
}

.pali-u-icon-tk--search-alt:before {
    content: "\e90c";
}

.pali-u-icon-tk--checkbox:before {
    content: "\e900";
}

.pali-u-icon-tk--checkbox-active:before {
    content: "\e901";
}

.pali-u-icon-tk--checkbox-disabled:before {
    content: "\e903";
}

.pali-u-icon-tk--radiobutton:before {
    content: "\e905";
}

.pali-u-icon-tk--radiobutton-active:before {
    content: "\e906";
}

.pali-u-icon-tk--radiobutton-disabled:before {
    content: "\e908";
}

.pali-u-icon-tk--icon-check:before {
    content: "\e90a";
}

.pali-u-icon-tk--icon-cross:before {
    content: "\e90b";
}

.pali-u-icon-tk--icon-checkbox-tick:before {
    content: "\E902";
    background-color: #00A0F0;
    color: @white;
}

.pali-u-icon-tk-custom {
    width: 39px;
    height: 39px;
    border: 2px solid @primary;
    border-radius: 50%;
    position: relative;

    &.arrow-circle-right {
        top: 2px;
        left: 10px;

        &:hover {
            border: 2px solid @gray-dark;
        }
    }

    &.arrow-circle-right:before {
        content: "\e61d";
        font-size: 2.4rem;
        top: 6px;
        left: 5px;
        position: absolute;
    }

    &.arrow-circle-left {
        top: 2px;
        left: 3px;

        &:hover {
            border: 2px solid @gray-dark;
        }
    }

    &.arrow-circle-left:before {
        content: "\e61a";
        font-size: 2.4rem;
        top: 6px;
        left: 7px;
        position: absolute;
    }
}

.pali-ui-tk-svg {
    width: 22px;
    height: 22px;
    position: relative;
}
