.list-style-none {
    list-style: none;
}

/*stylelint-disable*/
.align-self () {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    -webkit-align-self: center;
}

.flexbox {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.box-shadow (@x: 0, @y: 4px, @blur: 6px, @color: #BFBFBF) {
  -webkit-box-shadow: @x @y @blur @color;
  -moz-box-shadow: @x @y @blur @color;
  box-shadow: @x @y @blur @color;
}

.inner-shadow (@x: 0, @y: 0, @blur: 2px, @color: #BFBFBF) {
  -webkit-box-shadow: @x @y @blur @color inset;
  -moz-box-shadow: @x @y @blur @color inset;
  box-shadow: @x @y @blur @color inset;
}

/*stylelint-enable*/

.box-sizing (@sizing: border-box) {
    box-sizing: @sizing;
}

.transition (@attr,@time,@ease) {
    transition: @attr @time @ease;
}

.border-radius (@radius: 4px;) {
    border-radius: @radius;
}
