@input-box-shadow: inset 2px 2px 4px #E5E5E5;
@input-text-color: #B2B2B2;
@input-placeholder-color: #B2B2B2;
@input-bg: #F3F5F8;
@fallback-font: Calibri, Arial, Helvetica, sans-serif;

@cbs-sm-min: 576px;
@cbs-sm-max: 767px;
@cbs-md-min: 768px;
@cbs-md-max: 991px;
@cbs-lg-min: 992px;
@cbs-lg-max: 1199px;
@cbs-xl-min: 1200px;

/*Added custom grid as per TKCBS-Grid */
@cbs-xs-max: 575px;
@cbs-xs-min: 320px;

// Yes/ No Switch
@switch-height: 26px;
@switch-width: 78px;
