/* stylelint-disable */
@-moz-document url-prefix() {

    fieldset {
        display: table-cell;
    }
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/* stylelint-enable */

