@pali-dark-gray : #353C47;

.container-fluid {
    padding: 0 15px;
}

.pali a {
    font-size: 1.9rem;
    line-height: 2.1rem;

    &.link-primary {
        font-size: 1.6rem;
        line-height: 2.2rem;
    }

    &.link-blue {
        font-size: 1.6rem;
        line-height: 2.2rem;
    }

    &.link-secondary {
        font-size: 1.6rem;
        line-height: 2.2rem;
    }

    &.link-white {
        font-size: 1.6rem;
        line-height: 2.2rem;
    }

    &.link-references {
        font-size: 1.3rem;
        line-height: 1.9rem;
    }
}

.pali-content {
    position: relative;

    .pali-left-nav {
        min-height: calc(~"100vh - 40px");
        box-shadow: @gray 10px 0 10px -5px;
        z-index: 1;
        padding-top: 1.5rem;
        padding-left: 3rem;

        @media only screen and (min-width: 768px) {
            position: absolute;
            top: 0;
            bottom: 0;
        }

        .pali-h6 {
            margin-top: 1.3rem;
            font-size: 1.4rem;
            color: @gray-medium;
        }

        li {
            margin-top: 1.3rem;

            a:hover {
                color: @black;
            }
        }
    }

    .pali-preface {
        background: @gray-light;
        padding: 1.7rem 3rem 1.3rem 10rem;
        font-size: 1.5rem;
        line-height: 2.1rem;
        width: 100%;
        color: @pali-dark-gray;

        @media only screen and (max-width: 575px) {
            padding: 3rem 1rem;
        }
    }

    section + hr {
        height: 1.5rem;
    }

    section + h5 {
        padding: 1.4rem 0 1.1rem;
        width: 100%;
        font-size: 1.5rem;
        padding-left: 10rem;
    }

    .pali-section {
        padding: 2.5rem 3rem 3rem 10rem;
        width: 100%;

        .pali-h1 {
            margin: 0;
            font-size: 3.2rem;
            line-height: 3.8rem;
            color: @pali-dark-gray;
        }

        .pali-h2 {
            font-size: 2.1rem;
        }

        .pali-h6 {
            font-size: 1.4rem;
        }

        .pali-h1 + .pali-hr {
            margin: 0 0 2.6rem;
            border-color: @black;
        }

        .pali-h2 + .pali-hr {
            margin: 0;
            margin-bottom: 2.4rem;
        }

        &.colors {

            .pali-h1 + .pali-hr {
                margin-bottom: 0.5rem;
            }

            .pali-h2 {
                margin-bottom: 2.1rem;
                line-height: 2.8rem;
                color: @pali-dark-gray;
                margin-top: 2rem;
            }
        }

        .fonts {

            .row {
                display: flex;
            }

            .pali-h2 {
                margin-top: 2.6rem;
                margin-bottom: 0.3rem;
                line-height: 2.3rem;
                color: @pali-dark-gray;
            }
        }

        &.font-copy {

            .row {
                display: flex;
            }

            .pali-h2 {
                margin-top: 2.3rem;
            }
        }

        &.links {

            hr {
                margin: 0;
            }
        }

        &.buttons {
            color: @pali-dark-gray;

            .pali-h2 {
                line-height: 2.3rem;
            }

            .pali-hr {
                margin-bottom: 2rem;
            }

            .edit-hr {
                margin-top: 3rem;
            }
        }

        &.input {

            .pali-h1 + .pali-hr {
                margin: 0 0 2.8rem;
            }

            .pali-h2 + .pali-hr {
                margin-bottom: 2.9rem;
            }

            .pali-h2 {
                line-height: 2.3rem;
            }

            .input-switch {

                .pali-h2 {
                    margin-bottom: 0.3rem;
                }
            }
        }

        &.alerts {

            .pali-h1 + .pali-hr {
                margin: 0 0 2.8rem;
            }

            .pali-h2 {
                line-height: 2.3rem;
            }

            .edit-hr {
                margin-top: 2.2rem;
            }
        }

        .tab-content {

            div {
                display: none;

                &:first-child {
                    display: block;
                }
            }
        }

        .pali-desc {
            font-size: 1.4rem;
            line-height: 1.9rem;
            color: @gray-dark;
            background: @gray-light;
            padding: 3rem;
            height: ~"calc(100% - 5px)";

            p {
                margin-bottom: 1.1rem;
            }

            span {
                color: @gray-medium;
            }
        }

        .color-box {
            margin: 0 0 2.5rem;

            &:last-child {
                margin-bottom: 0.5rem;
            }
        }

        .color {
            width: 4rem;
            height: 4rem;
            border-radius: 3px;
            margin-right: 2.1rem;
        }

        .color-text {
            font-size: 1.4rem;
            padding: 0.3rem;
            display: flex;
            align-items: center;
            width: 65%;
            color: @pali-dark-gray;
        }

        .copy-text {
            font-size: 1.4rem;
        }

        .white-bg {
            border: 1px solid @gray;
        }

        .editor-container {
            width: 100%;
            overflow: hidden;
        }

        .pali-editor {
            font-size: 1.5rem;
            margin-bottom: 0.1rem;
            margin-top: 3.5rem;
            color: @gray-medium;

            a {
                font-size: 1.5rem;
                line-height: 2.1rem;
                color: @pali-dark-gray;

                &:hover {
                    color: @secondary-dark;
                    text-decoration: underline;
                }

                &:active {
                    color: @secondary-dark;
                    text-decoration: underline;
                }

                &.active {
                    color: @secondary-dark;
                    text-decoration: underline;
                }
            }

            .expand-collapse-icon {
                position: relative;
                top: -1rem;
                right: -0.5rem;
            }

            .collapse-icon {
                width: 2.4rem;
                height: 2.2rem;
                border-radius: 50%;
                background: @gray-light;
                cursor: pointer;
                padding: 0.7rem 0.7rem 1rem;
                line-height: 0;

                &.collapsed {
                    padding: 0.6rem 0.7rem 0.5rem;
                }

                .plus {
                    display: none;
                }
            }
        }

        textarea {
            width: 100%;
            resize: none;
            outline: none;
            font-size: 1.5rem;
        }

        .edit-hr {
            border-color: @black;
            margin: 2.7rem 0 1.5rem;
        }
    }

    .s-70 {
        background: @gray;
        width: 100%;
        height: 7rem;
        margin-right: 2rem;
    }

    .s-50 {
        background: @gray;
        width: 100%;
        height: 5rem;
        margin-right: 2rem;
    }

    .s-30 {
        background: @gray;
        width: 100%;
        height: 30px;
        margin-right: 2rem;
    }

    .s-20 {
        background: @gray;
        width: 100%;
        height: 2rem;
        margin-right: 2rem;
    }

    .s-15 {
        background: @gray;
        width: 100%;
        height: 1.5rem;
        margin-right: 2rem;
    }

    .s-10 {
        background: @gray;
        width: 100%;
        height: 1rem;
        margin-right: 2rem;
    }

    .s-5 {
        background: @gray;
        width: 100%;
        height: 0.5rem;
        margin-right: 2rem;
    }
}

a {

    &.go-to-top {
        display: block;
        position: fixed;
        font-size: 1.4rem;
        bottom: 1rem;
        padding: 0 1.5rem;
        right: 3rem;
        opacity: 0.3;
        border-radius: 3px;
        background: #EEE;
        line-height: 1;

        &:hover {
            text-decoration: none;
            background: #EEE;
            opacity: 1;
        }

        &:focus {
            text-decoration: none;
            background: #EEE;
            opacity: 1;
        }
    }
}
