@pali-dark-gray : #353C47;

.pali-header {
    background-color: @pali-dark-gray;
    width: 100%;
    padding: 1.9rem 0 1.5rem 1.5rem;

    .pali-logo {
        width: 10.4rem;
        height: 2.4rem;

        path {
            fill: @white;
        }
    }

    .pali-list {
        margin: 0.4rem 0 0 0 7.4rem;

        @media only screen and (max-width: 575px) {
            margin-left: 0;
        }

        li {
            padding: 0;
        }

        li:not(:last-child) {
            margin-right: 1.7rem;
            line-height: 2.4rem;
        }

        li:not(:last-child):after {
            content: "\007C";
            margin-left: 2rem;
            color: @gray;
            vertical-align: middle;
            font-size: 2.8rem;
        }

        a {
            color: @gray;

            &:hover {
                color: @secondary-bright;
            }

            &.active {
                color: @secondary-bright;
                text-decoration: underline;
            }
        }
    }
}
