@title-bottom-spacing: 42px;
@banner-container-min-height: 196px;
@bottom-button-height: 34px;

.m-banner {
    background-color: @white;
    border: none;
    outline: none;
    text-decoration: none;
    display: block;
    margin-bottom: @s4;
    position: relative;
    min-height: @banner-container-min-height;

    &__img {
        width: 100%;
    }

    &__content {
        position: absolute;
        bottom: @s1;

        @media (max-width: @screen-sm-max) {
            bottom: 0;
        }

        &__title,
        &__sub-title {
            background: @blue-brand;
            color: @white;
            padding: 0 @s15;
            display: block;
            float: left;
            clear: left;

            a,
            a:visited {
                color: @white;
                text-decoration: none;
            }
        }

        &__title {
            margin-bottom: @s6;
        }
    }

    &--title {
        margin-bottom: 0;

        .m-banner {

            &__content {
                bottom: @title-bottom-spacing;

                &__title {
                    margin: 0;
                    padding: @s7 @s15;
                }
            }
        }
    }

    &.blue-bg {
        background: @blue-brand;
    }

    &.grey-bg {
        background-color: @grey-lighter;
    }

    &--hero-banner-content-normal,
    &--hero-banner-content-max {
        height: 440px;
        overflow: hidden;

        @media (max-width: @screen-md-max) {
            height: 360px;
        }

        @media (max-width: @screen-xs-max) {
            height: 100%;
            padding-bottom: @s30;
        }

        .container,
        .container-column {
            position: relative;
            max-height: 440px;

            @media (max-width: @screen-md-max) {
                max-height: 360px;
                position: static;
            }

            @media (max-width: @screen-xs-max) {
                max-height: 100%;
                position: relative;
            }
        }

        .m-banner__img {
            @media (max-width: @screen-md-max) {
                min-height: 360px;
            }

            @media (max-width: @screen-xs-max) {
                min-height: 130px;
            }
        }

        .container {

            .m-banner__content {
                background: @white;
                padding: @s30;
                position: absolute;
                left: @s5;
                bottom: @s30;

                @media (max-width: @screen-md-max) {
                    left: 0;
                    bottom: @s30;
                }

                @media (max-width: @screen-sm-max) {
                    left: 0;
                    bottom: @s30;
                }

                @media (max-width: @screen-xs-max) {
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    position: relative;
                    padding: 20px @s15 @s6 @s15;
                }

                .m-banner__content__title,
                .m-banner__content__sub-title {
                    background: none;
                    color: @gray-base;
                    float: none;
                    padding: 0;

                    @media (max-width: @screen-sm-max) {
                        font-size: @t6-font-size;
                        line-height: @t6-line-height;
                    }
                }

                .m-banner__content__title {
                    font-size: @t4-font-size;
                    line-height: @t4-line-height;

                    a,
                    a:visited {
                        color: @blue-brand;
                        text-decoration: none;
                    }
                }

                .m-banner__content__sub-title {
                    margin-bottom: @s30;

                    @media (max-width: @screen-sm-max) {
                        margin-bottom: 20px;
                    }

                    a,
                    a:visited {
                        color: @gray-base;
                        text-decoration: none;
                    }
                }

                .m-banner__content__para {
                    margin: 0 0 @s30;

                    @media (max-width: @screen-sm-max) {
                        margin-bottom: 20px;
                    }
                }

                .m-banner-btn {

                    a,
                    a:visited,
                    span.u-icon-tk {
                        font-size: @t6-font-size;
                        line-height: @t6-line-height;
                    }

                    @media (max-width: @screen-xs-max) {
                        text-align: center;
                    }
                }

                .btn {
                    display: inline-block;
                    width: auto;
                }
            }
        }
    }

    &--hero-banner-max {

        .container {
            width: 100%;
            padding: 0;

            .m-banner__content {
                left: 0;

                .m-banner__content__title,
                .m-banner__content__sub-title {
                    padding-left: @s0 + @s0;

                    @media (max-width: @screen-xl-max) {
                        padding-left: @s15;
                    }
                }

                @media (max-width: @screen-sm-max) {
                    left: 0;
                    bottom: @s2;
                }

                @media (max-width: @screen-xs-max) {
                    left: 0;
                    bottom: 0;
                    top: 0;
                    width: 100%;
                    position: relative;
                    background: @blue-brand;
                }

                @media (max-width: @screen-xs) {
                    bottom: 0;
                }
            }
        }
    }

    &--hero-banner-normal {

        .m-banner__content {
            width: 55%;
            bottom: @s3;

            @media (max-width: @screen-sm-max) {
                bottom: @s2;
            }

            @media (max-width: @screen-xs-max) {
                bottom: 0;
                left: 0;
                top: 0;
                width: 100%;
                position: relative;
                background: @blue-brand;
            }

            @media (max-width: @screen-xs) {
                bottom: 0;
            }
        }
    }

    &--hero-banner-normal,
    &--hero-banner-max {
        height: 440px;
        overflow: hidden;

        @media (max-width: @screen-md-max) {
            height: 360px;
        }

        @media (max-width: @screen-xs-max) {
            height: 100%;
        }

        .container,
        .container-column {
            position: relative;
            max-height: 440px;

            @media (max-width: @screen-md-max) {
                max-height: 360px;
            }

            @media (max-width: @screen-xs-max) {
                max-height: 100%;
            }
        }

        .m-banner__img {
            width: 100%;
            min-height: 440px;

            @media (max-width: @screen-md-max) {
                min-height: 360px;
            }

            @media (max-width: @screen-xs-max) {
                min-height: 220px;
            }
        }
    }

    &--hero-banner-content-max {

        .container-column {
            position: absolute;
            bottom: 0;
            width: 100%;

            @media (max-width: @screen-xs-max) {
                position: relative;
            }
        }
    }
}

.m-encourage-blocks {
    padding: 0;
    min-height: @banner-container-min-height;
    position: relative;

    &__content {

        &__title,
        &__img {
            margin-bottom: 6px;
        }

        &__img,
        &__img img {
            width: 100%;
            display: block;
        }
    }

    &--has-bottom-link {
        padding-bottom: 0;

        .m-encourage-blocks__bottom {
            width: 100%;
            padding: 0;
            line-height: 1;

            &-link {
                text-decoration: underline;
                font-size: 13px;
                line-height: @btn-normal-font-size;
            }

            .u-icon-tk--arrow-right {
                vertical-align: middle;
                font-size: 14px;
            }
        }
    }
}

.m-teaser {
    background-color: @white;
    border: none;
    outline: none;
    text-decoration: none;
    display: block;
    margin-bottom: @s4;
    position: relative;
    min-height: @banner-container-min-height;
    padding: @s6 0 @s5 0;

    .container {
        position: relative;
    }

    &__img {
        width: 100%;
        padding: @s7 0;
    }

    &__content {

        &__title {
            color: @blue-brand;
            font-size: @font-size-h4;
            line-height: @t5-line-height;
            padding: @s7 0;
            margin: 0;
        }

        &__sub-title {
            font-size: @btn-normal-font-size;
            line-height: @t6-line-height;
            color: @gray-base;
            padding: @s7 0;
            margin: 0;
            max-width: 850px;

            a,
            a:visited {
                color: @gray-base;
                text-decoration: none;
            }
        }

        &__para {
            font-size: @t6-font-size;
            line-height: @t6-line-height;
            color: @grey-dark;
            padding: @s7 0;
            margin: 0;
            max-width: 850px;
        }

        .btn {
            display: inline-block;
            width: auto;
            color: @blue-brand;
            background: @white;
            border: 1px solid @blue-brand;
            margin: @s7 0;
        }

        a,
        a:visited {
            font-size: @t6-font-size;
            line-height: @t6-line-height;

            span.u-icon-tk {
                font-size: @t6-font-size;
                line-height: @t6-line-height;
            }
        }

        span.u-icon-tk {
            font-size: @t6-font-size;
            line-height: @t6-line-height;
        }
    }

    .teaser-component {
        display: flex;

        .m-teaser-component {
            width: 25%;
        }
    }

    &--module-teaser-right,
    &--module-teaser-left,
    &--module-teaser-top {

        .m-teaser__img {
            width: 50%;
            float: right;

            @media (max-width: @screen-sm-max) {
                float: none;
                width: 100%;
            }

            &.rounded {
                border-radius: 50%;
            }
        }

        .m-teaser__content {
            position: relative;
            bottom: 0;
            width: 50%;
            float: left;

            @media (max-width: @screen-sm-max) {
                float: none;
                width: 100%;
                padding-right: 0;
            }
        }
    }

    &--module-teaser-left {

        .m-teaser__img {
            float: left;

            @media (max-width: @screen-sm-max) {
                float: none;
                width: 100%;
            }
        }

        .m-teaser__content {
            float: right;
            padding-left: @s4;

            @media (max-width: @screen-sm-max) {
                float: none;
                width: 100%;
                padding-left: 0;
            }
        }
    }

    &--module-teaser-right {

        .m-teaser__content {
            padding-right: @s4;
        }
    }

    &--module-teaser-top {

        .m-teaser__img {
            float: none;
            width: 100%;
        }

        .m-teaser__content {
            position: relative;
            bottom: 0;
            width: 100%;
            float: none;
            padding-right: 0;
        }
    }

    &.blue-bg {
        background: @blue-brand;

        .m-teaser__content {

            &__title,
            &__sub-title,
            &__para {
                color: @white;
            }

            a.bottom-link {
                text-decoration: underline;
            }

            a,
            a:visited {
                color: @white;
            }
        }
    }

    &.grey-bg {
        background-color: @grey-lighter;
    }
}

.slot5-row {
    margin: 0 -15px;
}

.banner-slider {
    margin-bottom: @s5;

    .owl-wrapper-outer {

        .owl-wrapper {
            margin-bottom: @s4;

            .owl-item {

                .item {

                    .m-banner {
                        margin-bottom: @s6;
                        padding-bottom: 0;

                        &--hero-banner-content-max,
                        &--hero-banner-content-normal {

                            .m-banner__content {
                                @media (max-width: @screen-xs-max) {
                                    padding-top: 45px;
                                }
                            }

                            .m-banner__img {
                                @media (max-width: @screen-xs-max) {
                                    height: 220px;
                                }
                            }
                        }

                        &--hero-banner-normal {

                            .m-banner__content__title,
                            .m-banner__content__sub-title {
                                @media (max-width: @screen-md-max) {
                                    padding-left: @s2 - @s8;
                                }

                                @media (max-width: @screen-xs-max) {
                                    padding-left: @s15;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .owl-controls {
        width: 1140px;
        text-align: center;
        position: relative;
        margin: 0 auto;
        display: block;

        @media (max-width: @screen-lg-min) {
            width: 100%;
        }

        .owl-page {

            span {
                display: block;
                width: 13px;
                height: 13px;
                margin: 5px 6px;
                background: @white;
                border: 1px solid @blue-brand;
                filter: alpha(Opacity=100); /* IE7 fix */
                opacity: 1;
            }

            &:hover,
            &.active {

                span {
                    background: @blue-brand;
                }
            }
        }

        .owl-buttons {
            width: 100%;

            .owl-prev,
            .owl-next {
                top: -220px;
                width: 50px;
                height: 85px;
                padding: 15px;
                background: @blue-brand;
                color: @white;
                opacity: 0.6;
                font-size: 0;

                span.u-icon-tk {
                    color: @white;
                    font-size: 50px;
                    line-height: 85px;
                }

                &:hover {
                    background: @white;

                    span.u-icon-tk {
                        color: @blue-brand;
                    }
                }

                @media (max-width: @screen-md-max) {
                    top: -180px;
                }

                @media (max-width: @screen-xs-max) {
                    display: none;
                }
            }

            .owl-prev {
                left: -55px;

                @media (max-width: @screen-md-max) {
                    left: 0;
                }
            }

            .owl-next {
                right: -55px;

                @media (max-width: @screen-md-max) {
                    right: 0;
                }
            }
        }
    }

    &.max-slider {

        .owl-controls {
            width: 100%;

            .owl-buttons {

                .owl-prev {
                    left: 0;
                }

                .owl-next {
                    right: 0;
                }
            }
        }

        .m-banner__content {

            .m-banner__content__title,
            .m-banner__content__sub-title {
                padding-left: 60px;

                @media (max-width: @screen-xl-max) {
                    padding-left: 60px;
                }

                @media (max-width: @screen-xs-max) {
                    padding-left: @s15;
                }
            }
        }
    }
}

.container {

    .teaser-container {

        .container {
            width: 100%;
        }
    }
}

.teaser-container {
    margin: 0 0 @s4 0;
    padding: @s6 0 0 0;

    .m-teaser {
        margin-bottom: 0;

        .container {
            padding: 0;

            a,
            a:visited {
                margin-bottom: @s7;
            }
        }
    }

    h3 {
        padding: @s7 0 @s7 0;

        &[data-underline="true"] {
            border-bottom: 1px solid @grey-light;
        }
    }

    .m-column {

        &:nth-child(n+5) {
            display: none;
        }
    }

    &.teaser-more-than-two {

        .m-teaser__img {
            float: none;
            width: 100%;
        }

        .m-teaser__content {
            position: relative;
            bottom: 0;
            width: 100%;
            float: none;
            padding-right: 0;
            padding-left: 0;
        }
    }

    &[data-highlight="BLUE"] {
        background: @blue-brand;

        .container {
            padding: 0 @s15;

            .container {
                padding: 0;
            }
        }

        h3 {
            color: @white;

            &[data-underline="true"] {
                border-bottom: 1px solid @grey-light;
            }
        }

        .m-teaser {
            background: @blue-brand;

            .m-teaser__content {

                &__title,
                &__sub-title,
                &__para {
                    color: @white;
                }

                a.bottom-link {
                    text-decoration: underline;
                }

                a,
                a:visited {
                    color: @white;

                    &.btn {
                        color: @blue-brand;
                    }
                }

                span.u-icon-tk {
                    color: @white;
                }
            }
        }
    }

    &[data-highlight="GREY"] {
        background-color: @grey-lighter;

        .container {
            padding: 0 @s15;

            .container {
                padding: 0;
            }
        }

        .m-teaser {
            background: @grey-lighter;
        }
    }
}

.yCmsContentSlot {

    &.container {

        .banner-slider {

            .owl-controls {
                width: 100%;
            }
        }
    }
}
