@cart-list-item-min-height: 75px;
@cart-list-wrapper-min-height: 447px;
@cart-panel-padding-leftright: 30px;

.m-cart {

    &__items {

        .item__list__cart {

            .item__list--item {
                @media (max-width: @screen-sm-max) {
                    padding: 0;
                    border: none;
                }

                .cart-attr {

                    .row {
                        @media (max-width: @screen-sm-max) {
                            margin: 0;
                        }

                        div {
                            @media (max-width: @screen-sm-max) {
                                padding: 0;
                            }
                        }

                        div:first-child {
                            @media (max-width: @screen-sm-max) {
                                padding-right: @s20;
                            }
                        }
                    }
                }

                .item__heading {
                    font-weight: @font-weight-medium;

                    @media (max-width: @screen-sm-max) {
                        margin-bottom: @s15;
                        margin-top: @s20;
                    }

                    a {
                        @media (max-width: @screen-sm-max) {
                            font-weight: 500;
                        }
                    }
                }

                .item__image {
                    @media (max-width: @screen-sm-max) {
                        display: table-cell;
                        padding: 0 16px 0 0;
                        vertical-align: top;
                    }

                    @media (max-width: @screen-xs-max) {
                        width: 29%;

                        img {
                            width: 68px;
                        }
                    }

                    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
                        padding: 0 16px 16px 0;
                    }
                }

                .item__info {

                    .m-text-color--black {
                        font-weight: @font-weight-medium;
                    }

                    @media (max-width: @screen-sm-max) {
                        display: table-cell;
                        padding: 0 0 @s20;
                        vertical-align: top;
                    }

                    @media (max-width: @screen-xs-max) {
                        width: 71%;
                    }

                    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
                        width: 100%;
                    }
                }

                .item__price {
                    @media (max-width: @screen-sm-max) {
                        display: inline-block;
                        width: 100%;
                        border-top: 1px solid @grey-light;
                        padding-top: @s20;
                    }

                    &__sales-prop {
                        @media (max-width: @screen-sm-max) {
                            float: left;
                            width: 50%;
                            font-weight: 500;
                        }
                    }

                    &__sales-value {
                        @media (max-width: @screen-sm-max) {
                            text-align: right;
                            width: 50%;
                            float: left;
                        }
                    }
                }

                .item__weight {

                    &-prop {
                        @media (max-width: @screen-sm-max) {
                            font-weight: 500;
                        }
                    }
                }

                .item__total {
                    @media (max-width: @screen-sm-max) {
                        margin: @s20 0;
                        border-top: 1px solid @grey-light;
                        padding: @s20 0;
                        border-bottom: 1px solid @grey-light;
                        font-weight: 500;
                        font-size: 16px;
                    }
                }

                .item__quantity--small {

                    form {
                        @media (max-width: @screen-sm-max) {
                            float: left;
                            width: 65%;
                        }

                        .input-group {
                            @media (max-width: @screen-sm-max) {
                                margin-bottom: @s20;
                                width: 100%;
                            }
                        }
                    }

                    .item__quantity__remove {
                        @media (max-width: @screen-sm-max) {
                            text-align: right;
                            width: 35%;
                            height: 42px;
                            display: inline;
                            align-items: center;
                            line-height: 42px;
                        }
                    }

                    .m-cart__items__status {
                        @media (max-width: @screen-sm-max) {
                            position: static;
                            white-space: normal;
                            clear: both;
                            width: 100%;
                        }
                    }
                }
            }

            .item__list--header {
                padding-bottom: 10px;

                .item {

                    &__image {
                        width: 495px;
                    }
                }
            }

            .item__options__row {
                padding: 5px @s15 0;

                @media (max-width: @screen-sm-max) {
                    padding-top: @s20;
                }

                &.first-options {
                    @media (max-width: @screen-sm-max) {
                        padding: @s15 @s15 0;
                    }
                }
            }
        }

        &__qty {
            position: relative;
        }

        &__status {
            position: absolute;
            white-space: nowrap;
            bottom: @s7;
        }

        .item__list .item__list--item .item__quantity {
            padding-bottom: @s3;

            @media (max-width: @screen-sm-max) {
                padding-bottom: @s20;
                width: 100%;
            }
        }
    }

    &__help-block,
    &__actions {

        &--top {
            margin-bottom: @s5;

            a {
                display: inline-block;
            }
        }

        &--bottom {
            margin-bottom: @s1;
        }

        .cart-checkout-button-wrapper {
            padding: 0 @s5;
        }
    }

    &__actions {

        &--bottom {
            @media (max-width: @screen-sm-max) {
                margin: 0 0 @s20;
            }
        }
    }

    &__footer {
        margin-bottom: @s20;
    }

    &__voucher {

        > p {
            margin-bottom: @s7;
        }

        &--has-margin {
            margin-bottom: @s4;

            @media (max-width: @screen-sm-max) {
                margin: 0 @s15 @s20;
                border-bottom: 1px solid @grey-light;
                padding: 0 0 10px;
            }

            p {
                margin-bottom: 0;
            }
        }
    }
}

.delivery-info {
    @media (max-width: @screen-sm-max) {
        padding: 0 @s15;
        margin: 0 0 50px;
    }

    p {
        @media (max-width: @screen-sm-max) {
            margin-bottom: @s20;
        }
    }
}

.m-mini-cart {

    &__dropdown {
        padding-bottom: 0;
        border: none;
    }

    &__content {
        color: @black;

        &__title,
        &__body,
        &__list,
        &__actions,
        &__totals {
            padding: 0 @cart-panel-padding-leftright;
        }

        &__title {

            &__content {
                font-size: @t5-font-size;
                line-height: 40px;
                display: block;
            }

            &__info {
                color: @grey-dark;
                font-size: @t7-font-size;
                line-height: @t5-line-height;
                text-align: right;
            }
        }

        &__body {
            margin: @s4 0;

            &--empty {
                font-size: @t7-font-size;
                line-height: @t7-line-height;
            }
        }

        &__list {
            max-height: @cart-list-wrapper-min-height;
            overflow-y: auto;

            &__item {
                list-style: none;
                padding: @s20 0 0;
                min-height: @cart-list-item-min-height;
                font-size: @t7-font-size;
                line-height: @t7-line-height;
                border-top: 1px solid @grey-light;

                &:first-child {
                    border: none;
                }

                &__thumb {
                    float: left;
                    margin-right: @s6;
                    width: @product-img-65wx65h;

                    img {
                        max-width: 100%;
                        max-height: 100%;
                    }
                }

                &__details {
                    margin-left: @product-img-65wx65h + @s6;
                    padding-bottom: @s20;
                    word-wrap: break-word;
                    display: block;

                    &__notify,
                    &__name,
                    &__attributes,
                    &__info,
                    &__certificate-label {
                        display: block;
                    }

                    &__notify {
                        font-weight: @font-weight-medium;
                        color: @blue-brand;
                        margin-bottom: @s7;
                    }

                    &__name {
                        font-weight: @font-weight-medium;
                        color: @black;
                    }

                    &__qty,
                    &__price {
                        font-weight: @font-weight-medium;
                        width: 35%;
                        display: inline-block;
                        color: @black;
                    }

                    &__price {
                        text-align: right;
                        float: right;
                    }
                }
            }
        }

        &__totals {
            margin-bottom: 16px;

            &__value {
                display: table;
                width: 100%;
                margin-bottom: @s20;

                .key {
                    font-weight: @font-weight-medium;
                    font-size: @t6-font-size;
                    line-height: @t6-line-height;
                    display: table-cell;
                    text-align: left;
                }

                .value {
                    width: 70%;
                    text-align: right;
                }
            }
        }

        &__actions {
            margin-bottom: @s4;

            &__view-cart,
            &__close {
                font-size: 16px;
            }

            &--left {
                padding: 0 8px 0 @s5;
            }

            &--right {
                padding: 0 @s5 0 8px;
            }
        }

        &__footer {
            padding: @s20 0 @s30 0;
            box-shadow: 0 2px 8px 0 rgba(75, 85, 100, 0.66);

            .m-mini-cart__content__actions {
                margin-bottom: 0;
            }
        }
    }
}

@media (max-width: 1023px) {

    .cart-shipping-text {
        padding-left: 30px;
    }
}

.cart-shipping-text {
    padding-left: 150px;
}

@media (max-width: 1023px) {

    .cart-shipping-text {
        padding-left: 30px;
    }
}

@media (max-width: 639px) {

    .content__empty {

        .cart__actions {
            padding-top: @s20;
        }

        .content {
            width: 100%;
            margin: 0 auto;
            padding: 0 30px;
        }
    }
}

@media (min-width: 640px) {

    .content__empty {

        .cart__actions {
            padding-top: 80px;
        }

        .content {
            width: 100%;
            margin-left: 120px;
        }
    }
}

.delivery-tooltip-icon {
    margin-left: 36px;
    font-size: initial;
}

.export__cart--link {
    width: auto;
}

.m-cart-progress {
    height: 32px;
    margin: @s20 0 @s30;
    position: relative;

    @media (max-width: @screen-xs-max) {
        margin-bottom: 10px;
    }

    .progress-dots {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 1px;
        border-bottom: 2px dotted @inactive-gray;
    }

    .progress-dots-completed {
        position: absolute;
        top: 50%;
        left: 0;
        width: 0;
        height: 1px;
        border-bottom: 2px dotted @blue-brand;

        &.completed-1 {
            width: 33%;
        }

        &.completed-2 {
            width: 66%;
        }

        &.completed-3 {
            width: 100%;
        }
    }

    .progress-steps {
        position: absolute;
        display: flex;
        justify-content: space-between;
        width: 100%;

        a,
        a:visited {
            background: @white;
            color: @inactive-gray;
            line-height: 33px;
            padding-right: 5px;

            &:last-child {
                padding-right: 0;
            }

            .progress-step-no {
                display: block;
                float: left;
                width: 32px;
                height: 32px;
                background: url("../images/icons/tks_Icon_CheckOutStep_1_RGB_brandblue.svg");
                background-size: 32px;
                margin: 0 5px;

                &.one {
                    background: url("../images/icons/tks_Icon_CheckOutStep_1_RGB_grey.svg");
                    margin-left: 0;

                    .active {
                        background: url("../images/icons/tks_Icon_CheckOutStep_1_RGB_brandblue.svg");
                    }
                }

                &.two {
                    background: url("../images/icons/tks_Icon_CheckOutStep_2_RGB_grey.svg");
                }

                &.three {
                    background: url("../images/icons/tks_Icon_CheckOutStep_3_RGB_grey.svg");
                }

                &.four {
                    background: url("../images/icons/tks_Icon_CheckOutStep_4_RGB_grey.svg");
                }
            }

            &:hover,
            &.active:hover {
                color: @secondary-medium;

                .progress-step-no.one {
                    background: url("../images/icons/tks_Icon_CheckOutStep_1_RGB_mediumblue.svg");
                }

                .progress-step-no.two {
                    background: url("../images/icons/tks_Icon_CheckOutStep_2_RGB_mediumblue.svg");
                }

                .progress-step-no.three {
                    background: url("../images/icons/tks_Icon_CheckOutStep_3_RGB_mediumblue.svg");
                }

                .progress-step-no.four {
                    background: url("../images/icons/tks_Icon_CheckOutStep_4_RGB_mediumblue.svg");
                }
            }

            &.completed:hover {
                color: @secondary-medium;

                .progress-step-no.one,
                .progress-step-no.two,
                .progress-step-no.three,
                .progress-step-no.four {
                    background: url("../images/icons/tk_Icon_Check_2_RGB_mediumblue.svg") no-repeat;
                }
            }

            &.active {
                color: @secondary-dark;

                .progress-step-no.one {
                    background: url("../images/icons/tks_Icon_CheckOutStep_1_RGB_darkblue.svg");
                }

                .progress-step-no.two {
                    background: url("../images/icons/tks_Icon_CheckOutStep_2_RGB_darkblue.svg");
                }

                .progress-step-no.three {
                    background: url("../images/icons/tks_Icon_CheckOutStep_3_RGB_darkblue.svg");
                }

                .progress-step-no.four {
                    background: url("../images/icons/tks_Icon_CheckOutStep_4_RGB_darkblue.svg");
                }
            }

            &.completed {
                color: @blue-brand;

                .progress-step-no.one,
                .progress-step-no.two,
                .progress-step-no.three,
                .progress-step-no.four {
                    background: url("../images/icons/tk_Icon_Check_2_RGB_brandblue.svg") no-repeat;
                }
            }

            &.inactive {
                background: @white;
                color: @inactive-gray;
                cursor: not-allowed;

                &:hover {
                    background: @white;
                    color: @inactive-gray;
                    cursor: not-allowed;
                    text-decoration: none;

                    .progress-step-no {

                        &.one {
                            background: url("../images/icons/tks_Icon_CheckOutStep_1_RGB_grey.svg");
                        }

                        &.two {
                            background: url("../images/icons/tks_Icon_CheckOutStep_2_RGB_grey.svg");
                        }

                        &.three {
                            background: url("../images/icons/tks_Icon_CheckOutStep_3_RGB_grey.svg");
                        }

                        &.four {
                            background: url("../images/icons/tks_Icon_CheckOutStep_4_RGB_grey.svg");
                        }
                    }
                }
            }

            @media (max-width: @screen-sm-max) {
                padding-right: 0;

                span {
                    display: none;

                    .progress-step-no {
                        display: block;
                    }
                }
            }
        }
    }
}

.active-step-desc {
    text-align: center;
    color: @secondary-medium;
    display: none;
    margin-bottom: 30px;

    @media (max-width: @screen-sm-max) {
        display: block;
    }
}

.continue-shopping-btn {
    display: block;
    line-height: 40px;
    background: url("../images/icons/tk_Icon_Arrow_left_RGB_blue.svg") no-repeat left top;
    background-size: 38px;
    padding-left: 43px;

    &:hover {
        text-decoration: underline;

        span {
            text-decoration: underline;
        }
    }

    .continue-shopping-svg {
        display: inline-block;
        float: left;
        margin-right: 5px;
    }

    span {
        line-height: 40px;
        display: inline-block;
    }

    @media (max-width: @screen-xs-max) {
        margin: 30px 0 40px;
    }
}

.my-account-btn {
    display: block;
    line-height: 40px;
    background: url("../images/icons/tk_Icon_Profile_RGB_blue.svg") no-repeat left top;
    background-size: 38px;
    padding-left: 43px;

    &:hover {
        text-decoration: underline;

        span {
            text-decoration: underline;
        }
    }

    span {
        line-height: 40px;
        display: inline-block;
    }

    @media (max-width: @screen-xs-max) {
        margin: 30px 0 40px;
    }
}

.m-order-confirmation__actions {

    li {
        margin-right: @s20;

        .continue-shopping-btn {
            border-right: 1px solid @inactive-gray;
            padding-right: @s20;
        }
    }
}
