@cancel-link-margin-top: @s7;

.m-change-password {

    &__form {

        &__actions {
            margin-bottom: @s5;

            &__cancel {
                display: inline-block;
                margin-top: @cancel-link-margin-top;
                font-size: @t7-font-size;
                line-height: @t7-line-height;
            }
        }
    }
}
