/* stylelint-disable */
.mCustomScrollBox {
    direction: ltr;
    height: @height1;
    max-width: @width0;
    outline: none;
    overflow: hidden;
    position: relative;
}

.mCSB_container {
    height: auto;
    overflow: hidden;
    width: auto;
}

.mCSB_inside {
    .mCSB_container {
        margin-right: 30px;
    }
}

.mCSB_container {
    &.mCS_no_scrollbar_y {
        &.mCS_y_hidden {
            margin-right: 0;
        }
    }
}

.mCS-dir-rtl { 
    .mCSB_inside {
        .mCSB_container {
            margin-left: 30px;
            margin-right: 0;
        }
    }
}

.mCS-dir-rtl > .mCSB_inside > .mCSB_container.mCS_no_scrollbar_y.mCS_y_hidden {
    margin-left: 0;
}
.mCSB_scrollTools {
    bottom: 0;
    height: auto;
    left: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 16px;
    
    .mCSB_draggerContainer {
        bottom: 0;
        height: auto;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
    }
    
    a+.mCSB_draggerContainer {
        margin: 20px 0;
    }
    
    .mCSB_draggerRail {
        -moz-border-radius: 16px;
        -webkit-border-radius: 16px;
        border-radius: 16px;
        height: @height1;
        margin: 0 auto;
        width: 2px;
    }
    
    .mCSB_dragger {
        cursor: pointer;
        height: 30px;
        width: @width0;
        z-index: 1;
        
        .mCSB_dragger_bar {
            -moz-border-radius: 16px;
            -webkit-border-radius: 16px;
            border-radius: 16px;
            height: @height1;
            margin: 0 auto;
            position: relative;
            text-align: center;
            width: 4px;
        }
    }
    
    .mCSB_buttonUp {
        cursor: pointer;
        display: block;
        height: @height3;
        margin: 0 auto;
        overflow: hidden;
        position: absolute;
        width: @width0;
    }
    
    .mCSB_buttonDown {
        bottom: 0;
        cursor: pointer;
        display: block;
        height: @height3;
        margin: 0 auto;
        overflow: hidden;
        position: absolute;
        width: @width0;
    }
}

.mCSB_outside + .mCSB_scrollTools {
    right: -26px;
}

.mCS-dir-rtl > .mCSB_inside > .mCSB_scrollTools {
    left: 0;
    right: auto;
}

.mCS-dir-rtl > .mCSB_outside + .mCSB_scrollTools {
    left: -26px;
    left: 0;
    right: auto;
}

.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand {

    .mCSB_dragger.mCSB_dragger_onDrag_expanded {

        .mCSB_dragger_bar {
            width: @width2;
        }
    }

    .mCSB_draggerContainer {

        &:hover {

            .mCSB_dragger {

                .mCSB_dragger_bar {
                    width: @width2;
                }
            }

            .mCSB_draggerRail {
                width: @width12;
            }
        }
    }

    .mCSB_dragger.mCSB_dragger_onDrag_expanded + .mCSB_draggerRail {
        width: @width12;
    }

    .mCSB_dragger_bar {
        -moz-transition: width .2s ease-out .2s, height .2s ease-out .2s, margin-left .2s ease-out .2s, margin-right .2s ease-out .2s, margin-top .2s ease-out .2s, margin-bottom .2s ease-out .2s, opacity .2s ease-in-out, background-color .2s ease-in-out;
        -o-transition: width .2s ease-out .2s, height .2s ease-out .2s, margin-left .2s ease-out .2s, margin-right .2s ease-out .2s, margin-top .2s ease-out .2s, margin-bottom .2s ease-out .2s, opacity .2s ease-in-out, background-color .2s ease-in-out;
        -webkit-transition: width .2s ease-out .2s, height .2s ease-out .2s, margin-left .2s ease-out .2s, margin-right .2s ease-out .2s, margin-top .2s ease-out .2s, margin-bottom .2s ease-out .2s, opacity .2s ease-in-out, background-color .2s ease-in-out;
        transition: width .2s ease-out .2s, height .2s ease-out .2s, margin-left .2s ease-out .2s, margin-right .2s ease-out .2s, margin-top .2s ease-out .2s, margin-bottom .2s ease-out .2s, opacity .2s ease-in-out, background-color .2s ease-in-out;
    }
    
    .mCSB_draggerRail {
        -moz-transition: width .2s ease-out .2s, height .2s ease-out .2s, margin-left .2s ease-out .2s, margin-right .2s ease-out .2s, margin-top .2s ease-out .2s, margin-bottom .2s ease-out .2s, opacity .2s ease-in-out, background-color .2s ease-in-out;
        -o-transition: width .2s ease-out .2s, height .2s ease-out .2s, margin-left .2s ease-out .2s, margin-right .2s ease-out .2s, margin-top .2s ease-out .2s, margin-bottom .2s ease-out .2s, opacity .2s ease-in-out, background-color .2s ease-in-out;
        -webkit-transition: width .2s ease-out .2s, height .2s ease-out .2s, margin-left .2s ease-out .2s, margin-right .2s ease-out .2s, margin-top .2s ease-out .2s, margin-bottom .2s ease-out .2s, opacity .2s ease-in-out, background-color .2s ease-in-out;
        transition: width .2s ease-out .2s, height .2s ease-out .2s, margin-left .2s ease-out .2s, margin-right .2s ease-out .2s, margin-top .2s ease-out .2s, margin-bottom .2s ease-out .2s, opacity .2s ease-in-out, background-color .2s ease-in-out;
    }
}

.mCSB_horizontal.mCSB_inside > .mCSB_container {
    margin-bottom: 30px;
    margin-right: 0;
}

.mCSB_horizontal.mCSB_outside > .mCSB_container {
    min-height: @height1;
}

.mCSB_horizontal > .mCSB_container.mCS_no_scrollbar_x.mCS_x_hidden {
    margin-bottom: 0;
}

.mCSB_scrollTools.mCSB_scrollTools_horizontal {
    bottom: 0;
    height: 1@height9;
    left: 0;
    right: 0;
    top: auto;
    width: auto;

    a + .mCSB_draggerContainer {
        margin: 0 20px;
    }

    .mCSB_draggerRail {
        height: 2px;
        margin: 7px 0;
        width: @width0;
    }

    .mCSB_dragger {
        height: @height1;
        left: 0;
        width: 30px;

        .mCSB_dragger_bar {
            height: 4px;
            margin: 6px auto;
            width: @width0;
        }
    }

    .mCSB_buttonLeft, .mCSB_buttonRight {
        cursor: pointer;
        display: block;
        height: @height1;
        left: 0;
        margin: 0 auto;
        overflow: hidden;
        position: absolute;
        width: @width4;
    }

    .mCSB_buttonRight {
        cursor: pointer;
        display: block;
        height: @height1;
        margin: 0 auto;
        overflow: hidden;
        position: absolute;
        right: 0;
        width: @width4;
    }
}

.mCustomScrollBox+.mCSB_scrollTools.mCSB_scrollTools_horizontal {
    bottom: -26px;
}

.mCustomScrollBox+.mCSB_scrollTools+.mCSB_scrollTools.mCSB_scrollTools_horizontal {
    bottom: -26px;
}

.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand {

    .mCSB_dragger.mCSB_dragger_onDrag_expanded {

        .mCSB_dragger_bar {
            height: @height5;
            margin: 2px auto;
        }
    }

    .mCSB_draggerContainer {

        &:hover {

            .mCSB_dragger {

                .mCSB_dragger_bar {
                    height: @height5;
                    margin: 2px auto;
                }
            }

            .mCSB_draggerRail {
                height: @height8;
                margin: 4px 0;
            }
        }
    }

    .mCSB_dragger.mCSB_dragger_onDrag_expanded+.mCSB_draggerRail {
        height: @height8;
        margin: 4px 0;
    }

    .mCSB_dragger_bar {
        -moz-transition: width .2s ease-out .2s, height .2s ease-out .2s, margin-left .2s ease-out .2s, margin-right .2s ease-out .2s, margin-top .2s ease-out .2s, margin-bottom .2s ease-out .2s, opacity .2s ease-in-out, background-color .2s ease-in-out;
        -o-transition: width .2s ease-out .2s, height .2s ease-out .2s, margin-left .2s ease-out .2s, margin-right .2s ease-out .2s, margin-top .2s ease-out .2s, margin-bottom .2s ease-out .2s, opacity .2s ease-in-out, background-color .2s ease-in-out;
        -webkit-transition: width .2s ease-out .2s, height .2s ease-out .2s, margin-left .2s ease-out .2s, margin-right .2s ease-out .2s, margin-top .2s ease-out .2s, margin-bottom .2s ease-out .2s, opacity .2s ease-in-out, background-color .2s ease-in-out;
        transition: width .2s ease-out .2s, height .2s ease-out .2s, margin-left .2s ease-out .2s, margin-right .2s ease-out .2s, margin-top .2s ease-out .2s, margin-bottom .2s ease-out .2s, opacity .2s ease-in-out, background-color .2s ease-in-out;
    }

    .mCSB_draggerRail {
        -moz-transition: width .2s ease-out .2s, height .2s ease-out .2s, margin-left .2s ease-out .2s, margin-right .2s ease-out .2s, margin-top .2s ease-out .2s, margin-bottom .2s ease-out .2s, opacity .2s ease-in-out, background-color .2s ease-in-out;
        -o-transition: width .2s ease-out .2s, height .2s ease-out .2s, margin-left .2s ease-out .2s, margin-right .2s ease-out .2s, margin-top .2s ease-out .2s, margin-bottom .2s ease-out .2s, opacity .2s ease-in-out, background-color .2s ease-in-out;
        -webkit-transition: width .2s ease-out .2s, height .2s ease-out .2s, margin-left .2s ease-out .2s, margin-right .2s ease-out .2s, margin-top .2s ease-out .2s, margin-bottom .2s ease-out .2s, opacity .2s ease-in-out, background-color .2s ease-in-out;
        transition: width .2s ease-out .2s, height .2s ease-out .2s, margin-left .2s ease-out .2s, margin-right .2s ease-out .2s, margin-top .2s ease-out .2s, margin-bottom .2s ease-out .2s, opacity .2s ease-in-out, background-color .2s ease-in-out;
    }
}

.mCSB_container_wrapper {
    bottom: 0;
    height: auto;
    left: 0;
    margin-bottom: 30px;
    margin-right: 30px;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}

.mCSB_container_wrapper > .mCSB_container {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-bottom: 30px;
    padding-right: 30px;
}

.mCSB_vertical_horizontal > .mCSB_scrollTools.mCSB_scrollTools_vertical {
    bottom: 20px;
}

.mCSB_vertical_horizontal > .mCSB_scrollTools.mCSB_scrollTools_horizontal {
    right: 20px;
}

.mCSB_container_wrapper.mCS_no_scrollbar_x.mCS_x_hidden + .mCSB_scrollTools.mCSB_scrollTools_vertical {
    bottom: 0;
}

.mCSB_container_wrapper.mCS_no_scrollbar_y.mCS_y_hidden + .mCSB_scrollTools~.mCSB_scrollTools.mCSB_scrollTools_horizontal {
    right: 0;
}

.mCS-dir-rtl > .mCustomScrollBox.m CSB_vertical_horizontal.mCSB_inside > .mCSB_scrollTools.mCSB_scrollTools_horizontal {
    left: 20px;
    right: 0;
}

.mCS-dir-rtl > .mCustomScrollBox.mCSB_vertical_horizontal.mCSB_inside > .mCSB_container_wrapper.mCS_no_scrollbar_y.mCS_y_hidden + .mCSB_scrollTools~.mCSB_scrollTools.mCSB_scrollTools_horizontal {
    left: 0;
}

.mCS-dir-rtl > .mCSB_inside > .mCSB_container_wrapper {
    margin-left: 30px;
    margin-right: 0;
}

.mCSB_container_wrapper.mCS_no_scrollbar_y.mCS_y_hidden > .mCSB_container {
    padding-right: 0;
}

.mCSB_container_wrapper.mCS_no_scrollbar_x.mCS_x_hidden > .mCSB_container {
    padding-bottom: 0;
}

.mCustomScrollBox.mCSB_vertical_horizontal.mCSB_inside > .mCSB_container_wrapper.mCS_no_scrollbar_y.mCS_y_hidden {
    margin-left: 0;
    margin-right: 0;
}

.mCustomScrollBox.mCSB_vertical_horizontal.mCSB_inside > .mCSB_container_wrapper.mCS_no_scrollbar_x.mCS_x_hidden {
    margin-bottom: 0;
}

.mCSB_scrollTools, .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCSB_scrollTools .mCSB_buttonUp, .mCSB_scrollTools .mCSB_buttonDown, .mCSB_scrollTools .mCSB_buttonLeft, .mCSB_scrollTools .mCSB_buttonRight {
    -moz-transition: opacity .2s ease-in-out, background-color .2s ease-in-out;
    -o-transition: opacity .2s ease-in-out, background-color .2s ease-in-out;
    -webkit-transition: opacity .2s ease-in-out, background-color .2s ease-in-out;
    transition: opacity .2s ease-in-out, background-color .2s ease-in-out;
}

.mCS-dark-3.mCSB_scrollTools {

    .mCSB_draggerRail {
        background-color: #EEF0F2;
        width: @width5;
    }

    .mCSB_dragger {

        .mCSB_dragger_bar {
            background-color: @label-grey-light;
            width: @width12;
        }

        &:hover {

            .mCSB_dragger_bar {
                background-color: @label-grey-light;
            }
        }

        &:active {

            .mCSB_dragger_bar {
                background-color: @label-grey-light;
            }
        }
    }

    .mCSB_dragger.mCSB_dragger_onDrag {

        .mCSB_dragger_bar {
            background-color: @label-grey-light;
        }
    }
    
    .mCSB_buttonUp {
        background-position: -112px -72px;
    }
    
    .mCSB_buttonDown {
        background-position: -112px -92px;
    }
    
    .mCSB_buttonLeft {
        background-position: -120px -112px;
    }
    
    .mCSB_buttonRight {
        background-position: -120px -128px;
    }
}

.mCS-dark-3.mCSB_scrollTools_horizontal {
    
    .mCSB_dragger {
    
        .mCSB_dragger_bar {
            height: @height9;
            margin: 5px 0;
            width: @width0;
        }
    }
    
    .mCSB_draggerRail {
        height: @height9;
        margin: 5px 0;
        width: @width0;
    }
}

.mCS-dark-3.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand {
    
    .mCSB_dragger.mCSB_dragger_onDrag_expanded + .mCSB_draggerRail {
        width: @width2;
    }
    
    .mCSB_draggerContainer {

        &:hover {

            .mCSB_draggerRail {
                width: @width2;
            }
        }
    }
}

.mCS-dark-3.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand {

    .mCSB_dragger.mCSB_dragger_onDrag_expanded + .mCSB_draggerRail {
        height: @height5;
        margin: 2px 0;
    }

    .mCSB_draggerContainer {

        &:hover {

            .mCSB_draggerRail {
                height: @height5;
                margin: 2px 0;
            }
        }
    }
}

.custom-scrollbar {
    max-height:182px;
    overflow-y:auto;
}

/* stylelint-enable */
