// Cookie Banner
//
// Cookie Banner. Custom module, build with Bootstrap.
//
// Markup:
// <div class="m-cookie-banner">
//     <div class="container">
//         <div class="m-cookie-banner__inner">
//         <p class="">This page uses cookies. By continuing to browse the site, you are agreeing to our use of cookies. You can find out more in our <a href="#">legal notes.</a></p>
//         <button class="btn btn-default">Accept</button>
//         <div>
//     </div>
// </div>
//
// Styleguide 22.0

@cookie-banner-inner-padding: 27px;
@cookie-banner-inner-text-margin: 9px;

.m-cookie-banner {
    background-color: rgba(0, 0, 0, 0.69);
    padding: @cookie-banner-inner-padding 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    top: auto;
    z-index: 10;

    &__inner {

        p {
            color: @white;
            font-weight: @font-weight-medium;
            display: inline-block;
            margin: @cookie-banner-inner-text-margin 0;
        }

        .btn {
            float: right;
        }
    }

    &__legal-terms {

        &__content {
            margin-bottom: 37px;
        }
    }
}
