@nslh6: 18px;
@nss20: 20px;
@shipping-popup-form-min-height: 192px;

.m-checkout-tab {
    margin-bottom: 0;

    &__heading {
        border-bottom: 1px solid @grey-light;
        background: @grey-lighter;
        padding: @s7 @s5 0;
        margin-bottom: @s7;

        &__title,
        &__edit {
            display: inline-block;
        }

        &__title {
            color: @black;
            font-size: @t5-font-size;
            line-height: @t5-line-height;
        }

        &__edit {
            float: right;
            font-size: @t7-font-size;
            line-height: @t7-line-height;
            padding-top: 8px;
        }
    }

    &__body {
        padding: 0 @s5;
    }

    &__separator {
        margin-top: @s5;
        margin-bottom: @s5;
    }
}

.m-checkout-form {
    overflow: hidden;
    position: relative;

    &__key {
        color: @black;
        margin-bottom: 0;
    }

    &__value {
        margin-bottom: 0;

        &--has-no-formatting {
            white-space: pre-wrap;
        }

        &--has-margin-bottom {
            margin-bottom: @s8;
        }
    }

    .form-group {
        margin-bottom: @nss20;
        word-wrap: break-word;

        .control-label {
            line-height: @nslh6;
            margin-bottom: @s6;
        }

        &--no-margin-bottom {
            margin-bottom: 0;
        }

        .m-checkout-form__label {
            margin-bottom: @s5;
        }
    }

    .help-block {
        margin-top: @s7;
        margin-bottom: 0;
    }

    &__add {

        .control-label {
            min-height: 17px;
        }

        &__person {

            &__first-name,
            &__last-name {
                padding-top: 5px;
            }
        }

        &__address_line2 {
            padding-top: 5px;
        }

        &__city {

            &__name {
                padding-top: 5px;
            }

            &__country {

                .control-label {
                    margin-bottom: 15px;
                }
            }
        }
    }

    &__cancel-address-link,
    &__add-address-link {
        font-size: @t7-font-size;
        line-height: @t7-line-height;
        padding: 0;
    }

    &__comments {
        margin-bottom: @s9;
    }

    &__date-expected {
        font-size: @t7-font-size;
        line-height: @t7-line-height;
        color: @grey-middle;
    }

    &__new-address {

        &__heading {
            margin-bottom: @s5;
        }
    }

    &__select-address {

        .checkout-shipping-address {
            word-break: break-word;
        }
    }

    &__label {
        color: @grey-middle;
        margin-bottom: @s5;
        display: block;
    }

    &__link {
        margin-bottom: @s7;
        display: block;
    }

    &__seperator {
        margin-top: @s4;
        margin-bottom: @s6;
    }

    &__comment-counter {
        margin-bottom: @s7;
    }

    &__delivery-date {
        margin-bottom: 7px;
    }
}

.m-checkout-order-list {

    &__item {
        border-top: 1px solid @grey-light;
        padding-top: @s6;

        .m-item-group--horizontal {
            display: block;
            line-height: @t6-line-height;

            .m-item-group__value {
                width: 60%;

                .m-certificate {
                    margin: 0;
                }
            }
        }

        > .item__product {
            width: auto;
        }

        &:first-child {
            padding-top: 0;
            border-top: none;
        }

        &__details {

            &.item__calculations {
                margin-bottom: @s7;

                > hr {
                    margin-bottom: @s7;
                }
            }

            &__cost {

                &__label {
                    margin-bottom: 0;
                }

                &__desc {
                    font-size: @t7-font-size;
                    line-height: @t7-line-height;
                    margin-top: @s7;
                }

                &__separator {
                    margin-top: @s7;
                    margin-bottom: @s6;
                }
            }
        }
    }
}

.m-checkout-order {

    &__bottom {
        margin-left: @s1;
        padding: 0 @s5 0 @s5 + @s5;

        @media (max-width: @screen-xs-max) {
            margin-left: 0;
            padding: 0 @s5;
        }

        &__totals {
            margin-bottom: @s4;
        }

        &__form {

            &__checkbox {
                margin-bottom: @s4;

                .m-checkbox {
                    margin-right: @s6;
                    width: 22px;
                    height: 22px;
                    float: left;
                    margin-top: @s8;

                    .m-checkbox__input:checked + .m-checkbox__label .m-checkbox__label__box:before,
                    .m-checkbox__input:checked + input[type="hidden"] + .m-checkbox__label .m-checkbox__label__box:before {
                        bottom: 1px;
                    }
                }

                &__text {
                    margin-left: 33px;
                }
            }
        }
    }
}

.m-checkout-order,
.m-checkout-order-list {

    p {
        margin-bottom: 0;
    }

    &__item__thumb {
        width: 80px;
    }

    .m-order-detail__subtotal {
        margin-left: 96px;
        padding-top: 4px;

        @media (max-width: @screen-xs-max) {
            margin-left: -15px;
            margin-right: -15px;
            padding: @s7 @s5 + @s5;
        }
    }
}

.m-my-account-shipping,
.m-checkout-shipping {

    &__form__add {

        &__person__first-name,
        &__person__last-name,
        &__address__line2,
        &__city__name {

            .control-label {
                min-height: 17px;
            }
        }

        &__make-primary {

            .form-group {
                margin-bottom: 0;

                label {
                    margin-bottom: 0;
                }
            }
        }
    }

    &__form {

        &__checkbox-wrapper {

            .form-group {

                &:first-child {
                    margin-bottom: @s5;
                }

                .control-label {
                    margin-bottom: 0;
                }
            }

            .m-checkbox__label {
                line-height: @t6-line-height;
            }
        }
    }
}

.m-my-account-shipping {

    &__form__add {

        &--popup {
            margin-bottom: @s3;
            padding-top: @s3 - 5px;
        }
    }
}

.m-checkout-shipping {

    &__form__add {

        &--popup {
            margin-bottom: @s6;
            padding-top: @s4;
        }
    }

    &__form__checkbox-wrapper {

        .form-group:last-child {
            margin-bottom: 0;
        }
    }
}

.m_voucher-form {
    display: none;
}
