.m-facet {
    box-shadow: 0 2px 8px 0 rgba(75, 85, 100, 0.33);
    padding-bottom: @s7;
    background: @white;
}

.m-facet-tab {
    margin-bottom: @s6;
    border-bottom: 1px solid @grey-light;

    &:last-child {
        border-bottom: none;
        margin-bottom: 0;

        .m-facet-tab__content {
            margin-bottom: 0;
        }
    }

    &--hide {

        .m-facet-tab__heading__name--bold-on-collapsed {
            font-weight: @font-weight-medium;
        }

        &:last-child {

            .m-facet-tab__heading {
                margin-bottom: 0;
            }
        }
    }

    &__heading,
    &__content {
        padding: 0 @s5;
    }

    &__heading {
        margin-bottom: @s7;
        font-size: 0;
        display: table;
        width: 100%;

        &--bg {
            background: @grey-lighter;
            padding: @s7 @s5;
        }

        &--no-margin-bottom {
            margin-bottom: 0;
        }

        &__name,
        &__h5,
        &__op {
            display: table-cell;
            font-size: @t6-font-size;
            line-height: @t6-line-height;
        }

        &__name,
        &__h5 {
            width: 60%;
        }

        &__h5 {
            font-size: @t5-font-size;
            line-height: @t5-line-height;
        }

        &__op {
            width: 40%;
            text-align: right;
            vertical-align: middle;

            &__toggle {

                &__ico {
                    line-height: @s4;
                }
            }

            &__reset {
                margin-right: @s8;
            }
        }
    }

    &__content {
        margin-bottom: @s7;
        clear: both;

        &--hide {
            display: none;
        }

        &--show {
            display: block;
        }

        &__list {
            list-style-type: none;
            padding-left: 0;
            margin-bottom: 0;

            &--hide {
                display: none;
            }

            &--show {
                display: block;
            }

            &__item {

                &:last-child {
                    margin-bottom: 0;
                }

                &__label {
                    color: @grey-dark;
                    font-size: @t6-font-size;
                    line-height: @t6-line-height;
                    font-weight: @font-weight-normal;
                    margin-bottom: 0;
                    width: 100%;

                    &--applied-tag {
                        width: 80%;
                        word-break: break-word;
                    }

                    a {
                        color: @grey-dark;
                    }

                    &--selected {
                        color: @blue-brand;
                    }

                    .m-checkbox__label__text {
                        display: inline-block;
                        max-width: 79%;
                        vertical-align: top;
                        overflow-wrap: break-word;
                    }

                    .m-checkbox__label__box {
                        float: none;
                        display: inline-block;
                        margin-right: @s7;
                    }
                }
            }
        }

        &__toggle {
            margin-left: 33px;
            line-height: @t7-line-height;

            &--less {
                display: none;
            }
        }
    }

    &__filter {
        margin-bottom: @s6;

        .form-control {
            padding: 0 @s6;
        }
    }

    &__filter__msg {
        display: none;
        font-size: @t7-font-size;
    }

    &--applied {

        .m-facet-tab__heading {
            margin-bottom: 0;
        }

        .m-facet-tab__content__list__item {
            background: @blue-brand;
            padding: @s7 @s5;
            margin-bottom: 0;
        }

        .m-facet-tab__content {
            padding: 0;
            margin-bottom: 0;
        }

        .m-facet-tab__content__list__item__label {
            color: @white;
        }

        .u-icon-tk {
            color: @white;
        }
    }
}
