.m-item-group {
    margin-bottom: @s6;

    &__label {
        color: @black;
        font-weight: @font-weight-normal;
        margin-bottom: 0;
        word-break: break-word;
    }

    &__value {
        margin-bottom: 0;
        word-break: break-word;

        &:last-child {
            margin-bottom: 0;
        }

        > .m-certificate {
            margin: 0 15px;
        }
    }

    &--no-bottom-margin {
        margin-bottom: 0;
    }

    &--bottom-s6 {
        margin-bottom: @s6;
    }

    &--horizontal {
        display: inline-block;
        width: 100%;
        margin-bottom: 3px;

        + hr {
            margin-top: @s7;
            margin-bottom: @s6;
        }

        .m-item-group {

            &__label {
                color: @grey-dark;
                display: inline-block;
                font-weight: 400;
                margin-bottom: 0;
                width: 37%;
                float: left;

                @media (max-width: @screen-sm-max) {
                    width: 45%;
                }
            }

            &__value {
                display: inline-block;

                @media (max-width: @screen-sm-max) {
                    width: 100%;
                    text-align: right;
                    margin-bottom: 10px;
                }
            }
        }
    }
}

.m-item-group--horizontal .item__options__total {
    float: right;
}

.cart-handling {
    @media (max-width: @screen-sm-max) {
        margin-bottom: 0;
    }

    .m-handling-text {
        margin: 0 0 0 15px;
    }

    .item__options__total {
        font-weight: 500;
    }
}

.m-download {

    &--link.disabled {
        opacity: 1;

        .u-icon-tk {
            color: @grey-dark;
            font-size: @t7-line-height;
            line-height: @t7-line-height;
        }
    }

    &--link:hover {
        text-decoration: none;
    }

    &--link {
        text-decoration: none;

        .u-icon-tk--file-pdf {
            width: @t7-line-height;
        }
    }
}

.item {

    &__options {

        &__row {

            .m-item-group--horizontal {
                display: block;
            }

            .total-testimony {
                display: inline-block;
                width: 34.2%;
                float: right;

                @media (max-width: @screen-sm-max) {
                    width: 100%;
                    text-align: right;
                    margin-bottom: 0;
                }

                &__data {
                    padding-left: 0;
                    padding-right: 0;

                    &-title {
                        color: #78879B;

                        @media (max-width: @screen-sm-max) {
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }
    }
}

.m-item-group--horizontal.small {

    .dropdown {
        border: none;

        @media (max-width: @screen-sm-max) {
            width: 55%;
            text-align: right;
            margin-bottom: 10px;
        }

        .cert-selected {
            margin: 6px 0 0;
            padding: 0;

            &__title {
                display: inline-block;
                margin: 0 8px 0 15px;
                color: #4B5564;
                font-size: 14px;
                line-height: 1.2em;
            }

            &__remove {

                .u-icon-tk--close-single {
                    font-size: 10px;
                }
            }
        }

        .m-certificate {
            margin-right: 0;
            margin-top: 0;

            @media (max-width: @screen-sm-max) {
                margin-bottom: 0;
                margin-left: 0;
            }

            &:after {
                position: absolute;
                content: "+";
                padding-left: 6px;
            }
        }

        &.open {

            .m-certificate {

                &:after {
                    content: "-";
                }
            }
        }

        .dropdown-menu {
            border-radius: @border-radius-base;
            margin-top: @s7;
            width: 234px;
            box-shadow: 0 2px 5px 0 @dropdown-fallback-border;
            padding: 0;

            .m-certificate-config__label {
                position: static;
                width: auto;
                font-weight: 500;
                padding: 7px 0;

                &:before {
                    left: 10px;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }

            .m-certificate-config__label > a {
                padding: 0 16px;
                display: inline-block;
                margin-top: 0;
                margin-bottom: 2px;
            }

            .m-certificate-config__label > .price-value {
                float: right;
                padding-left: @grid-gutter-width/2;
                padding-right: @grid-gutter-width/2;
                text-align: right;
            }

            .description {
                padding-left: 42px;
                padding-right: @grid-gutter-width/2;
                font-weight: 400;
            }

            .divider {
                margin-bottom: 10px;
                margin-top: 10px;
            }

            &:before {
                border-bottom: 10px solid @dropdown-bg;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                content: "";
                position: absolute;
                right: 12px;
                top: -10px;
                z-index: 10;
            }

            &:after {
                border-bottom: 12px solid @dropdown-fallback-border;
                border-left: 12px solid transparent;
                border-right: 12px solid transparent;
                content: "";
                position: absolute;
                right: 10px;
                top: -12px;
                z-index: 9;
            }
        }

        li {
            position: relative;
            border-bottom: 1px solid @grey-light;
            width: 100%;
            display: block;

            &:hover,
            &:focus {
                background: @gray-lighter;
            }

            &:first-child {
                padding: @s7 0;

                p {
                    padding-left: @grid-gutter-width/2;
                    padding-right: @grid-gutter-width/2;
                    padding-top: @s8;
                    color: @grey-middle;
                }
            }

            .description {
                padding-left: 42px;
                padding-right: @grid-gutter-width/2;
            }

            li:first-child:hover,
            li:first-child:focus {
                background: none;
            }
        }

        .dropdown-toggle {
            padding-right: 0;
        }
    }

    .dropdown > a {
        padding: 0;
        text-align: right;
    }

    .dropdown-menu > li > a {
        color: #00A0F5;
        margin: 8px @grid-gutter-width/2;
    }
}
