// Link List
//
// Link list styles.
//
// Markup:
// <ul class="m-link-list">
//     <li><a href="#">Link</a></li>
//     <li><a href="#">Link</a></li>
//     <li><a href="#">Link</a></li>
//     <li><a href="#">Link</a></li>
//     <li><a href="#">Link</a></li>
//     <li><a href="#">Link</a></li>
// </ul>
//
// Styleguide 3.4.3

.m-link-list {
    list-style: none;
    margin: 0;
    padding: 0;
    border-top: 1px solid @grey-light;

    li {
        border-bottom: 1px solid @grey-light;
        padding: @s6 0 @s7;
    }
}
