@terms-and-condition-count-width: 97px;
@text-input-sm-height: 34px;
@password-validation-color: #1DB667;
@action-button-min-height: 44px;
@btn-normal-top-padding: 10px;
@btn-normal-bottom-padding: 9px;
@loading-icon-height: 9px;
@loading-icon-width: 47px;
@cart-check-icon-width: 41px;
@cart-check-icon-height: 35px;

.m-text-color {

    &--blue {
        color: @blue-brand;
    }

    &--white {
        color: @white;
    }

    &--grey-dark {
        color: @grey-dark;
    }

    &--grey-middle {
        color: @grey-middle;
    }

    &--grey-light {
        color: @grey-light;
    }

    &--grey-lighter {
        color: @grey-lighter;
    }

    &--black {
        color: @black;
    }

    &--blue-dark {
        color: @blue-dark;
    }

    &--blue-medium {
        color: @blue-medium;
    }

    &--orange {
        color: @orange;
    }

    &--red {
        color: @red;
    }

    &--yellow {
        color: @yellow;
    }

    &--turquoise {
        color: @turquoise;
    }

    &--GREEN {
        color: @turquoise;
    }

    &--YELLOW {
        color: @orange;
    }

    &--RED {
        color: @red;
    }
}

.text-medium {
    font-weight: 500;
}

.text-bold {
    font-weight: @font-weight-bold;
}

.m-front-content {
    margin-bottom: @s2;

    &__title {
        margin-bottom: @s2;

        &.h4 {
            margin-bottom: @s5;
        }
    }

    &__left,
    &__right {
        margin-bottom: @s2;
    }

    &__left {

        &__title {
            margin-bottom: @s6;
        }
    }

    &__right {

        &__title {
            margin-bottom: 40px;
        }

        ul {
            padding-left: 15px;
        }
    }

    .m-banner__content {
        bottom: @s3;

        &__title {
            font-size: @t5-font-size;
            line-height: @t5-line-height;
        }
    }
}

.m-search-info {
    margin-bottom: @s2;
}

.m-search-empty {

    &__content {
        margin-bottom: @s2;

        &__info,
        &__text {
            margin-bottom: @s5;
        }

        &__text {

            &__title {
                font-weight: @font-weight-normal;
                margin-bottom: @s7;
            }

            &__ul {
                color: @grey-dark;
                padding-left: 13px;
                margin-bottom: 0;
                margin-left: @s9;

                li {
                    padding-left: @s6;
                }
            }
        }
    }
}

.m-checkbox {

    &__input {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0;
    }

    &__label {

        &__box {
            float: left;
            width: 20px;
            height: 20px;
            margin-right: @s6;
            border: 1px solid @grey-light;
            text-align: center;
            vertical-align: middle;
            background: @white;
            font-family: "thyssen-krupp-iconfont";

            &--radio {
                border-radius: 100%;
                line-height: @t6-line-height;
            }
        }

        label {
            font-weight: @font-weight-normal;
            margin-bottom: 0;
        }
    }

    .m-checkbox &__input:checked + &__label &__label__box,
    .m-checkbox &__input:checked + input[type="hidden"] + &__label &__label__box {
        background: @white;
        border: 2px solid @blue-brand;

        &:before {
            content: "\E902";
            bottom: 5px;
            font-size: 18px;
            position: relative;
            color: @white;
            background-color: @blue-brand;
        }

        &--radio {
            background: @blue-brand;
            border: none;

            &:before {
                content: "\E645";
                background: none;
                bottom: 3px;
            }
        }
    }

    .m-checkbox &__input:checked + &__label &__label__box__text {
        color: @blue-brand;
    }

    input[type="checkbox"][disabled] + .m-checkbox__label .m-checkbox__label__box {
        content: "\E903";
        background: @grey-light;
    }
}

.m-category-list {

    &__item {
        border: 1px solid @grey-light;
        padding: @s5;

        &__thumb,
        &__details {
            width: 100%;
            display: block;
            text-align: center;
        }

        &__thumb {
            margin-bottom: @s6;

            img {
                height: @product-img-96wx96h;
            }
        }
    }
}

.smaller {
    font-size: @t8-font-size;
    line-height: @t8-line-height;
}

/*stylelint-disable*/
/*NOTE: To be used very carefully. This will render all content as plain text.*/
/*This class is a workaround for editable components where only plain text is expected.*/
.no-format * {
    border: none !important;
    color: inherit !important;
    display: inline !important;
    font-size: inherit !important;
    line-height: inherit !important;
    list-style: none !important;
    margin: 0 !important;
    padding: 0 !important;
}
/*stylelint-enable*/

.zimmer {
    opacity: 0.6;
    background-color: @black;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 11;
    top: 0;
    left: 0;

    @media (max-width: @screen-sm-max) {
        top: 0;

        &--primary-nav {
            top: 142px;
        }
    }

    @media (max-width: @screen-xs-max) {

        &--primary-nav {
            top: 128px;
        }
    }
}

.animate-slide-up,
.animate-slide-down {
    overflow: hidden;
    .translateY(100%);
    .transition(0.4s ease-in-out);
}

.animate-slide-up {
    transform: translateY(0);
}

.mv__termsAndConditions {

    &__title {
        margin-bottom: @s2;
    }

    &__main-list {
        padding-left: 0;
        list-style-type: none;

        &__item {
            margin-bottom: @s3;

            &__content {
                margin-bottom: @s4;

                &__count {
                    width: @terms-and-condition-count-width;
                    float: left;
                }

                &__title {
                    margin-left: @terms-and-condition-count-width;
                }

                &__count,
                &__title {
                    font-size: @t4-font-size;
                    line-height: @t4-line-height;
                    display: block;
                }
            }

            &__child {
                padding-left: 0;
                list-style-type: none;

                &__item {
                    margin-bottom: @s5;

                    &--sub-child {
                        margin-bottom: @s7;

                        &.last-subchild {
                            margin-bottom: @s5;
                        }
                    }

                    &.has-subchild {
                        margin-bottom: @s6;
                    }

                    &__count {
                        width: @terms-and-condition-count-width;
                        float: left;
                        font-weight: @font-weight-medium;

                        &--normal {
                            width: @terms-and-condition-count-width;
                            float: left;
                            font-weight: @font-weight-normal;
                        }
                    }

                    &__desc {
                        margin-left: @terms-and-condition-count-width;
                        color: @grey-dark;

                        &--bold {
                            color: @black;
                            font-weight: @font-weight-medium;
                        }
                    }

                    &__desc,
                    &__count {
                        font-size: @t6-font-size;
                        line-height: @t6-line-height;
                        display: block;
                    }
                }
            }
        }
    }
}

.alert {

    &--mini {
        padding: @s7 @s6;
        font-size: @t7-font-size;
        border: 0;
        line-height: @t7-line-height;
    }
}

.u-icon-tk--context-warning {
    color: @orange;
}

.m-needs-rework {
    position: relative;

    &:before {
        /*stylelint-disable*/
        -webkit-animation: flash-needs-rework 5s forwards; /* Safari 4+ */
        -moz-animation:    flash-needs-rework 5s forwards; /* Fx 5+ */
        -o-animation:      flash-needs-rework 5s forwards; /* Opera 12+ */
        /*stylelint-enable*/
        animation: flash-needs-rework 5s forwards; /* IE 10+, Fx 29+ */
        background-color: rgba(255, 255, 255, 0.55);
        border: dotted #FFC0CB;
        color: #000;
        content: attr(data-rework-msg);
        display: block;
        font-size: 2em;
        font-weight: 500;
        height: 100%;
        padding-top: 10%;
        position: absolute;
        text-align: center;
        text-overflow: hidden;
        text-transform: uppercase;
        width: 100%;
        z-index: 10;
    }
}

.form-control {

    &.text-sm {
        height: @text-input-sm-height;
    }
}

/*stylelint-disable*/
@-webkit-keyframes flash-needs-rework {

    0% {
        opacity: 1;
        width: 100%;
        font-size: 2em;
    }

    100% {
        opacity: 0;
        width: 0;
        font-size: 0;
    }
}

@-moz-keyframes flash-needs-rework {

    0% {
        opacity: 1;
        width: 100%;
        font-size: 2em;
    }

    100% {
        opacity: 0;
        width: 0;
        font-size: 0;
    }
}

@-o-keyframes flash-needs-rework {

    0% {
         opacity: 1;
         width: 100%;
         font-size: 2em;
    }

    100% {
        opacity: 0;
        width: 0;
        font-size: 0;
    }
}
/*stylelint-enable*/
@keyframes flash-needs-rework {

    0% {
        opacity: 1;
        width: 100%;
        font-size: 2em;
    }

    100% {
        opacity: 0;
        width: 0;
        font-size: 0;
    }
}

.password-rules {

    &__list {
        padding-left: 0;
        margin-bottom: 0;
        width: 360px;

        &__item {
            position: relative;
            list-style-type: none;
            font-size: @t7-font-size;
            line-height: @t7-line-height;
            padding-left: @t7-line-height;

            &:before {
                position: absolute;
                top: 1px;
                left: 0;
                display: inline-block;
                font-family: "thyssen-krupp-iconfont";
                font-weight: 400;
                line-height: 1;
                width: @t7-font-size;
                height: @t7-font-size;
                color: @grey-middle;
                border: 1px solid @grey-middle;
                border-radius: 100%;
                content: "";
            }

            &--text {

                &:before {
                    border: none;
                }
            }

            &--pass {

                &:before {
                    content: "\E650";
                    color: @password-validation-color;
                    border: none;
                }
            }

            &--fail {

                &:before {
                    content: "\E606";
                    border: none;
                }
            }
        }
    }
}

.u-icon-tk {

    &--sm {
        font-size: @s5;
    }

    &--md {
        font-size: @s4;
    }

    &--lg {
        font-size: @s3;
    }
}

.aligned-row {
    display: flex;
    flex-flow: row wrap;

    &:before {
        display: block;
    }
}

.m-popup {

    &__body {
        position: relative;
        height: 100%;
        padding-bottom: @action-button-min-height;

        &__actions {
            position: absolute;
            bottom: 0;
            display: table;
            width: 100%;

            &__item {
                display: table-cell;
                vertical-align: bottom;

                a {
                    display: block;
                }

                &:last-child {
                    text-align: right;
                }
            }
        }
    }

    .forgotten-password {

        &__description {
            margin-bottom: @s3;
            color: @grey-dark;
        }
    }

    &__shipping-address {

        .m-popup__body__actions {
            position: relative;
        }

        .m-colorbox {

            &__title {
                margin-bottom: @s4;
            }
        }
    }

    &__cart {

        .u-icon-tk--icon-check {
            width: 100%;
            text-align: center;
            font-size: @t3-font-size;
            margin-bottom: @s4;

            &:before {
                width: @cart-check-icon-width;
                height: @cart-check-icon-height;
                display: block;
                margin: auto;
            }
        }

        &__title {
            margin-bottom: 11px;
        }

        .btn-block + .btn-block {
            margin-top: @s5;
        }
    }
}

.col-offset-right(@value, @type) when (@value >= 0) {

    .col-@{type}-offset-right-@{value} {
        margin-right: percentage((@value / @grid-columns));
    }
    .col-offset-right(@value - 1, @type);
}

.col-offset-right(@grid-columns, xs);
.col-offset-right(@grid-columns, sm);
.col-offset-right(@grid-columns, md);
.col-offset-right(@grid-columns, lg);

.m-cmslink {

    &__button {

        &--has-icon {
            padding: 0;
            text-align: unset;
            display: table;

            .u-icon-tk {
                padding: 0 @s5;
                border-right: 2px solid @button-blue-bg;
                color: @button-blue-bg;
                display: table-cell;
                text-align: center;
            }

            &:hover {

                .u-icon-tk {
                    border-right: 2px solid @white;
                    color: @white;
                }
            }
        }

        &__link {
            padding: @btn-normal-top-padding @s5 @btn-normal-bottom-padding;
            display: table-cell;
            text-align: center;
        }
    }

    &__box {
        border: 1px solid @grey-dark;
        padding: @btn-normal-top-padding @s5 @btn-normal-bottom-padding;
        color: @grey-dark;
        text-decoration: underline;

        &:hover,
        &:focus {
            color: @grey-dark;
            text-decoration: underline;
        }

        &--has-icon {
            padding: 0;
            border: 1px solid @grey-dark;
            text-align: unset;
            display: table;
            text-decoration: none;

            &:hover {
                text-decoration: none;
            }

            .u-icon-tk {
                padding: 0 @s5;
                color: @grey-dark;
                display: table-cell;
                text-align: center;
            }
        }

        &__link {
            padding: @btn-normal-top-padding @s5 @btn-normal-bottom-padding;
            padding-left: 0;
            display: table-cell;
            text-align: center;
            text-decoration: underline;
        }
    }

    &__default {
        text-decoration: underline;
    }
}

.small {
    font-size: @t7-font-size;
    line-height: @t7-line-height;
}

.m-loading-icon {
    background: url("../images/icons/loading-indicator.gif");
    background-size: cover;
    width: @loading-icon-width;
    height: @loading-icon-height;
}
