@sort-by-dropdown-min-width: 202px;

.m-page-tool-bar {

    &--top {
        margin-bottom: @s7;
    }

    &__form__label {
        margin-right: @s6;
        display: inline-block;
        font-size: @t6-font-size;
    }

    &__results-text {
        margin-top: 9px;
        color: @grey-dark;
    }

    .form-group {
        font-size: 0;
    }

    .bootstrap-select {

        &.form-control {
            display: inline-block;
            width: auto;

            .dropdown-toggle {
                color: @blue-brand;
                font-size: @s5;
                line-height: 18px;
                padding: @s6 @s5;
                border-color: @grey-light;
                min-width: @sort-by-dropdown-min-width;
            }
        }
    }
}
