@collapse-icon-padding: (@base-line-height - @base-font-size)/2;
@quantiy-input-group-width: 160px;
@uom-selector-btn-width: 83px;
@uom-selector-caret-pos: 20px;
@unchecked-radio-size: 20px;
@product-list-item-padding: @s6;
@product-spec-label-width: 188px;
@address-info-top-spacing: 8px;
@certificate-config-padding: 15px;
@price-panel-width: 290px;
@product-pdf-icon-height: 27px;
@product-pdf-icon-width: 21.37px;

.m-product-list {
    padding-left: 0;
    margin-bottom: @s3;

    &__item {
        list-style-type: none;
        border-top: 1px solid @grey-light;
        padding: @product-list-item-padding 0;

        &:last-child {
            border-bottom: 1px solid @grey-light;
        }

        &__thumb {
            float: left;
            margin-right: 1px;
            .size(@product-img-96wx96h, @product-img-96wx96h);

            img {
                max-width: 100%;
                max-height: 100%;
            }
        }

        &__content {
            margin-left: (@product-img-96wx96h + @s5);
        }
    }
}

.m-product-attributes {

    &__item {
        margin-bottom: @s7;

        &__key,
        &__value {
            font-size: 13px;
            line-height: @btn-normal-font-size;
            word-wrap: break-word;
        }

        &__key {
            color: @grey-middle;
        }
    }
}

.m-product-classifications {

    &__title {
        font-size: @t5-font-size;
        line-height: @t5-line-height;
        margin-bottom: @s7;
    }

    &__list {
        margin-bottom: @s5;
        padding-left: 0;

        &__item {
            list-style-type: none;

            &__key,
            &__value {
                word-wrap: break-word;
                padding: 4px 0 0;
                display: inline-block;
            }

            &__key {
                width: 165px;
            }

            &__value {
                color: @grey-dark;
                margin-left: 14px;
                vertical-align: top;
            }
        }
    }
}

.m-stock-status {
    margin-bottom: @s8;

    &__separator {
        margin-top: @s6;
        margin-bottom: @s5;
    }

    &__text {
        font-size: @t8-font-size;
        line-height: @t8-line-height;
        display: block;
        padding-left: @t8-line-height + @s7;

        .u-icon-tk {
            font-size: @t8-line-height;
            line-height: @t8-line-height;
            height: @t8-line-height;
        }
    }
}

.m-quantity-control {

    &__group {
        margin-bottom: @s5;
    }

    &__label {
        font-weight: @font-weight-medium;

        &.control-label {
            text-align: left;
        }
    }

    &__input-group {
        max-width: @quantiy-input-group-width;
        float: right;
    }

    &__uom-selector {

        &__btn {
            border-color: @grey-light;
            background-color: @grey-lighter;
            min-width: @uom-selector-btn-width;
            text-align: left;

            &:hover,
            &:focus {
                color: inherit;
            }

            .caret {
                position: absolute;
                bottom: @uom-selector-caret-pos;
                right: @s5;
                top: @uom-selector-caret-pos;
            }
        }

        .dropdown-menu {
            min-width: @uom-selector-btn-width;
        }
    }
}

.m-volume-prices {
    margin-bottom: @collapse-icon-padding + @s8;

    &__heading {

        &__price-label,
        &__price-value {
            font-weight: @font-weight-medium;
        }
    }

    &__list {

        &__toggle {
            display: block;
            margin-bottom: @s5;
            text-align: right;

            &:hover,
            &:focus,
            &:active {
                text-decoration: none;
            }

            .u-icon-tk {
                display: inline;
                margin: @collapse-icon-padding 0 0 (@collapse-icon-padding + @s8);
                font-size: @t8-font-size;

                &:before {
                    content: "\e617";
                }
            }

            &.collapsed {

                .u-icon-tk:before {
                    content: "\e613";
                }
            }
        }
    }

    &__price-item-label,
    &__price-item-value {
        display: inline-block;
        font-size: @t7-font-size;
        line-height: @t7-line-height;
        color: @grey-middle;
    }
}

.m-certificate-config {
    background-color: @grey-lighter;
    padding: @s5 @certificate-config-padding;
    margin-bottom: @s5;

    &__options {
        margin: 0;

        .m-certificate-config__option {

            &:nth-last-child(2) {
                margin-bottom: 0;
            }
        }
    }

    &__option {
        margin: 0 0 @s8;
        display: table;
        width: 100%;
    }

    &__title {
        font-weight: @font-weight-medium;
        margin-bottom: @s5;
    }

    &__price,
    &__label,
    &__tooltip {
        display: table-cell;
        vertical-align: top;
    }

    &__label {
        width: 60%;
        margin: 0;
        position: relative;

        &__text {
            padding-left: @unchecked-radio-size + @s7;
        }
    }

    &__tooltip {
        width: @t5-line-height;
        padding-top: @s8;
    }

    &__price {
        width: 30%;
        text-align: right;
        padding-top: 4px;
    }

    .radio label {
        line-height: 26px;
        padding-left: 0;
    }

    &__radio {
        display: none;

        &:checked {

            + label {

                &:before {
                    content: "\E60E";
                    color: @blue-brand;
                }
            }
        }

        + label {

            &:before {
                font-family: "thyssen-krupp-iconfont";
                content: "\E645";
                font-size: @unchecked-radio-size;
                line-height: @unchecked-radio-size;
                color: @grey-light;
                border-radius: 50%;
                background: @white;
                margin-right: @s7;
                position: absolute;
                top: @s9;
            }
        }
    }
}

.m-product-total {

    &__subtotal-label,
    &__subtotal-value {
        margin: 0;
    }

    &__certificates-label,
    &__certificates-value {
        margin-bottom: 0;
    }

    &__subtotal-label,
    &__certificates-label {
        color: @grey-middle;
    }

    &__grand-total-label,
    &__grand-total-value {
        display: block;
        font-weight: @font-weight-medium;
    }

    &__grand-total-value {
        color: @blue-brand;
        font-size: @btn-normal-font-size;
        line-height: @t6-line-height;
    }

    &__seperator {
        margin: @s7 @s5 @s6 @s5;
        border-top: 1px solid @black;
    }
}

.m-product-specification {
    display: table;
    width: 100%;
    margin-bottom: @s4;

    @media (max-width: @screen-xs-max) {
        margin-bottom: 0;
    }

    &__column {
        float: left;
        width: 50%;

        @media (max-width: @screen-sm-max) {
            width: 100%;
            margin-bottom: 0;
        }
    }

    &__item {
        width: 100%;
        padding-top: @s8;
        float: left;

        &__name,
        &__value {
            word-break: break-word;
            font-size: @t6-font-size;
            line-height: @t6-line-height;
            color: @grey-dark;
            float: left;
        }

        &__value {
            width: 50%;

            @media (max-width: @screen-xs-max) {
                width: 32%;
            }
        }

        &__name {
            width: 50%;
            padding-right: 10px;
            color: @black;

            @media (max-width: @screen-xs-max) {
                width: 68%;
            }

            span {
                display: inline-block;

                &:first-child {
                    max-width: @price-panel-width;
                    display: inline-block;
                    overflow: hidden;
                    text-overflow: unset;
                    word-break: normal;
                    width: 100%;
                    vertical-align: middle;
                }
            }
        }

        &_value {
            width: 70%;
        }
    }
}

.m-product-detail-panel {
    padding: @s5 0 @s4;
    box-shadow: 0 2px 8px 0 rgba(75, 85, 100, 0.33);
    margin-bottom: @s4;

    &__quantity,
    &__weight,
    &__length {

        p {
            font-size: @nsfs13;
            line-height: @nsfs19;
            color: @grey-middle;
            margin-bottom: 0;
            font-weight: @font-weight-medium;
        }
    }

    &__separator {

        &--top {
            margin-top: @s5;
            margin-bottom: @s6;
        }

        &--bottom {
            margin-top: @s5;
            margin-bottom: @s5;
        }
    }

    &__price__info {
        color: @grey-dark;
        margin-bottom: @s4;
        margin-top: @address-info-top-spacing;
    }

    &__message {
        color: @grey-middle;
        font-size: @t8-font-size;
        line-height: @t8-line-height;
        font-weight: @font-weight-medium;

        @media (max-width: @screen-sm-max) {
            margin-bottom: @s5;
        }

        &__text {

            small {
                display: block;
            }
        }
    }

    &__shipping-address {
        padding: 0 @s5;

        .m-address {
            margin-bottom: @s6;
        }

        &__btn-confirm {
            margin-bottom: @s6;
        }
    }

    &__seperation {
        margin-bottom: @s4;
        margin-top: 0;
    }

    &__icon-info {
        margin-left: @s6;
    }

    &__atp-detail {

        &__status {
            margin-bottom: @s6;
            position: relative;

            .u-icon-tk--info {
                right: 0;
                position: absolute;
                top: 3px;
            }
        }

        &__description {
            display: block;
            color: @grey-middle;
            font-size: @nsfs13;
            font-weight: @font-weight-medium;
            margin-bottom: @s8;
        }

        &__icon {
            margin-right: @s7;
            font-size: @t4-font-size;
            float: left;
        }

        .m-loading-icon {
            margin: auto;
            margin-bottom: @s3;
        }
    }

    .m-product-detail-panel__atp-detail__description {
        margin-bottom: @s5;
    }

    &__loading {

        &__separator--top {
            margin-bottom: @s3;
        }
    }

    &__specs {

        .m-product-detail-panel__weight:nth-child(3) p {
            border-bottom: 1px solid @grey-light;
            padding-bottom: @s6;
            margin-bottom: @s6;
        }
    }

    .m-stock-status,
    .m-volume-prices,
    &__totals,
    &__quantity,
    &__weight,
    &__length,
    &__action-controls,
    &__atp-detail,
    &__price__info {
        padding: 0 @s5;
    }
}

.m-pdp-action {
    margin-bottom: @s4;
}

.m-pdp-right-panel {
    width: @price-panel-width;
    float: left;
    padding: @certificate-config-padding;

    @media (max-width: @screen-xs-max) {
        float: none;
        margin: auto;
    }
}

.m-pdp-left-panel {
    width: calc(100% ~"-" @price-panel-width);
    float: left;
    padding: @certificate-config-padding;

    @media (max-width: @screen-xs-max) {
        width: 100%;
    }
}

.m-product-download {

    a {
        margin-bottom: @s5;
        display: table;
        text-decoration: none;

        .u-icon-tk {
            padding-right: @s5;
            vertical-align: top;
            display: table-cell;

            &:before {
                width: @product-pdf-icon-width;
                height: @product-pdf-icon-height;
                display: block;
            }
        }

        &:last-child {
            margin-bottom: 0;
        }

        span {
            display: table-cell;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__title {
        margin-bottom: @s4;
    }
}

@media (min-width: 768px) {

    .panel-body {
        padding: 0;
    }

    .custom-heading {
        display: none;
    }

    .panel {
        border: none;
        box-shadow: none;
    }

    .panel-collapse {
        height: auto;

        &.collapse {
            display: block;
        }
    }
}

@media (max-width: 767px) {

    .custom-tab {

        .tab-content {
            padding: 0;
            border: none;

            .custom-heading {

                .panel-title {

                    a {
                        font-weight: @font-weight-normal;
                        font-size: @t5-font-size;
                        padding: 18px 16px;
                        text-decoration: none;
                        line-height: 1.625;
                        display: block;
                        background-color: @grey-lighter;
                        border: 1px solid @grey-light;

                        &[aria-expanded="true"] {
                            background-color: @white;
                            color: @blue-brand;
                        }
                    }
                }
            }

            .tab-pane {
                display: block;
            }
        }

        .nav-tabs {
            display: none;
        }

        .panel {
            margin: 0;
            box-shadow: none;
            border-radius: 0;
            margin-bottom: 5px;
            border: none;

            .collapse {

                &.in {
                    border: 1px solid @grey-light;
                    border-top: none;
                    margin-bottom: -6px;
                }
            }
        }
    }
}
