@variant-list-max-width: 410px;
@sawing-button-min-width: 173px;

.m-vcs {
    margin-bottom: @s4;

    @media (max-width: @screen-sm-max) {
        margin-bottom: @s5;
    }

    &__label {
        border-bottom: 1px solid @grey-light;
        position: relative;
        font-size: @t6-font-size;
        line-height: @t6-line-height;
        color: @grey-middle;
        padding-bottom: @s9;

        &__clear {
            position: absolute;
            font-size: @t7-font-size;
            line-height: @t7-line-height;
            color: @blue-brand;
            top: @s8;
            right: 0;

            .u-icon-tk {
                font-size: 10px;
                margin-left: @s8;
            }
        }
    }

    &__content {
        list-style-type: none;
        padding-left: 0;

        &__item {
            border-top: 1px solid @grey-light;
            padding-left: @s6;

            @media (max-width: @screen-sm-max) {
                padding-left: 0;
            }

            &:first-child {
                border-top: none;
            }

            &:last-child {
                border-bottom: 1px solid @grey-light;
            }

            &__variant-name,
            &__variant-list {
                display: inline-block;
                vertical-align: top;
            }

            &__variant-list {
                max-width: @variant-list-max-width;
                width: ~"calc(100% - 110px)";

                @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
                    width: ~"calc(100% - 45px)";
                }
            }

            &__variant-name {
                margin: 15px 0 13px;
                color: @black;
                width: 110px;
                word-wrap: break-word;

                @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
                    width: 45px;
                }
            }

            .list-inline {
                margin: @s5 0 0 30px;

                li {
                    margin-right: @s5;
                    padding: 0;
                }

                .btn {
                    margin-bottom: @s6;

                    &--cut-to-length {

                        > span {
                            display: block;
                            padding: 0;
                            height: 18px;
                        }
                    }

                    &--cut-to-length.active {

                        .u-icon-tk--saw {
                            color: @white;
                        }
                    }
                }
            }

            &__btn {

                &--inactive {
                    color: @grey-light;

                    .u-icon-tk {
                        color: @grey-light;
                    }

                    &:hover {

                        .u-icon-tk {
                            color: @blue-brand;
                        }
                    }
                }
            }
        }
    }

    &__cuttolength {
        margin: 11px 0 0 30px;

        &__label {
            margin-right: @s7;
            font-size: @t7-font-size;
            line-height: @t7-line-height;
        }

        &__unit {
            padding-left: @s7;
            color: @grey-middle;
            font-size: @t7-font-size;
            line-height: @t7-line-height;
        }

        .help-block {
            margin: @s7 0 @s7 0;
            color: @grey-dark;
            font-size: @t8-font-size;
            line-height: @t8-line-height;

            .u-icon-tk {
                margin-right: @s7;
            }

            &--error {
                color: @red;

                .u-icon-tk {
                    color: @red;
                }
            }
        }

        &__form-group {
            margin-right: @s6;

            + .m-vcs__cuttolength__form-group {
                margin-right: 0;
            }
        }

        &__button {
            margin-bottom: @s6;
        }

        //TODO: will remove it after defining form-control-sm.

        &__input {
            height: @input-height-sm;
            max-width: 100px;
        }

        .bootstrap-select {
            height: auto;
        }
    }
}
