.col {
    display: inline-block;
    width: auto;
}

.account-section {
    width: 100%;
    padding: 0 30px;

    .account-section-content {

        .forgotten-password {
            padding: 20px 0;

            .content {
                padding: 20px 0;

                @media (min-width: 1023px) {
                    padding: 30px 0;
                }
            }

            form {
                padding: 0;
            }

            .form-horizontal {

                .form-group {
                    margin-bottom: 30px;

                    &:first-child {
                        margin-left: 0;
                    }

                    .no-padding {
                        padding: 0;
                    }

                    .control-label {
                        margin-right: 10px;
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
}

.page-productDetails {

    .gallery-carousel {
        padding-left: 24px;
    }
}
