<%@ tag body-content="scriptless" trimDirectiveWhitespaces="true" %>
<%@ attribute name="pageTitle" required="false" rtexprvalue="true" %>
<%@ attribute name="metaDescription" required="false" %>
<%@ attribute name="metaKeywords" required="false" %>
<%@ attribute name="pageCss" required="false" fragment="true" %>
<%@ attribute name="pageScripts" required="false" fragment="true" %>

<%@ taglib prefix="template" tagdir="/WEB-INF/tags/responsive/template" %>
<%@ taglib prefix="analytics" tagdir="/WEB-INF/tags/shared/analytics" %>
<%@ taglib prefix="addonScripts" tagdir="/WEB-INF/tags/responsive/common/header" %>
<%@ taglib prefix="generatedVariables" tagdir="/WEB-INF/tags/shared/variables" %>
<%@ taglib prefix="debug" tagdir="/WEB-INF/tags/shared/debug" %>
<%@ taglib prefix="spring" uri="http://www.springframework.org/tags" %>
<%@ taglib prefix="htmlmeta" uri="http://hybris.com/tld/htmlmeta"%>
<%@ taglib prefix="fn" uri="http://java.sun.com/jsp/jstl/functions"%>
<%@ taglib prefix="gtm" tagdir="/WEB-INF/tags/responsive/gtm" %>

<spring:htmlEscape defaultHtmlEscape="true" />

<!DOCTYPE html>
<html lang="${fn:escapeXml(currentLanguage.isocode)}">
<head>
        <gtm:gtmScriptHead/>
    <title>
        ${not empty pageTitle ? pageTitle : not empty cmsPage.title ? fn:escapeXml(cmsPage.title) : 'Accelerator Title'}
    </title>
    
    <%-- Meta Content --%>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <%-- Additional meta tags --%>
    <htmlmeta:meta items="${metatags}"/>

    <%-- Favourite Icon --%>
    <spring:theme code="img.favIcon" text="/" var="favIconPath"/>
        <link rel="shortcut icon" type="image/x-icon" media="all" href="${originalContextPath}${favIconPath}" />

    <%-- CSS Files Are Loaded First as they can be downloaded in parallel --%>
    <template:styleSheets/>
    <template:paginationSeo/>

    <%-- Inject any additional CSS required by the page --%>
    <jsp:invoke fragment="pageCss"/>
    <analytics:analytics/>
    <generatedVariables:generatedVariables/>
</head>

<body class="${pageBodyCssClasses} ${cmsPageRequestContextData.liveEdit ? ' yCmsLiveEdit' : ''} language-${fn:escapeXml(currentLanguage.isocode)}">
        <gtm:gtmScriptBody/>
    <%-- Inject the page body here --%>
    <jsp:doBody/>


    <form name="accessiblityForm">
        <input type="hidden" id="accesibility_refreshScreenReaderBufferField" name="accesibility_refreshScreenReaderBufferField" value=""/>
    </form>
    <div id="ariaStatusMsg" class="skip" role="status" aria-relevant="text" aria-live="polite"></div>

    <%-- Load JavaScript required by the site --%>
    <template:javaScript/>
    
    <%-- Inject any additional JavaScript required by the page --%>
    <jsp:invoke fragment="pageScripts"/>

    <%-- Inject CMS Components from addons using the placeholder slot--%>
    <addonScripts:addonScripts/>


</body>

<debug:debugFooter/>

</html>
