<%@ tag body-content="empty" trimDirectiveWhitespaces="true" %>
<%@ taglib prefix="cms" uri="http://hybris.com/tld/cmstags" %>
<%@ taglib prefix="spring" uri="http://www.springframework.org/tags"%>


<cms:pageSlot position="Section2B" var="feature" class="termsAndConditionsRegistration-section" element="div">
    <cms:component component="${feature}" element="div" class="clearfix"/>
    <button class="btn btn-primary btn-block termsandconditionclosebutton">
        <spring:theme code="registration.readTermsAndConditions.close" text="Close" />
    </button>
</cms:pageSlot>

