.account-section {

    .account-section-content {

        .js-edit-wishlist {

            &.edit-item-link {
                display: inline-block;
            }
        }

        .wishlist-edit {
            display: none;
            width: 100%;
        }
        .wishlist-value {
            width: 100%;
        }
        .wishlist-section {

            form{
                display: table;
                width: 100%;

                textarea {
                    resize: none;
                }
            }

            .item__list {

                .item__list--header {

                    li {

                        &.item__count {
                            width: 5%;
                        }

                        &.item__name {
                            width: 25%;
                        }

                        &.item__info {
                            width: 40%;
                        }

                        &.item__date {
                            width: 15%;
                        }

                        &.item__actions {
                            width: 15%;
                        }
                    }
                }

                .item__list--item {

                    border-bottom: none;

                    &.add-wishlist-form{
                        background: #F4F4F4;

                        .item__name {
                            font-weight: 500;
                        }
                    }

                    .item-attributes {

                        display: table-cell;
                        padding: 0 10px;
                        vertical-align: middle;
                        word-break: break-word;

                        @media (max-width: 640px) {
                            display: inline-block;
                            width: 50%;
                            vertical-align: top;
                            margin-bottom: 10px;
                        }
                        @media (min-width: 640px) {
                            &.item__count {
                                width: 5%;
                            }

                            &.item__name {
                                width: 25%;

                                .wishlist-edit {
                                    font-weight: 500;
                                }
                            }

                            &.item__info {
                                width: 40%;
                            }

                            &.item__date {
                                width: 15%;
                            }

                            &.item__actions {
                                width: 15%;
                            }
                        }

                        .item-link {
                            display: inline-block;
                            padding: 5px 10px;
                            margin-top: 0px;
                            cursor: pointer;
                        }

                        .show-widget{
                            display: block;
                            opacity: 1;
                        }
                        .hide-widget {
                            opacity: 0;
                            transition: display 0s, opacity 0.5s linear;
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

.product-item {
    position: relative;
    overflow: hidden;

    &:hover {
        .add-to-favorite {
            margin-top: 0;
            opacity: 1;
            -webkit-transition: all .3s ease-out;
            -moz-transition: all .3s ease-out;
            transition: all .3s ease-out;
        }
    }

    &:hover {
        .add-to-wishlist {
            margin-top: 0;
            opacity: 1;
            -webkit-transition: all .2s ease-out;
            -moz-transition: all .2s ease-out;
            transition: all .2s ease-out;
        }
    }
}

.add-to-wishlist {
    position: absolute;
    right: 65px;
    top: 0;
    opacity: 0;
    margin-top: -50px;
}

.add-to-favorite {
    position: absolute;
    right: 10px;
    top: 0;
    opacity: 0;
    margin-top: -50px;
}
.product-main-info {

    .btn-link {
        text-transform: capitalize;
        font-size: 20px;
        padding-left: 24px;

        .fa {
            width: 24px;
            margin-right: 24px;
        }
    }
}

.address-tag {
    padding-left: 0;
    margin-top: 0;
    list-style: none;
    display: inline-block;

    li {
        text-overflow: inherit;
        overflow: inherit;
    }
}

.address-one-line {
    ul {
        li {
            display: inline-block;
       }
    }
}

.checkout-order-summary {
    .checkout-order-summary-list {

        .address-tag {
            li {
                padding: 0;
                &:nth-child(2n+3){
                    background-color: transparent;
                }
            }
        }
    }
}

.favoriteCloseBtn {
    font-size: 25px;
    background-color: transparent;
    padding: 0;
    border: 0;
    color: #FFB400;
    &:hover {
        color: #FFB400;
    }
}
@media (min-width: 1024px) {
    .favoriteDate {
        padding-left:15px;
    }
}

.account-section .account-section-content .favoriteRemove {
    padding-left: 0;
}

.item__list__cart .favoriteNoborder {
    border-top: none;
}

.add_to_wishlist_sucess_form {
    .select-text-case{
        text-transform:none;
    }
}

.account-section {
    .account-section-content {
        .wishlist-section {
            .item__list {
                .item__list--item {
                    .item-attributes {
                        word-break: break-all;
                    }
                }
            }
        }
    }
}

