.checkout-login {
    .full-width-padding();

    .headline {
        .page-headline();
    }

    .btn.btn-block + .btn.btn-block {
        margin-top: (@grid-gutter-width/2);
    }
}

.checkout__new-account {
    text-align: center;
    background-color: @account-subheadline-bg;
    border-top: 1px solid @border-color-2;
    padding: @grid-gutter-width 0 55px;

    .accountActions-bottom {
        margin-top: 35px;
    }
}

.checkout__new-account__headling {
    font-size: 24px;
    font-weight: 700;
}

.checkout__new-account__form {
    text-align: left;
    margin-top: 25px;
}

@media (max-width: @screen-xs-max) {

    .checkout__new-account {
        .row();

        padding-left: @grid-gutter-width/2;
        padding-right: @grid-gutter-width/2;
    }
}

/////////////////////////////////
//      checkout headline      //
/////////////////////////////////

.checkout-headline {
    padding-left: 30px;
    .page-headline();

    @media (max-width: @screen-md) {
        padding-left: 20px;
    }

    @media (max-width: @screen-sm) {
        padding-left: 20px;
        padding-right: 20px;
    }

    span {
        color: @checkout-icon;
        margin-right: 5px;
        top: 2px;
    }
}

.checkout-summary-headline {
    padding-right: 30px;
    .page-headline();

    @media (max-width: @screen-md) {
        padding-right: 20px;
    }

    @media (max-width: @screen-sm) {
        padding-left: 20px;
        padding-right: 20px;
    }

    span {
        color: @checkout-icon;
        margin-right: 5px;
        top: 2px;
    }

    @media (max-width: @screen-xs-max) {
        padding-left: @grid-gutter-width/2;
        padding-right: @grid-gutter-width/2;
    }
}

/////////////////////////////////
//       checkout steps        //
/////////////////////////////////
@step-height: 49px;

.checkout-body-styling {
    padding: 30px @grid-gutter-width 15px;
    border: 1px solid @steps-border-active;
    border-top: 0;
}

.checkout-steps {
    padding-left: 30px;

    .step-head {
        background: @steps-background;
        color: @steps-color;
        border: 1px solid @border-color-3;
        font-size: @font-size-large;
        font-weight: 700;
        position: relative;
        display: table;
        width: 100%;
        padding: (@grid-gutter-width/2) @grid-gutter-width (@grid-gutter-width/2) 40px;
        height: @step-height;
        counter-increment: checkout;
        line-height: 1;

        &:before {
            content: counter(checkout) + ".";
            position: absolute;
            left: 3px;
            top: 0;
            width: 49px;
            text-align: center;
            line-height: @step-height;
        }

        & + .step-head {
            margin-top: @grid-gutter-width/2;
        }

        &.active {
            background: @steps-background-active;
            color: @steps-color-active;
            border-color: @steps-border-active;
        }

        .title {
            vertical-align: middle;
            display: table-cell;
            width: 100%;
        }

        .edit {
            color: @link-color;
            font-size: 20px;
            display: table-cell;
            vertical-align: top;
        }
    }

    .step-body {

        .step-body-form {
            .checkout-body-styling();

            .radiobuttons_paymentselection {
                margin-bottom: 5px;

                input[type="radio"] {
                    margin-right: 5px;
                }
            }
        }

        .checkout-next {
            margin: 30px 0;
        }

        hr {
            margin: 0 -@grid-gutter-width;
            border-color: @steps-divider;
        }

        .checkout-indent {

            .headline {
                font-size: 20px;
                padding-bottom: 15px;
                padding-top: 30px;
            }
        }
    }
}

@media (max-width: @screen-md) {

    .checkout-steps {
        padding-left: @grid-gutter-width;
    }
}

@step-height-mobile: 68px;

@media (max-width: @screen-xs-max) {

    .checkout-steps {
        padding-left: @grid-gutter-width;
        padding-right: @grid-gutter-width;

        .step-head {
            padding-top: @grid-gutter-width;
            padding-bottom: @grid-gutter-width;

            &:before {
                line-height: @step-height-mobile;
            }
        }
    }
}

/////////////////////////////////
//     checkout shipping       //
/////////////////////////////////

.checkout-shipping {
    padding-top: 0;
    padding-bottom: @grid-gutter-width/2;
    .checkout-body-styling();

    .checkout-shipping-items {

        .checkout-shipping-items-header {
            text-transform: uppercase;
            padding: 25px  0 (@grid-gutter-width/2) 0;
            font-size: @font-size-large-1;
            font-weight: 700;
        }

        > div {
            padding-bottom: 25px;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        ul {
            margin: 0;
            .list-unstyled;

            li {
                padding-top: 6px;
                line-height: @font-size-large;

                &:first-child {
                    padding-top: 1px;
                }

                .name {
                    font-weight: 700;
                }
            }
        }
    }

    ///////////////////////////////////////////////////////////////// deprecated

    .simplify-pickup-locations {
        background: @grayblue;
        padding: (@grid-gutter-width/2);

        .simplify-pickup-location-header {
            .clearfix;

            background: darken(@grayblue, 20%);
            padding: (@grid-gutter-width/2);
            line-height: 35px;
            margin: -(@grid-gutter-width/2) -(@grid-gutter-width/2) (@grid-gutter-width/2)  -(@grid-gutter-width/2);
        }

        ul {
            .list-unstyled;

            margin: 0;

            li + li {
                border-top: 1px solid darken(@grayblue, 20%);
            }

            a {
                color: @text-color;
                background: #FFF;
                display: block;
                padding: (@grid-gutter-width/2);
                text-decoration: none;
            }
        }
    }
    //////////////////////////////////////////////////////////////////////// deprecated
}

@media (max-width: @screen-md-max) {

    .checkout-shipping {

        .checkout-shipping-items {

            .qty {
                text-align: right;
            }

            .checkout-pickup-items {
                padding-bottom: 0;
            }
        }
    }
}

/////////////////////////////////
//     checkout payment        //
/////////////////////////////////

.checkout-paymentmethod {
    padding-top: 0;
    .checkout-body-styling();

    .step-body & hr {
        margin-top: 25px;
    }
}

/////////////////////////////////
//     checkout modals         //
/////////////////////////////////

/*stylelint-disable*/
#addressbook,
#savedpayments,
#savedpaymentsbody {
    display: none;
    padding-bottom: 20px;

    #colorbox & {
        display: block;
    }
    /*stylelint-enable*/

    ul {
        margin: 0;
        .list-unstyled;

        li {
            padding: (@grid-gutter-width/2) 0;
        }
    }
}

/////////////////////////////////
//      checkout summary      //
/////////////////////////////////
@thumb-width: 65px;

.checkout-order-summary {
    padding-right: 30px;

    @media (max-width: @screen-md) {
        padding-right: 20px;
    }

    @media (max-width: @screen-sm) {
        padding-right: 20px;
        padding-left: 20px;
    }

    .checkout-order-summary-list {
        border-bottom: 1px solid @steps-divider;
        margin: 0;
        .list-unstyled;

        @media (min-width: @screen-sm-min) {

            &:first-of-type {

                .checkout-order-summary-list-heading {
                    padding-top: @checkout-list-head-padding-first;
                }
            }

            .checkout-order-summary-list-heading {

                &:only-child {
                    border-bottom: 0;
                }
            }
        }

        li {
            padding: @grid-gutter-width;
            .clearfix();

            &:nth-child(2n + 3) {
                background-color: @table-2n-line-bg;
            }
        }

        .checkout-order-summary-list-heading {
            /*stylelint-disable*/
            background-color: @checkout-list-head-bg !important;
            /*stylelint-enable*/
            color: @checkout-list-head-color;
            padding: @checkout-list-head-padding;
            border-bottom: 1px solid @checkout-list-head-border;

            > div {
                float: left;
            }

            .title {
                font-weight: 700;
                padding-right: 5px;
                width: 25%;
            }

            .address {
                text-overflow: ellipsis;
                overflow: hidden;
                width: 75%;
            }
        }

        .thumb {
            float: left;
            margin-right: @grid-gutter-width;
            width: @thumb-width;

            img {
                width: 100%;
                height: auto;
            }
        }

        .price {
            float: right;
            margin-left: (@grid-gutter-width/2);
            margin-bottom: @grid-gutter-width;
            font-size: @font-size-base;
            .text-variant-bold();
        }

        .details,
        .attribute-details {
            font-size: @font-size-base;
            margin-left: @thumb-width + @grid-gutter-width;
        }

        .details {

            .name {
                .text-variant-bold();
            }

            .qty span {
                font-size: @font-size-small;
                color: @text-color-secondary;
                font-weight: 600;
                text-transform: uppercase;
                padding-right: @grid-gutter-width/2;
            }
        }

        .updateQuantityProduct-toggle {
            float: right;
        }

        // maybe deprecated

        .stock-status {
            clear: both;
            padding: (@grid-gutter-width/2) 0;
            font-size: @font-size-small;
        }
        // maybe deprecated
    }

    @media (max-width: @screen-sm-max) {

        .checkout-order-summary-list {

            .checkout-order-summary-list-heading {

                .address {
                    width: 100%;
                }
            }
        }
    }

    /////////////////////////////////
    //         order total         //
    /////////////////////////////////

    .subtotals {
        font-size: @font-size-large;
        margin-top: 30px;

        .subtotal,
        .shipping,
        .subtotals__item--state-discount,
        .tax,
        .totals {
            padding: 5px 0;

            span {
                float: right;
                font-weight: 600;
            }
        }

        .totals {
            font-size: @font-size-large-3;
            font-weight: 700;
            text-transform: uppercase;
            margin-top: 15px;
            padding: (@grid-gutter-width/2) 0;
            border-top: 1px solid @border-color-3;
        }

        .realTotals {
            font-size: @font-size-base;
        }
    }
}

.subtotals__item--state-discount {
    color: @item-promo-color;
}

.label-spacing {
    padding-right: 5px;
}

@media (max-width: @screen-xs-max) {

    .place-order-form {
        padding: 0 @grid-gutter-width;
    }

    .checkout-order-summary {
        margin-left: @grid-gutter-width;
        margin-right: @grid-gutter-width;
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
        .checkout-body-styling();

        .checkout-order-summary-list {
            border: none;
            padding: 0;
            .list-unstyled;

            .checkout-order-summary-list-heading {
                /*stylelint-disable*/
                background-color: transparent !important;
                /*stylelint-enable*/
                color: @text-color;
                padding: 25px  @grid-gutter-width;
                border-color: @steps-divider;

                .title {
                    text-transform: uppercase;
                    font-size: @font-size-large-1;
                }
            }

            .checkout-order-summary-list-items {
                border-bottom: 1px solid @steps-divider;
            }
        }

        .subtotals {
            padding: 0 @grid-gutter-width;
        }
    }
}

.checkout-review {
    .checkout-body-styling();

    .checkout-order-summary .subtotals {
        margin-top: 0;
    }
}

.place-order-form {

    .checkbox {
        margin: 25px 0 (@grid-gutter-width*2);

        label {
            font-size: @font-size-base;
            color: @text-color;
            text-transform: none;
        }
    }
}

.btn-close-terms-and-conditions {
    margin: 30px 0;
}

@media (min-width: @screen-sm-min) {

    .place-order-form {

        .checkbox {
            margin-left: @grid-gutter-width;
            margin-right: @grid-gutter-width;
        }
    }
}

/////////////////////////////////
//        checkout help        //
/////////////////////////////////

.checkout-help {
    text-align: center;
    border: 1px solid @border-color-3;
    font-size: 15px;
    padding: (@grid-gutter-width/2);
    margin-top: @grid-gutter-width * 3;

    @media (max-width: @screen-xs-max) {
        margin-top: 30px;
        margin-left: @grid-gutter-width;
        margin-right: @grid-gutter-width;
    }
}

.checkout-success {
    .full-width-padding();
}

.checkout-success__body {
    margin: 30px 0 55px;
    text-align: center;
}

.checkout-success__body__headline {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.termsAndConditions-section {
    padding-bottom: (@grid-gutter-width);
}

.terms {
    margin: 15px 0;
}

/*stylelint-disable*/
fieldset#cardDate,
fieldset#startDate {
    > .control-label {
        font-weight: 700;
        margin-bottom: 5px;
    }

    .form-group {

        .control-label {
            .sr-only;
        }
    }
}
/*stylelint-enable*/

.page-multiStepCheckoutSummaryPage {

    .read-only-grid {

        /*stylelint-disable*/
        #cboxLoadedContent {
            /*stylelint-enable*/
            margin-top: 100px;
            padding: 0;

            @media (max-width: @screen-sm-max) {
                margin-top: 130px;
            }

            @media (max-width: @screen-xs-max) {
                margin-top: 170px;
            }
        }

        .grid-row {
            border-top: 1px solid @border-color-2;

            &:nth-child(2n+2) {
                background: @table-2n-line-bg;
            }
        }

        .grid-prod-info {
            display: inline-block;
        }

        td {
            padding: 10px 10px 15px;
            vertical-align: top;

            > span {
                display: block;
            }

            /*stylelint-disable*/
            &.grid-prod-img {
                padding-left: @grid-gutter-width*2;
            }
            /*stylelint-enable*/

            .grid-variant,
            .grid-size {
                font-weight: 700;
                min-width: 80px;
            }

            .grid-variant {
                display: block;
                font-size: 16px;
            }

            @media (max-width: @screen-xs-max) {
                padding: 10px 15px 15px;

                &:nth-child(2n+2) {
                    background-color: transparent;
                }

                .grid-prod-info {
                    display: block;
                    text-align: left;

                    span {
                        display: inline-block;
                    }
                }

                .grid-price {
                    float: right;
                }
            }
        }
    }
}

.checkout-tab {
    color: #3C3C3C;
    border: 1px solid #CCC;
    background-color: #F4F4F4;
    font-size: 18px;
    font-weight: 600;
    position: relative;
    display: table;
    width: 100%;
    padding: 5px 20px;
    height: 50px;
    margin-top: 70px;
}

.checkout-edit-cart {
    color: #0068B3;
    font-size: 20px;
    vertical-align: top;
    float: right;
}
