<%@ taglib prefix="spring" uri="http://www.springframework.org/tags"%>
<div class="ASM_logo">
<span class="ASM_icon ASM_icon-logo"></span>
<spring:theme code="asm.logo.keyLetterA" text="A"/><span class="ASM_cut_text"><spring:theme code="asm.logo.cutTextA" text="ssisted&nbsp;"/></span><spring:theme code="asm.logo.keyLetterS" text="S"/><span class="ASM_cut_text"><spring:theme code="asm.logo.cutTextS" text="ervice&nbsp;"/></span><spring:theme code="asm.logo.keyLetterM" text="M"/><span class="ASM_cut_text"><spring:theme code="asm.logo.cutTextM" text="ode"/></span>
</div>
