<div>
    <table width="100%" cellspacing="0" style="margin:0;padding:0;table-layout:auto;border:1px solid #1E4EBF;">
        <tbody>
            <tr>
                <td colspan="5" class="structureViewSection">
                    <cockpit code="TopHeaderSlot"/>
                </td>
            </tr>
            <tr>
                <td colspan="2" height="125px" width="35%" rowspan="2" class="structureViewSection">
                    <cockpit code="SiteLogo" />
                </td>
                <td colspan="2" class="structureViewSection">
                    <cockpit code="HeaderLinks" />
                    <cockpit code="SearchBox" />
                </td>
                <td width="20%" rowspan="2" class="structureViewSection">
                    <cockpit code="MiniCart" />
                </td>
            </tr>
            <tr>
                <td colspan="5" class="structureViewSection">
                    <cockpit code="NavigationBar" />
                </td>
            </tr>
            <tr>
                <td colspan="5" class="structureViewSection">
                    <cockpit code="BottomHeaderSlot"/>
                </td>
            </tr>
            <tr>
                <td colspan="5" style="vertical-align:top;" class="structureViewSection">
                    <cockpit code="TkEuSection1" />
                </td>
            </tr>
            <tr>
                <td colspan="5" style="vertical-align:top;" class="structureViewSection">
                    <cockpit code="TkEuSection2" />
                </td>
            </tr>
            <tr>
               <td colspan="5" height="150px" style="vertical-align:top;" class="structureViewSection">
                   <cockpit code="TkEuSection3" />
               </td>
            </tr>
            <tr>
               <td colspan="5" style="vertical-align:top;" class="structureViewSection">
                   <cockpit code="TkEuSection4" />
               </td>
            </tr>
            <tr>
                <td colspan="5" height="249px" style="vertical-align:top;" class="structureViewSection">
                    <cockpit code="TkEuSection5" />
                </td>
            </tr>
            <tr>
                <td colspan="5" style="vertical-align:top;" class="structureViewSection">
                    <cockpit code="TkEuSection6" />
                </td>
            </tr>
            <tr>
                <td height="270px" colspan="5" class="structureViewSection">
                    <cockpit code="Footer" />
                </td>
            </tr>
        </tbody>
    </table>
    <div style="width:100%; border-top: 2px solid #bbb" class="cmsContentEditor">
        <cockpit code="editor" />
    </div>
</div>
