.btn-formblock {
    display: block;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin-top: (@line-height-computed + 5);
}

.btn {

    &.glyphicon {
        height: 44px;

        &:before {
            font-size: @btn-icon-font-size;
        }
    }
}

.btn-small {

    .button-size(@padding-base-vertical; @padding-large-horizontal; @btn-font-size; @btn-line-height; @btn-border-width);
}

.btn-icon {
    padding-left: @btn-icon-font-size + @padding-large-horizontal + (@grid-gutter-width * 2) + @btn-border-width;
    position: relative;

    &:before {
        position: absolute;
        font-size: @btn-icon-font-size;
        top: 9px;
        left: @grid-gutter-width;
        display: inline-block;
        font-family: "Glyphicons Halflings";
        font-style: normal;
        font-weight: 400;
        line-height: 1;
    }

    &:after {
        content: "";
        position: absolute;
        left: @btn-icon-font-size + (@grid-gutter-width * 2);
        top: -@btn-border-width;
        border-right: @btn-border-width solid currentColor;
        height: floor((@padding-large-vertical * 2) + (@btn-font-size * @btn-line-height) + (@btn-border-width * 2));

        :hover& {
            border-right-width: @btn-border-width;
        }
    }
}

.btn-edit-confirm {
    width: 48%;
}

.btn-block + .btn-block {
    margin-top: @grid-gutter-width/2;
}

.btn-text {

    &:hover {
        color: @blue-brand;
        text-decoration: underline;
    }
}
