/*stylelint-disable*/
#colorbox,
#cboxOverlay,
#cboxWrapper {
/*stylelint-enable*/
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    overflow: hidden;
}

/*stylelint-disable*/
#cboxWrapper {
/*stylelint-enable*/
    max-width: none;
}

/*stylelint-disable*/
#cboxOverlay {
/*stylelint-enable*/
    width: 100%;
    height: 100%;
    background: @black;
}

/*stylelint-disable*/
#cboxMiddleLeft,
#cboxBottomLeft {
/*stylelint-enable*/
    clear: left;
}

/*stylelint-disable*/
#cboxLoadingOverlay,
#cboxLoadingGraphic {
/*stylelint-enable*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*stylelint-disable*/
#cboxPrevious,
#cboxNext,
#cboxSlideshow {
/*stylelint-enable*/
    cursor: pointer;
    border: 0;
    padding: 0;
    margin: 0;
    overflow: visible;
    position: absolute;
    bottom: -29px;
    width: 23px;
    height: 23px;
    text-indent: -9999px;
}

.cboxPhoto {
    float: left;
    margin: auto;
    border: 0;
    display: block;
    max-width: none;
    .ms-interpolation-mode(bicubic);
}

.cboxIframe {
    width: 100%;
    height: 100%;
    display: block;
    border: 0;
    padding: 0;
    margin: 0;
    background: @white;
}

/*stylelint-disable*/
#colorbox,
#cboxContent {
/*stylelint-enable*/
    .box-sizing(content-box);
}

/*stylelint-disable*/
#cboxTopLeft {
/*stylelint-enable*/
    width: 14px;
    height: 14px;
}

/*stylelint-disable*/
#cboxTopCenter {
/*stylelint-enable*/
    height: 14px;
}

/*stylelint-disable*/
#cboxTopRight {
/*stylelint-enable*/
    width: 14px;
    height: 14px;
}

/*stylelint-disable*/
#cboxBottomLeft {
/*stylelint-enable*/
    width: 14px;
}

/*stylelint-disable*/
#cboxBottomCenter {
/*stylelint-enable*/
    height: 43px;
}

/*stylelint-disable*/
#cboxBottomRight {
/*stylelint-enable*/
    width: 14px;
}

/*stylelint-disable*/
#cboxMiddleLeft {
/*stylelint-enable*/
    width: 14px;
}

/*stylelint-disable*/
#cboxMiddleRight {
/*stylelint-enable*/
    width: 14px;
}

/*stylelint-disable*/
#cboxError {
/*stylelint-enable*/
    padding: 50px;
    border: 1px solid #CCC;
}

/*stylelint-disable*/
#cboxCurrent {
/*stylelint-enable*/
    position: absolute;
    bottom: -25px;
    left: 58px;
    font-weight: 500;
    color: #7C7C7C;
}

/*stylelint-disable*/
#cboxPrevious:active,
#cboxNext:active,
#cboxSlideshow:active,
#cboxClose:active {
/*stylelint-enable*/
    outline: 0;
}

/*stylelint-disable*/
#cboxPrevious {
/*stylelint-enable*/
    left: 0;
    background-position: -51px -25px;
}

/*stylelint-disable*/
#cboxPrevious:hover {
/*stylelint-enable*/
    background-position: -51px 0;
}

/*stylelint-disable*/
#cboxNext {
/*stylelint-enable*/
    left: 27px;
    background-position: -75px -25px;
}

/*stylelint-disable*/
#cboxNext:hover {
/*stylelint-enable*/
    background-position: -75px 0;
}

/*stylelint-disable*/
.cboxSlideshow_on #cboxSlideshow {
/*stylelint-enable*/
    background-position: -125px 0;
    right: 27px;
}

/*stylelint-disable*/
.cboxSlideshow_on #cboxSlideshow:hover {
/*stylelint-enable*/
    background-position: -150px 0;
}

/*stylelint-disable*/
.cboxSlideshow_off #cboxSlideshow {
/*stylelint-enable*/
    background-position: -150px -25px;
    right: 27px;
}

/*stylelint-disable*/
.cboxSlideshow_off #cboxSlideshow:hover {
/*stylelint-enable*/
    background-position: -125px 0;
}

@cboxTitleHeight: 80px;
@cboxTitleLineHeight: 24px;

/*stylelint-disable*/
#cboxClose {
/*stylelint-enable*/
    position: absolute;
    right: 13px;
    top: 10px;
    background: transparent;
    border: 0 none;
    color: @modal-close-btn-color;
    padding: 5px;
    font-size: 25px;
}

/*stylelint-disable*/
#cboxLoadedContent {

    .add-to-cart-item {
        margin-bottom: @grid-gutter-width*2;
    }

    .addressEntry + .addressEntry,
    .saved-payment-entry + .saved-payment-entry {
        margin-top: 55px;
    }

    .addressEntry ul,
    .saved-payment-entry ul {
        margin-top: -@grid-gutter-width/2;
        margin-bottom: @grid-gutter-width;
    }

    .modal-details {
        line-height: 1.8em;
    }

    .modal-actions {
        margin-top: @grid-gutter-width;

        .btn {
            margin-top: @grid-gutter-width;
        }
    }
}
/*stylelint-enable*/

.m-mini-cart-wrapper {
    /*stylelint-disable*/
    #cboxLoadedContent {
    /*stylelint-enable*/
        margin-top: 10px;
    }

    /*stylelint-disable*/
    #cboxTitle {
    /*stylelint-enable*/
        height: 10px;
    }
}

.modal__top {
    padding-bottom: (@grid-gutter-width + 12);
    margin-bottom: (@grid-gutter-width + 10);
    border-bottom: 1px solid @border-color;
}

.modal__top .modal__top--text {
    font-style: italic;
}

.modal__text--bold {
    font-weight: 500;
}

.modal__bottom {
    margin-bottom: (@grid-gutter-width * 2);
    font-size: 15px;
}

.quote-discount__modal--label {
    font-size: 15px;
    font-weight: 600;
    color: @text-color;
    text-transform: capitalize;
    vertical-align: middle;
    display: table-cell;
    height: 40px;
}

.quote-discount__modal--input {
    margin-bottom: (@grid-gutter-width - 3);
    width: 100%;

    input[type="number"] {
        .appearance(textfield);
    }

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        .appearance(none);

        margin: 0;
    }
}

.quote-discount__modal--input__label {
    display: table-cell;
    vertical-align: middle;
    font-size: 18px;
    padding-right: (@grid-gutter-width / 2);
    width: 25px;
    text-align: right;
}

.quote-discount__modal--original__total {
    font-size: 15px;
    font-style: italic;
    border-bottom: 1px solid @border-color;
    color: @text-color;
    padding-bottom: (@grid-gutter-width - 7);
    margin-bottom: (@grid-gutter-width - 11);
    margin-top: (@grid-gutter-width / 2);
}

.quote-discount__modal--new__total {
    color: @text-color;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: (@grid-gutter-width + 27);
}
