.primary-bg {
  background: #00A0F5;
}
.secondary-dark-bg {
  background: #003C7D;
}
.secondary-medium-bg {
  background: #0055BE;
}
.secondary-bright-bg {
  background: #50AFE1;
}
.secondary-light-bg {
  background: #73C3F0;
}
.secondary-normal-bg {
  background: #0078DC;
}
.orange-bg {
  background: #FFB400;
}
.purple-bg {
  background: #A51482;
}
.red-bg {
  background: #E60050;
}
.yellow-bg {
  background: #FAE100;
}
.green-bg {
  background: #9BC832;
}
.turquoise-bg {
  background: #0F968C;
}
.black-bg {
  background: #000;
}
.gray-dark-bg {
  background: #4B5564;
}
.gray-medium-bg {
  background: #78879B;
}
.gray-light-bg {
  background: #EEF0F2;
}
.gray-bg {
  background: #D9DEE8;
}
.white-bg {
  background: #FFF;
}
.inactive-gray-bg {
  background: #C0C3C9;
}
.hover-light-blue-bg {
  background: #D5EDFB;
}
.turquoise-text {
  color: #0F968C;
}
/* stylelint-disable */
.red-text {
  color: #E60050 !important;
}
.primary-text {
  color: #00A0F5 !important;
}
.gray-medium-text {
  color: #78879B !important;
}
.grey-dark-text {
  color: #4B5564 !important;
}
/* stylelint-enable */
.black-text {
  color: #000;
}
.warning-text {
  color: #D49704;
}
.warning-bg {
  background: #D49704;
}
.alert-warning-bg {
  background: #FFEDC3;
}
body {
  font-family: "tktype", Calibri, Arial, Helvetica, sans-serif;
}
@font-face {
  font-family: "tk-iconfont";
  src: url("../../_ui-src/fonts/tk-iconfont.eot");
  src: url("../../_ui-src/fonts/tk-iconfont.woff") format("woff"), url("../../_ui-src/fonts/tk-iconfont.ttf") format("truetype"), url("../../_ui-src/fonts/tk-iconfont.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "tktype";
  src: url("../../_ui-src/fonts/tktyperegular.eot");
  src: url("../../_ui-src/fonts/tktyperegular.woff") format("woff"), url("../../_ui-src/fonts/tktyperegular.ttf") format("truetype"), url("../../_ui-src/fonts/tktyperegular.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "tktypebold";
  src: url("../../_ui-src/fonts/tktypebold.eot");
  src: url("../../_ui-src/fonts/tktypebold.woff") format("woff"), url("../../_ui-src/fonts/tktypebold.ttf") format("truetype"), url("../../_ui-src/fonts/tktypebold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "tktypemedium";
  src: url("../../_ui-src/fonts/tktypemedium.eot");
  src: url("../../_ui-src/fonts/tktypemedium.woff") format("woff"), url("../../_ui-src/fonts/tktypemedium.ttf") format("truetype"), url("../../_ui-src/fonts/tktypemedium.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "tkIcon";
  src: url("../../_ui-src/fonts/tk-icon.eot") format("embedded-opentype"), url("../../_ui-src/fonts/tk-icon.ttf") format("truetype"), url("../../_ui-src/fonts/tk-icon.woff") format("woff"), url("../../_ui-src/fonts/tk-icon.svg") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: block;
}
[class^="icon-tk-"] {
  font-family: "tkIcon";
  color: #00A0F5;
  speak: none;
  font-style: normal;
  font-weight: 500;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: pointer;
}
.pali-icon-tk-plus-circle:before {
  content: "\e900";
}
.pali-icon-tk-previous:before {
  content: "\e901";
}
.pali-icon-tk-print:before {
  content: "\e902";
}
.pali-icon-tk-profile:before {
  content: "\e903";
}
.pali-icon-tk-random-length:before {
  content: "\e904";
}
.pali-icon-tk-random-length-hover:before {
  content: "\e905";
}
.pali-icon-tk-refresh:before {
  content: "\e906";
}
.pali-icon-tk-restore-cart .path1:before {
  content: "\e907";
  color: #1d1d1b;
}
.pali-icon-tk-restore-cart .path2:before {
  content: "\e908";
  margin-left: -1em;
  color: #000000;
}
.pali-icon-tk-save-for-later .path1:before {
  content: "\e909";
  color: #1d1d1b;
}
.pali-icon-tk-save-for-later .path2:before {
  content: "\e90a";
  margin-left: -1em;
  color: #000000;
}
.pali-icon-tk-status-complete:before {
  content: "\e90c";
}
.pali-icon-tk-search:before {
  content: "\e90b";
}
.pali-icon-tk-status-part-complete:before {
  content: "\e90d";
}
.pali-icon-tk-arrow-next:before {
  content: "\e910";
}
.pali-icon-tk-status-shipping:before {
  content: "\e90e";
}
.pali-icon-tk-arrow-top:before {
  content: "\e911";
}
.pali-icon-tk-status-process:before {
  content: "\e90f";
}
.pali-icon-tk-check:before {
  content: "\e912";
}
.pali-icon-tk-chevron-down:before {
  content: "\e913";
}
.pali-icon-tk-chevron-left:before {
  content: "\e914";
}
.pali-icon-tk-chevron-right:before {
  content: "\e915";
}
.pali-icon-tk-chevron-top:before {
  content: "\e916";
}
.pali-icon-tk-close:before {
  content: "\e917";
}
.pali-icon-tk-close-circle:hover {
  color: #003C7D;
  background: transparent;
  outline: none;
}
.pali-icon-tk-close-circle:before {
  content: "\e918";
}
.pali-icon-tk-content-search:before {
  content: "\e919";
}
.pali-icon-tk-delete:before {
  content: "\e91a";
}
.pali-icon-tk-dollar:before {
  content: "\e91b";
}
.pali-icon-tk-dollar-hover:before {
  content: "\e91c";
}
.pali-icon-tk-download:before {
  content: "\e91d";
}
.pali-icon-tk-email:before {
  content: "\e91e";
}
.pali-icon-tk-info:before {
  content: "\e91f";
}
.pali-icon-tk-info-hover:before {
  content: "\e920";
}
.pali-icon-tk-logo:before {
  content: "\e921";
}
.pali-icon-tk-menu:before {
  content: "\e922";
}
.pali-icon-tk-minus:before {
  content: "\e923";
}
.pali-icon-tk-minus-circle:before {
  content: "\e924";
}
.pali-icon-tk-next:before {
  content: "\e925";
}
.pali-icon-tk-plus:before {
  content: "\e926";
}
.pali-icon-tk-arrow-left:before {
  content: "\e927";
}
.pali-u-icon-tk {
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  font-family: "tk-iconfont";
  line-height: 1;
}
.pali-u-icon-tk:hover {
  background: transparent;
  outline: none;
}
.pali-u-icon-tk--context-danger {
  color: #E60050;
}
.pali-u-icon-tk--context-warning {
  color: #FAE100;
}
.pali-u-icon-tk--context-info {
  color: #0078DC;
}
.pali-u-icon-tk--context-success {
  color: #9BC832;
}
.pali-u-icon-tk--menu:before {
  content: "\e61f";
}
.pali-u-icon-tk--search:before {
  content: "\e61c";
}
.pali-u-icon-tk--zoom:before {
  content: "\e637";
}
.pali-u-icon-tk--play:before {
  content: "\e624";
}
.pali-u-icon-tk--refresh:before {
  content: "\e64a";
}
.pali-u-icon-tk--close:before {
  content: "\e606";
}
.pali-u-icon-tk--plus:before {
  content: "\e602";
}
.pali-u-icon-tk--minus:before {
  content: "\e603";
}
.pali-u-icon-tk--arrow-down:before {
  content: "\e613";
}
.pali-u-icon-tk--arrow-left:before {
  content: "\e61d";
}
.pali-u-icon-tk--arrow-right:before {
  content: "\e61a";
}
.pali-u-icon-tk--arrow-up:before {
  content: "\e617";
}
.pali-u-icon-tk--check:before {
  content: "\e648";
}
.pali-u-icon-tk--ring-dot:before {
  content: "\e60e";
}
.pali-u-icon-tk--ring:before {
  content: "\e645";
}
.pali-u-icon-tk--dot:before {
  content: "\e60f";
}
.pali-u-icon-tk--arrow:before {
  content: "\e638";
}
.pali-u-icon-tk--link-website:before {
  content: "\e643";
}
.pali-u-icon-tk--print:before {
  content: "\e610";
}
.pali-u-icon-tk--mail:before {
  content: "\e600";
}
.pali-u-icon-tk--newsletter:before {
  content: "\e62f";
}
.pali-u-icon-tk--share:before {
  content: "\e625";
}
.pali-u-icon-tk--twitter:before {
  content: "\e62a";
}
.pali-u-icon-tk--google-plus:before {
  content: "\e62b";
}
.pali-u-icon-tk--facebook:before {
  content: "\e635";
}
.pali-u-icon-tk--youtube:before {
  content: "\e60a";
}
.pali-u-icon-tk--rss-feed:before {
  content: "\e633";
}
.pali-u-icon-tk--press:before {
  content: "\e607";
}
.pali-u-icon-tk--calendar:before {
  content: "\e608";
}
.pali-u-icon-tk--blog:before {
  content: "\e620";
}
.pali-u-icon-tk--tag:before {
  content: "\e604";
}
.pali-u-icon-tk--pin:before {
  content: "\e60c";
}
.pali-u-icon-tk--language:before {
  content: "\e609";
}
.pali-u-icon-tk--info:before {
  content: "\e642";
}
.pali-u-icon-tk--help:before {
  content: "\e60b";
}
.pali-u-icon-tk--message-info:before {
  content: "\e614";
}
.pali-u-icon-tk--message-error:before {
  content: "\e611";
}
.pali-u-icon-tk--message-important:before {
  content: "\e612";
}
.pali-u-icon-tk--message-correct:before {
  content: "\e615";
}
.pali-u-icon-tk--download:before {
  content: "\e605";
}
.pali-u-icon-tk--video:before {
  content: "\e64c";
}
.pali-u-icon-tk--file-image:before {
  content: "\e62d";
}
.pali-u-icon-tk--file-text:before {
  content: "\e628";
}
.pali-u-icon-tk--document:before {
  content: "\e626";
}
.pali-u-icon-tk--file-excel:before {
  content: "\e622";
}
.pali-u-icon-tk--file-word:before {
  content: "\e623";
}
.pali-u-icon-tk--file-powerpoint:before {
  content: "\e644";
}
.pali-u-icon-tk--file-pdf:before {
  content: "\e601";
}
.pali-u-icon-tk--file-jpg:before {
  content: "\e627";
}
.pali-u-icon-tk--quiz:before {
  content: "\e646";
}
.pali-u-icon-tk--star:before {
  content: "\e629";
}
.pali-u-icon-tk--flip-card:before {
  content: "\e647";
}
.pali-u-icon-tk--lock:before {
  content: "\e64b";
}
.pali-u-icon-tk--wikipedia:before {
  content: "\e60d";
}
.pali-u-icon-tk--files:before {
  content: "\e616";
}
.pali-u-icon-tk--telefon:before {
  content: "\e618";
}
.pali-u-icon-tk--status-update:before {
  content: "\e619";
}
.pali-u-icon-tk--settings:before {
  content: "\e61b";
}
.u-icon-tk--radio:before {
  content: "\e61e";
}
.pali-u-icon-tk--profile:before {
  content: "\e621";
}
.pali-u-icon-tk--mobile:before {
  content: "\e62c";
}
.pali-u-icon-tk--ideation:before {
  content: "\e62e";
}
.pali-u-icon-tk--id-card:before {
  content: "\e630";
}
.pali-u-icon-tk--home:before {
  content: "\e631";
}
.pali-u-icon-tk--forum:before {
  content: "\e632";
}
.pali-u-icon-tk--down:before {
  content: "\e634";
}
.pali-u-icon-tk--document2:before {
  content: "\e636";
}
.pali-u-icon-tk--compass:before {
  content: "\e639";
}
.pali-u-icon-tk--community:before {
  content: "\e63a";
}
.pali-u-icon-tk--bookmark:before {
  content: "\e63b";
}
.pali-u-icon-tk--attention:before {
  content: "\e63c";
}
.pali-u-icon-tk--activities:before {
  content: "\e63d";
}
.pali-u-icon-tk--abstractservices:before {
  content: "\e63e";
}
.pali-u-icon-tk--xing:before {
  content: "\e63f";
}
.pali-u-icon-tk--linkedin:before {
  content: "\e640";
}
.pali-u-icon-tk--rising:before {
  content: "\e641";
}
.pali-u-icon-tk--falling:before {
  content: "\e649";
}
.pali-u-icon-tk--stagnating:before {
  content: "\e64d";
}
.pali-u-icon-tk--edit:before {
  content: "\e64e";
}
.pali-u-icon-tk--delete:before {
  content: "\e64f";
}
.pali-u-icon-tk--check-border-circle:before {
  content: "\e650";
}
.pali-u-icon-tk--search-single:before {
  content: "\e651";
}
.pali-u-icon-tk--tags-single:before {
  content: "\e652";
}
.pali-u-icon-tk--arrow-link:before {
  content: "\e653";
}
.pali-u-icon-tk--admin:before {
  content: "\e654";
}
.pali-u-icon-tk--star-single:before {
  content: "\e655";
}
.pali-u-icon-tk--plus2:before {
  content: "\e656";
}
.pali-u-icon-tk--zu-hiesinger:before {
  content: "\e657";
}
.pali-u-icon-tk--edit-single:before {
  content: "\e658";
}
.pali-u-icon-tk--close-single:before {
  content: "\e659";
}
.pali-u-icon-tk--saw:before {
  content: "\e911";
}
.pali-u-icon-tk--mini-cart:before {
  content: "\e90e";
}
.pali-u-icon-tk--search-alt:before {
  content: "\e90c";
}
.pali-u-icon-tk--checkbox:before {
  content: "\e900";
}
.pali-u-icon-tk--checkbox-active:before {
  content: "\e901";
}
.pali-u-icon-tk--checkbox-disabled:before {
  content: "\e903";
}
.pali-u-icon-tk--radiobutton:before {
  content: "\e905";
}
.pali-u-icon-tk--radiobutton-active:before {
  content: "\e906";
}
.pali-u-icon-tk--radiobutton-disabled:before {
  content: "\e908";
}
.pali-u-icon-tk--icon-check:before {
  content: "\e90a";
}
.pali-u-icon-tk--icon-cross:before {
  content: "\e90b";
}
.pali-u-icon-tk--icon-checkbox-tick:before {
  content: "\E902";
  background-color: #00A0F0;
  color: #FFF;
}
.pali-u-icon-tk-custom {
  width: 39px;
  height: 39px;
  border: 2px solid #00A0F5;
  border-radius: 50%;
  position: relative;
}
.pali-u-icon-tk-custom.arrow-circle-right {
  top: 2px;
  left: 10px;
}
.pali-u-icon-tk-custom.arrow-circle-right:hover {
  border: 2px solid #4B5564;
}
.pali-u-icon-tk-custom.arrow-circle-right:before {
  content: "\e61d";
  font-size: 2.4rem;
  top: 6px;
  left: 5px;
  position: absolute;
}
.pali-u-icon-tk-custom.arrow-circle-left {
  top: 2px;
  left: 3px;
}
.pali-u-icon-tk-custom.arrow-circle-left:hover {
  border: 2px solid #4B5564;
}
.pali-u-icon-tk-custom.arrow-circle-left:before {
  content: "\e61a";
  font-size: 2.4rem;
  top: 6px;
  left: 7px;
  position: absolute;
}
.pali-ui-tk-svg {
  width: 22px;
  height: 22px;
  position: relative;
}
/*-------------- Bootstrap Utilities ------------*/
.p-0 {
  padding: 0;
}
.m-0 {
  margin: 0;
}
.m-tb-15 {
  margin: 15px 0;
}
.p-tb-10 {
  padding: 10px 0;
}
.m-t-0 {
  margin-top: 0;
}
.m-t-5 {
  margin-top: 5px;
}
.m-t-7 {
  margin-top: 7px;
}
.m-t-10 {
  margin-top: 10px;
}
.m-t-15 {
  margin-top: 15px;
}
.m-t-30 {
  margin-top: 30px;
}
.m-b-0 {
  margin-bottom: 0;
}
.m-b-5 {
  margin-bottom: 5px;
}
.m-b-7 {
  margin-bottom: 7px;
}
.m-b-10 {
  margin-bottom: 10px;
}
.m-b-13 {
  margin-bottom: 13px;
}
.m-b-15 {
  margin-bottom: 15px;
}
.m-b-30 {
  margin-bottom: 30px;
}
.p-r-0 {
  padding-right: 0;
}
.p-l-0 {
  padding-left: 0;
}
.p-l-15 {
  padding-left: 15px;
}
.p-t-5 {
  padding-top: 5px;
}
.p-t-10 {
  padding-top: 10px;
}
.p-t-15 {
  padding-top: 15px;
}
.p-t-20 {
  padding-top: 20px;
}
.p-b-20 {
  padding-bottom: 20px;
}
.p-t-30 {
  padding-top: 30px;
}
.p-b-5 {
  padding-bottom: 5px;
}
.p-b-10 {
  padding-bottom: 10px;
}
.m-r-5 {
  margin-right: 5px;
}
.m-t-18 {
  margin-top: 18px;
}
.m-b-8 {
  margin-bottom: 8px;
}
.m-t-8 {
  margin-top: 8px;
}
.m-r-10 {
  margin-right: 10px;
}
.m-r-20 {
  margin-right: 20px;
}
.m-b-25 {
  margin-bottom: 25px;
}
.d-block {
  display: block;
}
.d-inline {
  display: inline;
}
.d-inline-block {
  display: inline-block;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.w-100 {
  width: 100%;
}
.d-none {
  display: none;
}
@media (max-width: 1169px) {
  .d-lg-none {
    display: none;
  }
}
@media (max-width: 970px) {
  .d-md-none {
    display: none;
  }
}
@media (max-width: 645px) {
  .d-sm-none {
    display: none;
  }
}
@media (max-width: 1169px) {
  .d-lg-block {
    display: block;
  }
}
@media (max-width: 970px) {
  .d-md-block {
    display: block;
  }
}
@media (max-width: 645px) {
  .d-sm-block {
    display: block;
  }
}
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
.pali-h1 {
  font-size: 36px;
  line-height: 49px;
  font-family: "tktype", Calibri, Arial, Helvetica, sans-serif;
  color: #000;
}
@media (max-width: 1169px) {
  .pali-h1 {
    font-size: 32px;
    line-height: 38px;
  }
}
.pali-h2 {
  font-size: 26px;
  line-height: 33px;
  font-family: "tktype", Calibri, Arial, Helvetica, sans-serif;
  color: #000;
}
@media (max-width: 1169px) {
  .pali-h2 {
    font-size: 24px;
    line-height: 31px;
  }
}
.pali-h3 {
  font-size: 21px;
  line-height: 29px;
  font-family: "tktype", Calibri, Arial, Helvetica, sans-serif;
  color: #000;
}
@media (max-width: 1169px) {
  .pali-h3 {
    font-size: 19px;
    line-height: 27px;
  }
}
.pali-h-blue-bg {
  padding: 15px;
  background: #00A0F5;
  color: #FFF;
}
.pali-copy {
  font-size: 16px;
  line-height: 22px;
}
.pali-copy.primary {
  color: #000;
}
.pali-copy.white {
  color: #FFF;
}
.pali-copy.secondary {
  color: #78879B;
}
.pali-copy.references {
  font-size: 13px;
  line-height: 19px;
  color: #78879B;
  border-radius: 3px;
  border: 0;
}
.pali-copy.semi-strong {
  font-family: "tktypemedium", Calibri, Arial, Helvetica, sans-serif;
}
.pali-copy.strong {
  font-family: "tktypebold", Calibri, Arial, Helvetica, sans-serif;
}
.pali-copy.line-height-14 {
  line-height: 14px;
}
.pali-a {
  font-size: 16px;
  line-height: 22px;
  color: #353C47;
}
.pali-a:hover {
  color: #C2CCDB;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}
.pali-a.inactive-white {
  color: #FFF;
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}
.pali-a.link-primary {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #000;
}
.pali-a.link-primary:hover {
  color: #00A0F5;
}
.pali-a.link-blue {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #00A0F5;
}
.pali-a.link-blue:hover {
  color: #0055BE;
}
.pali-a.link-secondary {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #78879B;
}
.pali-a.link-secondary:hover {
  color: #00A0F5;
}
.pali-a.link-white {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #FFF;
}
.pali-a.link-white:hover {
  color: #003C7D;
}
.pali-a.link-white .pali-u-icon-tk {
  text-decoration: none;
}
.pali-a.link-white .pali-u-icon-tk:hover {
  text-decoration: none;
}
.pali-a.link-references {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #78879B;
  font-size: 13px;
  line-height: 19px;
}
.pali-a.link-references:hover {
  color: #00A0F5;
}
.pali-a.link-references-red {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #78879B;
  font-size: 13px;
  line-height: 19px;
}
.pali-a.link-references-red:hover {
  color: #E60050;
}
.pali-a.inactive {
  color: #C0C3C9;
  cursor: not-allowed;
  pointer-events: none;
}
.pali-a.inactive:hover {
  color: #C0C3C9;
}
.pali-button,
.pali-btn {
  color: #FFF;
  font-size: 16px;
  line-height: 18px;
  border: 0;
  outline: none;
  border-radius: 03px;
  padding: 12px 30px;
  background: #00A0F5;
  text-transform: none;
  font-family: "tktypemedium", Calibri, Arial, Helvetica, sans-serif;
  text-align: center;
}
@media (max-width: 998px) {
  .pali-button,
  .pali-btn {
    white-space: normal;
  }
}
.pali-button:hover,
.pali-btn:hover,
.pali-button:active,
.pali-btn:active,
.pali-button.active,
.pali-btn.active,
.pali-button.focus,
.pali-btn.focus {
  background: #0078DC;
  text-decoration: none;
  color: #FFF;
}
.pali-button.inactive,
.pali-btn.inactive,
.pali-button[disabled],
.pali-btn[disabled] {
  background: #D9DEE8;
  cursor: not-allowed;
  outline: none;
  color: #FFF;
  pointer-events: none;
}
.pali-button.second-prio,
.pali-btn.second-prio {
  background: #FFF;
  color: #00A0F5;
  border: 1px solid #00A0F5;
  padding: 11px 30px;
  text-align: center;
}
.pali-button.second-prio:hover,
.pali-btn.second-prio:hover {
  color: #0055BE;
  border-color: #0055BE;
}
.pali-button.second-prio.inactive,
.pali-btn.second-prio.inactive,
.pali-button.second-prio[disabled],
.pali-btn.second-prio[disabled] {
  background: #FFF;
  border-color: #D9DEE8;
  color: #C0C3C9;
  cursor: not-allowed;
  outline: none;
}
.btn-50 {
  padding: 7px 29px;
}
.second-prio.btn-50 {
  padding: 6px 29px;
}
a.btn.inactive {
  opacity: 1;
}
html .pali-input {
  /*stylelint-disable*/
  /*stylelint-enable*/
}
html .pali-input[type="email"],
html .pali-input[type="text"],
html .pali-input[type="password"] {
  font-size: 16px;
  line-height: 18px;
  border: 1px solid #78879B;
  padding: 11px 15px;
  border-radius: 3px;
  color: #000;
  box-shadow: inset 2px 2px 4px #E5E5E5;
}
html .pali-input[type="email"]:focus,
html .pali-input[type="text"]:focus,
html .pali-input[type="password"]:focus {
  outline: 1px solid #0078DC;
  border: 1px solid #0078DC;
  color: #000;
  box-shadow: inset 2px 2px 4px #E5E5E5;
}
html .pali-input[disabled] {
  border-color: #78879B;
  cursor: not-allowed;
  color: #B2B2B2;
  background: #F3F5F8;
}
html .pali-input::-webkit-input-placeholder {
  color: #B2B2B2;
}
html .pali-input::-moz-placeholder {
  color: #B2B2B2;
}
html .pali-input:-ms-input-placeholder {
  color: #B2B2B2;
}
html .pali-input:-moz-placeholder {
  color: #B2B2B2;
}
html .pali-input::placeholder {
  color: #B2B2B2;
}
label {
  font-family: "tktypemedium", Calibri, Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 18px;
  padding-bottom: 11px;
}
label.error {
  color: #E60050;
}
.pali-disabled label {
  color: #B2B2B2;
}
.pali-disabled input {
  border-color: #78879B;
  background: #F3F5F8;
  color: #B2B2B2;
}
p.error {
  color: #E60050;
}
.error {
  border-color: #E60050;
  padding-top: 10px;
  margin: 0;
}
.error label {
  color: #E60050;
}
.error p.error {
  color: #E60050;
}
.error small {
  line-height: 18px;
  font-size: 13px;
  color: #E60050;
}
.error input[type="text"],
.error input[type="password"] {
  border-color: #F7B2CA;
  color: #000;
}
.error input[type="text"]:focus,
.error input[type="password"]:focus {
  color: #000;
  outline: 1px solid #E60050;
  border: 1px solid #E60050;
}
.has-error input[type="text"],
.has-error input[type="password"] {
  color: #E60050;
  border: 2px solid #E60050;
}
.has-error input[type="text"]:focus,
.has-error input[type="password"]:focus {
  color: #000;
  outline: 1px solid #E60050;
  border: 1px solid #E60050;
}
.has-error .error-txt {
  color: #E60050;
}
textarea.pali-input {
  font-size: 16px;
  line-height: 18px;
  border: 1px solid #78879B;
  padding: 11px 15px;
  border-radius: 3px;
  color: #000;
  box-shadow: inset 2px 2px 4px #E5E5E5;
  height: 88px;
  width: 100%;
}
textarea.pali-input:focus {
  outline: 1px solid #0078DC;
  border: 1px solid #0078DC;
  color: #000;
  box-shadow: inset 2px 2px 4px #E5E5E5;
}
textarea.pali-input[disabled] {
  border-color: #78879B;
  cursor: not-allowed;
  color: #B2B2B2;
  background: #F3F5F8;
}
select.pali-input {
  font-size: 16px;
  line-height: 18px;
  border: 1px solid #78879B;
  padding: 11px 15px;
  border-radius: 3px;
  color: #000;
  box-shadow: inset 2px 2px 4px #E5E5E5;
  width: 100%;
  background: #FFF;
}
select.pali-input:focus {
  outline: 1px solid #0078DC;
  border: 1px solid #0078DC;
  color: #000;
  box-shadow: inset 2px 2px 4px #E5E5E5;
}
select.pali-input[disabled] {
  border-color: #78879B;
  cursor: not-allowed;
  color: #B2B2B2;
  background: #F3F5F8;
}
.pali-hr {
  border-top: 1px solid #EEF0F2;
}
.pali-black-hr1 {
  border-top: 1px solid #000;
}
.pali-blue-brand-hr1 {
  border-top: 1px solid #00A0F5;
}
.pali-gray-hr1 {
  border-top: 1px solid #D9DEE8;
}
.pali-white-hr1 {
  border-top: 1px solid #FFF;
}
.pali-alert-msg {
  font-family: "tktypemedium";
  font-size: 16px;
  line-height: 18px;
  overflow: hidden;
  clear: both;
}
.pali-alert-msg .msg-box {
  display: table;
}
.pali-alert-msg .msg-box i {
  padding-right: 10px;
}
.pali-alert-msg .msg-box > span {
  display: table-cell;
  vertical-align: middle;
}
.pali-alert-msg .msg-box > span .email-sent,
.pali-alert-msg .msg-box > span .number {
  display: inline;
  vertical-align: top;
}
.pali-alert-msg.alert-success {
  background: #EBF4D7;
}
.pali-alert-msg.alert-success p {
  color: #0F968C;
}
.pali-alert-msg.alert-primary {
  background: #CCE4F8;
}
.pali-alert-msg.alert-primary p {
  color: #0078DC;
}
.pali-alert-msg.alert-danger {
  background: #FBDAE5;
}
.pali-alert-msg.alert-warning {
  background: #FFEDC3;
}
.pali-alert-msg i {
  vertical-align: middle;
}
.pali-alert-msg p {
  padding: 10px 20px 8px 15px;
  line-height: 14px;
}
.pali-alert-msg .p-0 {
  padding: 0;
}
.pali-alert-msg.with-icon p {
  margin-bottom: 3px;
}
/* stylelint-disable */
.underline-none {
  text-decoration: none !important;
}
/* stylelint-enable */
.control-label {
  font-family: "tktypemedium", Calibri, Arial, Helvetica, sans-serif;
  margin-bottom: 6px;
}
.pali-overlay {
  background: #FFF;
  opacity: 0.9;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: none;
}
.pali-wrap-abs {
  position: fixed;
  top: 50%;
  left: 49%;
  z-index: 2;
  display: none;
}
/* stylelint-disable */
#pali-Oval3 {
  animation-name: pointloader;
  animation-duration: 0.9s;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  fill-opacity: 0;
}
#pali-Oval2 {
  animation-name: pointloader;
  animation-duration: 0.9s;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-delay: 0.3s;
  fill-opacity: 0;
}
#pali-Oval1 {
  animation-name: pointloader;
  animation-duration: 0.9s;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-delay: 0.6s;
  fill-opacity: 0;
}
@keyframes pointloader {
  to {
    stroke-dashoffset: 0;
    fill-opacity: 1;
  }
}
@-webkit-keyframes pointloader {
  to {
    stroke-dashoffset: 0;
    fill-opacity: 1;
  }
}
@-moz-keyframes pointloader {
  to {
    stroke-dashoffset: 0;
    fill-opacity: 1;
  }
}
@-o-keyframes pointloader {
  to {
    stroke-dashoffset: 0;
    fill-opacity: 1;
  }
}
#colorbox.layer50 {
  width: 468px;
}
#colorbox.layer100 {
  width: 960px;
}
/* stylelint-enable */
.pali-checkbox [type="radio"]:checked,
.pali-checkbox [type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
.pali-checkbox [type="radio"]:checked + label,
.pali-checkbox [type="radio"]:not(:checked) + label {
  font-family: "tktype";
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 26px;
  display: inline-block;
}
.pali-checkbox [type="radio"]:checked + label:before,
.pali-checkbox [type="radio"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 2px;
  width: 2rem;
  height: 2rem;
  border: 1px solid #4B5564;
  border-radius: 100%;
  background: #FFF;
}
.pali-checkbox [type="radio"]:checked + label:after,
.pali-checkbox [type="radio"]:not(:checked) + label:after {
  content: "";
  width: 1.4rem;
  height: 1.4rem;
  background: #00A0F5;
  position: absolute;
  top: 5px;
  left: 0.3rem;
  border-radius: 100%;
  transition: all 0.2s ease;
}
.pali-checkbox [type="radio"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
.pali-checkbox [type="radio"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
.pali-checkbox [type="radio"][disabled] + label {
  color: #D9DEE8;
  cursor: not-allowed;
}
.pali-checkbox [type="radio"][disabled]:not(:checked) + label:before {
  border-color: #C0C3C9;
}
.pali-checkbox [type="radio"][disabled]:not(:checked) + label:after {
  background: #EEF0F2;
  width: 1.7rem;
  height: 1.7rem;
  opacity: 1;
  left: 1px;
  top: 0.3rem;
  transform: scale(1);
}
.pali-checkbox input[type="checkbox"] {
  opacity: 0;
  z-index: 1;
  position: absolute;
}
.pali-checkbox input[type="checkbox"] + label {
  position: relative;
  margin: 0;
  font-family: "tktype";
  padding: 4px 0 2px 30px;
  cursor: pointer;
  z-index: 10;
}
.pali-checkbox input[type="checkbox"] + label:before {
  content: "";
  position: absolute;
  display: block;
  border: 1px solid #78879B;
  background-color: #FFF;
  width: 16px;
  height: 16px;
  left: 0;
  top: calc(50% - 7px);
  transform: translateY(-50%);
}
.pali-checkbox input[type="checkbox"]:checked + label:after {
  content: "\E902";
  font-size: 1.6rem;
  font-family: "tk-iconfont";
  color: #0F968C;
  position: absolute;
  left: 0;
  width: 17px;
  height: 17px;
  top: calc(50% - 12px);
  transform: translateY(-50%);
}
.pali-checkbox [type="checkbox"][disabled]:not(:checked) + label {
  cursor: not-allowed;
  color: #D9DEE8;
}
.pali-checkbox input[type="checkbox"][disabled]:not(:checked) + label:before {
  border-color: #C0C3C9;
  background: #EEF0F2;
}
.pali-checkbox .checkbox-no-label {
  opacity: 1;
  cursor: pointer;
  margin: 2px 0 0;
  width: 16px;
  position: relative;
  top: 0;
}
.pali-checkbox .check-tick {
  position: relative;
}
.pali-checkbox .checkbox-no-label + .check-tick:before {
  content: "";
  position: absolute;
  display: block;
  border: 1px solid #78879B;
  background-color: #FFF;
  width: 16px;
  height: 16px;
  top: calc(50% - 8px);
  transform: translateY(-60%);
}
.pali-checkbox .checkbox-no-label:checked + .check-tick:after {
  content: "\E902";
  font-size: 1.5rem;
  font-family: "tk-iconfont";
  color: #0F968C;
  width: 17px;
  height: 17px;
  top: calc(44%);
  transform: translateY(-70%);
  position: absolute;
}
.s-dropdown button {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  text-align: left;
  border-color: #78879B;
  color: #4B5564;
  border-radius: 3px;
}
.s-dropdown button .dd-icon {
  float: right;
  font-size: 16px;
  height: 15px;
  color: #78879B;
}
.s-dropdown button .dd-icon:before {
  font-size: 1.2rem;
  content: "\e617";
}
.s-dropdown button .bs-caret .caret {
  border: none;
  top: 36%;
  right: 25px;
}
.s-dropdown button .bs-caret .caret:before {
  font-size: 14px;
  font-family: "thyssen-krupp-iconfont";
  content: "\e613";
  color: #78879B;
}
.s-dropdown button:hover {
  border-color: #0055BE;
  color: #78879B;
}
.s-dropdown button:hover .dd-icon {
  color: #0055BE;
}
.s-dropdown button:hover .bs-caret .caret:before {
  color: #0055BE;
}
.s-dropdown button.selected {
  color: #000;
}
.s-dropdown .dropdown-menu {
  margin: 0;
  padding: 2px 0;
  border-radius: 3px;
  border-color: #EEF0F2;
  box-shadow: 0 2px 8px 0 rgba(75, 85, 100, 0.33);
}
.s-dropdown .dropdown-menu li {
  padding: 0 1.5rem;
  min-height: 36px;
}
.s-dropdown .dropdown-menu li a {
  padding: 0.75rem 0;
  border-bottom: 1px solid #D9DEE8;
  white-space: inherit;
  font-size: 1.6rem;
  display: block;
  color: #000;
}
.s-dropdown .dropdown-menu li a:hover {
  text-decoration: none;
}
.s-dropdown .dropdown-menu li:last-child a {
  border-bottom: 0;
}
.s-dropdown .dropdown-menu li:hover {
  background: #D5EDFB;
  cursor: pointer;
}
.s-dropdown .dropdown-menu li:hover a {
  color: #00A0F5;
  background: transparent;
}
.s-dropdown .dropdown-menu li.active,
.s-dropdown .dropdown-menu li.selected {
  background: #EEF0F2;
  color: #4B5564;
  font-family: "tktypemedium", Calibri, Arial, Helvetica, sans-serif;
  display: none;
}
.s-dropdown .dropdown-menu li.active a,
.s-dropdown .dropdown-menu li.selected a {
  background: transparent;
  color: #000;
}
.s-dropdown .dropdown-menu li.active.no-border,
.s-dropdown .dropdown-menu li.selected.no-border {
  border: 0;
}
.s-dropdown .dropdown-menu.show-selected .active {
  display: list-item;
}
