## messageSource=classpath:/thyssenkruppcore/messages/email-orderConfirmation_$lang.properties
#macro( genHtmlBoldFont $text )
<font color="#414a4f" size="2" face="Arial, Helvetica, sans-serif"><b>$text</b></font>
#end
#macro(genHtmlLinkStartTag $url)
<a href="$url"><font color="#666666">
#end
#macro(genHtmlLinkEndTag)
</font></a>    
#end
#macro(genHtmlLink $url $textColor $bodyContent)
<a href="$url"><font color="$textColor">$bodyContent</font></a>
#end
<html>
    <head></head>
    <body bgcolor="#ffffff"
    #set ($accountUrl = "${ctx.baseUrl}/my-account/orders")
    #if ( $ctx.order.guestCustomer )
    #set ($orderInfoUrl = "${ctx.baseUrl}/guest/order/${ctx.order.guid}")
    #else
    #set ($orderInfoUrl = "${ctx.baseUrl}/my-account/order/${ctx.order.code}")
    #end
    <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#ffffff"
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td align="center" valign="top">
            <table width="610" border="0" align="center" cellpadding="0" cellspacing="0" bordercolor="#fff">
                <tr>
                    <td align="center" valign="top" bgcolor="#FFFFFF">
                        <table width="570" cellpadding="0" cellspacing="0" border="0" align="center">
                            <tr>
                                <td valign="middle">&nbsp;</td>
                                <td align="right" valign="middle"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif"><a href="${ctx.secureBaseUrl}/my-account"><font color="#FFFFFF">${ctx.messages.myAccount}</font></a></td>
                            </tr>
                            <tr>
                                <td valign="middle">
                                    ${ctx.cmsSlotContents.SiteLogo}
                                    <a href="${ctx.siteBaseUrl}">
                                        <img title="thyssenkrupp ${ctx.baseSite.name}" alt="thyssenkrupp ${ctx.baseSite.name}" src="${ctx.siteBaseUrl}/_ui/responsive/theme-tk/images/logos/mobile.png" height="32" width="171">
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td align="left" valign="top">
                                    <p style="margin:2px 0"><font color="#666666" size="6" face="Arial, Helvetica, sans-serif"><b>${ctx.messages.getMessage('emailOrderConfirmationMail')}</b></font></p>
                                    <p>&nbsp;</p>
                                    <p style="margin:2px 0"><font color="#666666" size="2" face="Arial, Helvetica, sans-serif">${ctx.messages.getMessage('salutation', ${ctx.title},${ctx.displayName})}</font></p>
                                    <br>
                                    <p style="margin:2px 0"><font color="#666666" size="2" face="Arial, Helvetica, sans-serif">${ctx.messages.getMessage('thankYouForOrder')}</font></p>
                                    <br/>
                                    <p style="margin:2px 0"><font color="#666666" size="2" face="Arial, Helvetica, sans-serif">${ctx.messages.getMessage('thankYou')}</font></p>
                                    <br/>
                                    <p style="margin:2px 0"><font color="#666666" size="2" face="Arial, Helvetica, sans-serif">${ctx.messages.getMessage('tksBrandName')}</font></p>
                                    <br/>
                                    <br/>
                                    <p style="margin:2px 0;text-indent: 40px"><font color="#666666" size="4" face="Arial, Helvetica, sans-serif"><b>${ctx.messages.getMessage('orderSummary')}</b></font></p>
                                    <br/>
                                    <p style="margin:2px 0"><font color="#666666" size="2" face="Arial, Helvetica, sans-serif">${ctx.messages.getMessage('orderNumber', "#genHtmlBoldFont(${ctx.order.code})")}</font></p>
                                    <br/>
                                    <p style="margin:2px 0"><font color="#666666" size="2" face="Arial, Helvetica, sans-serif">${ctx.messages.getMessage('orderPlacedDate',"#genHtmlBoldFont(${ctx.order.created})")}</font></p>
                                    <br/>
                                    <table width="100%" align="center" cellpadding="0" cellspacing="0" class="products">
                                        <tr>
                                            <td>
                                                <table>
                                                    <tr>
                                                        <td width="25%" valign="top" rowspan="2">
                                                            <font color="#333" size="2" face="Arial, Helvetica, sans-serif"><b>${ctx.messages.shipTo}</b></font>
                                                        </td>
                                                        <td width="25%" valign="top" rowspan="2">
                                                            #if(${ctx.order.deliveryItemsQuantity} > 0)
                                                            <p style="margin:2px 0">
                                                                <font color="#666666" size="2" face="Arial, Helvetica, sans-serif">
                                                                ${ctx.order.deliveryAddress.title} ${ctx.order.deliveryAddress.firstName} ${ctx.order.deliveryAddress.lastName}<br/>
                                                                ${ctx.order.deliveryAddress.line1}<br/>
                                                                #if($ctx.order.deliveryAddress.line2.line2 && $ctx.order.deliveryAddress.line2 != '')${ctx.order.deliveryAddress.line2}<br/>#end
                                                                ${ctx.order.deliveryAddress.town}<br/>
                                                                ${ctx.order.deliveryAddress.postalCode}<br/>
                                                                ${ctx.order.deliveryAddress.country.name}
                                                                </font>
                                                            </p>
                                                            #else
                                                            <p style="margin:3px 0"><font color="#666666" size="2" face="Arial, Helvetica, sans-serif">${ctx.messages.noDelivery}</font></p>
                                                            #end
                                                        </td>
                                                        <td width="25%" valign="top" align="center" rowspan="2">
                                                            <font color="#333" size="2" face="Arial, Helvetica, sans-serif"><b>${ctx.messages.billTo}</b></font>
                                                        </td>
                                                        <td width="25%" valign="top">
                                                            #if(${ctx.order.billingAddress})
                                                            <p style="margin:2px 0">
                                                                <font color="#666666" size="2" face="Arial, Helvetica, sans-serif">
                                                                ${ctx.order.billingAddress.title} ${ctx.order.billingAddress.firstName} ${ctx.order.billingAddress.lastName}<br/>
                                                                ${ctx.order.billingAddress.line1} <br/>
                                                                #if($ctx.order.billingAddress.line2 && $ctx.order.billingAddress.line2 != '') ${ctx.order.billingAddress.line2}<br/>#end
                                                                ${ctx.order.billingAddress.town}<br/>
                                                                ${ctx.order.billingAddress.postalCode}<br/>
                                                                ${ctx.order.billingAddress.country.name}
                                                                </font>
                                                            </p>
                                                            #end
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                    <br/>
                                    #if ($ctx.order.deliveryOrderGroups.size() > 0)
                                    <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" bordercolor="#51585c" class="products" style="border: 1px solid #51585c;">
                                        <tr>
                                            <td>
                                                #foreach( $orderGroup in ${ctx.order.deliveryOrderGroups} )
                                                <table width="100%" cellpadding="0" cellspacing="0">
                                                    #foreach( $entry in ${orderGroup.entries} )
                                                    <tr>
                                                        <td>
                                                            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                                                <tr>
                                                                    <td valign="top" width="110px" style="width:110px;padding-left:10px;padding-right:10px">
                                                                        <a href="${ctx.baseUrl}$entry.product.url" style="text-decoration:none">
                                                                        #foreach($image in $entry.product.images) #if($image.imageType == "PRIMARY" && $image.format == "thumbnail" )
                                                                        <img src="${ctx.mediaBaseUrl}$image.url" alt="" title="$entry.product.name"/>
                                                                        #end #end
                                                                        </a>
                                                                        &nbsp;
                                                                    </td>
                                                                    <td valign="top">
                                                                        <p><font color="#666666" size="2" face="Arial, Helvetica, sans-serif">
                                                                            <a href="${ctx.baseUrl}$entry.product.url"><font color="#666666"><b>$entry.product.name</b></font></a>
                                                                        </p>
                                                                        #if (!$entry.product.baseOptions.isEmpty())
                                                                        #foreach ($option in $entry.product.baseOptions)
                                                                        #if ($option.selected && ($option.selected.url == $entry.product.url))
                                                                        <table width="100%" cellpadding="0" cellspacing="0">
                                                                            #foreach ($selectedOption in $option.selected.variantOptionQualifiers)
                                                                            <tr>
                                                                                <td width="30%" valign="top">
                                                                                    <p><font color="#666666" size="2" face="Arial, Helvetica, sans-serif">$selectedOption.name:</font></p>
                                                                                </td>
                                                                                <td width="70%" valign="top">
                                                                                    <p><font color="#666666" size="2" face="Arial, Helvetica, sans-serif">$selectedOption.value</font></p>
                                                                                </td>
                                                                            </tr>
                                                                            #end
                                                                        </table>
                                                                        #end
                                                                        #end
                                                                        #end
                                                                        #if (!$ctx.order.appliedProductPromotions.isEmpty())
                                                                        #foreach( $promotion in $ctx.order.appliedProductPromotions)
                                                                        #set ($displayed = false)
                                                                        #foreach ($consumedEntry in $promotion.consumedEntries)
                                                                        #if (!$displayed && ($consumedEntry.orderEntryNumber == $entry.entryNumber))
                                                                        #set ($displayed = true)
                                                                        <p><font color="#414a4f" size="2" face="Arial, Helvetica, sans-serif"><b>${promotion.description}</b></font></p>
                                                                        #end
                                                                        #end
                                                                        #end
                                                                        #end
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                        <td valign="top">
                                                            <p><font color="#666666" size="3" face="Arial, Helvetica, sans-serif">$entry.basePrice.formattedValue</font></p>
                                                        </td>
                                                        <td valign="top">
                                                            <p><font color="#414a4f" size="3" face="Arial, Helvetica, sans-serif"><b>#if($entry.totalPrice.value > 0) $entry.totalPrice.formattedValue #else ${ctx.messages.free} #end</b></font></p>
                                                        </td>
                                                        <td valign="top">
                                                            <p><font color="#666666" size="2" face="Arial, Helvetica, sans-serif">$entry.quantity</font></p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding-left:130px;">
                                                            #if ($entry.configurationInfos.size() > 0)
                                                                ${ctx.messages.getMessage('certificates')}:<br/>
                                                            #end
                                                            #foreach ($configurationInfo in $entry.configurationInfos)
                                                                ${configurationInfo.configurationLabel} : ${configurationInfo.configurationValue}<br/>
                                                            #end
                                                        </td>
                                                    </tr>
                                                    #end
                                                </table>
                                                #end
                                            </td>
                                        </tr>
                                    </table>
                                    #end
                                    <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" bordercolor="#51585c" class="products"
                                        ">
                                        <tr>
                                            <td valign="top">
                                                <table width="100%">
                                                    <tr>
                                                        <td width="30%">&nbsp;</td>
                                                        <td width="20%">&nbsp;</td>
                                                        <td width="50%"><font color="#333" size="4" face="Arial, Helvetica, sans-serif"><b>${ctx.messages.orderTotals}</b></font></td>
                                                    </tr>
                                                    <tr>
                                                        <td valign="top">
                                                            &nbsp;
                                                        </td>
                                                        <td>&nbsp;</td>
                                                        <td valign="top">
                                                            <table width="100%" cellpadding="0" cellspacing="0">
                                                                <tr>
                                                                    <td valign="top" width="45%">
                                                                        <p style="margin: 0"><font color="#666666" size="2" face="Arial, Helvetica, sans-serif">${ctx.messages.subtotal}:</font></p>
                                                                    </td>
                                                                    <td valign="top" width="10%">&nbsp;</td>
                                                                    <td align="right" valign="top" width="45%">
                                                                        <p style="margin: 0"><font color="#333" size="2" face="Arial, Helvetica, sans-serif"><b>${ctx.order.subTotal.formattedValue}</b></font></p>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td valign="top">
                                                                        <p style="margin: 0 "><font color="#666666" size="2" face="Arial, Helvetica, sans-serif">${ctx.messages.delivery}:</font></p>
                                                                    </td>
                                                                    <td valign="top">&nbsp;</td>
                                                                    <td align="right" valign="top">
                                                                        <p style="margin: 0"><font color="#666666" size="2" face="Arial, Helvetica, sans-serif">#if(${ctx.order.deliveryCost.value} > 0) ${ctx.order.deliveryCost.formattedValue} #else ${ctx.messages.free} #end</font></p>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td valign="top">
                                                                        <p style="margin: 0"><font color="#414a4f" size="2" face="Arial, Helvetica, sans-serif">${ctx.messages.netPrice}:</font></p>
                                                                    </td>
                                                                    <td valign="top">&nbsp;</td>
                                                                    <td align="right" valign="top">
                                                                        <p style="margin: 0"><font color="#414a4f" size="2" face="Arial, Helvetica, sans-serif"><b>${ctx.order.totalPrice.formattedValue}</b></font></p>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td valign="top">
                                                                        <p style="margin: 0"><font color="#414a4f" size="2" face="Arial, Helvetica, sans-serif">${ctx.messages.taxes}:</font></p>
                                                                    </td>
                                                                    <td valign="top">&nbsp;</td>
                                                                    <td align="right" valign="top">
                                                                        <p style="margin: 0"><font color="#414a4f" size="2" face="Arial, Helvetica, sans-serif">${ctx.order.totalTax.formattedValue}</font></p>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td valign="top">
                                                                        <p><font color="#333" size="2" face="Arial, Helvetica, sans-serif"><b>${ctx.messages.total}:</b></font></p>
                                                                    </td>
                                                                    <td valign="top">&nbsp;</td>
                                                                    <td align="right" valign="top">
                                                                        <p><font color="#333" size="3" face="Arial, Helvetica, sans-serif"><b>${ctx.order.totalPriceWithTax.formattedValue}</b></font></p>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                    <br/>
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td width="100%">
                                    ${ctx.cmsSlotContents.BottomContent}</a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <div style="background-color:#00A0F0; height:66px ">
        <div style="margin-left:151px; padding-top: 8px; padding-bottom:8px;">
            <p style="color: #FFFFFF; font-size: 16px; line-height: 18px;">${ctx.messages.getMessage('copyRightText')}</p>
        </div>
    </div>
    </table>
    </body>
</html>
